/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [log_id]
      ,[event_type]
      ,[log_date]
      ,[description]
      ,[process_id]
      ,[mailitem_id]
      ,[account_id]
      ,[last_mod_date]
      ,[last_mod_user]
  FROM [msdb].[dbo].[sysmail_log]

ORDER BY [log_date] DESC