USE CMP13
GO

/****** Object:  View dbo.AllMktgEvent    Script Date: 6/24/2016 3:40:54 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW dbo.ViewtAccountingDtl
AS
SELECT CAST(TranId AS INT) AS TranId 
      ,TenderID
      ,DrAmt
      ,CrAmt
      ,FaceAmt
      ,Qty
      ,Flags
      ,ExchangeRate
      ,GamingDt
      ,DataRowVersion
      ,PrevQty
      ,InOutFlag
      ,CreatedDtm
      ,CreatedBy
      ,ModifiedDtm
      ,ModifiedBy
      ,PrevRunDownQty
  FROM CMP13.dbo.tAccountingDtl