USE CMP13
GO

/****** Object:  View dbo.AllMktgEvent    Script Date: 6/24/2016 3:40:54 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW dbo.ViewtAccounting
AS
SELECT CAST(TranId AS INT) AS TranId 
      ,IsVoid
      ,TranCodeID
      ,GamingDt
      ,Shift
      ,AgingDt
      ,PostDtm
      ,ComputerName
      ,EmpID
      ,AuthEmpId
      ,DeptID
      ,CasinoID
      ,AreaID
      ,LocnID
      ,CageLocnCode
      ,GameID
      ,DenomID
      ,DocumentNo
      ,Ref1
      ,Ref2
      ,Flags
      ,CrAmt
      ,DrAmt
      ,IsOpenItem
      ,CAST(RelatedAccountingMoneyTranId AS INT) AS RelatedAccountingMoneyTranId
      ,CAST(VoidAccountingMoneyTranId AS INT) AS VoidAccountingMoneyTranId
      ,CouponDropWinPc
      ,IsRush
      ,IsInventoryAffected
      ,CreatedDtm
      ,CreatedBy
      ,ModifiedDtm
      ,ModifiedBy
      ,DataRowVersion
  FROM CMP13.dbo.tAccounting