use [Prod]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [lawson].[_dta_mv_1] WITH SCHEMABINDING
 AS 
SELECT  [lawson].[POLINE].[PO_NUMBER] as _col_1,  [lawson].[POLINE].[LINE_NBR] as _col_2,  [lawson].[POLINE].[LOCATION] as _col_3,  [lawson].[POLINE].[VENDOR] as _col_4,  [lawson].[PORECLINE].[REC_NUMBER] as _col_5,  [lawson].[PORECLINE].[LINE_NBR] as _col_6,  [lawson].[PORECLINE].[ITEM] as _col_7,  [lawson].[PORECLINE].[DESCRIPTION] as _col_8,  [lawson].[PORECLINE].[ENT_REC_QTY] as _col_9,  [lawson].[PORECLINE].[ENT_REC_UOM] as _col_10,  [lawson].[PORECLINE].[REC_DATE] as _col_11,  count_big(*) as _col_12 FROM  [lawson].[PORECLINE],  [lawson].[POLINE]   WHERE  [lawson].[PORECLINE].[REC_DATE] >= Convert(datetime, N'2016-3-31 0:0:0.0', 121) AND  [lawson].[PORECLINE].[REC_DATE] < Convert(datetime, N'2016-4-1 0:0:0.0', 121) AND ( [lawson].[PORECLINE].[ENT_REC_UOM] < 'LB'  OR  [lawson].[PORECLINE].[ENT_REC_UOM] > 'LB' ) AND  [lawson].[PORECLINE].[COMPANY] = [lawson].[POLINE].[COMPANY]  AND  [lawson].[PORECLINE].[PO_NUMBER] = [lawson].[POLINE].[PO_NUMBER]  AND  [lawson].[PORECLINE].[PO_LINE_NBR] = [lawson].[POLINE].[LINE_NBR]  AND  [lawson].[PORECLINE].[ITEM] = [lawson].[POLINE].[ITEM]  AND  [lawson].[POLINE].[LOCATION] = '1'  GROUP BY  [lawson].[POLINE].[PO_NUMBER],  [lawson].[POLINE].[LINE_NBR],  [lawson].[POLINE].[LOCATION],  [lawson].[POLINE].[VENDOR],  [lawson].[PORECLINE].[REC_NUMBER],  [lawson].[PORECLINE].[LINE_NBR],  [lawson].[PORECLINE].[ITEM],  [lawson].[PORECLINE].[DESCRIPTION],  [lawson].[PORECLINE].[ENT_REC_QTY],  [lawson].[PORECLINE].[ENT_REC_UOM],  [lawson].[PORECLINE].[REC_DATE]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_1_c_10_179648579__K1_K2_K4_K5_K6_K7_K8_K9_K10_K11] ON [lawson].[_dta_mv_1]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_4] ASC,
	[_col_5] ASC,
	[_col_6] ASC,
	[_col_7] ASC,
	[_col_8] ASC,
	[_col_9] ASC,
	[_col_10] ASC,
	[_col_11] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_505885715_1_6_9_10_33] ON [lawson].[PORECLINE]([COMPANY], [PO_NUMBER], [PO_LINE_NBR], [ITEM], [REC_DATE])
go

CREATE STATISTICS [_dta_stat_505885715_17_33_1_6_9] ON [lawson].[PORECLINE]([ENT_REC_UOM], [REC_DATE], [COMPANY], [PO_NUMBER], [PO_LINE_NBR])
go

