use [Prod]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [lawson].[_dta_mv_3] WITH SCHEMABINDING
 AS 
SELECT  [lawson].[RQLOC].[REQ_LOCATION] as _col_1,  [lawson].[RQLOC].[NAME] as _col_2,  [lawson].[WHSHIPMENT].[SHIP_DATE] as _col_3,  [lawson].[WHSHIPLINE].[SHIPPED_QTY] as _col_4,  [lawson].[WHSHIPLINE].[UNIT_COST] as _col_5,  [lawson].[REQLINE].[REQ_NUMBER] as _col_6,  [lawson].[REQLINE].[ITEM] as _col_7,  [lawson].[REQLINE].[DESCRIPTION] as _col_8,  [lawson].[REQLINE].[ENTERED_UOM] as _col_9,  [lawson].[REQLINE].[PURCH_MAJOR] as _col_10,  [lawson].[WHSHIPLINE].[COMPANY] as _col_11,  [lawson].[WHSHIPLINE].[LOCATION] as _col_12,  [lawson].[WHSHIPLINE].[SHIPMENT_NBR] as _col_13,  [lawson].[WHSHIPLINE].[LINE_NBR] as _col_14,  [lawson].[REQLINE].[COMPANY] as _col_15,  [lawson].[REQLINE].[LINE_NBR] as _col_16,  [lawson].[WHSHIPMENT].[COMPANY] as _col_17,  [lawson].[WHSHIPMENT].[LOCATION] as _col_18,  [lawson].[WHSHIPMENT].[SHIPMENT_NBR] as _col_19 FROM  [lawson].[WHSHIPLINE],  [lawson].[RQLOC],  [lawson].[REQLINE],  [lawson].[WHSHIPMENT]   WHERE ( [lawson].[RQLOC].[REQ_LOCATION] = [lawson].[WHSHIPMENT].[REQ_LOCATION]  AND  [lawson].[RQLOC].[COMPANY] = [lawson].[WHSHIPMENT].[COMPANY] ) AND  [lawson].[WHSHIPMENT].[SHIP_DATE] >= Convert(datetime, N'2016-3-27 0:0:0.0', 121) AND  [lawson].[WHSHIPMENT].[SHIP_DATE] < Convert(datetime, N'2016-3-28 0:0:0.0', 121) AND  [lawson].[WHSHIPLINE].[COMPANY] = [lawson].[WHSHIPMENT].[COMPANY]  AND  [lawson].[WHSHIPLINE].[SYSTEM_CD] = [lawson].[WHSHIPMENT].[SYSTEM_CD]  AND  [lawson].[WHSHIPLINE].[DOC_NBR] = [lawson].[WHSHIPMENT].[DOC_NBR]  AND  [lawson].[WHSHIPLINE].[COMPANY] = [lawson].[REQLINE].[COMPANY]  AND  [lawson].[WHSHIPLINE].[DOC_NBR] = [lawson].[REQLINE].[REQ_NUMBER_A]  AND  [lawson].[WHSHIPLINE].[LINE_NBR] = [lawson].[REQLINE].[LINE_NBR]  AND  [lawson].[REQLINE].[PURCH_MAJOR] >= '000'  AND  [lawson].[REQLINE].[PURCH_MAJOR] <= '999'  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_3_c_10_135124418__K17_K18_K19_K15_K6_K16_K11_K12_K13_K14] ON [lawson].[_dta_mv_3]
(
	[_col_17] ASC,
	[_col_18] ASC,
	[_col_19] ASC,
	[_col_15] ASC,
	[_col_6] ASC,
	[_col_16] ASC,
	[_col_11] ASC,
	[_col_12] ASC,
	[_col_13] ASC,
	[_col_14] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

