use [Prod]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [lawson].[_dta_mv_2] WITH SCHEMABINDING
 AS 
SELECT  [lawson].[PORECLINE].[REC_NUMBER] as _col_1,  [lawson].[POLINE].[LINE_NBR] as _col_2,  [lawson].[POLINE].[QUANTITY] as _col_3,  [lawson].[POLINE].[ENT_UNIT_CST] as _col_4,  [lawson].[PORECLINE].[LINE_NBR] as _col_5,  [lawson].[PORECLINE].[ITEM] as _col_6,  [lawson].[PORECLINE].[DESCRIPTION] as _col_7,  [lawson].[PORECLINE].[ENT_REC_QTY] as _col_8,  [lawson].[PORECLINE].[ENT_REC_UOM] as _col_9,  [lawson].[PORECLINE].[COMPANY] as _col_10,  [lawson].[POLINE].[COMPANY] as _col_11,  [lawson].[POLINE].[PO_NUMBER] as _col_12,  [lawson].[POLINE].[PO_RELEASE] as _col_13,  [lawson].[POLINE].[PO_CODE] as _col_14 FROM  [lawson].[PORECLINE],  [lawson].[POLINE]   WHERE  [lawson].[PORECLINE].[COMPANY] = [lawson].[POLINE].[COMPANY]  AND  [lawson].[PORECLINE].[PO_NUMBER] = [lawson].[POLINE].[PO_NUMBER]  AND ( [lawson].[PORECLINE].[PO_LINE_NBR] = [lawson].[POLINE].[LINE_NBR]  AND  [lawson].[PORECLINE].[ITEM] = [lawson].[POLINE].[ITEM] ) 

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_2_c_10_567125957__K1_K10_K5_K11_K12_K13_K14_K2] ON [lawson].[_dta_mv_2]
(
	[_col_1] ASC,
	[_col_10] ASC,
	[_col_5] ASC,
	[_col_11] ASC,
	[_col_12] ASC,
	[_col_13] ASC,
	[_col_14] ASC,
	[_col_2] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1249504326_5_23_12_1_2] ON [lawson].[POLINE]([LINE_NBR], [ENT_UNIT_CST], [QUANTITY], [COMPANY], [PO_NUMBER])
go

CREATE STATISTICS [_dta_stat_1249504326_5_1_2_6_23_12] ON [lawson].[POLINE]([LINE_NBR], [COMPANY], [PO_NUMBER], [ITEM], [ENT_UNIT_CST], [QUANTITY])
go

CREATE STATISTICS [_dta_stat_505885715_3_2] ON [lawson].[PORECLINE]([LINE_NBR], [REC_NUMBER])
go

CREATE STATISTICS [_dta_stat_505885715_1_6_9_10_2] ON [lawson].[PORECLINE]([COMPANY], [PO_NUMBER], [PO_LINE_NBR], [ITEM], [REC_NUMBER])
go

CREATE STATISTICS [_dta_stat_505885715_1_2_3_6_9] ON [lawson].[PORECLINE]([COMPANY], [REC_NUMBER], [LINE_NBR], [PO_NUMBER], [PO_LINE_NBR])
go

CREATE STATISTICS [_dta_stat_505885715_3_10_11_16_17_2] ON [lawson].[PORECLINE]([LINE_NBR], [ITEM], [DESCRIPTION], [ENT_REC_QTY], [ENT_REC_UOM], [REC_NUMBER])
go

CREATE STATISTICS [_dta_stat_505885715_3_10_2_1_6_9_11_16_17] ON [lawson].[PORECLINE]([LINE_NBR], [ITEM], [REC_NUMBER], [COMPANY], [PO_NUMBER], [PO_LINE_NBR], [DESCRIPTION], [ENT_REC_QTY], [ENT_REC_UOM])
go

