/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [FileName]
      ,[DateCreated]
      ,[FileSize]
  FROM [MyViejasSSIS].[dbo].[MyViejasFTPfileList]

ORDER BY 
DateCreated DESC