/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [FileName]
      ,[DateCreated]
      ,[FileSize]
INTO [dbo].[MyViejasFTPfileList_2017-07-23]
  FROM [MyViejasSSIS].[dbo].[MyViejasFTPfileList]

ORDER BY DateCreated DESC

TRUNCATE TABLE MyViejasSSIS.[dbo].[MyViejasFTPfileList]