/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [FileName]
      ,[DateCreated]
      ,[FileSize]
  FROM [MyViejasSSIS].[dbo].[MyViejasFTPfileListTemp]


--  FileName	DateCreated	FileSize
--JackpotInformation.csv	2016-09-14 15:30:44.000	1044
--PlayerAccountUpdate.csv	2016-09-14 15:30:44.000	87674894
--RequalMeterDataExport.csv	2016-09-14 15:30:44.000	214378413
--TodaysPlayerOffers.csv	2016-09-14 15:30:44.000	189138799