/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [FileName]
      ,[DateCreated]
      ,[FileSize]
  FROM [MyViejasSSIS].[dbo].[MyViejasFTPfileList]

ORDER BY 

[FileName]
      ,[DateCreated] desc