--INSERT INTO  MyViejasSSIS.dbo.MyViejasFTPfileList
--SELECT 
--  [FileName]
--, DateCreated
--, FileSize
--FROM MyViejasSSIS.dbo.MyViejasFTPfileListTemp
--WHERE [FileName], DateCreated NOT IN (SELECT [FileName], DateCreated FROM MyViejasSSIS.dbo.MyViejasFTPfileList)


USE MyViejasSSIS

MERGE dbo.MyViejasFTPfileList AS T
USING dbo.MyViejasFTPfileListTemp AS S
ON T.[FileName] = S.[FileName] 
AND T.DateCreated = S.DateCreated

--WHEN MATCHED THEN  
--  UPDATE SET T.Qty = T.Qty + S.Qty

WHEN NOT MATCHED THEN  
  INSERT ([FileName], DateCreated, FileSize) VALUES (S.[FileName], S.DateCreated, S.FileSize);
