SELECT DISTINCT
  CAST(SUBSTRING(Instance,1,50) AS VARCHAR(50)) AS Instance
, CAST(SUBSTRING(Host,1,20) AS VARCHAR(20)) AS Hostname
, CAST(SUBSTRING([Version],1,100) AS VARCHAR(100)) AS Version_Build2
, CAST(SUBSTRING([Edition],1,100) AS VARCHAR(100)) AS Edition2	  
INTO SQL_Inventory_Instance_List2
FROM [DASI].[dbo].[SQL_Inventory_Instance_List]

--SELECT TOP 1000 [Instance]
--      ,[Host]
--      ,[Version]
--      ,[Edition]
--  FROM [DASI].[dbo].[SQL_Inventory_Instance_List]