/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT
CAST(SUBSTRING(Host,1,20) AS VARCHAR(20)) AS Hostname
      ,CAST(SUBSTRING(CPU,1,100) AS VARCHAR(100)) AS CPU2
      ,CAST([Logical_CPUs] AS INT) AS Logical_CPUs
      ,CAST([Physical_CPUs] AS INT) AS Physical_CPUs
      ,CAST(SUBSTRING(VM,1,1) AS CHAR(1)) AS IsVM 
INTO SQL_Inventory_Host_List2
FROM [DASI].[dbo].[SQL_Inventory_Host_List]