USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [myViejas].[sp_Extract_Stay_Hotel_Info]    Script Date: 7/3/2025 6:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER PROCEDURE [myViejas].[sp_Extract_Stay_Hotel_Info] (@UTC_Now DATETIMEOFFSET)

--AS

BEGIN

 	SET NOCOUNT ON
	
	DROP TABLE IF EXISTS #Stay_Hotel_Transactions
			 
	BEGIN TRY
	
		SELECT SW.Room_comp, SW.Food_Comp + SW.Misc_Comp AS Room_Charges, SW.RATE_DATE, Q.DateId,
		CASE WHEN SW.Room_comp = 0 THEN 0 ELSE HCR.WD_Rate END AS WD_Rate,  
		CASE WHEN SW.Room_comp = 0 THEN 0 ELSE HCR.WE_Rate END AS WE_Rate, ISNULL(PC.PlayerId, 0) AS PlayerId, SW.RESV_NAME_ID, HCR.RoomCode,
		SW.Rate_Code,
		SW.Promotions
		INTO #Stay_Hotel_Transactions 
		FROM [DWHDB01PR].[StayDWH].[dbo].vw_Name_Reservation SW (NOLOCK)
		LEFT JOIN [CMP_13-1].tPlayerCard PC ON SW.MEMBERSHIP_NUMBER = PC.Acct
		LEFT JOIN [VCR].[HotelCompRate] HCR ON SW.ROOM_CATEGORY_LABEL = HCR.ROOMCODE
		INNER JOIN [dbo].IQ_Calendar Q ON SW.RATE_DATE = Q.CalendarDate 
		WHERE SW.OFFER_STATUS = 'REDEEMED'
		AND SW.RATE_DATE >= DATEADD(MONTH,-3,GETDATE())		--'2024-03-18' This was the date we went live with Stay in the event we need to rebuild
		--AND SW.RATE_DATE >=  '2024-03-18'
		--AND SW.RATE_DATE BETWEEN  '2024-03-18' AND '2024-06-18'
		AND (ISNULL(SW.Food_Comp,0) <> 0 OR ISNULL(SW.Misc_Comp,0) <> 0 OR ISNULL(SW.Room_comp,0) <> 0)
					   
		MERGE [dbo].[IQC_Player_Daily_Hotel] AS [Target]
		USING #Stay_Hotel_Transactions AS [Source]
		ON [Target].PlayerID = [Source].PlayerId AND [Target].BusinessDate = [Source].RATE_DATE AND  [Target].Hotel_ResvNameId = [Source].RESV_NAME_ID
		--WHEN NOT MATCHED BY SOURCE AND [Target].SourceSystem = 'ST' 
		--THEN 
			--DELETE
		WHEN MATCHED THEN
		UPDATE SET	[Target].Hotel_RoomCat = [Source].RoomCode,
					[Target].Hotel_RateCode = [Source].Rate_Code,
					[Target].Hotel_WD_Rate = [Source].WD_Rate,
					[Target].Hotel_WE_Rate = [Source].WE_Rate,
					[Target].Award_CompsUsed_Hotel_Finance =[Source].Room_comp,
					[Target].Hotel_CompsNoRooms_GrossAmount = [Source].Room_Charges,
					[Target].MarketingOffer = CASE WHEN [Source].Promotions LIKE 'NYE%' OR [Source].Promotions LIKE 'H_[0-9][0-9]%' OR [Source].Promotions LIKE '%BJT' OR [Source].Promotions LIKE '%bacc' THEN 1 ELSE 0 END,
					[Target].DiscretionaryOffer = CASE WHEN [Source].Promotions LIKE 'PD-RMComp%' THEN 1 ELSE 0 END,
					[Target].RainMakerOffer = CASE WHEN [Source].Promotions LIKE 'RMComp%' THEN 1 ELSE 0 END,
					[Target].Promotions = [Source].Promotions
		WHEN NOT MATCHED BY TARGET THEN
		INSERT ([PlayerID],
				[BusinessDate],
				[BusinessDateID],
				[Hotel_RoomCat],
				[Hotel_RateCode],
				[Hotel_WD_Rate],
				[Hotel_WE_Rate],
				[Hotel_ResvNameId],
				[Award_CompsUsed_Hotel_Finance],
				[Hotel_CompsNoRooms_GrossAmount],
				[MarketingOffer],
				[DiscretionaryOffer],
				[RainMakerOffer],
				[SourceSystem],
				[Promotions])
		VALUES ([Source].PlayerId,
				[Source].RATE_DATE,
				[Source].DateId,
				[Source].RoomCode,
				[Source].Rate_Code,
				[Source].WD_Rate,
				[Source].WE_Rate,
				[Source].RESV_NAME_ID,
				[Source].Room_comp,
				[Source].Room_Charges,
				CASE WHEN [Source].Promotions LIKE 'NYE%' OR [Source].Promotions LIKE 'H_[0-9][0-9]%' OR [Source].Promotions LIKE '%BJT' OR [Source].Promotions LIKE '%bacc' THEN 1 ELSE 0 END,
				CASE WHEN [Source].Promotions LIKE 'PD-RMComp%' THEN 1 ELSE 0 END,
				CASE WHEN [Source].Promotions LIKE 'RMComp%' THEN 1 ELSE 0 END,
				'ST',
				[Source].Promotions);
		
		--NEED TO CREATE A DUMMY AWARDS RECORD IN THE EVENT THERE IS NO GAMING ACTIVITY FOR THE RESERVATION DATE

		MERGE [dbo].[IQC_Awards] AS [Target]
		USING (SELECT DISTINCT PlayerId, RATE_DATE FROM #Stay_Hotel_Transactions ORDER BY PlayerId, RATE_DATE) AS [Source]
		ON [Target].PlayerID = [Source].PlayerId AND [Target].GamingDate = [Source].RATE_DATE
		WHEN NOT MATCHED BY TARGET THEN
		INSERT ([RecordKey]
           ,[playerID]
           ,[GamingDate]
           ,[Award_BingoCash_ActiveNL]
           ,[Award_BingoCash_InactiveNL]
           ,[Award_BingoCash_OuterMarketNL]
           ,[Award_BingoCash_Supplemental]
           ,[Award_Cash_PromoWinner]
           ,[Award_Cash_CashBack]
           ,[Award_Cash_Discretionary]
           ,[Award_Cash_FPConversion]
           ,[Award_Cash_Supplemental]
           ,[Award_Cash_Other]
           ,[Award_Cash_Total]
           ,[Cash_NumberAwards]
           ,[award_PromoChipUsed_ActiveNL]
           ,[award_PromoChipUsed_BaccRebate]
           ,[award_PromoChipUsed_Discretionary]
           ,[award_PromoChipUsed_FPConversion]
           ,[award_PromoChipUsed_INActiveNL]
           ,[award_PromoChipUsed_OuterMarketNL]
           ,[award_PromoChipUsed_PromoWinner]
           ,[award_PromoChipUsed_PTConversion]
           ,[award_PromoChipUsed_ServiceRecovery]
           ,[award_PromoChipUsed_Supplemental]
           ,[award_PromoChipUsed_Other]
           ,[Award_PromoChipsUsed_Total]
           ,[PromoChips_NumberAwards]
           ,[award_Comp_Discretionary]
           ,[award_Comp_GolfBenefit]
           ,[award_Comp_ServiceRecovery]
           ,[award_Comp_Total_NoHotel]
           ,[award_Comp_Total_Other_Comp]
           ,[Comp_NumberAwards]
           ,[award_FB_Benefit]
           ,[award_FB_Bus]
           ,[award_FB_Discretionary]
           ,[award_FB_Marketing]
           ,[award_FB_OffProperty]
           ,[award_FB_HostDine]
           ,[award_FB_PromoWinner]
           ,[award_FB_ServiceRecovery]
           ,[Award_FB_Cash_Other]
           ,[award_FB_Total]
           ,[FB_NumberAwards]
           ,[award_FPAwarded_ActiveNL]
           ,[award_FPAwarded_InactiveNL]
           ,[award_FPAwarded_OuterMarketNL]
           ,[award_FPAwarded_Supplemental]
           ,[award_FPAwarded_Bus]
           ,[award_FPAwarded_Discretionary]
           ,[award_FPAwarded_HotelBooking]
           ,[award_FPAwarded_PromoWinner]
           ,[award_FPAwarded_ServiceRecovery]
           ,[award_FPAwarded_Other]
           ,[award_FPAwarded_Total]
           ,[FP_NumberAwards]
           ,[award_FPused]
           ,[award_Ent_Marketing]
           ,[award_Merchandise_PromoWinner]
           ,[award_Merchandise_Marketing]
           ,[Misc_NumberAwards]
           ,[ModifiedDate]
           ,[CasinoCode]
           ,[ManualUpdate]
           ,[SourceSystem]
           ,[LoadDTTM]
           ,[award_BingoCash_Discretionary]
           ,[award_PromoChipUsed_FPBus]
           ,[BasePoints]
           ,[BonusPoints]
           ,[GamePoints]
           ,[PointsEarned]
           ,[ExpPromo1]
           ,[NetPromo1]
           ,[award_FB_PlatBenefit]
		   ,[award_Cash_GasStation])
     VALUES
           (CAST([Source].PlayerId AS VARCHAR(38)) + REPLACE(CAST(CAST([Source].RATE_DATE AS DATE) AS VARCHAR(10)), '-', '')
           ,[Source].PlayerId
           ,[Source].RATE_DATE
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
		   ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
		   ,0
           ,GETDATE()
           ,'VCR'
           ,0
           ,'CMP'
           ,GETUTCDATE()
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
           ,0
		   ,0);
		   
	END TRY  
    BEGIN CATCH

		THROW;

	END CATCH

END

