USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [myViejas].[sp_Update_tab_player_dim]    Script Date: 5/11/2024 2:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [myViejas].[sp_Update_tab_player_dim] (@UTC_Now DATETIMEOFFSET)
AS

BEGIN

	SET NOCOUNT ON

	DECLARE @Begin_UTC DATETIMEOFFSET = DATEADD(hh, -26, @UTC_Now)				--2:00 AM to 1:59:59:59 AM
	DECLARE @End_UTC DATETIMEOFFSET = DATEADD(ms, -1, @UTC_Now)

	DECLARE @DayOfMonth INT = (SELECT DAY(GETDATE()))

	DROP TABLE IF EXISTS #Modified_Players
	DROP TABLE IF EXISTS #Modified_Player_Address
	DROP TABLE IF EXISTS #Modified_Player_Email
	DROP TABLE IF EXISTS #Modified_Player_Phone
	DROP TABLE IF EXISTS #Modified_Player_Host
	DROP TABLE IF EXISTS #Modified_Player_Promo1Bal
	DROP TABLE IF EXISTS #Modified_Player_Promo2Bal
	DROP TABLE IF EXISTS #Modified_Player_StubBal
	DROP TABLE IF EXISTS #Modified_Player_Marketing_Metrics
	DROP TABLE IF EXISTS #Modified_Player_CompBal
	DROP TABLE IF EXISTS #Modified_Player_Totals

	BEGIN TRY
	
		--NOTE: Transaction created in calling stored proc. Do not create a transaction here

		WITH PlayerUpdates_CTE
		 AS
		 (
			SELECT PlayerID FROM [CMP_13-1].tPlayer 
				WHERE ModifiedDtm >= @Begin_UTC
				OR LastEditedDtm >= @Begin_UTC
				OR ClubStateExpiryDate >= CAST(DATEADD(DD, -2, GETDATE()) AS DATE)						--CARL: 1/11/2024 - backed these off 2 days just to be safe
				OR ClubStateQualifyingDate >= CAST(DATEADD(DD, -2, GETDATE()) AS DATE)
			UNION
			SELECT t1.PlayerID FROM [CMP_13-1].tPlayer t1								
				LEFT JOIN [player].tab_player_dim t2 ON t1.PlayerId = t2.player_id
				WHERE t2.player_id IS NULL
				AND t1.IsRetired = 0
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerAddress WHERE ModifiedDtm >= @Begin_UTC
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerEmail WHERE ModifiedDtm >= @Begin_UTC
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerCasinoHost WHERE ModifiedDtm >= @Begin_UTC AND PrimaryHostEmpId NOT IN (998, 1038)
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerAttributeDtl WHERE ModifiedDtm >= @Begin_UTC
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerPhone WHERE ModifiedDtm >= @Begin_UTC
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerPointBal WHERE (ModifiedDtm >= @Begin_UTC) AND BucketGroupId = 1
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerPromo1Bal WHERE (ModifiedDtm >= @Begin_UTC) AND BucketGroupId = 1
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerPromo2Bal WHERE (ModifiedDtm >= @Begin_UTC) AND BucketGroupId = 1
			UNION
			SELECT PlayerID FROM [CMP_13-1].tPlayerStubBal WHERE ModifiedDtm >= @Begin_UTC
		)
		SELECT DISTINCT PlayerID
		INTO #Modified_Players
		FROM PlayerUpdates_CTE;

		-----------------------

		WITH PlayerAddress_CTE 
		AS
		(
			SELECT  A.PlayerId,
					A.Address1,
					A.Address2,
					A.City,
					S.StateCode,
					A.PostalCode,
					A.Country,
					ROW_NUMBER() OVER (PARTITION BY A.PlayerID ORDER BY A.ContactTypeID) AS ROW_NUM
			FROM [CMP_13-1].tPlayerAddress A
			INNER JOIN #Modified_Players MP ON MP.PlayerId = A.PlayerID
			LEFT JOIN [CMP_13-1].tState S ON A.StateId = S.StateId
			WHERE A.IsInactive = 0
		)
		SELECT *
		INTO #Modified_Player_Address
		FROM PlayerAddress_CTE
		WHERE ROW_NUM = 1;

		-----------------------	   		 	  	  	   	
		
		WITH PlayerEmail_CTE 
		AS
		(
			SELECT  P.PlayerId, 
					P.EmailAddress, 
					P.IsEmailSend, 
					ROW_NUMBER() OVER(PARTITION BY P.PlayerId ORDER BY P.IsInactive, P.IsEmailSend DESC, P.ContactTypeID) AS ROW_NUM
			FROM [CMP_13-1].tPlayerEmail P
			INNER JOIN #Modified_Players MP ON MP.PlayerId = P.PlayerID
			WHERE P.IsInactive = 0
		)
		SELECT *
		INTO #Modified_Player_Email
		FROM PlayerEmail_CTE
		WHERE ROW_NUM = 1;

		-----------------------	   		 	  	  	   	
		
		WITH PlayerPhone_CTE 
		AS
		(
			SELECT  P.PlayerId, 
					P.PhoneNumber, 
					P.IsCall,
					P.IsSendTextMessage,
					ROW_NUMBER() OVER(PARTITION BY P.PlayerId ORDER BY P.IsInactive, P.ContactTypeId) AS ROW_NUM
			FROM [CMP_13-1].tPlayerPhone P
			INNER JOIN #Modified_Players MP ON MP.PlayerId = P.PlayerID
			WHERE P.IsInactive = 0
		)
		SELECT *
		INTO #Modified_Player_Phone
		FROM PlayerPhone_CTE
		WHERE ROW_NUM = 1;
		 
		-----------------------
		
		WITH PlayerHost_CTE 
		AS
		(
			SELECT  P.PlayerId, 
					E.LastName + ', ' + E.FirstName AS source_host,
					DATEADD(hh, -7, P.ModifiedDtm) AS host_date
			FROM [CMP_13-1].tPlayerCasinoHost P
			INNER JOIN #Modified_Players MP ON MP.PlayerId = P.PlayerID
			INNER JOIN [CMP_13-1].tEmp E ON P.PrimaryHostEmpId = E.EmpId
		)
		SELECT *
		INTO #Modified_Player_Host
		FROM PlayerHost_CTE;

		-----------------------
		
		WITH PlayerPromo1Bal_CTE
		AS
		(
			SELECT  PB.PlayerId, 
					SUM ( PB.Promo1 + PB.BonusPromo1 + PB.AdjPromo1Cr - PB.AdjPromo1Dr - PB.Promo1Used - PB.ExpirePromo1) AS player_FPC_bal
			FROM [CMP_13-1].tPlayerPromo1Bal PB
			INNER JOIN #Modified_Players MP ON MP.PlayerId = PB.PlayerId
			WHERE PB.BucketGroupId = 1
			GROUP BY PB.PlayerId
		)
		SELECT *
		INTO #Modified_Player_Promo1Bal
		FROM PlayerPromo1Bal_CTE
		WHERE player_FPC_bal <> 0;
		
		-----------------------

		WITH PlayerPromo2Bal_CTE
		AS
		(
			SELECT  PB.PlayerId, 
					SUM( PB.Promo2 + PB.BonusPromo2 + PB.AdjPromo2Cr - PB.AdjPromo2Dr - PB.Promo2Used - PB.ExpirePromo2) AS player_promo2_bal
			FROM [CMP_13-1].tPlayerPromo2Bal PB
			INNER JOIN #Modified_Players MP ON MP.PlayerId = PB.PlayerId
			WHERE PB.BucketGroupId = 1
			GROUP BY PB.PlayerId
		)
		SELECT *
		INTO #Modified_Player_Promo2Bal
		FROM PlayerPromo2Bal_CTE
		WHERE player_promo2_bal <> 0;
		
		-----------------------

		WITH PlayerStubsBal_CTE
		AS
		(
			SELECT  SB.PlayerId, 
					SUM(SB.stubsBal) AS player_stub_bal
			FROM [CMP_13-1].tPlayerStubBal SB
			INNER JOIN #Modified_Players MP ON MP.PlayerId = SB.PlayerId
			GROUP BY SB.PlayerId
		)
		SELECT *
		INTO #Modified_Player_StubBal
		FROM PlayerStubsBal_CTE
		WHERE player_stub_bal > 0;
		
		-----------------------
		
		WITH PlayerMarketingMetrics_CTE
		AS
		(
			SELECT  MM.PlayerID,
					MM.GameTypePref_3MonthLGD,
					MM.GameCodePref_3MonthLGD,
					MM.gamingDays_3MonthLGD,
					MM.ADT_NetFP_3MonthLGD,
					MM.compsUsed_3MonthLGD,
					MM.LastTripDate,
					MM.min_3MonthLGD AS DateRangeStart_LGD,
					MM.max_3MonthLGD AS DateRangeEnd_LGD,
					MM.firstPlayDate_3MonthLGD AS playerfirstdate_LGD,
					MM.lastPlayDate_3MonthLGD AS playerlastdate_LGD,
					MM.slotTheo_3MonthLGD AS Slot_Theo_LGD,
					MM.tableTheo_3MonthLGD AS Table_Theo_LGD,
					MM.BingoTheo_3MonthLGD AS Bingo_Theo_LGD,
					MM.totalTheo_3MonthLGD AS Total_Theo_LGD,
					MM.dailyWorth_3MonthLGD AS worth_Gross_LGD,
					MM.trips_3MonthLGD AS visits_LGD,
					MM.award_FPUsed_3MonthLGD AS FP_LGD,
					MM.ADT_GrossFP_3MonthLGD AS ADT_GrossFP_LGD,
					MM.ADW_GrossFP_3MonthLGD AS ADW_GrossFP_LGD,
					MM.AMV_3MonthLGD AS AMV_LGD,
					MM.AMT_GrossFP_3MonthLGD AS AMT_GrossFP_LGD,
					MM.AMW_GrossFP_3MonthLGD AS AMW_Gross_LGD,
					MM.actualWinLoss_3MonthLGD AS NetActualWin_LGD,
					MM.NetTheo_3MonthLGD AS NetTheo_LGD,
					MM.ADT_NetFP_3MonthLGD AS ADT_NetFP_LGD,
					MM.ADW_NetFP_3MonthLGD AS ADW_NetFP_LGD,
					MM.ADP_3MonthLGD AS ADP_LGD,
					MM.AMT_NetFP_3MonthLGD AS AMT_NetFP_LGD,
					MM.AMW_NetFP_3MonthLGD AS AMW_NetFP_LGD,
					MM.AMP_3MonthLGD AS AMP_LGD,
					MM.ADW_NetFP_Category_3monthLGD AS ADW_NetFP_Category,
					MM.AMW_NetFP_Category_3monthLGD AS AMW_NetFP_Category,
					MM.PlayerType_3MonthLGD AS PlayerType,
					MM.slotActualWinLoss_3MonthLGD AS Slot_Actual_LGD,
					MM.tableActualWinLoss_3MonthLGD AS Table_Actual_LGD,
					0 AS Other_Actual_LGD,												--CARL: no mapping for this? Not in MM...??
					MM.slotNetActualWin_3MonthLGD AS Slot_NetActual_LGD,
					MM.tableNetActualWin_3MonthLGD AS Table_NetActual_LGD,
					0 AS Other_NetActual_LGD
				FROM [dbo].v_IQ_Marketing_Metrics MM 
				INNER JOIN #Modified_Players MP ON MP.PlayerId = MM.PlayerId
		)
		SELECT *
		INTO #Modified_Player_Marketing_Metrics
		FROM PlayerMarketingMetrics_CTE;

		-----------------------

		WITH PlayerCompBal_CTE			--CARL: This logic was taken directly from [CMP_13-1].viewPlayersViejas
		AS
		(
			SELECT  C.PlayerID,
					CAST(ROUND(SUM(C.EarnedComp + C.AdjCompCr - C.AdjCompDr - C.CompUsed - C.ExpireComp),2,1) AS DECIMAL(18,2)) AS CompBal
			FROM [CMP_13-1].tPlayerCompBal C
			INNER JOIN #Modified_Players MP ON MP.PlayerId = C.PlayerId
			GROUP BY C.PlayerId
		)
		SELECT  C.PlayerId,
				ISNULL(C.CompBal, 0) AS CompBal
		INTO #Modified_Player_CompBal 
		FROM PlayerCompBal_CTE C
		WHERE ISNULL(C.CompBal, 0) <> 0;

		-----------------------
			   		 	  	  	   			
		WITH PlayerTotals_CTE
		AS
		(
			SELECT	MP.PlayerId,
					P.FirstName,
					P.LastName,
					P.DisplayName,
					P.ClubState,
					P.ClubLevelId,
					P.ClubFirstAnnivDt,
					P.ClubStateQualifyingDate,
					P.CreatedDtm,
					P.IsInactive AS player_isinactive,
					P.IsBanned AS player_isbanned,
					P.IsClubHold AS player_isclubhold,
					P.IsNoMail AS player_isnomail,
					P.IsReturnMail AS player_isreturnmail,
					P.IsRetired,
					PT.PlayerTypeId,
					PT.PlayerTypeName,
					CL.ClubLevelName,
					PD.BirthDT, 
					CASE WHEN PD.Sex = '1' THEN 'Male'
						 WHEN PD.Sex = '0' THEN 'Female'
						 ELSE 'Unknown'
					END AS Sex,
					PC.Acct,
					PO.FirstTripDt, 
					MM.LastTripDate,
					PA.Address1,
					LEFT(PA.Address2,20) AS Address2,
					PA.City,
					PA.StateCode,
					PA.PostalCode,
					LEFT(PA.Country,25) AS Country,
					PE.EmailAddress, 
					ISNULL(PE.IsEmailSend, 0) AS IsEmailSend,
					ISNULL(PP.IsCall, 0) AS IsCall,
					dbo.fnFormatPhoneNumber(PP.PhoneNumber) AS PhoneNumber,
					ISNULL(PP.IsSendTextMessage, 0) AS IsSendTextMessage,
					PH.host_date,
					PH.source_host,
					PB.PtsBal,
					P1BAL.player_FPC_bal,
					P2BAL.player_promo2_bal,
					PSTUB.player_stub_bal,
					ISNULL(CB.COMPBal, 0) AS COMPBal,
					CASE WHEN MM.GameTypePref_3MonthLGD = 'Slot' THEN 'Slot'
						 WHEN MM.GameTypePref_3MonthLGD = 'Table' THEN 'Table'
						 WHEN MM.GameTypePref_3MonthLGD = 'Bingo' THEN 'Other'
						 WHEN MM.GameTypePref_3MonthLGD = 'Other' THEN 'Other'
						 ELSE 'No Play'
					END AS player_gaming_type,
					TRIM(TG.GameName) AS GameName,
					CASE WHEN MM.gamingDays_3MonthLGD BETWEEN 0 AND 10 THEN '01 - Low (0-10)'
						 WHEN MM.gamingDays_3MonthLGD BETWEEN 11 AND 15 THEN '02 - Mid Low (11-15)'
						 WHEN MM.gamingDays_3MonthLGD BETWEEN 16 AND 20 THEN '03 - Mid (16-20)'
						 WHEN MM.gamingDays_3MonthLGD BETWEEN 21 AND 30 THEN '04 - Mid High (21-30)'
						 WHEN MM.gamingDays_3MonthLGD BETWEEN 31 AND 40 THEN '05 - High (31-40)'
						 WHEN MM.gamingDays_3MonthLGD BETWEEN 41 AND 99 THEN '06 - Very High (41-99)'
						 ELSE NULL
					END AS player_frequency,
					CASE WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 0 AND 50 THEN '0-50'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 51 AND 100 THEN '51-100'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 101 AND 200 THEN '101-200'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 201 AND 300 THEN '201-300'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 301 AND 400 THEN '301-400'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 401 AND 500 THEN '401-500'
						 WHEN MM.ADT_NetFP_3MonthLGD BETWEEN 501 AND 1000 THEN '501-1000'
						 WHEN MM.ADT_NetFP_3MonthLGD > 1000 THEN '1000+'
						 WHEN MM.ADT_NetFP_3MonthLGD IS NULL AND MM.compsUsed_3MonthLGD > 0 THEN 'No Play'
						 ELSE NULL
					END AS player_adt_category,												
					0 AS points_bal_club,																	--point_bal_club - tier points (eventually)
					CAST(REPLACE(MM.DateRangeStart_LGD, '-', '') AS INT) AS DateRangeStart_LGD,
					CAST(REPLACE(MM.DateRangeEnd_LGD, '-', '') AS INT) AS DateRangeEnd_LGD,
					CAST(REPLACE(MM.playerfirstdate_LGD, '-', '') AS INT) AS playerfirstdate_LGD,
					CAST(REPLACE(MM.playerlastdate_LGD, '-', '') AS INT) AS playerlastdate_LGD,
					MM.Slot_Theo_LGD,
					MM.Table_Theo_LGD,
					MM.Bingo_Theo_LGD,
					MM.Total_Theo_LGD,
					MM.worth_Gross_LGD,
					MM.visits_LGD,
					MM.FP_LGD,
					MM.ADT_GrossFP_LGD,
					MM.ADW_GrossFP_LGD,
					MM.AMV_LGD,
					MM.AMT_GrossFP_LGD,
					MM.AMW_Gross_LGD,
					MM.NetTheo_LGD,
					MM.NetActualWin_LGD,
					MM.ADT_NetFP_LGD,
					MM.ADW_NetFP_LGD,
					MM.ADP_LGD,
					MM.AMT_NetFP_LGD,
					MM.AMW_NetFP_LGD,
					MM.AMP_LGD,
					MM.ADW_NetFP_Category,
					MM.AMW_NetFP_Category,
					MM.PlayerType,
					MM.Slot_Actual_LGD,
					MM.Table_Actual_LGD,
					MM.Other_Actual_LGD,
					MM.compsUsed_3MonthLGD
			FROM #Modified_Players MP
			INNER JOIN [CMP_13-1].tPlayer P ON MP.PlayerId = P.PlayerId
			INNER JOIN [CMP_13-1].tPlayerType PT ON P.PlayerTypeId = PT.PlayerTypeId
			INNER JOIN [CMP_13-1].tPlayerAttributeDtl PD ON P.PlayerID = PD.PlayerID
			INNER JOIN [CMP_13-1].tClubLevels CL ON P.ClubLevelId =  CL.ClubLevelId
			INNER JOIN [CMP_13-1].tPlayerCard PC ON P.PlayerID = PC.PlayerID
			INNER JOIN [CMP_13-1].tPlayerCasino PO ON P.PlayerID = PO.PlayerId	AND PO.CasinoId = 3			--NOTE: There are a handfull of players that have 0 as the CasinoId (should be '3'). Player with '0' will not get updated in player_dim
			LEFT JOIN #Modified_Player_Address PA ON P.PlayerID = PA.PlayerId
			LEFT JOIN #Modified_Player_Email PE ON P.PlayerID = PE.PlayerId
			LEFT JOIN #Modified_Player_Phone PP ON P.PlayerId = PP.PlayerId
			LEFT JOIN #Modified_Player_Host PH ON P.PlayerId = PH.PlayerId
			LEFT JOIN [CMP_13-1].tPlayerPointBal PB ON P.PlayerId = PB.PlayerId AND PB.BucketGroupId = 1	--These are redeemable points
			LEFT JOIN #Modified_Player_Promo1Bal P1BAL ON P.PlayerId = P1BAL.PlayerId
			LEFT JOIN #Modified_Player_Promo2Bal P2BAL ON P.PlayerId = P2BAL.PlayerId
			LEFT JOIN #Modified_Player_StubBal PSTUB ON P.PlayerId = PSTUB.PlayerId
			LEFT JOIN #Modified_Player_Marketing_Metrics MM ON P.PlayerId = MM.PlayerID
			LEFT JOIN [CMP_13-1].tGame TG ON MM.GameCodePref_3MonthLGD = TG.GameCode
			LEFT JOIN #Modified_Player_CompBal CB ON P.PlayerId = CB.PlayerId
		)
		SELECT  PT.*,
				CASE WHEN PT.[BirthDt] IS NOT NULL THEN FLOOR(datediff(day,PT.[BirthDt], DATEADD(dd,1, CAST(GETDATE() AS DATE)))/365.25) END AS player_age,
				CASE WHEN floor(datediff(day, PT.[BirthDt],getdate())/365.25) between 21 and 29 THEN '21-29' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) between 30 and 39 THEN '30-39' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) between 40 and 49 THEN '40-49' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) between 50 and 59 THEN '50-59' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) between 60 and 69 THEN '60-69' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) >= 70 THEN '70+' 
					WHEN floor(datediff(day,PT.[BirthDt],getdate())/365.25) < 21  THEN 'Under 21' 
				ELSE 'Unknown' END AS player_age_category
		INTO #Modified_Player_Totals
		FROM PlayerTotals_CTE PT;

		-------------------------------

		-- MERGE changes into tab_player_dim  
		
		--CARL: There are 61,084 records in tab_player_dim that do not exist in tPlayer
		--CARL: An analysis on this reveals that there are changes to child records for PlayerId's that do not exist in tPlayer...SELECT * FROM #Modified_Players WHERE PlayerID NOT IN (SELECT PlayerID FROM #Modified_Player_Totals)

		--CARL: (8/4/2023) - Based on these counts we may need to do some cleanup in tab_player_dim

		--select * from player.tab_player_dim where player_id not in (select playerId from [CMP_13-1].tPlayer)	--61,084
		--select * from player.tab_player_dim where player_id not in (select playerId from [CMP_13-1].tPlayer) and player_ismerge = 1	--119
		--select * from player.tab_player_dim where player_id not in (select playerId from [CMP_13-1].tPlayer) and player_ismerge = 0	--60,965
		--select * from player.tab_player_dim where player_id in (select playerId from [CMP_13-1].tPlayer where IsRetired = 1) and player_ismerge = 1	--60,239
		--select count(*) from [CMP_13-1].tPlayer where IsRetired = 1 --60,239
  	    --select * from player.tab_player_dim where player_ismerge = 1  --60,363

		-------------------------------

		MERGE [player].tab_player_dim AS [Target]
		USING #Modified_Player_Totals AS [Source] ON [Target].player_id = [Source].PlayerId
		WHEN NOT MATCHED BY TARGET THEN
		INSERT( [player_id],
				[player_account_number],
				[player_first_name],
				[player_last_name],
				[player_display_name],
				[player_club_level],
				[player_club_anniversary],
				[player_signup_date],
				[player_address1],
				[player_address2],
				[player_city],
				[player_state],
				[player_zip],
				[player_country],
				[player_email],
				[player_phone],
				[player_birthdate],
				[player_gender],
				[player_host],
				[player_host_coded_date],
				[player_first_trip_date],
				[player_last_trip_date],
				[player_age],
				[player_age_category],
				[player_gaming_type],			
				[player_slot_type],				
				[player_table_type],		
				[player_isbanned],
				[player_isinactive],
				[player_isclubhold],
				[player_isnomail],
				[player_frequency],
				[player_adt_category],
				[player_lifecycle],								--Hard-coded NULL
				[dw_timestamp],
				[player_point_bal],			
				[player_stub_bal],
				[player_promo2_bal],
				[player_FPC_bal],
				[points_bal_club],								--Tier points (not redeemable points) hard-coded zero
				[behavior_trip],								--Marketing Comment: This field was never used (default to 0)
				[player_isreturnmail],
				[player_isemailsend],
				[player_last_club_level],
				[player_club_level_change_date],
				[player_comp_bal],
				[player_ismerge],			
				[player_iscall],
				[player_issendtextmessage],
				[CompReinvestHist],								--Marketing Comment: 'I am not sure but would like to replace this using some fields I asked to create in the To Do List'
				[CompReinvestHistNoHotel],						--Marketing Comment: 'I am not sure but would like to replace this using some fields I asked to create in the To Do List'
				[player_type],			
				[DateRangeStart_LGD],
				[DateRangeEnd_LGD],
				[playerfirstdate_LGD],
				[playerlastdate_LGD],
				[Slot_Theo_LGD],
				[Table_Theo_LGD],
				[Bingo_Theo_LGD],
				[Total_Theo_LGD],
				[worth_Gross_LGD],
				[visits_LGD],
				[FP_LGD],
				[ADT_GrossFP_LGD],
				[ADW_GrossFP_LGD],
				[AMV_LGD],
				[AMT_GrossFP_LGD],
				[AMW_Gross_LGD],
				[NetTheo_LGD],
				[NetActualWin_LGD],
				[ADT_NetFP_LGD],
				[ADW_NetFP_LGD],
				[ADP_LGD],
				[AMT_NetFP_LGD],
				[AMW_NetFP_LGD],
				[AMP_LGD],
				[ADW_NetFP_Category],
				[AMW_NetFP_Category],
				[Slot_Actual_LGD],
				[Table_Actual_LGD],
				[Other_Actual_LGD],
				[SlotNetActualWin_LGD],
				[Table_NetActual_LGD],
				[Other_NetActual_LGD],
				[CompsUsed_LGD])
		VALUES( [Source].PlayerID,
				[Source].Acct,
				[Source].FirstName,
				[Source].LastName,
				[Source].DisplayName,
				[Source].ClubLevelName,
				[Source].ClubFirstAnnivDt,
				dbo.fn_ConvertUTCToPacific([Source].CreatedDtm),
				[Source].Address1,
				[Source].Address2,
				[Source].City,
				[Source].StateCode,
				[Source].PostalCode,
				[Source].Country,
				[Source].EmailAddress, 
				[Source].PhoneNumber,
				[Source].BirthDT, 
				[Source].Sex,
				[Source].source_host,
				[Source].host_date,
				[Source].FirstTripDt, 
				[Source].LastTripDate,
				[Source].player_age,
				[Source].player_age_category,
				[Source].player_gaming_type,
				CASE WHEN [Source].player_gaming_type = 'Slot' THEN ISNULL([Source].GameName,'No Play') ELSE NULL END,					--player_slot_type
				CASE WHEN [Source].player_gaming_type = 'Table' THEN ISNULL([Source].GameName,'No Play') ELSE NULL END,					--player_table_type
				[Source].player_isbanned,
				[Source].player_isinactive,
				[Source].player_isclubhold,
				[Source].player_isnomail,
				[Source].player_frequency,
				[Source].player_adt_category,
				NULL,
				GETDATE(),
				[Source].PtsBal,				
				[Source].player_stub_bal,
				[Source].player_promo2_bal,
				[Source].player_FPC_bal,	
				[Source].points_bal_club,
				0,
				[Source].player_isreturnmail,
				[Source].IsEmailSend,
				NULL,											--[player_last_club_level] should be null on insert
				NULL,											--[player_club_level_change_date] should be null on insert
				[Source].COMPBal,
				[Source].IsRetired,												
				[Source].IsCall,
				[Source].IsSendTextMessage,
				0,
				0,
				[Source].[PlayerTypeName],			
				[Source].[DateRangeStart_LGD],
				[Source].[DateRangeEnd_LGD],
				[Source].[playerfirstdate_LGD],
				[Source].[playerlastdate_LGD],
				[Source].[Slot_Theo_LGD],
				[Source].[Table_Theo_LGD],
				[Source].[Bingo_Theo_LGD],
				[Source].[Total_Theo_LGD],
				[Source].[worth_Gross_LGD],
				[Source].[visits_LGD],
				[Source].[FP_LGD],
				[Source].[ADT_GrossFP_LGD],
				[Source].[ADW_GrossFP_LGD],
				[Source].[AMV_LGD],
				[Source].[AMT_GrossFP_LGD],
				[Source].[AMW_Gross_LGD],
				[Source].[NetTheo_LGD],
				[Source].[NetActualWin_LGD],
				[Source].[ADT_NetFP_LGD],
				[Source].[ADW_NetFP_LGD],
				[Source].[ADP_LGD],
				[Source].[AMT_NetFP_LGD],
				[Source].[AMW_NetFP_LGD],
				[Source].[AMP_LGD],
				[Source].[ADW_NetFP_Category],
				[Source].[AMW_NetFP_Category],
				[Source].[Slot_Actual_LGD],
				[Source].[Table_Actual_LGD],
				[Source].[Other_Actual_LGD],
				[Source].[Slot_NetActual_LGD],
				[Source].[Table_NetActual_LGD],
				[Source].[Other_NetActual_LGD],
				[Source].[CompsUsed_3MonthLGD])
		WHEN MATCHED THEN  UPDATE
				SET [Target].player_account_number = [Source].Acct,
				[Target].player_first_name = [Source].FirstName,
				[Target].player_last_name = [Source].LastName,
				[Target].player_display_name = [Source].DisplayName,
				[Target].player_club_level = [Source].ClubLevelName,
				[Target].player_club_anniversary = [Source].ClubFirstAnnivDt,
				[Target].player_address1 = [Source].Address1,
				[Target].player_address2 = [Source].Address2,
				[Target].player_city = [Source].City,
				[Target].player_state = [Source].StateCode,
				[Target].player_zip = [Source].PostalCode,
				[Target].player_country = [Source].Country,
				[Target].player_email = [Source].EmailAddress,
				[Target].player_phone = [Source].PhoneNumber,
				[Target].player_birthdate = [Source].BirthDT,
				[Target].player_gender = [Source].Sex,
				[Target].player_host = [Source].source_host,
				[Target].player_host_coded_date = [Source].host_date,
				[Target].player_first_trip_date = [Source].FirstTripDt,
				[Target].player_last_trip_date = [Source].LastTripDate,
				[Target].player_age = [Source].player_age,
				[Target].player_age_category = [Source].player_age_category,
				[Target].player_gaming_type = [Source].player_gaming_type,			
				[Target].player_slot_type = CASE WHEN [Source].player_gaming_type = 'Slot' THEN ISNULL([Source].GameName,'No Play') ELSE 'No Play' END,				
				[Target].player_table_type = CASE WHEN [Source].player_gaming_type = 'Table' THEN ISNULL([Source].GameName,'No Play') ELSE 'No Play' END,
				[Target].player_isbanned = [Source].player_isbanned,
				[Target].player_isinactive = [Source].player_isinactive,
				[Target].player_isclubhold = [Source].player_isclubhold,
				[Target].player_isnomail = [Source].player_isnomail,
				[Target].player_frequency = [Source].player_frequency,
				[Target].player_adt_category = [Source].player_adt_category,
				[Target].dw_timestamp = GETDATE(),
				[Target].player_point_bal = [Source].PtsBal,
				[Target].player_stub_bal = [Source].player_stub_bal,
				[Target].player_promo2_bal = [Source].player_promo2_bal,
				[Target].player_FPC_bal = [Source].player_FPC_bal,
				[Target].points_bal_club = [Source].points_bal_club,
				[Target].player_isreturnmail = [Source].player_isreturnmail,
				[Target].player_isemailsend = [Source].IsEmailSend,
				[Target].player_last_club_level = CASE WHEN [Target].player_club_level != [Source].ClubLevelName THEN [Target].player_club_level ELSE [Target].player_last_club_level END,
				[Target].player_club_level_change_date = CASE WHEN [Target].player_club_level != [Source].ClubLevelName THEN [Source].ClubStateQualifyingDate ELSE [Target].player_club_level_change_date END,
				[Target].player_comp_bal = [Source].COMPBal,
				--[Target].ismerge = [Source].IsRetired,									--NOTE: This will get updated in the sp_Merge_Retired_Players stored proc
				[Target].player_iscall = [Source].IsCall,
				[Target].player_issendtextmessage = [Source].IsSendTextMessage,
				[Target].CompReinvestHist = 0,
				[Target].CompReinvestHistNoHotel = 0,
				--NOTE: LGD Values only update on first day of the month
				[Target].player_type = [Source].PlayerTypeName,																						--CASE WHEN @DayOfMonth = 1 THEN [Source].PlayerType ELSE [Target].player_type END,
				[Target].[DateRangeStart_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[DateRangeStart_LGD] ELSE [Target].[DateRangeStart_LGD] END,
				[Target].[DateRangeEnd_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[DateRangeEnd_LGD] ELSE [Target].[DateRangeEnd_LGD] END,
				[Target].[playerfirstdate_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[playerfirstdate_LGD] ELSE [Target].[playerfirstdate_LGD] END,
				[Target].[playerlastdate_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[playerlastdate_LGD] ELSE [Target].[playerlastdate_LGD] END,
				[Target].[Slot_Theo_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Slot_Theo_LGD] ELSE [Target].[Slot_Theo_LGD] END,
				[Target].[Table_Theo_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Table_Theo_LGD] ELSE [Target].[Table_Theo_LGD] END,
				[Target].[Bingo_Theo_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Bingo_Theo_LGD] ELSE [Target].[Bingo_Theo_LGD] END,
				[Target].[Total_Theo_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Total_Theo_LGD] ELSE [Target].[Total_Theo_LGD] END,
				[Target].[worth_Gross_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[worth_Gross_LGD] ELSE [Target].[worth_Gross_LGD] END,
				[Target].[visits_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[visits_LGD] ELSE [Target].[visits_LGD] END,
				[Target].[FP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[FP_LGD] ELSE [Target].[FP_LGD] END,
				[Target].[ADT_GrossFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADT_GrossFP_LGD] ELSE [Target].[ADT_GrossFP_LGD] END,
				[Target].[ADW_GrossFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADW_GrossFP_LGD] ELSE [Target].[ADW_GrossFP_LGD] END,
				[Target].[AMV_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMV_LGD] ELSE [Target].[AMV_LGD] END,
				[Target].[AMT_GrossFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMT_GrossFP_LGD] ELSE [Target].[AMT_GrossFP_LGD] END,
				[Target].[AMW_Gross_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMW_Gross_LGD] ELSE [Target].[AMW_Gross_LGD] END,
				[Target].[NetTheo_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[NetTheo_LGD] ELSE [Target].[NetTheo_LGD] END,
				[Target].[NetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[NetActualWin_LGD] ELSE [Target].[NetActualWin_LGD] END,
				[Target].[ADT_NetFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADT_NetFP_LGD] ELSE [Target].[ADT_NetFP_LGD] END,
				[Target].[ADW_NetFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADW_NetFP_LGD] ELSE [Target].[ADW_NetFP_LGD] END,
				[Target].[ADP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADP_LGD] ELSE [Target].[ADP_LGD] END,
				[Target].[AMT_NetFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMT_NetFP_LGD] ELSE [Target].[AMT_NetFP_LGD] END,
				[Target].[AMW_NetFP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMW_NetFP_LGD] ELSE [Target].[AMW_NetFP_LGD] END,
				[Target].[AMP_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMP_LGD] ELSE [Target].[AMP_LGD] END,
				[Target].[ADW_NetFP_Category] = CASE WHEN @DayOfMonth = 1 THEN [Source].[ADW_NetFP_Category] ELSE [Target].[ADW_NetFP_Category] END,
				[Target].[AMW_NetFP_Category] = CASE WHEN @DayOfMonth = 1 THEN [Source].[AMW_NetFP_Category] ELSE [Target].[AMW_NetFP_Category] END,
		 		[Target].[Slot_Actual_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Slot_Actual_LGD] ELSE [Target].[Slot_Actual_LGD] END,
				[Target].[Table_Actual_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Table_Actual_LGD] ELSE [Target].[Table_Actual_LGD] END,
				[Target].[Other_Actual_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Other_Actual_LGD] ELSE [Target].[Other_Actual_LGD] END,
				[Target].[SlotNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Slot_Actual_LGD] ELSE [Target].[Slot_Actual_LGD] END,
				[Target].[TableNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Table_Actual_LGD] ELSE [Target].[Table_Actual_LGD] END,
				[Target].[OtherNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Other_Actual_LGD] ELSE [Target].[Other_Actual_LGD] END,
		 		[Target].[SlotNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Slot_NetActual_LGD] ELSE [Target].[SlotNetActualWin_LGD] END,
				[Target].[TableNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Table_NetActual_LGD] ELSE [Target].[TableNetActualWin_LGD] END,
				[Target].[OtherNetActualWin_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[Other_NetActual_LGD] ELSE [Target].[OtherNetActualWin_LGD] END,
			  	[Target].[CompsUsed_LGD] = CASE WHEN @DayOfMonth = 1 THEN [Source].[CompsUsed_3MonthLGD] ELSE [Target].[CompsUsed_LGD] END;


		-------------------------------

		--CARL: Adding the additional step of merging into #Player_All_Daily_Players so we
		--pick up changes to player accounts not related to awards or ratings. This will be
		--used later when generating player_hist_dim

		MERGE #Player_All_Daily_Players AS [Target]
		USING (SELECT DISTINCT PlayerID FROM #Modified_Player_Totals) AS [Source]
		ON [Target].PlayerId = [Source].PlayerId
		WHEN NOT MATCHED BY TARGET THEN
		INSERT(PlayerID)
		VALUES([Source].PlayerID);

	END TRY
	BEGIN CATCH

		THROW;

	END CATCH

END

