USE [iQ-Gaming]
GO

DROP TABLE IF EXISTS Opera_5_0.NAME_RESERVATION_ACCOMPANYING ;

DECLARE @maxUpdateDate char(19) = '2018-01-01 00:00:00' ;

PRINT '@maxUpdateDate = ' + @maxUpdateDate ;

DECLARE @Oq_SQL varchar(max) ;

SET @Oq_SQL = 
'SELECT * INTO Opera_5_0.NAME_RESERVATION_ACCOMPANYING
FROM OPENQUERY(OPERA,
''SELECT 
  RESV_NAME_ID
, ACCOMPANYING_YN
, ACCOMPANYING_NAMES

FROM OPERA.NAME_RESERVATION 
WHERE CONFIRMATION_NO <> ''''194400''''
  AND ACCOMPANYING_YN = ''''Y''''
  AND UPDATE_DATE >= TO_DATE(''''' +
@maxUpdateDate + ''''',''''YYYY-MM-DD HH24:MI:SS'''') ORDER BY RESV_NAME_ID'')' ;

PRINT @Oq_SQL ;

EXEC(@Oq_SQL) ;
GO

----------------------------------------------------------------------------------------------------------------------

MERGE Opera_5_0.NAME_RESERVATION AS tgt
USING Opera_5_0.NAME_RESERVATION_ACCOMPANYING AS stg
ON tgt.RESV_NAME_ID = stg.RESV_NAME_ID

WHEN MATCHED THEN UPDATE SET 
  tgt.RESV_NAME_ID = CAST(CAST(stg.RESV_NAME_ID as decimal(18,0)) as varchar(10))
, tgt.ACCOMPANYING_YN = CAST(stg.ACCOMPANYING_YN as char(1))
, tgt.ACCOMPANYING_NAMES = CAST(stg.ACCOMPANYING_NAMES as varchar(1000))
;
GO

SELECT
  ACCOMPANYING_YN
, COUNT(*)

FROM Opera_5_0.NAME_RESERVATION

GROUP BY 
  ACCOMPANYING_YN
GO

UPDATE Opera_5_0.NAME_RESERVATION
SET 
  ACCOMPANYING_YN = 'N'
, ACCOMPANYING_NAMES = NULL
WHERE ACCOMPANYING_YN IS NULL
GO

SELECT
  ACCOMPANYING_YN
, COUNT(*)

FROM Opera_5_0.NAME_RESERVATION

GROUP BY 
  ACCOMPANYING_YN
GO


