/****** Script for SelectTopNRows command from SSMS  ******/

DROP TABLE #CPU_SUMMARY

SELECT
  CAST([TextData] AS VARCHAR(2000)) AS TheSQL
--, [ApplicationName]
, [LoginName]
--, [ClientProcessID]
--, [SPID]
--, [DatabaseName]
, [HostName]
--, [IsSystem]
, COUNT(*) AS Occurances
, SUM([CPU]) AS TotalCPU
, SUM([Reads]) AS TotalReads
, SUM([Writes]) AS TotalWrites
, SUM([Duration]) AS TotalDuration
, MIN([StartTime]) AS FirstOccurance
, MAX([EndTime]) AS LastOccurance

INTO #CPU_SUMMARY

FROM [DBA].[dbo].[CMKTDB13APR - High CPU Processes]

WHERE [TextData] IS NOT NULL

GROUP BY
  CAST([TextData] AS VARCHAR(2000))
--, [ApplicationName]
, [LoginName]
--, [ClientProcessID]
--, [SPID]
--, [DatabaseName]
, [HostName]
--, [IsSystem]

ORDER BY
  CAST([TextData] AS VARCHAR(2000))
--, [ApplicationName]
, [LoginName]
--, [ClientProcessID]
--, [SPID]
--, [DatabaseName]
, [HostName]
--, [IsSystem]

SELECT
  TheSQL
, [LoginName]
, [HostName]
, Occurances
, TotalCPU
, TotalReads
, TotalWrites
, TotalDuration
, FirstOccurance
, LastOccurance

FROM #CPU_SUMMARY

ORDER BY
  TotalCPU DESC
