SELECT DISTINCT
  DatabaseName
, HostName
, ApplicationName
, LoginName
, CAST(TextData AS VARCHAR(1000))

--RowNumber
--,EventClass
--,SPID
--,StartTime
--,Duration
--,IsSystem
--,SessionLoginName
--,BinaryData

FROM Analyze_Unused_DBs.dbo.[Analyze - Unused DBs - CASIDB01PR - 2] -- choose your table

WHERE DatabaseName IS NOT NULL
  AND LoginName NOT IN ('VIEJAS\MomAction','VIEJAS\iderasvc01') -- may find other logins to exclude

ORDER BY 
  DatabaseName
, HostName
, ApplicationName
, LoginName