USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[usp_RefreshDBmail]    Script Date: 8/13/2020 3:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_RefreshDBmail]
AS

BEGIN

	EXEC MASTER.sys.sp_configure 'show advanced', 1 ; 

	RECONFIGURE ;

	EXEC MASTER.sys.sp_configure ;

	IF EXISTS (
		SELECT * FROM sys.configurations 
    WHERE NAME = 'Database Mail XPs') --AND VALUE = 0)
	BEGIN
		PRINT 'Enabling Database Mail XPs'
		EXEC MASTER.sys.sp_configure 'show advanced options', 1 ;  
		RECONFIGURE ;
		EXEC MASTER.sys.sp_configure 'Database Mail XPs', 1 ;  
		RECONFIGURE ; 
	END ;

	----------------------------------------------------------------------------------------------------------------------
-- Check to insure the service broker is enabled and if not, enable it.
----------------------------------------------------------------------------------------------------------------------
	IF (SELECT is_broker_enabled FROM MSDB.sys.databases WHERE name = 'MSDB') <> 1
	BEGIN
		PRINT 'Service Broker is not enabled. Enabling it.' ;
		ALTER DATABASE MSDB SET ENABLE_BROKER WITH ROLLBACK IMMEDIATE ;
	END ;

----------------------------------------------------------------------------------------------------------------------
-- Restart Databse Mail
----------------------------------------------------------------------------------------------------------------------

	EXECUTE MSDB.dbo.sysmail_stop_sp ;

	EXECUTE MSDB.dbo.sysmail_start_sp ;

----------------------------------------------------------------------------------------------------------------------
-- There are two queues in Database Mail: the mail queue and status queue. The mail queue stores mail items that are 
-- waiting to be sent. The status queue stores the status of items that have already been sent. This stored procedure 
-- allows viewing the state of the mail or status queues. If the parameter **@queue_type** is not specified, the stored
-- procedure returns one row for each of the queues.
----------------------------------------------------------------------------------------------------------------------
	EXECUTE MSDB.dbo.sysmail_help_queue_sp ; 
	
	---------------------------------------------------------------------------------------
-- Make the guest login a user in MSDB and give it the DatabaseMailUserRole role
-- in preparation to making it the principal assigned to the mail profiles SQL_Alerts 
-- and SQL_Mail
----------------------------------------------------------------------------------------

	IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'guest')
	CREATE USER [guest] FOR LOGIN [guest] ;

	EXEC MSDB.sys.sp_addrolemember 'DatabaseMailUserRole', 'guest' ;

	EXEC MSDB.sys.sp_helprolemember 'DatabaseMailUserRole' ;

---------------------------------------------------------------------------------------
-- Gather name variables to build DB mail accounts
----------------------------------------------------------------------------------------

	DECLARE @servername SYSNAME ;
	SELECT @servername = CONVERT(SYSNAME, SERVERPROPERTY('MachineName')) ;
	PRINT '@servername = ' + @servername ;

	DECLARE @SQLservername SYSNAME ;
	SET @SQLservername = @servername + 
		CASE
		WHEN @@SERVICENAME <> 'MSSQLSERVER'
		THEN '\' + @@SERVICENAME 
		ELSE ' '
		END ;
	PRINT '@SQLservername = ' + @SQLservername ; 

	DECLARE @hostname SYSNAME ;
	SELECT @hostname = HOST_NAME() ;
	PRINT '@hostname = ' + @hostname ;

	DECLARE @Emailreply SYSNAME ;
	SET @Emailreply = RTRIM(@SQLservername) + '_noreply@viejas.com' ;
	PRINT '@Emailreply = ' + @Emailreply ;

	DECLARE @AddressDisplayNameAlerts VARCHAR(50) ;
	SET @AddressDisplayNameAlerts = 'Database Alert From SQL Server ' + @SQLservername ;
	PRINT '@AddressDisplayNameAlerts = ' + @AddressDisplayNameAlerts ;

	DECLARE @AddressDisplayNameMail VARCHAR(50) ;
	SET @AddressDisplayNameMail = 'Database Mail From SQL Server ' + @SQLservername ;
	PRINT '@AddressDisplayNameMail = ' + @AddressDisplayNameMail ;

---------------------------------------------------------------------------------------
-- Delete and recreate the two DB Mail Accounts
----------------------------------------------------------------------------------------

	EXECUTE MSDB.dbo.sysmail_help_account_sp ; 

	EXECUTE MSDB.dbo.sysmail_delete_account_sp  
    @account_name = 'DBAlerts' ;  

	EXECUTE MSDB.dbo.sysmail_add_account_sp  
    @account_name = 'DBAlerts',  
    @description = 'DB Mail account for alerting e-mail.',  
    @email_address = 'DBAlerts@viejas.com',
	  @replyto_address = @Emailreply,
    @display_name = @AddressDisplayNameAlerts,  
    @mailserver_name = 'viejasrelay.viejas.net' ;  

	EXECUTE MSDB.dbo.sysmail_delete_account_sp  
    @account_name = 'DBMail' ;  


	EXECUTE MSDB.dbo.sysmail_add_account_sp  
    @account_name = 'DBMail',  
    @description = 'DB Mail account #2 for alerting/administrative e-mail.',  
    @email_address = 'DBMail@viejas.com',
	  @replyto_address = @Emailreply,
    @display_name = @AddressDisplayNameMail,  
    @mailserver_name = 'viejasrelay.viejas.net' ;  

	EXECUTE MSDB.dbo.sysmail_help_account_sp ; 

---------------------------------------------------------------------------------------
-- Delete and recreate the two DB Mail Profiles and assign accounts to each profile
----------------------------------------------------------------------------------------

	EXECUTE MSDB.dbo.sysmail_help_profile_sp ;

	EXECUTE MSDB.dbo.sysmail_help_principalprofile_sp ;  

	EXECUTE MSDB.dbo.sysmail_help_profileaccount_sp ; 

-- SQL_Alerts Profile

	EXECUTE MSDB.dbo.sysmail_delete_profile_sp  
    @profile_name = 'SQL_Alerts' ;  

	EXECUTE MSDB.dbo.sysmail_add_profile_sp  
       @profile_name = 'SQL_Alerts',  
       @description = 'Profile used for alerts mail.' ;  

	EXECUTE MSDB.dbo.sysmail_add_profileaccount_sp  
    @profile_name = 'SQL_Alerts',  
    @account_name = 'DBAlerts',  
    @sequence_number = 1 ; 

	EXECUTE MSDB.dbo.sysmail_add_profileaccount_sp  
    @profile_name = 'SQL_Alerts',  
    @account_name = 'DBMail',  
    @sequence_number = 2 ;

	EXECUTE MSDB.dbo.sysmail_add_principalprofile_sp 
    @principal_name = 'guest',  
    @profile_name = 'SQL_Alerts',  
    @is_default = 1 ; 


-- SQL_Mail Profile

	EXECUTE MSDB.dbo.sysmail_delete_profile_sp  
    @profile_name = 'SQL_Mail' ;  

	EXECUTE MSDB.dbo.sysmail_add_profile_sp  
		@profile_name = 'SQL_Mail',  
		@description = 'Profile used for general, non-alert mail.' ;  

	EXECUTE MSDB.dbo.sysmail_add_profileaccount_sp  
    @profile_name = 'SQL_Mail',  
    @account_name = 'DBMail',  
    @sequence_number = 1 ; 

	EXECUTE MSDB.dbo.sysmail_add_profileaccount_sp  
    @profile_name = 'SQL_Mail',  
    @account_name = 'DBAlerts',  
    @sequence_number = 2 ;

	EXECUTE MSDB.dbo.sysmail_add_principalprofile_sp 
    @principal_name = 'guest',  
    @profile_name = 'SQL_Mail',  
		@is_default = 0 ; 

---------------------------------------------------------------------------------------
-- Dump a bunch of meta data to help with diagnosis
----------------------------------------------------------------------------------------

	EXECUTE MSDB.dbo.sysmail_help_profile_sp ;
	EXECUTE MSDB.dbo.sysmail_help_principalprofile_sp ; 
	EXECUTE MSDB.dbo.sysmail_help_profileaccount_sp ; 

	--SELECT * FROM MSDB.dbo.sysmail_account ;
	--SELECT * FROM MSDB.dbo.sysmail_profile ;
	--SELECT * FROM MSDB.dbo.sysmail_profileaccount ;

	--SELECT * FROM MSDB.dbo.sysmail_sentitems ORDER BY sent_date ;

	--SELECT * FROM MSDB.dbo.sysmail_event_log order by log_date desc ;

END
