USE [StayDWH]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_Load_Snapshot_properties]
AS

TRUNCATE TABLE dbo.properties ;

INSERT INTO dbo.properties
SELECT
  [id]
, [check_in_time]
, [checkout_time]
, [create_time]
, [is_deleted]
, [tenant_id]
, [time_zone]
, [update_time]
, [production_property]
, [first_room_stay_at]
, [first_reservation_created_at]
, [first_room_charge_at]
, [recent_room_stay_at]
, [recent_room_charge_at]
, [recent_reservation_created_at]
, [tenant_name]
, [property_name]
, [tenant_code]
, [property_code]
, [language]
, [country]
, [currency_code]
, [long_date_format]
, [short_date_format]
, [time_format]
, [clock_type]
, [locale_code]
, [content_date_format]
, [content_time_format]
, [accounting_style_required]
, CURRENT_TIMESTAMP as [Local_ETL_Updated_TS]

FROM OPENQUERY(STAY_POSTGRESQL,
'SELECT 
  CAST(id as varchar(200)) as id --text
, CAST(check_in_time as time(0)) as check_in_time --time without time zone
, CAST(checkout_time as time(0)) as checkout_time --time without time zone
, create_time --timestamp without time zone
, CAST(is_deleted as int) as is_deleted --boolean
, CAST(tenant_id as varchar(10)) as tenant_id --text
, CAST(time_zone as varchar(200)) as time_zone --text
, update_time --timestamp without time zone
, CAST(production_property as int) as production_property --boolean
, first_room_stay_at --timestamp without time zone
, first_reservation_created_at --timestamp without time zone
, first_room_charge_at --timestamp without time zone
, recent_room_stay_at --timestamp without time zone
, recent_room_charge_at --timestamp without time zone
, recent_reservation_created_at --timestamp without time zone
, CAST(tenant_name as varchar(200)) as tenant_name --text
, CAST(property_name as varchar(200)) as property_name --text
, CAST(tenant_code as varchar(200)) as tenant_code --text
, CAST(property_code as varchar(200)) as property_code --text
, CAST(language as varchar(200)) as language --text
, CAST(country as varchar(200)) as country --text
, CAST(currency_code as varchar(200)) as currency_code --text
, CAST(long_date_format as varchar(200)) as long_date_format --text
, CAST(short_date_format as varchar(200)) as short_date_format --text
, CAST(time_format as varchar(200)) as time_format --text
, CAST(clock_type as varchar(200)) as clock_type --text
, CAST(locale_code as int) as locale_code --boolean
, CAST(content_date_format as varchar(200)) as content_date_format --text
, CAST(content_time_format as varchar(200)) as content_time_format --text
, CAST(accounting_style_required as int) as accounting_style_required --boolean

FROM public.properties
'
) ;

----------------------------------------------------------------------------------------
-- Merge delta data into perm table
----------------------------------------------------------------------------------------

--MERGE dbo.properties AS [target]
--USING dbo.properties_Delta AS delta
--ON [target].[id] = delta.[id]
--WHEN MATCHED 
--AND (   [target].[check_in_time] <> delta.[check_in_time]
--     OR [target].[checkout_time] <> delta.[checkout_time]
--     OR [target].[create_time] <> delta.[create_time]
--     OR [target].[is_deleted] <> delta.[is_deleted]
--     OR [target].[tenant_id] <> delta.[tenant_id]
--     OR [target].[time_zone] <> delta.[time_zone]
--     OR [target].[update_time] <> delta.[update_time]
--     OR [target].[production_property] <> delta.[production_property]
--     OR [target].[first_room_stay_at] <> delta.[first_room_stay_at]
--     OR [target].[first_reservation_created_at] <> delta.[first_reservation_created_at]
--     OR [target].[first_room_charge_at] <> delta.[first_room_charge_at]
--     OR [target].[recent_room_stay_at] <> delta.[recent_room_stay_at]
--     OR [target].[recent_room_charge_at] <> delta.[recent_room_stay_at]
--     OR [target].[recent_reservation_created_at] <> delta.[recent_reservation_created_at]
--     OR [target].[tenant_name] <> delta.[tenant_name]
--     OR [target].[property_name] <> delta.[property_name]
--     OR [target].[tenant_code] <> delta.[tenant_code]
--     OR [target].[property_code]<> delta.[property_code]
--     OR [target].[language] <> delta.[language]
--     OR [target].[country] <> delta.[country]
--     OR [target].[currency_code] <> delta.[currency_code]
--     OR [target].[long_date_format] <> delta.[long_date_format]
--     OR [target].[short_date_format] <> delta.[short_date_format]
--     OR [target].[time_format] <> delta.[time_format]
--     OR [target].[clock_type] <> delta.[clock_type]
--     OR [target].[locale_code] <> delta.[locale_code]
--     OR [target].[content_date_format] <> delta.[content_date_format]
--     OR [target].[content_time_format] <> delta.[content_time_format]
--     OR [target].[accounting_style_required] <> delta.[accounting_style_required]
--	)
--THEN UPDATE SET
--  [target].[id] = delta.[id]
--, [target].[check_in_time] = delta.[check_in_time]
--, [target].[checkout_time] = delta.[checkout_time]
--, [target].[create_time] = delta.[create_time]
--, [target].[is_deleted] = delta.[is_deleted]
--, [target].[tenant_id] = delta.[tenant_id]
--, [target].[time_zone] = delta.[time_zone]
--, [target].[update_time] = delta.[update_time]
--, [target].[production_property] = delta.[production_property]
--, [target].[first_room_stay_at] = delta.[first_room_stay_at]
--, [target].[first_reservation_created_at] = delta.[first_reservation_created_at]
--, [target].[first_room_charge_at] = delta.[first_room_charge_at]
--, [target].[recent_room_stay_at] = delta.[recent_room_stay_at]
--, [target].[recent_room_charge_at] = delta.[recent_room_stay_at]
--, [target].[recent_reservation_created_at] = delta.[recent_reservation_created_at]
--, [target].[tenant_name] = delta.[tenant_name]
--, [target].[property_name] = delta.[property_name]
--, [target].[tenant_code] = delta.[tenant_code]
--, [target].[property_code]= delta.[property_code]
--, [target].[language] = delta.[language]
--, [target].[country] = delta.[country]
--, [target].[currency_code] = delta.[currency_code]
--, [target].[long_date_format] = delta.[long_date_format]
--, [target].[short_date_format] = delta.[short_date_format]
--, [target].[time_format] = delta.[time_format]
--, [target].[clock_type] = delta.[clock_type]
--, [target].[locale_code] = delta.[locale_code]
--, [target].[content_date_format] = delta.[content_date_format]
--, [target].[content_time_format] = delta.[content_time_format]
--, [target].[accounting_style_required] = delta.[accounting_style_required]
--, [target].Local_ETL_Updated_TS = CURRENT_TIMESTAMP

--WHEN NOT MATCHED THEN INSERT 
--( 
--  [id]
--, [check_in_time]
--, [checkout_time]
--, [create_time]
--, [is_deleted]
--, [tenant_id]
--, [time_zone]
--, [update_time]
--, [production_property]
--, [first_room_stay_at]
--, [first_reservation_created_at]
--, [first_room_charge_at]
--, [recent_room_stay_at]
--, [recent_room_charge_at]
--, [recent_reservation_created_at]
--, [tenant_name]
--, [property_name]
--, [tenant_code]
--, [property_code]
--, [language]
--, [country]
--, [currency_code]
--, [long_date_format]
--, [short_date_format]
--, [time_format]
--, [clock_type]
--, [locale_code]
--, [content_date_format]
--, [content_time_format]
--, [accounting_style_required]
--, Local_ETL_Inserted_TS
--) 
--VALUES 
--( 
--  delta.[id]
--, delta.[check_in_time]
--, delta.[checkout_time]
--, delta.[create_time]
--, delta.[is_deleted]
--, delta.[tenant_id]
--, delta.[time_zone]
--, delta.[update_time]
--, delta.[production_property]
--, delta.[first_room_stay_at]
--, delta.[first_reservation_created_at]
--, delta.[first_room_charge_at]
--, delta.[recent_room_stay_at]
--, delta.[recent_room_charge_at]
--, delta.[recent_reservation_created_at]
--, delta.[tenant_name]
--, delta.[property_name]
--, delta.[tenant_code]
--, delta.[property_code]
--, delta.[language]
--, delta.[country]
--, delta.[currency_code]
--, delta.[long_date_format]
--, delta.[short_date_format]
--, delta.[time_format]
--, delta.[clock_type]
--, delta.[locale_code]
--, delta.[content_date_format]
--, delta.[content_time_format]
--, delta.[accounting_style_required]
--, CURRENT_TIMESTAMP
--);
