USE [vBus]
GO

BEGIN

	SET NOCOUNT ON;
	DECLARE @err_string NVARCHAR ( 500 )

		DECLARE
			@StartDate datetime,
			@EndDate datetime

			SELECT @StartDate = DATEADD(s,1,MAX(ARRIVAL_TS)), @EndDate = DATEADD(day,-1,GETDATE()) FROM JUNKET_COMMISSIONS_ARCHIVE
 
			--INSERT INTO JUNKET_COMMISSIONS_ARCHIVE
				SELECT 
				g.TIER_ID
				, c.TIER_ID
				, tr.TIER_NM 
				, e.GROUP_CD
				, g.GROUP_NM
				, e.EVENT_ID
				, e.ARRIVAL_TS
				, e.DEPARTURE_TS
				, m.PLAYER_ID	
				, p.ACCT_NUM
				, p.LAST_NM
				, p.FIRST_NM
				--, NULL AS THEORETICAL_WIN_TOTAL
				--, NULL AS CASINO_WIN_TOTAL
				--, NULL AS COMMISSION_ID
				--, NULL AS LOW_THEORETICAL_AMT
				--, NULL AS HIGH_THEORETICAL_AMT
				--, NULL AS COMMISSION_TOTAL
			FROM MANIFESTS m WITH(NOLOCK)	
				INNER JOIN EVENTS e WITH(NOLOCK) ON e.EVENT_ID = m.EVENT_ID
				INNER JOIN GROUPS g WITH(NOLOCK) ON g.GROUP_CD = e.GROUP_CD
				INNER JOIN TIER_REF tr WITH(NOLOCK) ON tr.TIER_ID = g.TIER_ID
				LEFT OUTER JOIN COMMISSION c WITH(NOLOCK) ON c.TIER_ID = g.TIER_ID
				LEFT OUTER JOIN v_PLAYERS p WITH(NOLOCK) ON p.PLAYER_ID = m.PLAYER_ID		
				LEFT OUTER JOIN CMP_PLAYERS Cp WITH(NOLOCK) ON p.PLAYER_ID = m.PLAYER_ID
			WHERE e.ARRIVAL_TS BETWEEN @StartDate AND @EndDate 
			--AND e.EVENT_ID NOT IN(SELECT EVENT_ID FROM JUNKET_COMMISSIONS_ARCHIVE WHERE ARRIVAL_TS BETWEEN  @StartDate AND @EndDate)
			GROUP BY 
				  g.TIER_ID
				, c.TIER_ID
				, tr.TIER_NM
				 , e.GROUP_CD
				, g.GROUP_NM
				, e.EVENT_ID	
				, e.ARRIVAL_TS
				, e.DEPARTURE_TS
				, p.ACCT_NUM
				, p.LAST_NM
				, p.FIRST_NM	
				, m.PLAYER_ID
END


				--UPDATE ja SET DEPARTURE_TS = e.DEPARTURE_TS
				--FROM JUNKET_COMMISSIONS_ARCHIVE ja INNER JOIN EVENTS e on e.EVENT_ID = ja.EVENT_ID and ja.DEPARTURE_TS is null 

				---- Update the player's ratings using a cursor to loop through the JUNKET_COMMISSIONS_ARCHIVE table 
				--DECLARE commission_cursor CURSOR
				--FOR
				--	SELECT PLAYER_ID, EVENT_ID, ARRIVAL_TS, DEPARTURE_TS FROM JUNKET_COMMISSIONS_ARCHIVE WITH(NOLOCK) WHERE THEORETICAL_WIN_TOTAL IS NULL 
				--OPEN commission_cursor;
				--DECLARE @PLAYER_ID int;
				--DECLARE @EVENT_ID int;
				--DECLARE @ARRIVAL_TS datetime;
				--DECLARE @DEPARTURE_TS datetime
				--FETCH NEXT FROM commission_cursor INTO @PLAYER_ID, @EVENT_ID, @ARRIVAL_TS, @DEPARTURE_TS;
				--WHILE (@@FETCH_STATUS = 0)
				--BEGIN
				--	-- Get the ratings for that player during the specified date range 
				--	DECLARE @THEORETICAL_WIN_TOTAL money 
				--	EXECUTE p_player_rating_get @PLAYER_ID, @ARRIVAL_TS, @DEPARTURE_TS, @THEORETICAL_WIN_TOTAL OUT
	
				--	-- Update the JUNKET_COMMISSIONS_ARCHIVE table with the player's THEORETICAL_WIN_AMT
				--	UPDATE JUNKET_COMMISSIONS_ARCHIVE WITH(ROWLOCK) SET THEORETICAL_WIN_TOTAL = @THEORETICAL_WIN_TOTAL WHERE PLAYER_ID = @PLAYER_ID AND EVENT_ID = @EVENT_ID

				--	FETCH NEXT FROM commission_cursor INTO @PLAYER_ID, @EVENT_ID, @ARRIVAL_TS, @DEPARTURE_TS;
				--END;
				--CLOSE commission_cursor;
				--DEALLOCATE commission_cursor;

				------ Do an update of the temp table with the commissions instead of inner join, because 
				------ an inner join would eliminate the charter companies since they are not in a tier
				--UPDATE JUNKET_COMMISSIONS_ARCHIVE WITH(ROWLOCK)
				--	SET COMMISSION_ID = c.COMMISSION_ID,
				--		COMMISSION_TOTAL = c.COMMISSION_AMT,
				--		LOW_THEORETICAL_AMT = c.LOW_THEORETICAL_AMT,
				--		HIGH_THEORETICAL_AMT = c.HIGH_THEORETICAL_AMT
				--	FROM dbo.COMMISSION c WITH(NOLOCK)
				--	WHERE JUNKET_COMMISSIONS_ARCHIVE.TIER_ID = c.TIER_ID
				--		AND JUNKET_COMMISSIONS_ARCHIVE.THEORETICAL_WIN_TOTAL > c.LOW_THEORETICAL_AMT
				--		-- If HIGH_THEORETICAL_AMT is null, use max value for money data type
				--		AND JUNKET_COMMISSIONS_ARCHIVE.THEORETICAL_WIN_TOTAL <= ISNULL(c.HIGH_THEORETICAL_AMT, '922,337,203,685,477.5807')		

	