USE [StayDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_companies_Snapshot]    Script Date: 8/28/2025 1:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE OR ALTER PROCEDURE [dbo].[usp_Load_companies_Delta]
--AS

DECLARE @RUN_TS as datetime ; 
SET @RUN_TS = CURRENT_TIMESTAMP ;

----------TRUNCATE TABLE [StayDWH].[dbo].[companies_snapshot] ;

----------INSERT INTO [StayDWH].[dbo].[companies_snapshot]
----------SELECT 
----------  [id]
----------, [tenant_id]
----------, [create_time]
----------, [update_time]
----------, [archived]
----------, [external_profile_id]
----------, [website]
----------, [code]
----------, [name]
----------, [pronounced]
----------, [merge_remnant]

----------, @RUN_TS as [Local_ETL_Inserted_TS]
----------, @RUN_TS as [Local_ETL_Updated_TS]

----------, BINARY_CHECKSUM( [tenant_id]
----------                  ,[create_time]
----------                  ,[update_time]
----------                  ,[archived]
----------                  ,[external_profile_id]
----------                  ,[website]
----------                  ,[code]
----------                  ,[name]
----------                  ,[pronounced]
----------                  ,[merge_remnant]) as [Local_ETL_RowHash]

----------FROM OPENQUERY(Stay_PostgreSQL,
----------'SELECT 
----------  CAST(id as varchar(200)) as id --text
----------, CAST(tenant_id as varchar(200)) as tenant_id --text
----------, create_time --timestamp without time zone
----------, update_time --timestamp without time zone
----------, CAST(archived as int) as archived --boolean
----------, CAST(external_profile_id as varchar(200)) as external_profile_id --text
----------, CAST(website as varchar(200)) as website --text
----------, CAST(code as varchar(200)) as code --text
----------, CAST(name as varchar(200)) as name --text
----------, CAST(pronounced as varchar(200)) as pronounced --text
----------, CAST(merge_remnant as int) as merge_remnant --boolean

----------FROM public.companies
----------'
----------)

----------ORDER BY
----------  [id]
----------, [tenant_id]
----------, [update_time] ;

--------------------------------------------------------------------------------------------------
-- Get insert and update stats
-- Also identify any rows that have been deleted from the source
--------------------------------------------------------------------------------------------------
DECLARE @inserts int ;
DECLARE @updates int ;
DECLARE @deletes int ;

SET @inserts = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies_snapshot] new
  LEFT OUTER JOIN [dbo].[companies] old
  ON new.[id] = old.[id]
  WHERE old.[id] IS NULL) ;

SET @updates = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies] old
  INNER JOIN [dbo].[companies_snapshot] new
  ON old.[id] = new.[id]
  WHERE old.[Local_ETL_RowHash] <> new.[Local_ETL_RowHash]) ;

  SET @deletes = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies] old
  LEFT OUTER JOIN [dbo].[companies_snapshot] new
  ON old.[id] = new.[id]
   WHERE new.[id] IS NULL) ;

INSERT INTO [dbo].[STAY_ETL_LoadStats]
([Table], [ETL_RUN_TS], [Inserts], [Updates], [Deleted_From_Source])
VALUES ('companies', @RUN_TS, @inserts, @updates, @deletes);

--------------------------------------------------------------------------------------------------
-- Get insert and update stats
-- Also identify any rows that have been deleted from the source
--------------------------------------------------------------------------------------------------

SET @inserts = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies_snapshot] new
  LEFT OUTER JOIN [dbo].[companies] old
  ON new.[id] = old.[id]
  WHERE old.[id] IS NULL) ;

SET @updates = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies] old
  INNER JOIN [dbo].[companies_snapshot] new
  ON old.[id] = new.[id]
  WHERE old.[Local_ETL_RowHash] <> new.[Local_ETL_RowHash]) ;

  SET @deletes = (
  SELECT COUNT(*) 
  FROM [StayDWH].[dbo].[companies] old
  LEFT OUTER JOIN [dbo].[companies_snapshot] new
  ON old.[id] = new.[id]
   WHERE new.[id] IS NULL) ;


--------------------------------------------------------------------------------------------------
-- Because the incoming data may contain both NEW and UPDATED data, a MERGE command must be used. 
-- Because our input DELTA table has all rows for the last 24 hours, some data coming in will not
-- be new or changed. But, to avoid having to match on all columns, the Local_ETL_RowHash column
-- compared between the exist row and the incoming row. If anything has changed in the row, the
-- hash will not match. 
--------------------------------------------------------------------------------------------------

MERGE INTO StayDWH.dbo.companies AS target
USING (SELECT * FROM StayDWH.dbo.companies_snapshot) AS source
ON target.[Id] = source.[Id]

----------------------
-- 1) Capture new rows
----------------------

WHEN NOT MATCHED THEN INSERT
(
  [id]
, [tenant_id]
, [create_time]
, [update_time]
, [archived]
, [external_profile_id]
, [website]
, [code]
, [name]
, [pronounced]
, [merge_remnant]
, [Local_ETL_Inserted_TS]
, [Local_ETL_Updated_TS]
, [Local_ETL_RowHash]
)
VALUES 
(
  source.[id]
, source.[tenant_id]
, source.[create_time]
, source.[update_time]
, source.[archived]
, source.[external_profile_id]
, source.[website]
, source.[code]
, source.[name]
, source.[pronounced]
, source.[merge_remnant]
, CURRENT_TIMESTAMP -- [Local_ETL_Inserted_TS]
, CURRENT_TIMESTAMP -- [Local_ETL_Updated_TS]
, source.[Local_ETL_RowHash]
)

---------------------------------------------------------------------------------------------------------
-- 2) Update changed rows by comparing hash column as well as key (id)
---------------------------------------------------------------------------------------------------------

WHEN MATCHED 
THEN UPDATE
SET 
  target.[id] = source.[id]
, target.[tenant_id] = source.[tenant_id]
, target.[create_time] = source.[create_time]
, target.[update_time] = source.[update_time]
, target.[archived] = source.[archived]
, target.[external_profile_id] = source.[external_profile_id]
, target.[website] = source.[website]
, target.[code] = source.[code]
, target.[name] = source.[name]
, target.[pronounced] = source.[pronounced]
, target.[merge_remnant] = source.[merge_remnant]
, target.[Local_ETL_Inserted_TS] = source.[Local_ETL_Inserted_TS]
, target.[Local_ETL_Updated_TS] = CURRENT_TIMESTAMP 
, target.[Local_ETL_RowHash] = source.[Local_ETL_RowHash]

---------------------------------------------------------------------------------------------------------
-- 3) When a row that exists in the current table (in our STAYDWH) is not found in the export Agilysys 
--    DWH then we set the [Local_ETL_Deleted_From_Source] timestamp so that the condition can be handled
--    later.
---------------------------------------------------------------------------------------------------------
WHEN NOT MATCHED BY SOURCE 
THEN UPDATE
SET 
target.[Local_ETL_Deleted_From_Source] = @RUN_TS

;

GO



