USE [iQ-Gaming]
GO

DROP PROCEDURE IF EXISTS Steve.[sp_IQ_Marketing_Metrics_Update_TEST] 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE Steve.[sp_IQ_Marketing_Metrics_Update_TEST] 
		
AS
BEGIN

-- =============================================
-- Author:		Steve Wagar
-- Modification:  Jiawen Liu 7/2/2018 Update @SourceTripsTable
-- Modification:  Scott Clark 2021-12-20 Update @SourceTripsTable to view and andded BingoTheo
-- Modification:  Jiawen Liu 2022-01-25 1) Modified the baseLineDate calculation to dateadd(day, -1, getdate())
--										2) Added BingoWin, dailyWorth to ##DailyTotalsExtract_TEST	
-- Modification:  Jiawen Liu 2022-02-22 1) Modified the baseLineDate calculation to end of last month
-- =============================================


	set nocount on

-- Drop tamp tables if they exist
	drop table if exists #JobParms_TEST
	drop table if exists ##DailyTotalsExtract_TEST
	drop table if exists ##DailyTripsExtract_TEST

	drop table if exists ##LGD_Extract_TEST

	IF OBJECT_ID('tempdb..#RawMarketingMetrics_TEST') IS NOT NULL    
		drop table #RawMarketingMetrics_TEST
	IF OBJECT_ID('tempdb..##SummedMarketingMetrics_TEST') IS NOT NULL    
		drop table ##SummedMarketingMetrics_TEST
	IF OBJECT_ID('tempdb..#Last3TripsbyProperty_TEST') IS NOT NULL    
		drop table #Last3TripsbyProperty_TEST
	IF OBJECT_ID('tempdb..##RankedTrips_TEST') IS NOT NULL  
		drop table ##RankedTrips_TEST
	IF OBJECT_ID('tempdb..##LastTrips_TEST') IS NOT NULL 
		drop table ##LastTrips_TEST
	IF OBJECT_ID('tempdb..#GuestType_TEST') IS NOT NULL
		drop table #GuestType_TEST

-- Create extract tables

	create table ##DailyTotalsExtract_TEST
	       ( [Date]						[date]
		    ,[DateID]					[int]
		    ,[PlayerID]					[bigint]
			,[CasinoCode]				[varchar](4)
			,[GamingDays]				[int]
			,[SlotDays]					[int]
		    ,[TableDays]				[int]
			,[TripNumber]				[int]
			,[TheoreticalWin]			money
			,[WinLossAmount]			money
			,[ChipsCoinInAmount]		money
			,[ChipsCoinOutAmount]		money
			,[CompsEarned]				money
			,[CompsUsed]				money
			,[PointsEarned]				money
			,[PointPlayUsed]			money
			,[SlotWin]					money
			,[SlotTheo]					money
			,[TableWin]					money
			,[TableTheo]				money
			,[BingoTheo]				money
			,[BingoWin]					money
			,[dailyWorth]				money
		   )	
		   
	create table ##DailyTripsExtract_TEST
	       ( [PlayerID]					[bigint]
			,[CasinoCode]				[varchar](4)
			,[TripNumber]				[int]
			,[LastTripDate]				[date]
		   )		

    create table ##LGD_Extract_TEST
	       ( [PlayerID]					[bigint]
			,[CasinoCode]				[varchar](4)
			
			,[LastTripDate]				[date]
		   )	
		   	
-- Get any Parameters for the process
	select *
	  into #JobParms_TEST
	  from [dbo].[v_IQ_Job_Parameters]
	 --where SP_Name = OBJECT_NAME(@@PROCID)
	 where SP_Name = 'sp_IQ_Marketing_Metrics_Update_TEST'

	declare @var_SQLExec nvarchar(max)
	declare @SourceTotalsTable nvarchar(100)
	declare @SourceTotalsField nvarchar(50)
	declare @SourceTripsTable nvarchar(100)

-- Declare Parm variables
    declare @CustomTimePeriod char(1)
	declare @CustomTimePeriodBeginDate date
	declare @NumberOfHistoricalMonths int
	declare @UseAccountingDayData nchar(1)
	declare @PreferenceTrips int;
	declare @CustomMMGroupingProcedure varchar(70)
	declare @SourceDatabase nvarchar(30)

-- Declare Date variables
	declare @baseLineDate date
	declare @beginningDate date
	declare @endPeriodDatetime date


-- Set job parm variables
	set @PreferenceTrips = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='PreferenceTrips')
	set @CustomMMGroupingProcedure = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='CustomMMGroupingProcedure')
	set @UseAccountingDayData = (SELECT isnull(Parm_Value,'N') FROM #JobParms_TEST WHERE Parm_Name='UseAccountingDayData')
	set @CustomTimePeriod = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='CustomTimePeriod')
	set @CustomTimePeriodBeginDate = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='CustomTimePeriodBeginDate')
	set @NumberOfHistoricalMonths = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='NumberOfHistoricalMonths')
	set @SourceDatabase = (SELECT Parm_Value FROM #JobParms_TEST WHERE Parm_Name='SourceDatabase')


-- Set Date variables
	if @CustomTimePeriod = 'Y'
	begin
		if @CustomTimePeriodBeginDate is null
			--set @baseLineDate = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE()) - 1, -1)
			set @baseLineDate = DATEADD(day, -1, cast(GETDATE() as date))
			
		else
		    set @baseLineDate = @CustomTimePeriodBeginDate
		set @beginningDate = DATEADD(day, 1, DATEADD(month,@NumberOfHistoricalMonths * (-1),@baselineDate)) 
	end
	else
	begin
		--set @baseLineDate = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1);
		set @baseLineDate = DATEADD(day, -1, cast(GETDATE() as date));
		set @beginningDate = DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - @NumberOfHistoricalMonths, 0);
	end
	set @endPeriodDatetime = DATEADD(MONTH, DATEDIFF(MONTH, -1, GETDATE())-1, -1);
-- The process defaults to using the Gaming Day totals, but a client can specify to use Accounting Day totals in the Job Parms 
    if @UseAccountingDayData = 'Y'
	begin
		set @SourceTotalsTable = 'Steve.[v_IQC_Player_Daily_Totals_AcctDay_TEST]'
		set @SourceTotalsField = 'AccountingDateID'
		set @SourceTripsTable = 'Steve.[IQC_Player_Trips_AcctDay_TEST]'
	end
	else
	begin
	    set @SourceTotalsTable = 'Steve.[v_IQC_Player_Daily_Totals_GameDay_TEST]'
		set @SourceTotalsField = 'GamingDateID'
		set @SourceTripsTable = 'Steve.[IQC_Player_Trips_GameDay_TEST]'
	end

	print 'Table Parm Data'
	Print ''
	print 'Preference Trips:                  ' + cast(@PreferenceTrips as varchar(5))
	print 'Custom MM Grouping Procedure:      ' + @CustomMMGroupingProcedure
	print 'Use Accounting Day Data:           ' + @UseAccountingDayData
	print 'Custom Time Period:                ' + @CustomTimePeriod
	print 'Custom Time Period Begin Date:     ' + IsNull(cast(@CustomTimePeriodBeginDate as varchar(10)),'N/A')
	print 'Number Of Historical Months:       ' + cast(@NumberOfHistoricalMonths as varchar(5))
	Print ''
	print 'Calculated Parm Data'
	Print ''
	print 'Base Line Date:                    ' + cast(@baseLineDate as varchar(10))
	print 'Beginning Date:                    ' + cast(@beginningDate as varchar(10))
	print 'Source Totals Table:               ' + @SourceTotalsTable
	print 'Source Totals Field:               ' + @SourceTotalsField
	print 'Source Trips Table:                ' + @SourceTripsTable
	print 'Source Database:					  ' + @SourceDatabase 
	print 'LGD Date							' + cast(@endPeriodDatetime as varchar(10))


	set @var_SQLExec = N'
	    select cast(CalendarDate as date) as [Date],
		       [DateID],
			   a.[playerID],
			   [casinoCode],
			   [gamingDays],
			   [slotDays],
			   [tableDays],
			   [tripNumber],
			   [theoreticalWin],
			   [winLossAmount],
			   [chipsCoinInAmount],
			   [chipsCoinOutAmount],
			   [compsEarned],
			   [compsUsed],
			   isnull(isnull(c.BasePts,0) + isnull(c.BonusPts,0),[pointsEarned]) as pointsEarned,
			   [pointPlayUsed],
			   [slotWin],
			   [slotTheo],
			   [tableWin],
			   [tableTheo],
			   [BingoBuyin]*0.40 as [BingoTheo],
			   [BingoBuyin] as BingoWin,
			   (select max(daily_worth)
				from (values (isnull(SlotTheo,0)+isnull(TableTheo,0)+isnull( [BingoBuyin]*0.40,0)),
							 ((isnull(SlotWin,0)+isnull(TableWin,0)+isnull([BingoBuyin],0))*0.4)) as daily_worth(daily_worth)) as dailyWorth

	      from ' + @SourceTotalsTable + ' a
		 inner join [iQ-Gaming].[dbo].[IQ_Calendar] b
		    on a.' + @SourceTotalsField + ' = b.DateID 
		 left join  [iQ-Gaming].[dbo].[IQC_Player_Points] c
		   on c.GamingDate = b.CalendarDate and a.Playerid = c.Playerid
		   and b.CalendarDate between ''' + cast(@beginningDate as nvarchar(10)) + ''' and ''' + cast(@baseLineDate as nvarchar(10)) + ''' '

	PRINT @Var_SQLExec
	insert into ##DailyTotalsExtract_TEST EXEC (@Var_SQLExec)

	set @var_SQLExec = N'
		select PlayerID, 
		       CasinoCode, 
			   TripNumber, 
			   cast(max(TripBeginDate) as date) as LastTripDate
		  from ' + @SourceTripsTable + 
	   '  group by PlayerID, CasinoCode, TripNumber
	    '

	--PRINT @Var_SQLExec
	insert into ##DailyTripsExtract_TEST EXEC (@Var_SQLExec)


-- Create an index to improve processing
	CREATE CLUSTERED INDEX IDX_Date_Casino ON ##DailyTotalsExtract_TEST([Date],CasinoCode)
	CREATE CLUSTERED INDEX IDX_Player_Casino ON ##DailyTripsExtract_TEST(PlayerID,CasinoCode)

	set @var_SQLExec = N'
		select PlayerID, 
		       CasinoCode, 
			   
			   cast(max(TripBeginDate) as date) as LastTripDate
		  from ' + @SourceTripsTable + 
	   ' where cast(TripBeginDate as date) between ''' + cast(@beginningDate as nvarchar(10)) + ''' and ''' + cast(@endPeriodDatetime as nvarchar(10)) + '''
	   group by PlayerID, CasinoCode
	    '

	--PRINT @Var_SQLExec
	insert into ##LGD_Extract_TEST EXEC (@Var_SQLExec)

-- Create the Raw Marketing Metrics data
	select playerID,
		   casinoCode,		  

		   1 as daysOnProperty_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then 1 else 0 end as daysOnProperty_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then 1 else 0 end as daysOnProperty_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then 1 else 0 end as daysOnProperty_lastMonth,

		   gamingDays as gamingDays_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then gamingDays else 0 end as gamingDays_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then gamingDays else 0 end as gamingDays_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then gamingDays else 0 end as gamingDays_lastMonth,

		   slotDays as slotDays_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then slotDays else 0 end as slotDays_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then slotDays else 0 end as slotDays_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then slotDays else 0 end as slotDays_lastMonth,

		   tableDays as tableDays_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then tableDays else 0 end as tableDays_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then tableDays else 0 end as tableDays_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then tableDays else 0 end as tableDays_lastMonth,

		   tripNumber as TripNumber_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then tripNumber else null end as tripNumber_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then tripNumber else null end as tripNumber_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then tripNumber else null end as tripNumber_LastMonth,

		   theoreticalWin as theo_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then theoreticalWin else 0 end as totalTheo_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then theoreticalWin else 0 end as totalTheo_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then theoreticalWin else 0 end as totalTheo_LastMonth,

		   winLossAmount as actualWinLoss_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then winLossAmount else 0 end as actualWinLoss_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then winLossAmount else 0 end as actualWinLoss_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then winLossAmount else 0 end as actualWinLoss_LastMonth,

		   slotTheo as slotTheo_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then slotTheo else 0 end as slotTheo_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then slotTheo else 0 end as slotTheo_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then slotTheo else 0 end as slotTheo_LastMonth,

		   tableTheo as tableTheo_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then tableTheo else 0 end as tableTheo_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then tableTheo else 0 end as tableTheo_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then tableTheo else 0 end as tableTheo_LastMonth,

		   slotWin as slotActualWinLoss_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then slotWin else 0 end as slotActualWinLoss_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then slotWin else 0 end as slotActualWinLoss_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then slotWin else 0 end as slotActualWinLoss_LastMonth,

		   tableWin as tableActualWinLoss_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then tableWin else 0 end as tableActualWinLoss_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then tableWin else 0 end as tableActualWinLoss_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then tableWin else 0 end as tableActualWinLoss_LastMonth,

		   compsEarned as compsEarned_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then compsEarned else 0 end as compsEarned_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then compsEarned else 0 end as compsEarned_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then compsEarned else 0 end as compsEarned_LastMonth,

		   compsUsed as compsUsed_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then compsUsed else 0 end as compsUsed_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then compsUsed else 0 end as compsUsed_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then compsUsed else 0 end as compsUsed_LastMonth,

		   pointsEarned as pointsEarned_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then pointsEarned else 0 end as pointsEarned_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then pointsEarned else 0 end as pointsEarned_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then pointsEarned else 0 end as pointsEarned_LastMonth,

		   pointPlayUsed as pointPlayUsed_LTD,
		   case when [Date] between DATEADD(year, DATEDIFF(year, 0 ,@baselineDate),0) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_YTD,
		   case when [Date] between DATEADD(quarter, DATEDIFF(quarter, 0 ,@baselineDate),0) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_QTD,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-24,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last24Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-18,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last18Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-12,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last12Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-9,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last9Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-6,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last6Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-3,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_Last3Months,
		   case when [Date] between DATEADD(day, 1, EOMONTH(DATEADD(month,-1,@baselineDate))) and @baselineDate then pointPlayUsed else 0 end as pointPlayUsed_LastMonth
	  
	  into #RawMarketingMetrics_TEST	
	  from ##DailyTotalsExtract_TEST
	 where playerID <> 0
		
-- Create an index to improve processing
	CREATE CLUSTERED INDEX IDX_Player_Casino ON #RawMarketingMetrics_TEST(PlayerID,CasinoCode)


-- Summarize by PlayerID, CasinoCode.  **This step is for Non CORP records only

	select PlayerID,
		   CasinoCode,
		   sum(daysOnProperty_LTD) as daysOnProperty_LTD,
		   sum(daysOnProperty_YTD) as daysOnProperty_YTD,
		   sum(daysOnProperty_QTD) as daysOnProperty_QTD,
		   sum(daysOnProperty_last24Months) as daysOnProperty_last24Months,
		   sum(daysOnProperty_last18Months) as daysOnProperty_last18Months,
		   sum(daysOnProperty_last12Months) as daysOnProperty_last12Months,
		   sum(daysOnProperty_last9Months) as daysOnProperty_last9Months,
		   sum(daysOnProperty_last6Months) as daysOnProperty_last6Months,
		   sum(daysOnProperty_last3Months) as daysOnProperty_last3Months,
		   sum(daysOnProperty_lastMonth) as daysOnProperty_lastMonth,

		   sum(gamingDays_LTD) as gamingDays_LTD,
		   sum(gamingDays_YTD) as gamingDays_YTD,
		   sum(gamingDays_QTD) as gamingDays_QTD,
		   sum(gamingDays_last24Months) as gamingDays_last24Months,
		   sum(gamingDays_last18Months) as gamingDays_last18Months,
		   sum(gamingDays_last12Months) as gamingDays_last12Months,
		   sum(gamingDays_last9Months) as gamingDays_last9Months,
		   sum(gamingDays_last6Months) as gamingDays_last6Months,
		   sum(gamingDays_last3Months) as gamingDays_last3Months,
		   sum(gamingDays_lastMonth) as gamingDays_lastMonth,

		   sum(slotDays_LTD) as slotDays_LTD,
		   sum(slotDays_YTD) as slotDays_YTD,
		   sum(slotDays_QTD) as slotDays_QTD,
		   sum(slotDays_last24Months) as slotDays_last24Months,
		   sum(slotDays_last18Months) as slotDays_last18Months,
		   sum(slotDays_last12Months) as slotDays_last12Months,
		   sum(slotDays_last9Months) as slotDays_last9Months,
		   sum(slotDays_last6Months) as slotDays_last6Months,
		   sum(slotDays_last3Months) as slotDays_last3Months,
		   sum(slotDays_lastMonth) as slotDays_lastMonth,

		   sum(tableDays_LTD) as tableDays_LTD,
		   sum(tableDays_YTD) as tableDays_YTD,
		   sum(tableDays_QTD) as tableDays_QTD,
		   sum(tableDays_last24Months) as tableDays_last24Months,
		   sum(tableDays_last18Months) as tableDays_last18Months,
		   sum(tableDays_last12Months) as tableDays_last12Months,
		   sum(tableDays_last9Months) as tableDays_last9Months,
		   sum(tableDays_last6Months) as tableDays_last6Months,
		   sum(tableDays_last3Months) as tableDays_last3Months,
		   sum(tableDays_lastMonth) as tableDays_lastMonth,

		   count(distinct TripNumber_LTD) as trips_LTD,
		   count(distinct TripNumber_YTD) as trips_YTD,
		   count(distinct TripNumber_QTD) as trips_QTD,
		   count(distinct TripNumber_Last24Months) as trips_last24Months,
		   count(distinct TripNumber_Last18Months) as trips_last18Months,
		   count(distinct TripNumber_Last12Months) as trips_last12Months,
		   count(distinct TripNumber_Last9Months) as trips_last9Months,
		   count(distinct TripNumber_Last6Months) as trips_last6Months,
		   count(distinct TripNumber_Last3Months) as trips_last3Months,
		   count(distinct TripNumber_LastMonth) as trips_lastMonth,

		   sum(theo_LTD) as theo_LTD,
		   sum(totalTheo_YTD) as totalTheo_YTD,
		   sum(totalTheo_QTD) as totalTheo_QTD,
		   sum(totalTheo_Last24Months) as totalTheo_last24Months,
		   sum(totalTheo_Last18Months) as totalTheo_last18Months,
		   sum(totalTheo_Last12Months) as totalTheo_last12Months,
		   sum(totalTheo_Last9Months) as totalTheo_last9Months,
		   sum(totalTheo_Last6Months) as totalTheo_last6Months,
		   sum(totalTheo_Last3Months) as totalTheo_last3Months,
		   sum(totalTheo_LastMonth) as totalTheo_lastMonth,

		   sum(actualWinLoss_LTD) as actualWinLoss_LTD,
		   sum(actualWinLoss_YTD) as actualWinLoss_YTD,
		   sum(actualWinLoss_QTD) as actualWinLoss_QTD,
		   sum(actualWinLoss_Last24Months) as actualWinLoss_last24Months,
		   sum(actualWinLoss_Last18Months) as actualWinLoss_last18Months,
		   sum(actualWinLoss_Last12Months) as actualWinLoss_last12Months,
		   sum(actualWinLoss_Last9Months) as actualWinLoss_last9Months,
		   sum(actualWinLoss_Last6Months) as actualWinLoss_last6Months,
		   sum(actualWinLoss_Last3Months) as actualWinLoss_last3Months,
		   sum(actualWinLoss_LastMonth) as actualWinLoss_lastMonth,

		   sum(slotTheo_LTD) as slotTheo_LTD,
		   sum(slotTheo_YTD) as slotTheo_YTD,
		   sum(slotTheo_QTD) as slotTheo_QTD,
		   sum(slotTheo_Last24Months) as slotTheo_last24Months,
		   sum(slotTheo_Last18Months) as slotTheo_last18Months,
		   sum(slotTheo_Last12Months) as slotTheo_last12Months,
		   sum(slotTheo_Last9Months) as slotTheo_last9Months,
		   sum(slotTheo_Last6Months) as slotTheo_last6Months,
		   sum(slotTheo_Last3Months) as slotTheo_last3Months,
		   sum(slotTheo_LastMonth) as slotTheo_lastMonth,

		   sum(tableTheo_LTD) as tableTheo_LTD,
		   sum(tableTheo_YTD) as tableTheo_YTD,
		   sum(tableTheo_QTD) as tableTheo_QTD,
		   sum(tableTheo_Last24Months) as tableTheo_last24Months,
		   sum(tableTheo_Last18Months) as tableTheo_last18Months,
		   sum(tableTheo_Last12Months) as tableTheo_last12Months,
		   sum(tableTheo_Last9Months) as tableTheo_last9Months,
		   sum(tableTheo_Last6Months) as tableTheo_last6Months,
		   sum(tableTheo_Last3Months) as tableTheo_last3Months,
		   sum(tableTheo_LastMonth) as tableTheo_lastMonth,

		   sum(slotActualWinLoss_LTD) as slotActualWinLoss_LTD,
		   sum(slotActualWinLoss_YTD) as slotActualWinLoss_YTD,
		   sum(slotActualWinLoss_QTD) as slotActualWinLoss_QTD,
		   sum(slotActualWinLoss_Last24Months) as slotActualWinLoss_last24Months,
		   sum(slotActualWinLoss_Last18Months) as slotActualWinLoss_last18Months,
		   sum(slotActualWinLoss_Last12Months) as slotActualWinLoss_last12Months,
		   sum(slotActualWinLoss_Last9Months) as slotActualWinLoss_last9Months,
		   sum(slotActualWinLoss_Last6Months) as slotActualWinLoss_last6Months,
		   sum(slotActualWinLoss_Last3Months) as slotActualWinLoss_last3Months,
		   sum(slotActualWinLoss_LastMonth) as slotActualWinLoss_lastMonth,

		   sum(tableActualWinLoss_LTD) as tableActualWinLoss_LTD,
		   sum(tableActualWinLoss_YTD) as tableActualWinLoss_YTD,
		   sum(tableActualWinLoss_QTD) as tableActualWinLoss_QTD,
		   sum(tableActualWinLoss_Last24Months) as tableActualWinLoss_last24Months,
		   sum(tableActualWinLoss_Last18Months) as tableActualWinLoss_last18Months,
		   sum(tableActualWinLoss_Last12Months) as tableActualWinLoss_last12Months,
		   sum(tableActualWinLoss_Last9Months) as tableActualWinLoss_last9Months,
		   sum(tableActualWinLoss_Last6Months) as tableActualWinLoss_last6Months,
		   sum(tableActualWinLoss_Last3Months) as tableActualWinLoss_last3Months,
		   sum(tableActualWinLoss_LastMonth) as tableActualWinLoss_lastMonth,

		   sum(compsEarned_LTD) as compsEarned_LTD,
		   sum(compsEarned_YTD) as compsEarned_YTD,
		   sum(compsEarned_QTD) as compsEarned_QTD,
		   sum(compsEarned_Last24Months) as compsEarned_last24Months,
		   sum(compsEarned_Last18Months) as compsEarned_last18Months,
		   sum(compsEarned_Last12Months) as compsEarned_last12Months,
		   sum(compsEarned_Last9Months) as compsEarned_last9Months,
		   sum(compsEarned_Last6Months) as compsEarned_last6Months,
		   sum(compsEarned_Last3Months) as compsEarned_last3Months,
		   sum(compsEarned_LastMonth) as compsEarned_lastMonth,

		   sum(compsUsed_LTD) as compsUsed_LTD,
		   sum(compsUsed_YTD) as compsUsed_YTD,
		   sum(compsUsed_QTD) as compsUsed_QTD,
		   sum(compsUsed_Last24Months) as compsUsed_last24Months,
		   sum(compsUsed_Last18Months) as compsUsed_last18Months,
		   sum(compsUsed_Last12Months) as compsUsed_last12Months,
		   sum(compsUsed_Last9Months) as compsUsed_last9Months,
		   sum(compsUsed_Last6Months) as compsUsed_last6Months,
		   sum(compsUsed_Last3Months) as compsUsed_last3Months,
		   sum(compsUsed_LastMonth) as compsUsed_lastMonth,

		   sum(pointsEarned_LTD) as pointsEarned_LTD,
		   sum(pointsEarned_YTD) as pointsEarned_YTD,
		   sum(pointsEarned_QTD) as pointsEarned_QTD,
		   sum(pointsEarned_Last24Months) as pointsEarned_last24Months,
		   sum(pointsEarned_Last18Months) as pointsEarned_last18Months,
		   sum(pointsEarned_Last12Months) as pointsEarned_last12Months,
		   sum(pointsEarned_Last9Months) as pointsEarned_last9Months,
		   sum(pointsEarned_Last6Months) as pointsEarned_last6Months,
		   sum(pointsEarned_Last3Months) as pointsEarned_last3Months,
		   sum(pointsEarned_LastMonth) as pointsEarned_lastMonth,

		   sum(pointPlayUsed_LTD) as pointPlayUsed_LTD,
		   sum(pointPlayUsed_YTD) as pointPlayUsed_YTD,
		   sum(pointPlayUsed_QTD) as pointPlayUsed_QTD,
		   sum(pointPlayUsed_Last24Months) as pointPlayUsed_last24Months,
		   sum(pointPlayUsed_Last18Months) as pointPlayUsed_last18Months,
		   sum(pointPlayUsed_Last12Months) as pointPlayUsed_last12Months,
		   sum(pointPlayUsed_Last9Months) as pointPlayUsed_last9Months,
		   sum(pointPlayUsed_Last6Months) as pointPlayUsed_last6Months,
		   sum(pointPlayUsed_Last3Months) as pointPlayUsed_last3Months,
		   sum(pointPlayUsed_LastMonth) as pointPlayUsed_lastMonth

	  into ##SummedMarketingMetrics_TEST
	  from #RawMarketingMetrics_TEST
	 group by PlayerID, CasinoCode

-- Create TripRank (by DateID) table
    select *
	  into ##RankedTrips_TEST
	  from (select DENSE_RANK() OVER (PARTITION BY PlayerID, casinocode ORDER BY TripNumber desc) AS tripRankCasino,
				   cast(null as datetime) as LastTripDate,  -- This will be over-written by Trip data in Last Trip section.  Necessary for any custom casino grouping. 
				   PlayerID, 
				   casinoCode,
				   tripNumber, 
				   gamingDays,
				   theoreticalWin,
				   slotTheo,
				   tableTheo,
				   winLossAmount,
				   slotWin,
				   tableWin			  				  
			  from ##DailyTotalsExtract_TEST) x	  
	 where tripRankCasino <= 3

-- Call any custom grouping logic (at the CasinoCode level) for a client
	if @CustomMMGroupingProcedure is not null
	begin
		set @var_SQLExec = N'
				IF EXISTS(SELECT 1 
							FROM sys.procedures 
							WHERE object_id = OBJECT_ID(''' + @CustomMMGroupingProcedure + '''))
				BEGIN
					EXEC ' + @CustomMMGroupingProcedure + ' ''' + cast(@baselineDate as nvarchar(10)) + ''', ''' + @SourceTripsTable + '''
				END '

		--print @var_SQLExec
		EXEC sp_executesql @query=@var_SQLExec	
	end

-- Create Last 3 Trips by Casino
	select PlayerID,
		   CasinoCode,
		   sum(theoreticalWin) as theo_last3Trips,
		   sum(slotTheo) as slotTheo_last3Trips,
		   sum(tableTheo) as tableTheo_last3Trips,
		   sum(winLossAmount) as actualWinLoss_last3Trips,
		   sum(slotWin) as slotActualWinLoss_last3Trips,
		   sum(tableWin) as tableActualWinLoss_last3Trips,
		   cast(sum(GamingDays) / count(distinct TripNumber) as decimal(18,4)) as AvgLengthOfStay_last3Trips  -- spaylor change from decimal(18,2)
	  into #Last3TripsbyProperty_TEST	 
	  from ##RankedTrips_TEST
     where tripRankCasino <= 3
     group by PlayerID, CasinoCode

-- Summarize by player and casino for last trip
	select PlayerID,
		   CasinoCode,
		   LastTripDate,
		   sum(GamingDays) as lengthOfStayLastTrip,
		   sum(TheoreticalWin) as Theo_lastTrip,
		   sum(slotTheo) as slotTheo_LastTrip,
		   sum(tableTheo) as tableTheo_LastTrip,
		   sum(winLossAmount) as actualWinLoss_LastTrip,
		   sum(slotWin) as slotActualWinLoss_LastTrip,
		   sum(tableWin) as tableActualWinLoss_LastTrip
	  into ##LastTrips_TEST
	  from (select a.PlayerID, 
		           a.casinoCode,
		           a.tripNumber, 
		           a.gamingDays,
		           a.theoreticalWin,
		           a.slotTheo,
		           a.tableTheo,
		           a.winLossAmount,
		           a.slotWin,
		           a.tableWin, 
	               coalesce(b.LastTripDate, a.LastTripDate) as LastTripDate
	          from ##RankedTrips_TEST a
			  left join ##DailyTripsExtract_TEST b
			    on a.PlayerID = b.PlayerID
			   and a.CasinoCode = b.CasinoCode
			   and a.TripNumber = b.TripNumber
	         where tripRankCasino = 1
			   --and a.CasinoCode <> 'CORP'			
		   ) b
	 group by PlayerID, CasinoCode, LastTripDate

-- Calculate Guest Type
	 select PlayerID, 
			case
			  when WeekendPlayer > WeekdayPlayer
				then 'WeekEnd'
			  else 'WeekDay'
			end as guestType
	   into #GuestType_TEST
	   from (select PlayerID,
					sum(WeekdayPlayer) as WeekDayPlayer,
					sum(WeekendPlayer) as WeekendPlayer
			   from (select PlayerID,
							case when datepart(dw,[Date]) in (2,3,4,5) then 1 else 0 end as WeekdayPlayer,
							case when datepart(dw,[Date]) in (1,6,7) then 1 else 0 end as WeekendPlayer
					   from ##DailyTotalsExtract_TEST
					  where CasinoCode <> 'CORP'
					) a
			  group by PlayerID
			) b

-- Clear existing data from the table
	truncate table Steve.[IQ_Marketing_Metrics_TEST]

-- Insert updated data into the table
	insert into Steve.[IQ_Marketing_Metrics_TEST]
			   ([UniqueKey]
			   ,[PlayerID]
			   ,[BaselineDate]
			   ,[RunDate]
			   ,[casinoCode]
			   ,[daysOnProperty_LTD]
			   ,[daysOnProperty_YTD]
			   ,[daysOnProperty_QTD]
			   ,[daysOnProperty_last24Months]
			   ,[daysOnProperty_last18Months]
			   ,[daysOnProperty_last12Months]
			   ,[daysOnProperty_last9Months]
			   ,[daysOnProperty_last6Months]
			   ,[daysOnProperty_last3Months]
			   ,[daysOnProperty_lastMonth]
			   ,[gamingDays_LTD]
			   ,[gamingDays_YTD]
			   ,[gamingDays_QTD]
			   ,[gamingDays_last24Months]
			   ,[gamingDays_last18Months]
			   ,[gamingDays_last12Months]
			   ,[gamingDays_last9Months]
			   ,[gamingDays_last6Months]
			   ,[gamingDays_last3Months]
			   ,[gamingDays_lastMonth]
			   ,[slotDays_LTD]
			   ,[slotDays_YTD]
			   ,[slotDays_QTD]
			   ,[slotDays_last24Months]
			   ,[slotDays_last18Months]
			   ,[slotDays_last12Months]
			   ,[slotDays_last9Months]
			   ,[slotDays_last6Months]
			   ,[slotDays_last3Months]
			   ,[slotDays_lastMonth]
			   ,[tableDays_LTD]
			   ,[tableDays_YTD]
			   ,[tableDays_QTD]
			   ,[tableDays_last24Months]
			   ,[tableDays_last18Months]
			   ,[tableDays_last12Months]
			   ,[tableDays_last9Months]
			   ,[tableDays_last6Months]
			   ,[tableDays_last3Months]
			   ,[tableDays_lastMonth]
			   ,[theo_LTD]
			   ,[totalTheo_YTD]
			   ,[totalTheo_QTD]
			   ,[totalTheo_last24Months]
			   ,[totalTheo_last18Months]
			   ,[totalTheo_last12Months]
			   ,[totalTheo_last9Months]
			   ,[totalTheo_last6Months]
			   ,[totalTheo_last3Months]
			   ,[totalTheo_lastMonth]
			   ,[actualWinLoss_LTD]
			   ,[actualWinLoss_YTD]
			   ,[actualWinLoss_QTD]
			   ,[actualWinLoss_last24Months]
			   ,[actualWinLoss_last18Months]
			   ,[actualWinLoss_last12Months]
			   ,[actualWinLoss_last9Months]
			   ,[actualWinLoss_last6Months]
			   ,[actualWinLoss_last3Months]
			   ,[actualWinLoss_lastMonth]
			   ,[slotTheo_LTD]
			   ,[slotTheo_YTD]
			   ,[slotTheo_QTD]
			   ,[slotTheo_last24Months]
			   ,[slotTheo_last18Months]
			   ,[slotTheo_last12Months]
			   ,[slotTheo_last9Months]
			   ,[slotTheo_last6Months]
			   ,[slotTheo_last3Months]
			   ,[slotTheo_lastMonth]
			   ,[tableTheo_LTD]
			   ,[tableTheo_YTD]
			   ,[tableTheo_QTD]
			   ,[tableTheo_last24Months]
			   ,[tableTheo_last18Months]
			   ,[tableTheo_last12Months]
			   ,[tableTheo_last9Months]
			   ,[tableTheo_last6Months]
			   ,[tableTheo_last3Months]
			   ,[tableTheo_lastMonth]
			   ,[slotActualWinLoss_LTD]
			   ,[slotActualWinLoss_YTD]
			   ,[slotActualWinLoss_QTD]
			   ,[slotActualWinLoss_last24Months]
			   ,[slotActualWinLoss_last18Months]
			   ,[slotActualWinLoss_last12Months]
			   ,[slotActualWinLoss_last9Months]
			   ,[slotActualWinLoss_last6Months]
			   ,[slotActualWinLoss_last3Months]
			   ,[slotActualWinLoss_lastMonth]
			   ,[tableActualWinLoss_LTD]
			   ,[tableActualWinLoss_YTD]
			   ,[tableActualWinLoss_QTD]
			   ,[tableActualWinLoss_last24Months]
			   ,[tableActualWinLoss_last18Months]
			   ,[tableActualWinLoss_last12Months]
			   ,[tableActualWinLoss_last9Months]
			   ,[tableActualWinLoss_last6Months]
			   ,[tableActualWinLoss_last3Months]
			   ,[tableActualWinLoss_lastMonth]
			   ,[compsEarned_LTD]
			   ,[compsEarned_YTD]
			   ,[compsEarned_QTD]
			   ,[compsEarned_last24Months]
			   ,[compsEarned_last18Months]
			   ,[compsEarned_last12Months]
			   ,[compsEarned_last9Months]
			   ,[compsEarned_last6Months]
			   ,[compsEarned_last3Months]
			   ,[compsEarned_lastMonth]
			   ,[compsUsed_LTD]
			   ,[compsUsed_YTD]
			   ,[compsUsed_QTD]
			   ,[compsUsed_last24Months]
			   ,[compsUsed_last18Months]
			   ,[compsUsed_last12Months]
			   ,[compsUsed_last9Months]
			   ,[compsUsed_last6Months]
			   ,[compsUsed_last3Months]
			   ,[compsUsed_lastMonth]
			   ,[pointsEarned_LTD]
			   ,[pointsEarned_YTD]
			   ,[pointsEarned_QTD]
			   ,[pointsEarned_last24Months]
			   ,[pointsEarned_last18Months]
			   ,[pointsEarned_last12Months]
			   ,[pointsEarned_last9Months]
			   ,[pointsEarned_last6Months]
			   ,[pointsEarned_last3Months]
			   ,[pointsEarned_lastMonth]
			   ,[pointPlayUsed_LTD]
			   ,[pointPlayUsed_YTD]
			   ,[pointPlayUsed_QTD]
			   ,[pointPlayUsed_last24Months]
			   ,[pointPlayUsed_last18Months]
			   ,[pointPlayUsed_last12Months]
			   ,[pointPlayUsed_last9Months]
			   ,[pointPlayUsed_last6Months]
			   ,[pointPlayUsed_last3Months]
			   ,[pointPlayUsed_lastMonth]
			   ,[trips_LTD]
			   ,[trips_YTD]
			   ,[trips_QTD]
			   ,[trips_last24Months]
			   ,[trips_last18Months]
			   ,[trips_last12Months]
			   ,[trips_last9Months]
			   ,[trips_last6Months]
			   ,[trips_last3Months]
			   ,[trips_lastMonth]
			   ,[guestType]
			   ,[daysSinceLastVisit]
			   ,[lastTripDate]
			   ,[lengthOfStaylastTrip]
			   ,[theo_lastTrip]
			   ,[slotTheo_lastTrip]
			   ,[tableTheo_lastTrip]
			   ,[actualWinLoss_lastTrip]
			   ,[slotActualWinLoss_lastTrip]
			   ,[tableActualWinLoss_lastTrip]
			   ,[theo_last3Trips]
			   ,[slotTheo_last3Trips]
			   ,[tableTheo_last3Trips]
			   ,[actualWinLoss_last3Trips]
			   ,[slotActualWinLoss_last3Trips]
			   ,[tableActualWinLoss_last3Trips]
			   ,[avgLengthOfStay_last3Trips]
			   ,[ADT_LTD]
			   ,[ADT_YTD]
			   ,[ADT_QTD]
			   ,[ADT_last24Months]
			   ,[ADT_last18Months]
			   ,[ADT_last12Months]
			   ,[ADT_last9Months]
			   ,[ADT_last6Months]
			   ,[ADT_last3Months]
			   ,[ADT_lastMonth]
			   ,[ATT_LTD]
			   ,[ATT_YTD]
			   ,[ATT_QTD]
			   ,[ATT_last24Months]
			   ,[ATT_last18Months]
			   ,[ATT_last12Months]
			   ,[ATT_last9Months]
			   ,[ATT_last6Months]
			   ,[ATT_last3Months]
			   ,[ATT_lastMonth])
	select cast(a.PlayerID as varchar(12)) + cast(a.CasinoCode as varchar(4)) as UniqueKey ,
		   a.PlayerID,
		   cast(@baselineDate as date) as BaselineDate,
		   cast(getdate() as date) as RunDate,
		   a.CasinoCode,
		   a.daysOnProperty_LTD,
		   a.daysOnProperty_YTD,
		   a.daysOnProperty_QTD,
		   a.daysOnProperty_last24Months,
		   a.daysOnProperty_last18Months,
		   a.daysOnProperty_last12Months,
		   a.daysOnProperty_last9Months,
		   a.daysOnProperty_last6Months,
		   a.daysOnProperty_last3Months,
		   a.daysOnProperty_lastMonth,
		   a.gamingDays_LTD,
		   a.gamingDays_YTD,
		   a.gamingDays_QTD,
		   a.gamingDays_last24Months,
		   a.gamingDays_last18Months,
		   a.gamingDays_last12Months,
		   a.gamingDays_last9Months,
		   a.gamingDays_last6Months,
		   a.gamingDays_last3Months,
		   a.gamingDays_lastMonth,
		   a.slotDays_LTD,
		   a.slotDays_YTD,
		   a.slotDays_QTD,
		   a.slotDays_last24Months,
		   a.slotDays_last18Months,
		   a.slotDays_last12Months,
		   a.slotDays_last9Months,
		   a.slotDays_last6Months,
		   a.slotDays_last3Months,
		   a.slotDays_lastMonth,
		   a.tableDays_LTD,
		   a.tableDays_YTD,
		   a.tableDays_QTD,
		   a.tableDays_last24Months,
		   a.tableDays_last18Months,
		   a.tableDays_last12Months,
		   a.tableDays_last9Months,
		   a.tableDays_last6Months,
		   a.tableDays_last3Months,
		   a.tableDays_lastMonth,
		   a.theo_LTD,
		   a.totalTheo_YTD,
		   a.totalTheo_QTD,
		   a.totalTheo_last24Months,
		   a.totalTheo_last18Months,
		   a.totalTheo_last12Months,
		   a.totalTheo_last9Months,
		   a.totalTheo_last6Months,
		   a.totalTheo_last3Months,
		   a.totalTheo_lastMonth,
		   a.actualWinLoss_LTD,
		   a.actualWinLoss_YTD,
		   a.actualWinLoss_QTD,
		   a.actualWinLoss_last24Months,
		   a.actualWinLoss_last18Months,
		   a.actualWinLoss_last12Months,
		   a.actualWinLoss_last9Months,
		   a.actualWinLoss_last6Months,
		   a.actualWinLoss_last3Months,
		   a.actualWinLoss_lastMonth,
		   a.slotTheo_LTD,
		   a.slotTheo_YTD,
		   a.slotTheo_QTD,
		   a.slotTheo_last24Months,
		   a.slotTheo_last18Months,
		   a.slotTheo_last12Months,
		   a.slotTheo_last9Months,
		   a.slotTheo_last6Months,
		   a.slotTheo_last3Months,
		   a.slotTheo_lastMonth,
		   a.tableTheo_LTD,
		   a.tableTheo_YTD,
		   a.tableTheo_QTD,
		   a.tableTheo_last24Months,
		   a.tableTheo_last18Months,
		   a.tableTheo_last12Months,
		   a.tableTheo_last9Months,
		   a.tableTheo_last6Months,
		   a.tableTheo_last3Months,
		   a.tableTheo_lastMonth,
		   a.slotActualWinLoss_LTD,
		   a.slotActualWinLoss_YTD,
		   a.slotActualWinLoss_QTD,
		   a.slotActualWinLoss_last24Months,
		   a.slotActualWinLoss_last18Months,
		   a.slotActualWinLoss_last12Months,
		   a.slotActualWinLoss_last9Months,
		   a.slotActualWinLoss_last6Months,
		   a.slotActualWinLoss_last3Months,
		   a.slotActualWinLoss_lastMonth,
		   a.tableActualWinLoss_LTD,
		   a.tableActualWinLoss_YTD,
		   a.tableActualWinLoss_QTD,
		   a.tableActualWinLoss_last24Months,
		   a.tableActualWinLoss_last18Months,
		   a.tableActualWinLoss_last12Months,
		   a.tableActualWinLoss_last9Months,
		   a.tableActualWinLoss_last6Months,
		   a.tableActualWinLoss_last3Months,
		   a.tableActualWinLoss_lastMonth,
		   a.compsEarned_LTD,
		   a.compsEarned_YTD,
		   a.compsEarned_QTD,
		   a.compsEarned_last24Months,
		   a.compsEarned_last18Months,
		   a.compsEarned_last12Months,
		   a.compsEarned_last9Months,
		   a.compsEarned_last6Months,
		   a.compsEarned_last3Months,
		   a.compsEarned_lastMonth,
		   a.compsUsed_LTD,
		   a.compsUsed_YTD,
		   a.compsUsed_QTD,
		   a.compsUsed_last24Months,
		   a.compsUsed_last18Months,
		   a.compsUsed_last12Months,
		   a.compsUsed_last9Months,
		   a.compsUsed_last6Months,
		   a.compsUsed_last3Months,
		   a.compsUsed_lastMonth,
		   a.pointsEarned_LTD,
		   a.pointsEarned_YTD,
		   a.pointsEarned_QTD,
		   a.pointsEarned_last24Months,
		   a.pointsEarned_last18Months,
		   a.pointsEarned_last12Months,
		   a.pointsEarned_last9Months,
		   a.pointsEarned_last6Months,
		   a.pointsEarned_last3Months,
		   a.pointsEarned_lastMonth,
		   a.pointPlayUsed_LTD,
		   a.pointPlayUsed_YTD,
		   a.pointPlayUsed_QTD,
		   a.pointPlayUsed_last24Months,
		   a.pointPlayUsed_last18Months,
		   a.pointPlayUsed_last12Months,
		   a.pointPlayUsed_last9Months,
		   a.pointPlayUsed_last6Months,
		   a.pointPlayUsed_last3Months,
		   a.pointPlayUsed_lastMonth,
		   a.trips_LTD,
		   a.trips_YTD,
		   a.trips_QTD,
		   a.trips_last24Months,
		   a.trips_last18Months,
		   a.trips_last12Months,
		   a.trips_last9Months,
		   a.trips_last6Months,
		   a.trips_last3Months,
		   a.trips_lastMonth,
		   d.guestType,
		   datediff(day,b.lastTripDate,@baselineDate) as daysSinceLastVisit,
		   b.lastTripDate,
		   b.lengthOfStayLastTrip,
		   b.theo_lastTrip,
		   b.slotTheo_lastTrip,
		   b.tableTheo_lastTrip,
		   b.actualWinLoss_lastTrip,
		   b.slotActualWinLoss_lastTrip,
		   b.tableActualWinLoss_lastTrip,
		   c.theo_last3Trips,
		   c.slotTheo_last3Trips,
		   c.tableTheo_last3Trips,
		   c.actualWinLoss_last3Trips,
		   c.slotActualWinLoss_last3Trips,
		   c.tableActualWinLoss_last3Trips,
		   c.AvgLengthOfStay_last3Trips,
		   case when a.gamingDays_LTD > 0 then (a.theo_LTD / a.gamingDays_LTD) else 0 end as ADT_LTD,
		   case when a.gamingDays_YTD > 0 then (a.totalTheo_YTD / a.gamingDays_YTD) else 0 end as ADT_YTD,
		   case when a.gamingDays_QTD > 0 then (a.totalTheo_QTD / a.gamingDays_QTD) else 0 end as ADT_QTD,
		   case when a.gamingDays_last24Months > 0 then (a.totalTheo_last24Months / a.gamingDays_last24Months) else 0 end as ADT_last24Months,
		   case when a.gamingDays_last18Months > 0 then (a.totalTheo_last18Months / a.gamingDays_last18Months) else 0 end as ADT_last18Months,
		   case when a.gamingDays_last12Months > 0 then (a.totalTheo_last12Months / a.gamingDays_last12Months) else 0 end as ADT_last12Months,
		   case when a.gamingDays_last9Months > 0 then (a.totalTheo_last9Months / a.gamingDays_last9Months) else 0 end as ADT_last9Months,
		   case when a.gamingDays_last6Months > 0 then (a.totalTheo_last6Months / a.gamingDays_last6Months) else 0 end as ADT_last6Months,
		   case when a.gamingDays_last3Months > 0 then (a.totalTheo_last3Months / a.gamingDays_last3Months) else 0 end as ADT_last3Months,
		   case when a.gamingDays_lastMonth > 0 then (a.totalTheo_lastMonth / a.gamingDays_lastMonth) else 0 end as ADT_lastMonth,
		   case when a.trips_LTD > 0 then (a.theo_LTD / a.trips_LTD) else 0 end as ATT_LTD,
		   case when a.trips_YTD > 0 then (a.totalTheo_YTD / a.trips_YTD) else 0 end as ATT_YTD,
		   case when a.trips_QTD > 0 then (a.totalTheo_QTD / a.trips_QTD) else 0 end as ATT_QTD,
		   case when a.trips_last24Months > 0 then (a.totalTheo_last24Months / a.trips_last24Months) else 0 end as ATT_last24Months,
		   case when a.trips_last18Months > 0 then (a.totalTheo_last18Months / a.trips_last18Months) else 0 end as ATT_last18Months,
		   case when a.trips_last12Months > 0 then (a.totalTheo_last12Months / a.trips_last12Months) else 0 end as ATT_last12Months,
		   case when a.trips_last9Months > 0 then (a.totalTheo_last9Months / a.trips_last9Months) else 0 end as ATT_last9Months,
		   case when a.trips_last6Months > 0 then (a.totalTheo_last6Months / a.trips_last6Months) else 0 end as ATT_last6Months,
		   case when a.trips_last3Months > 0 then (a.totalTheo_last3Months / a.trips_last3Months) else 0 end as ATT_last3Months,
		   case when a.trips_lastMonth > 0 then (a.totalTheo_lastMonth / a.trips_lastMonth) else 0 end as ATT_lastMonth
      from ##SummedMarketingMetrics_TEST a
      left join ##LastTrips_TEST b
        on a.PlayerID = b.PlayerID
       and a.CasinoCode = b.CasinoCode
      left join #Last3TripsbyProperty_TEST c
        on a.PlayerID = c.PlayerID
       and a.CasinoCode = c.CasinoCode
      left join #GuestType_TEST d
        on a.playerID = d.PlayerID

	 --If EXT process exists then execute it
		IF EXISTS(SELECT 1 
	                FROM sys.procedures 
                   WHERE object_id = OBJECT_ID(N'Steve.[sp_IQ_Marketing_Metrics_Update_EXT_TEST]'))
		BEGIN
			EXEC Steve.[sp_IQ_Marketing_Metrics_Update_EXT_TEST] @BaselineDate, @beginningDate,'Y','Y',NULL,@SourceDatabase

	    END  


END




