/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 200
		DATEDIFF(ss,Logdtm, ProcessDtm) as ProcessTimeSec,
*
  FROM [dbInfogenesis].[dbo].[tReceivePOSHistory]
  where
  [GamingDt] >='02/11/2020'
  and DATEDIFF(ss,Logdtm, ProcessDtm)>=0
  order by InputID desc


  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	  convert(varchar(12), DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), [GamingDt])) '[GamingDtNOGTM]',
      Count(*)
  FROM [dbInfogenesis].[dbo].[tReceivePOSHistory]
  where
  DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), [GamingDt]) >='11/15/2019'
  and  DATEDIFF(ss,Logdtm, ProcessDtm)>10
group by 	
convert(varchar(12), DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), [GamingDt]))
order by 
convert(varchar(12), DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), [GamingDt])) asc