/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [first-name]
      ,[last-name]
      ,[your-email]
      ,[submit_time]
  FROM [Campaign].[dbo].[Emails02102020A]
  
where [your-email] in 

(

SELECT 
      [youremail]
  FROM [Campaign].[dbo].[ExProspect]

)   


/****** Script for SelectTopNRows command from SSMS  ******/
DELETE
  FROM [Campaign].[dbo].[Emails02102020A]
  
where [your-email] in 

(

SELECT 
      [youremail]
  FROM [Campaign].[dbo].[ExProspect]

)   



Select distinct [first-name]
      ,[last-name]
      ,[your-email] into #tmp From [Campaign].[dbo].[Emails02102020A]
delete from [Campaign].[dbo].[Emails02102020A]
insert into[Campaign].[dbo].[Emails02102020A]             
select * from #tmp 
---drop table #tmp



select top 100000 * from  [Campaign].[dbo].[Emails02102020A]



select EmailAddress INTO  from [CMKTDB13CPR].[CMP13].dbo.tplayeremail

DELETE FROM  

---delete  from [Campaign].[dbo].[Emails02102020A] where [your-email] in
(
select EmailAddress from  #temPemail
)


select top 100000 * from  [Campaign].[dbo].[Emails02102020A]


SELECT [your-email] AS ValidEmail
FROM  [Campaign].[dbo].[Emails02102020A]
WHERE [your-email] LIKE '%_@__%.__%'
        AND PATINDEX('%[^a-z,0-9,@,.,_,\-]%', [your-email]) = 0
