/****** Script for SelectTopNRows command from SSMS  ******/
SELECT teq.DrawId,DrawDtm as GTMDrawDate, 
DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), DrawDtm) 'DrawDtm',

QualifyStartDtm, QualifyEndDtm, teq.playerid, acct, ClubState, FirstName, LastName
INTO #TEMPRatings
FROM [CMP13].[dbo].[tEQDDrawResult]
teq
inner join viewPlayersViejas vpv on teq.PlayerId = vpv.PlayerId
inner join tEQDDraw EQDD on teq.DrawId = EQDD.DrawId
----where teq.EQDid=10000059
order by teq.DrawId asc

Drop Table  #TEMPRatings
Drop Table  #TEMPRATINGS2
Drop Table  #TEMPRATINGS3


select top 100 * from #TEMPRatings where DrawID='10000462'


  select  DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), RatingStartDtm) 'RatingStartDtm', DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), RatingEndDtm) 'RatingEndDtm', te.* 
  INTO #TEMPRATINGS2
  from viewAllRatingsViejas vr
  inner join #TEMPRatings te on vr.playerid = te.playerid
  

  where 
  GamingDt='2019-07-06' and
  dateadd(mi,-60,DrawDtm) between  DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), RatingStartDtm) and DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), RatingEndDtm)




select Distinct DrawDTM, acct, FirstName, LastName, DrawID INTO #TEMPRATINGS3 from #TEMPRATINGS2


select Distinct DrawDTM, acct, FirstName, LastName, DrawID  from #TEMPRATINGS2


 select count(*), DrawDTM from #TEMPRATINGS3
 group by DrawDTM 
 order by DrawDTM asc




  select top 100 * from viewAllRatingsViejas