/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * --411009
  FROM [Campaign].[dbo].[ExPlayers]
where playerAccount in 

(
select player_account_number from MSBIDB02DV.vDW3.[dbo].[ViejasInactivePlayersAs03172020] ---159930  --- 8 or less --  147107 --  147049
where len(player_account_number) <=8 and ISNUMERIC(player_account_number)=1
)

--130909    able to delete
DELETE FROM [Campaign].[dbo].[ExPlayers]
where playerAccount in 

(
select player_account_number from MSBIDB02DV.vDW3.[dbo].[ViejasInactivePlayersAs03172020] ---159930  --- 8 or less --  147107 --  147049
where len(player_account_number) <=8 and ISNUMERIC(player_account_number)=1
)




select player_account_number from MSBIDB02DV.vDW3.[dbo].[ViejasInactivePlayersAs03172020]
where  len(player_account_number) >8


select top 1000000 * from MSBIDB02DV.vDW3.[dbo].[ViejasInactivePlayersAs03172020] where ISNUMERIC(player_account_number)=0  --68

select top 10000000 * from MSBIDB02DV.vDW3.[dbo].[ViejasInactivePlayersAs03172020] where len(player_account_number) >8 -- 12823