/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
  FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=06




/****** This is to get counts by number of tenders  ******/
SELECT check_number, count(*) as TotalTenders
Into #TempTotals
FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=07
group by check_number


select TotalTenders, count(*) from #TempTotals
group by TotalTenders
order by TotalTenders asc

Drop Table  #TempTotals


/****** To Get Tenders for checks that had only one tender  ******/
SELECT check_number, count(*) as TotalChecks
Into #TempChecks
FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=07
group by check_number
having count(*)=1

SELECT tender_name, Count(*)
  FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=07
AND check_number IN (select check_number from  #TempChecks)
group by tender_name
order by Count(*) desc




/****** 2 Tenders To Get Tenders for checks that had only one tender  ******/
SELECT check_number, count(*) as TotalChecks
Into #TempChecks1
FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=07
group by check_number
having count(*)=2

SELECT tender_name, Count(*)
  FROM [ig_business].[dbo].[Check_Tender_Detail] tdd
inner join [ig_dimension].[dbo].Tender_Dimension t on tdd.tender_dim_id = t.tender_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=07
AND check_number IN (select check_number from  #TempChecks1)
group by tender_name
order by Count(*) desc






/****** Script for SelectTopNRows command from SSMS  ******/  --13242 transaction
SELECT TOP 100000 discount_ID, discount_name, check_number, tdd.discount_amount
INTO #TableDiscounts
  FROM [ig_business].[dbo].Check_Discount_Detail tdd

inner join [ig_dimension].[dbo].Discount_Dimension t on tdd.discount_dim_id = t.discount_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
inner join  [ig_dimension].[dbo].Profit_Center_Dimension pc on pc.profit_center_dim_id = cs.profit_center_dim_id

where  year(opened_date_time)=2020 and month(opened_date_time)=02 and profit_center_id=1 ---  and profit_center_name like '%buff%'


select * from #TableDiscounts where check_number
in 
(
select check_number   from #TableDiscounts
group by check_number
having count(*)>1
)
order by check_number


Drop TABLE  #TableDiscounts








SELECT TOP 100000 discount_ID, discount_name, check_number, tdd.discount_amount, profit_center_id, profit_center_name
INTO #TableDiscounts
FROM [ig_business].[dbo].Check_Discount_Detail tdd
inner join [ig_dimension].[dbo].Discount_Dimension t on tdd.discount_dim_id = t.discount_dim_id
inner join [ig_business].[dbo].[Check_Sales_Detail] cs on tdd.transaction_data_id = cs.transaction_data_id
inner join  [ig_dimension].[dbo].Business_Period_Dimension bd on cs.tendered_business_period_dim_id = bd.business_period_dim_id
inner join  [ig_dimension].[dbo].Profit_Center_Dimension pc on pc.profit_center_dim_id = cs.profit_center_dim_id
where  year(opened_date_time)=2020 and month(opened_date_time)=02 and profit_center_id<>1 ---  and profit_center_name like '%buff%'

select top 100 * from #TableDiscounts where profit_center_id=3

select distinct check_number from  #TableDiscounts  -- 10448 1005  - Feb 2020  9.61%
													-- 8986  1542   - Jan 2020	17.16%			
													-- 11161  1257  Dec 2019- 11.26% 
													-- 10233  866      Nov 2019- 8.4%

select discount_id,discount_name,check_number---,discount_amount
       INTO #TableUniqueDiscounts
from #TableDiscounts 
GROUP BY discount_id,discount_name,check_number---,discount_amount
Order by check_number

DELETE FROM #TableUniqueDiscounts where check_number in (SELECT check_number from #TableUniqueDiscounts group by check_number having count(*) = 1)

Select * from #TableUniqueDiscounts order by check_number

Select Distinct check_number from #TableUniqueDiscounts

---DROP TABLE #TableDiscounts
---DROP TABLE #TableUniqueDiscounts


---1005


