-- Get current year and next year into variables to use in date calculation

DECLARE @current_YYYY AS CHAR(4) ;
SET @current_YYYY =	CAST(YEAR(GETDATE()) AS CHAR(4)) ;

DECLARE @next_YYYY AS CHAR(4) ;
SET @next_YYYY =	CAST((YEAR(GETDATE())+1) AS CHAR(4)) ;

-- OLD ************************************************************************************************

SELECT DISTINCT 
  @current_YYYY AS CurrentYYYY
, @next_YYYY AS NextYYYY
, r.Tier_Type
,r.Requal_Month
,r.Qualification_Period_Start_Month
,r.Qualification_Period_End_Month


,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,1,GETDATE()))+1,DATEADD(MM,-2,GETDATE())),102) AS Current_Requal_Date

,DATEADD(MM,- c.Earn_Period_Months -2,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,6,GETDATE()))+1,DATEADD(MM,6,GETDATE())),102)) AS Current_Requal_Qualification_Period_Start_Date

,DATEADD(DD,-1,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,1,GETDATE()))+1,DATEADD(MM,4,GETDATE())),102)) AS Current_Requal_Qualification_Period_End_Date

,(CASE 
    WHEN r.Requal_Month <= month(GETDATE()) 
    THEN DATEADD(MM,+6,(CAST((CAST(r.Requal_Month + 1 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
    ELSE DATEADD(MM,+6,(CAST((CAST(r.Requal_Month - 5 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
  END) 
AS Next_Requal_Date

,DATEADD(MONTH, + 5 - c.Earn_Period_Months,
CASE 
WHEN r.Requal_Month <= month(GETDATE())
THEN DATEADD(MM,+6,(CAST((CAST(r.Requal_Month + 2 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
ELSE DATEADD(MM,+6,(CAST((CAST(r.Requal_Month - 4 AS varchar))     + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
END)
AS Next_Requal_Qualification_Period_Start_Date

,CASE 
WHEN r.Requal_Month <= month(GETDATE())
THEN DATEADD(DD,-1,(CAST(DATEADD(MM,+13,CAST((CAST(r.Requal_Month AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)) AS DATE))) 
ELSE DATEADD(DD,-1,(CAST(DATEADD(MM,+7,CAST((CAST(r.Requal_Month AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)) AS DATE))) 
END 
AS Next_Requal_Qualification_Period_End_Date
 
----INTO RequalDB.dbo.R_01_Next_Requal_Dates

FROM RequalDB.dbo.R_Requal_Dates r

INNER JOIN RequalDB.dbo.R_Clubs c
ON r.Tier_Type = c.Tier_Type;

-- NEW ************************************************************************************************

SELECT DISTINCT 
  @current_YYYY AS CurrentYYYY
, @next_YYYY AS NextYYYY
, r.Tier_Type
, r.Requal_Month
, r.Qualification_Period_Start_Month
, r.Qualification_Period_End_Month

------,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,1,GETDATE()))+1,DATEADD(MM,-2,GETDATE())),102) AS Current_Requal_Date

, CAST(CAST(r.Qualification_Period_Start_Month AS CHAR(2)) + '/01/' + @current_YYYY AS date) AS Current_Requal_Date 

------,DATEADD(MM,- c.Earn_Period_Months -2,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,6,GETDATE()))+1,DATEADD(MM,6,GETDATE())),102)) AS Current_Requal_Qualification_Period_Start_Date

, CAST(CAST(r.Qualification_Period_Start_Month AS CHAR(2)) + '/01/' + @current_YYYY AS date) AS Current_Requal_Qualification_Period_Start_Date

------,DATEADD(DD,-1,CONVERT(DATE, DATEADD(DD,-DAY(DATEADD (MONTH,1,GETDATE()))+1,DATEADD(MM,4,GETDATE())),102)) AS Current_Requal_Qualification_Period_End_Date

, DATEADD(DD,-1,CAST(DATEADD(MM,+6,CAST(r.Qualification_Period_Start_Month AS CHAR(2)) + '/01/' + @current_YYYY) AS date)) AS Current_Requal_Qualification_Period_End_Date
 
------, (CASE 
------    WHEN r.Requal_Month <= month(GETDATE()) 
------    THEN DATEADD(MM,+6,(CAST((CAST(r.Requal_Month + 1 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
------    ELSE DATEADD(MM,+6,(CAST((CAST(r.Requal_Month - 5 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
------  END) 
------AS Next_Requal_Date

, CASE 
 		WHEN r.Qualification_Period_Start_Month = 1
		THEN CAST('07/01/' + @current_YYYY AS date)
		ELSE CAST('01/01/' + @next_YYYY AS date)
  END 
	AS Next_Requal_Date

------,DATEADD(MONTH, + 5 - c.Earn_Period_Months,
------CASE 
------WHEN r.Requal_Month <= month(GETDATE())
------THEN DATEADD(MM,+6,(CAST((CAST(r.Requal_Month + 2 AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
------ELSE DATEADD(MM,+6,(CAST((CAST(r.Requal_Month - 4 AS varchar))     + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)))
------END)
------AS Next_Requal_Qualification_Period_Start_Date

, CASE 
 		WHEN r.Qualification_Period_Start_Month = 1
		THEN CAST('07/01/' + @current_YYYY AS date)
		ELSE CAST('01/01/' + @next_YYYY AS date)
  END 
	AS Next_Requal_Qualification_Period_Start_Date

------,CASE 
------WHEN r.Requal_Month <= month(GETDATE())
------THEN DATEADD(DD,-1,(CAST(DATEADD(MM,+13,CAST((CAST(r.Requal_Month AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)) AS DATE))) 
------ELSE DATEADD(DD,-1,(CAST(DATEADD(MM,+7,CAST((CAST(r.Requal_Month AS varchar)) + '/01/' + (CAST(year(GETDATE()) AS varchar)) AS date)) AS DATE))) 
------END 
------AS Next_Requal_Qualification_Period_End_Date

, CASE 
		WHEN r.Qualification_Period_Start_Month = 1 
		THEN DATEADD(DD,-1,DATEADD(MM,+1,CAST('12/01/' + @current_YYYY AS date)))
		ELSE DATEADD(DD,-1,DATEADD(MM,+1,CAST('06/01/' + @next_YYYY AS date)))
  END  
	AS Next_Requal_Qualification_Period_End_Date


----INTO RequalDB.dbo.R_01_Next_Requal_Dates

FROM RequalDB.dbo.R_Requal_Dates r

INNER JOIN RequalDB.dbo.R_Clubs c
ON r.Tier_Type = c.Tier_Type;

GO