/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PlayerID]
      ,[IsVoid]
      ,[GamingDt]
      ,[DeptID]
      ,[BasePts]
  FROM [CRManalytics].[dbo].[tblRatings]

     WHERE  PlayerID = 956862