USE [StayDWH]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_Load_accounting_dates_Snapshot]
AS

TRUNCATE TABLE dbo.accounting_dates ;

INSERT INTO StayDWH.dbo.accounting_dates
SELECT
  [id] --PK

, tenant_id
, property_id
, [date]
, closed
, created_by
, created_time
, CURRENT_TIMESTAMP as [Local_ETL_Inserted_TS]
, CURRENT_TIMESTAMP as [Local_ETL_Updated_TS]


FROM OPENQUERY(Stay_PostgreSQL,
'SELECT 
  CAST(id as varchar(200)) as id --text

, CAST(tenant_id as varchar(10)) as tenant_id --text
, CAST(property_id as varchar(10)) as property_id --text
, date --date
, CAST(closed as int) as closed  --boolean
, CAST(created_by as varchar(200)) as created_by --text
, created_time -- timestamp without time zone

FROM public.accounting_dates
'
) ;