
SELECT
 transaction_data_id
,tender_dim_id
,tender_sequence_id
,credit_type_id
,additional_tender_data

--INTO ig_business..Check_Tender_Detail_SAVE

FROM ig_business..Check_Tender_Detail

WHERE additional_tender_data IS NOT NULL
  AND additional_tender_data <> ' '
  AND LEN(additional_tender_data) > 14


UPDATE ig_business..Check_Tender_Detail
SET additional_tender_data = NULL

WHERE additional_tender_data IS NOT NULL
  AND additional_tender_data <> ' '
  AND LEN(additional_tender_data) > 14

