--SELECT 
-- C.name
--,C.length
--,O.*
--FROM Ros2000..syscolumns C
--JOIN Ros2000..sysobjects O
--ON C.id = O.id
--WHERE C.name LIKE '%CC%'
--  AND C.length > 15

--ORDER BY 
--C.name 

--SELECT CC_Number FROM Ros2000..Agreement_Transactions -- NO RECORDS
--WHERE CC_Number IS NOT NULL
--  AND CC_Number <> ' ' 

--SELECT CC_Number FROM Ros2000..Transactions -- NO RECORDS
--WHERE CC_Number IS NOT NULL
--  AND CC_Number <> ' ' 

--SELECT CC_Number FROM Ros2000..Client_Desc -- NO RECORDS
--WHERE CC_Number IS NOT NULL
--  AND CC_Number <> ' ' 

--SELECT CC_Number FROM Ros2000..Credit_Card_Desc -- NO RECORDS
--WHERE CC_Number IS NOT NULL
--  AND CC_Number <> ' ' 

--SELECT CC_Number FROM Ros2000..ICVerify -- NO RECORDS
--WHERE CC_Number IS NOT NULL
--  AND CC_Number <> ' ' 


