/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [TEAM_MEMBER_NUM]
      ,[COMPANY_ID]
      ,[TEAM_MEMBER_FIRST_NM]
      ,[TEAM_MEMBER_LAST_NM]
      ,[TEAM_MEMBER_STATUS_CD]
      ,[HIRE_DT]
      ,[DEPT_CD]
      ,[BUSINESS_UNIT_CD]
  FROM [CASH_VARIANCE].[dbo].[TEAM_MEMBER]

    WHERE TEAM_MEMBER_NUM = '14486'


SELECT [TEAM_MEMBER_NUM]
      ,[COMPANY_ID]
      ,[TEAM_MEMBER_FIRST_NM]
      ,[TEAM_MEMBER_LAST_NM]
      ,[TEAM_MEMBER_STATUS_CD]
      ,[HIRE_DT]
      ,[DEPT_CD]
      ,[BUSINESS_UNIT_CD]
  FROM [COMMON_SECURITY].[dbo].[TEAM_MEMBER]

    WHERE TEAM_MEMBER_NUM = '14486'