/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
  ETL_LAST_UPDATE_DATE
, COUNT(*)

FROM [OperaData_Temp_STEVE].[dbo].[NAME_RESERVATION]

GROUP BY
  ETL_LAST_UPDATE_DATE

ORDER BY ETL_LAST_UPDATE_DATE



