/****** Script for SelectTopNRows command from SSMS  ******/
SELECT COUNT(*)
      ,MAX([ACTUAL_CHECK_OUT_DATE])

  FROM [dmMarketing].[dbo].[NAME_RESERVATION]

--GROUP BY

--(No column name)	(No column name)
--207645	2017-03-07 06:56:00.0000000