/*
   Monday, March 2, 202011:28:34 AM
   User: 
   Server: CMKTDB13Aqa
   Database: CMP13
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tShoppingPortal ADD CONSTRAINT
	PK_tShoppingPortal PRIMARY KEY CLUSTERED 
	(
	playerid
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tShoppingPortal SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
