USE [StayDWH]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_Load_rate_snapshots_Snapshot]
AS

TRUNCATE TABLE dbo.rate_snapshots ;

INSERT INTO dbo.rate_snapshots 
SELECT 
  [id] --date --PK
, [reservation_id] --text --PK

, [adults_included]
, [original_pre_occupancy_rate]
, [children_included]
, [date]
, [extra_adult_charge]
, [extra_children_charge]
, [overridden]
, [pre_occupancy_rate]
, [property_id]
, [room_type_code]
, [room_type_id]
, [room_type_name]
, [tenant_id]
, [rate_plan_id]
, [transaction_item_id]
, [comp_id]
, [calculated_pre_occupancy_rate]
, [actual_rate]
, [comp_rate]
, [offer_amount]
, CURRENT_TIMESTAMP as [Local_ETL_Inserted_TS]
, CURRENT_TIMESTAMP as [Local_ETL_Updated_TS]

FROM OPENQUERY(Stay_PostgreSQL,
'SELECT
----  id text NOT NULL,
----  CAST(id as varchar(200)) as id --text
  CAST(id as date) as id --text --PK
, CAST(reservation_id as varchar(200)) as reservation_id --text --PK

, adults_included --integer
, original_pre_occupancy_rate --numeric(19,2)
, children_included --integer
, date --date
, extra_adult_charge --numeric(19,2)
, extra_children_charge --numeric(19,2)
, CAST(overridden as int) as overridden --boolean
, pre_occupancy_rate --numeric(19,2)
, CAST(property_id as varchar(10)) as property_id --text
, CAST(room_type_code as varchar(200)) as room_type_code --text
, CAST(room_type_id as varchar(200)) as room_type_id --text
, CAST(room_type_name as varchar(200)) as room_type_name --text
, CAST(tenant_id as varchar(10)) as tenant_id --text
, CAST(rate_plan_id as varchar(200)) as rate_plan_id --text
, CAST(transaction_item_id as varchar(200)) as transaction_item_id --text
, CAST(comp_id as varchar(200)) as comp_id --text
, calculated_pre_occupancy_rate --numeric(19,2)
, actual_rate --numeric
, comp_rate --numeric(19,2)
, offer_amount --numeric

FROM public.rate_snapshots'
) ;
