USE [StayDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_Delta_flash_aggregate]    Script Date: 4/4/2024 8:44:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER PROCEDURE [dbo].[usp_Load_Delta_flash_aggregate]
--AS

--DROP TABLE IF EXISTS dbo.flash_aggregate_Delta ;

--SELECT
--  CAST([date] as [date]) as [date] --NOT NULL
--, CAST([tenant_id] as [varchar] (200)) as [tenant_id] --NOT NULL
--, CAST([property_id] as [varchar] (200)) as [property_id] --NOT NULL
--, CAST([last_updated_at] as [datetime]) as  [lasT_updated_at] -- NOT NULL
--, CAST([building_name] as [varchar] (200)) as [building_name]
--, CAST([total_rooms] as [int]) as  [total_rooms]
--, CAST([off_the_market] as [int]) as  [off_the_market]
--, CAST([total_available_rooms] as [int]) as  [total_available_rooms]
--, CAST([out_of_order] as [int]) as  [out_of_order]
--, CAST([rentable_rooms] as [int]) as  [rentable_rooms]
--, CAST([hold] as [int]) as  [hold]
--, CAST([departures_remaining_rooms] as [int]) as  [departures_remaining_rooms]
--, CAST([departures_remaining_guests] as [int]) as  [departures_remaining_guests]
--, CAST([departures_remaining_adults] as [int]) as  [departures_remaining_adults]
--, CAST([departures_remaining_children] as [int]) as  [departures_remaining_children]
--, CAST([departures_total_rooms] as [int]) as  [departures_total_rooms]
--, CAST([departures_total_guests] as [int]) as  [departures_total_guests]
--, CAST([departures_total_adults] as [int]) as  [departures_total_adults]
--, CAST([departures_total_children] as [int]) as  [departures_total_children]
--, CAST([arrivals_remaining_rooms] as [int]) as  [arrivals_remaining_rooms]
--, CAST([arrivals_remaining_guests] as [int]) as  [arrivals_remaining_guests]
--, CAST([arrivals_remaining_adults] as [int]) as  [arrivals_remaining_adults]
--, CAST([arrivals_remaining_children] as [int]) as  [arrivals_remaining_children]
--, CAST([arrivals_total_rooms] as [int]) as  [arrivals_total_rooms]
--, CAST([arrivals_total_guests] as [int]) as  [arrivals_total_guests]
--, CAST([arrivals_total_adults] as [int]) as  [arrivals_total_adults]
--, CAST([arrivals_total_children] as [int]) as  [arrivals_total_children]
--, CAST([stay_overs_rooms] as [int]) as  [stay_overs_rooms]
--, CAST([stay_overs_guests] as [int]) as  [stay_overs_guests]
--, CAST([stay_overs_adults] as [int]) as  [stay_overs_adults]
--, CAST([stay_overs_children] as [int]) as  [stay_overs_children]
--, CAST([no_show_rooms] as [int]) as  [no_show_rooms]
--, CAST([no_show_guests] as [int]) as  [no_show_guests]
--, CAST([no_show_adults] as [int]) as  [no_show_adults]
--, CAST([no_show_children] as [int]) as  [no_show_children]
--, CAST([totals_rooms] as [int]) as  [totals_rooms]
--, CAST([totals_guests] as [int]) as  [totals_guests]
--, CAST([totals_adults] as [int]) as  [totals_adults]
--, CAST([totals_children] as [int]) as  [totals_children]
--, CAST([same_day_rooms] as [int]) as  [same_day_rooms]
--, CAST([same_day_guests] as [int]) as  [same_day_guests]
--, CAST([same_day_adults] as [int]) as  [same_day_adults]
--, CAST([same_day_children] as [int]) as  [same_day_children]
--, CAST([walkin_rooms] as [int]) as  [walkin_rooms]
--, CAST([walkin_guests] as [int]) as  [walkin_guests]
--, CAST([walkin_adults] as [int]) as  [walkin_adults]
--, CAST([walkin_children] as [int]) as  [walkin_children]
--, CAST([reservations_no_rate_rooms] as [int]) as  [reservations_no_rate_rooms]
--, CAST([no_rate_guests] as [int]) as  [no_rate_guests]
--, CAST([no_rate_adults] as [int]) as  [no_rate_adults]
--, CAST([no_rate_children] as [int]) as  [no_rate_children]
--, CAST([rooms_vacant] as [int]) as  [rooms_vacant]
--, CAST([rooms_sold] as [int]) as  [rooms_sold]
--, CAST([rooms_sold_guests] as [int]) as  [rooms_sold_guests]
--, CAST([rooms_comped] as [int]) as  [rooms_comped]
--, CAST([rooms_comped_guests] as [int]) as  [rooms_comped_guests]
--, CAST([rooms_occupied] as [int]) as  [rooms_occupied]
--, CAST([rooms_occupied_guests] as [int]) as  [rooms_occupied_guests]
--, CAST([transient_rooms_sold] as [int]) as  [transient_rooms_sold]
--, CAST([transient_rooms_sold_guests] as [int]) as  [transient_rooms_sold_guests]
--, CAST([group_rooms_sold] as [int]) as  [group_rooms_sold]
--, CAST([group_rooms_sold_guests] as [int]) as  [group_rooms_sold_guests]
--, CAST([room_type_sold] as [int]) as  [room_type_sold]
--, CAST([groups_not_picked_up] as [int]) as  [groups_not_picked_up]
--, CAST([availability_no_rate_rooms] as [int]) as  [availability_no_rate_rooms]
--, CAST([room_revenue] as [money]) as  [room_revenue]
--, CAST([room_revenue_transient] as [money]) as  [room_revenue_transient]
--, CAST([room_revenue_group] as [money]) as  [room_revenue_group]
--, CAST([last_updated_at] as [datetime]) as  [last_updated_at]
--, CAST([historic] as [varchar] (5)) as  [historic]
--, CAST([room_revenue_total] as [money]) as  [room_revenue_total]
--, CAST([room_revenue_tax] as [money]) as  [room_revenue_tax]
--, CAST([room_revenue_transient_total] as [money]) as  [room_revenue_transient_total]
--, CAST([room_revenue_transient_tax] as [money]) as  [room_revenue_transient_tax]
--, CAST([room_revenue_group_total] as [money]) as  [room_revenue_group_total]
--, CAST([room_revenue_group_tax] as [money]) as  [room_revenue_group_tax]
--, CAST([room_type_name] as [varchar] (200)) as  [room_type_name]
--, CAST([room_type_code] as [varchar] (200)) as  [room_type_code]
--, CAST([rate_code] as [varchar] (200)) as  [rate_code]
--, CAST([rate_name] as [varchar] (200)) as  [rate_name]
--, CAST([market_segment_name] as [varchar] (200)) as  [market_segment_name]
--, CAST([market_segment_code] as [varchar] (200)) as  [market_segment_code]
--, CAST([originated_room_revenue] as [money]) as  [originated_room_revenue]
--, CAST([originated_room_revenue_transient] as [money]) as  [originated_room_revenue_transient]
--, CAST([originated_room_revenue_group] as [money]) as  [originated_room_revenue_group]
--, CAST([originated_room_revenue_total] as [money]) as  [originated_room_revenue_total]
--, CAST([originated_room_revenue_tax] as [money]) as  [originated_room_revenue_tax]
--, CAST([originated_room_revenue_transient_total] as [money]) as  [originated_room_revenue_transient_total]
--, CAST([originated_room_revenue_transient_tax] as [money]) as  [originated_room_revenue_transient_tax]
--, CAST([originated_room_revenue_group_total] as [money]) as  [originated_room_revenue_group_total]
--, CAST([originated_room_revenue_group_tax] as [money]) as  [originated_room_revenue_group_tax]
--, CAST([redemption_stay] as [int]) as  [redemption_stay]
----, CURRENT_TIMESTAMP as  [Local_ETL_Inserted_TS]
----, CURRENT_TIMESTAMP as  [Local_ETL_Updated_TS]

--INTO dbo.flash_aggregate_Delta

--FROM OPENQUERY(Stay_PostgreSQL,
--'SELECT *

--FROM public.flash_aggregate

--WHERE last_updated_at >= current_timestamp - interval ''2 hours''
--'
--) ;

----------------------------------------------------------------------------------------
-- Merge delta data into perm table
----------------------------------------------------------------------------------------

MERGE dbo.flash_aggregate AS [target]
USING dbo.flash_aggregate_Delta AS delta
ON [target].[date] = delta.[date]
AND [target].[tenant_id] = delta.[tenant_id]
AND [target].[property_id] = delta.[property_id]
AND [target].[last_updated_at] = delta.[lasT_updated_at]

WHEN MATCHED 
THEN UPDATE SET 
  [date] = delta.[date]
, [tenant_id] = delta.[tenant_id]
, [property_id] = delta.[property_id]
, [last_updated_at] = delta.[lasT_updated_at]
, [building_name] = delta.[building_name]
, [total_rooms] = delta.[total_rooms]
, [off_the_market] = delta.[off_the_market]
, [total_available_rooms] = delta.[total_available_rooms]
, [out_of_order] = delta.[out_of_order]
, [rentable_rooms] = delta.[rentable_rooms]
, [hold] = delta.[hold]
, [departures_remaining_rooms] = delta.[departures_remaining_rooms]
, [departures_remaining_guests] = delta.[departures_remaining_guests]
, [departures_remaining_adults] = delta.[departures_remaining_adults]
, [departures_remaining_children] = delta.[departures_remaining_children]
, [departures_total_rooms] = delta.[departures_total_rooms]
, [departures_total_guests] = delta.[departures_total_guests]
, [departures_total_adults] = delta.[departures_total_adults]
, [departures_total_children] = delta.[departures_total_children]
, [arrivals_remaining_rooms] = delta.[arrivals_remaining_rooms]
, [arrivals_remaining_guests] = delta.[arrivals_remaining_guests]
, [arrivals_remaining_adults] = delta.[arrivals_remaining_adults]
, [arrivals_remaining_children] = delta.[arrivals_remaining_children]
, [arrivals_total_rooms] = delta.[arrivals_total_rooms]
, [arrivals_total_guests] = delta.[arrivals_total_guests]
, [arrivals_total_adults] = delta.[arrivals_total_adults]
, [arrivals_total_children] = delta.[arrivals_total_children]
, [stay_overs_rooms] = delta.[stay_overs_rooms]
, [stay_overs_guests] = delta.[stay_overs_guests]
, [stay_overs_adults] = delta.[stay_overs_adults]
, [stay_overs_children] = delta.[stay_overs_children]
, [no_show_rooms] = delta.[no_show_rooms]
, [no_show_guests] = delta.[no_show_guests]
, [no_show_adults] = delta.[no_show_adults]
, [no_show_children] = delta.[no_show_children]
, [totals_rooms] = delta.[totals_rooms]
, [totals_guests] = delta.[totals_guests]
, [totals_adults] = delta.[totals_adults]
, [totals_children] = delta.[totals_children]
, [same_day_rooms] = delta.[same_day_rooms]
, [same_day_guests] = delta.[same_day_guests]
, [same_day_adults] = delta.[same_day_adults]
, [same_day_children] = delta.[same_day_children]
, [walkin_rooms] = delta.[walkin_rooms]
, [walkin_guests] = delta.[walkin_guests]
, [walkin_adults] = delta.[walkin_adults]
, [walkin_children] = delta.[walkin_children]
, [reservations_no_rate_rooms] = delta.[reservations_no_rate_rooms]
, [no_rate_guests] = delta.[no_rate_guests]
, [no_rate_adults] = delta.[no_rate_adults]
, [no_rate_children] = delta.[no_rate_children]
, [rooms_vacant] = delta.[rooms_vacant]
, [rooms_sold] = delta.[rooms_sold]
, [rooms_sold_guests] = delta.[rooms_sold_guests]
, [rooms_comped] = delta.[rooms_comped]
, [rooms_comped_guests] = delta.[rooms_comped_guests]
, [rooms_occupied] = delta.[rooms_occupied]
, [rooms_occupied_guests] = delta.[rooms_occupied_guests]
, [transient_rooms_sold] = delta.[transient_rooms_sold]
, [transient_rooms_sold_guests] = delta.[transient_rooms_sold_guests]
, [group_rooms_sold] = delta.[group_rooms_sold]
, [group_rooms_sold_guests] = delta.[group_rooms_sold_guests]
, [room_type_sold] = delta.[room_type_sold]
, [groups_not_picked_up] = delta.[groups_not_picked_up]
, [availability_no_rate_rooms] = delta.[availability_no_rate_rooms]
, [room_revenue] = delta.[room_revenue]
, [room_revenue_transient] = delta.[room_revenue_transient]
, [room_revenue_group] = delta.[room_revenue_group]
--, [last_updated_at] = delta.[last_updated_at]
, [historic] = delta.[historic]
, [room_revenue_total] = delta.[room_revenue_total]
, [room_revenue_tax] = delta.[room_revenue_tax]
, [room_revenue_transient_total] = delta.[room_revenue_transient_total]
, [room_revenue_transient_tax] = delta.[room_revenue_transient_tax]
, [room_revenue_group_total] = delta.[room_revenue_group_total]
, [room_revenue_group_tax] = delta.[room_revenue_group_tax]
, [room_type_name] = delta. [room_type_name]
, [room_type_code] = delta. [room_type_code]
, [rate_code] = delta. [rate_code]
, [rate_name] = delta. [rate_name]
, [market_segment_name] = delta. [market_segment_name]
, [market_segment_code] = delta. [market_segment_code]
, [originated_room_revenue] = delta.[originated_room_revenue]
, [originated_room_revenue_transient] = delta.[originated_room_revenue_transient]
, [originated_room_revenue_group] = delta.[originated_room_revenue_group]
, [originated_room_revenue_total] = delta.[originated_room_revenue_total]
, [originated_room_revenue_tax] = delta.[originated_room_revenue_tax]
, [originated_room_revenue_transient_total] = delta.[originated_room_revenue_transient_total]
, [originated_room_revenue_transient_tax] = delta.[originated_room_revenue_transient_tax]
, [originated_room_revenue_group_total] = delta.[originated_room_revenue_group_total]
, [originated_room_revenue_group_tax] = delta.[originated_room_revenue_group_tax]
, [redemption_stay] = delta.[redemption_stay]
, [target].Local_ETL_Updated_TS = CURRENT_TIMESTAMP
;
WHEN NOT MATCHED THEN INSERT 
( 
  [date]
, [tenant_id]
, [property_id]
, [last_updated_at]
, [building_name]
, [total_rooms]
, [off_the_market]
, [total_available_rooms]
, [out_of_order]
, [rentable_rooms]
, [hold]
, [departures_remaining_rooms]
, [departures_remaining_guests]
, [departures_remaining_adults]
, [departures_remaining_children]
, [departures_total_rooms]
, [departures_total_guests]
, [departures_total_adults]
, [departures_total_children]
, [arrivals_remaining_rooms]
, [arrivals_remaining_guests]
, [arrivals_remaining_adults]
, [arrivals_remaining_children]
, [arrivals_total_rooms]
, [arrivals_total_guests]
, [arrivals_total_adults]
, [arrivals_total_children]
, [stay_overs_rooms]
, [stay_overs_guests]
, [stay_overs_adults]
, [stay_overs_children]
, [no_show_rooms]
, [no_show_guests]
, [no_show_adults]
, [no_show_children]
, [totals_rooms]
, [totals_guests]
, [totals_adults]
, [totals_children]
, [same_day_rooms]
, [same_day_guests]
, [same_day_adults]
, [same_day_children]
, [walkin_rooms]
, [walkin_guests]
, [walkin_adults]
, [walkin_children]
, [reservations_no_rate_rooms]
, [no_rate_guests]
, [no_rate_adults]
, [no_rate_children]
, [rooms_vacant]
, [rooms_sold]
, [rooms_sold_guests]
, [rooms_comped]
, [rooms_comped_guests]
, [rooms_occupied]
, [rooms_occupied_guests]
, [transient_rooms_sold]
, [transient_rooms_sold_guests]
, [group_rooms_sold]
, [group_rooms_sold_guests]
, [room_type_sold]
, [groups_not_picked_up]
, [availability_no_rate_rooms]
, [room_revenue]
, [room_revenue_transient]
, [room_revenue_group]
--, [last_updated_at]
, [historic]
, [room_revenue_total]
, [room_revenue_tax]
, [room_revenue_transient_total]
, [room_revenue_transient_tax]
, [room_revenue_group_total]
, [room_revenue_group_tax]
, [room_type_name]
, [room_type_code]
, [rate_code]
, [rate_name]
, [market_segment_name]
, [market_segment_code]
, [originated_room_revenue]
, [originated_room_revenue_transient]
, [originated_room_revenue_group]
, [originated_room_revenue_total]
, [originated_room_revenue_tax]
, [originated_room_revenue_transient_total]
, [originated_room_revenue_transient_tax]
, [originated_room_revenue_group_total]
, [originated_room_revenue_group_tax]
, [redemption_stay]
, [Local_ETL_Inserted_TS]
--) 
--VALUES 
--( 
--  delta.
--, delta.[no_of_associated_flash_aggregate]
--, CURRENT_TIMESTAMP
--);
