USE [StayDWH]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_Load_flash_aggregate_Delta]
AS

TRUNCATE TABLE dbo.flash_aggregate_Delta ;

INSERT INTO dbo.flash_aggregate_Delta
SELECT DISTINCT
  [date] --NOT NULL - PK
, CAST(isnull([tenant_id], 'NULL') as varchar(10)) as [tenant_id] --NOT NULL - PK
, CAST(isnull([property_id], 'NULL') as varchar(10)) as [property_id] --NOT NULL - PK
, CAST(isnull([building_name], 'NULL') as varchar(30)) as [building_name] --NOT NULL - PK
, CAST(isnull([room_type_code], 'NULL') as varchar(30)) as [room_type_code] --NOT NULL - PK
, CAST(isnull([rate_code], 'NULL') as varchar(30)) as [rate_code] --NOT NULL - PK
, CAST(isnull([market_segment_code], 'NULL') as varchar(30)) as [market_segment_code] --NOT NULL - PK

, CAST([last_updated_at] as [datetime2] (7)) as  [last_updated_at] -- NOT NULL

, CAST([total_rooms] as [int]) as  [total_rooms]
, CAST([off_the_market] as [int]) as  [off_the_market]
, CAST([total_available_rooms] as [int]) as  [total_available_rooms]
, CAST([out_of_order] as [int]) as  [out_of_order]
, CAST([rentable_rooms] as [int]) as  [rentable_rooms]
, CAST([hold] as [int]) as  [hold]
, CAST([departures_remaining_rooms] as [int]) as  [departures_remaining_rooms]
, CAST([departures_remaining_guests] as [int]) as  [departures_remaining_guests]
, CAST([departures_remaining_adults] as [int]) as  [departures_remaining_adults]
, CAST([departures_remaining_children] as [int]) as  [departures_remaining_children]
, CAST([departures_total_rooms] as [int]) as  [departures_total_rooms]
, CAST([departures_total_guests] as [int]) as  [departures_total_guests]
, CAST([departures_total_adults] as [int]) as  [departures_total_adults]
, CAST([departures_total_children] as [int]) as  [departures_total_children]
, CAST([arrivals_remaining_rooms] as [int]) as  [arrivals_remaining_rooms]
, CAST([arrivals_remaining_guests] as [int]) as  [arrivals_remaining_guests]
, CAST([arrivals_remaining_adults] as [int]) as  [arrivals_remaining_adults]
, CAST([arrivals_remaining_children] as [int]) as  [arrivals_remaining_children]
, CAST([arrivals_total_rooms] as [int]) as  [arrivals_total_rooms]
, CAST([arrivals_total_guests] as [int]) as  [arrivals_total_guests]
, CAST([arrivals_total_adults] as [int]) as  [arrivals_total_adults]
, CAST([arrivals_total_children] as [int]) as  [arrivals_total_children]
, CAST([stay_overs_rooms] as [int]) as  [stay_overs_rooms]
, CAST([stay_overs_guests] as [int]) as  [stay_overs_guests]
, CAST([stay_overs_adults] as [int]) as  [stay_overs_adults]
, CAST([stay_overs_children] as [int]) as  [stay_overs_children]
, CAST([no_show_rooms] as [int]) as  [no_show_rooms]
, CAST([no_show_guests] as [int]) as  [no_show_guests]
, CAST([no_show_adults] as [int]) as  [no_show_adults]
, CAST([no_show_children] as [int]) as  [no_show_children]
, CAST([totals_rooms] as [int]) as  [totals_rooms]
, CAST([totals_guests] as [int]) as  [totals_guests]
, CAST([totals_adults] as [int]) as  [totals_adults]
, CAST([totals_children] as [int]) as  [totals_children]
, CAST([same_day_rooms] as [int]) as  [same_day_rooms]
, CAST([same_day_guests] as [int]) as  [same_day_guests]
, CAST([same_day_adults] as [int]) as  [same_day_adults]
, CAST([same_day_children] as [int]) as  [same_day_children]
, CAST([walkin_rooms] as [int]) as  [walkin_rooms]
, CAST([walkin_guests] as [int]) as  [walkin_guests]
, CAST([walkin_adults] as [int]) as  [walkin_adults]
, CAST([walkin_children] as [int]) as  [walkin_children]
, CAST([reservations_no_rate_rooms] as [int]) as  [reservations_no_rate_rooms]
, CAST([no_rate_guests] as [int]) as  [no_rate_guests]
, CAST([no_rate_adults] as [int]) as  [no_rate_adults]
, CAST([no_rate_children] as [int]) as  [no_rate_children]
, CAST([rooms_vacant] as [int]) as  [rooms_vacant]
, CAST([rooms_sold] as [int]) as  [rooms_sold]
, CAST([rooms_sold_guests] as [int]) as  [rooms_sold_guests]
, CAST([rooms_comped] as [int]) as  [rooms_comped]
, CAST([rooms_comped_guests] as [int]) as  [rooms_comped_guests]
, CAST([rooms_occupied] as [int]) as  [rooms_occupied]
, CAST([rooms_occupied_guests] as [int]) as  [rooms_occupied_guests]
, CAST([transient_rooms_sold] as [int]) as  [transient_rooms_sold]
, CAST([transient_rooms_sold_guests] as [int]) as  [transient_rooms_sold_guests]
, CAST([group_rooms_sold] as [int]) as  [group_rooms_sold]
, CAST([group_rooms_sold_guests] as [int]) as  [group_rooms_sold_guests]
, CAST([room_type_sold] as [int]) as  [room_type_sold]
, CAST([groups_not_picked_up] as [int]) as  [groups_not_picked_up]
, CAST([availability_no_rate_rooms] as [int]) as  [availability_no_rate_rooms]
, CAST([room_revenue] as [money]) as  [room_revenue]
, CAST([room_revenue_transient] as [money]) as  [room_revenue_transient]
, CAST([room_revenue_group] as [money]) as  [room_revenue_group]
--, CAST([last_updated_at] as [datetime]) as  [last_updated_at]
, CAST([historic] as [varchar] (5)) as  [historic]
, CAST([room_revenue_total] as [money]) as  [room_revenue_total]
, CAST([room_revenue_tax] as [money]) as  [room_revenue_tax]
, CAST([room_revenue_transient_total] as [money]) as  [room_revenue_transient_total]
, CAST([room_revenue_transient_tax] as [money]) as  [room_revenue_transient_tax]
, CAST([room_revenue_group_total] as [money]) as  [room_revenue_group_total]
, CAST([room_revenue_group_tax] as [money]) as  [room_revenue_group_tax]
, CAST([room_type_name] as [varchar] (200)) as  [room_type_name]
--, CAST([room_type_code] as [varchar] (200)) as  [room_type_code]
--, CAST([rate_code] as [varchar] (200)) as  [rate_code]
, CAST([rate_name] as [varchar] (200)) as  [rate_name]
, CAST([market_segment_name] as [varchar] (200)) as  [market_segment_name]
--, CAST([market_segment_code] as [varchar] (200)) as  [market_segment_code]
, CAST([originated_room_revenue] as [money]) as  [originated_room_revenue]
, CAST([originated_room_revenue_transient] as [money]) as  [originated_room_revenue_transient]
, CAST([originated_room_revenue_group] as [money]) as  [originated_room_revenue_group]
, CAST([originated_room_revenue_total] as [money]) as  [originated_room_revenue_total]
, CAST([originated_room_revenue_tax] as [money]) as  [originated_room_revenue_tax]
, CAST([originated_room_revenue_transient_total] as [money]) as  [originated_room_revenue_transient_total]
, CAST([originated_room_revenue_transient_tax] as [money]) as  [originated_room_revenue_transient_tax]
, CAST([originated_room_revenue_group_total] as [money]) as  [originated_room_revenue_group_total]
, CAST([originated_room_revenue_group_tax] as [money]) as  [originated_room_revenue_group_tax]
, CAST([redemption_stay] as [int]) as  [redemption_stay]

FROM OPENQUERY(Stay_PostgreSQL,
'SELECT DISTINCT 
  date --date
, tenant_id --text
, property_id --text
, building_name --text
, room_type_code --text
, rate_code --text
, market_segment_code --text

, last_updated_at --timestamp with time zone

, total_rooms --integer
, off_the_market --integer
, total_available_rooms --integer
, out_of_order --integer
, rentable_rooms --integer
, hold --integer
, departures_remaining_rooms --integer
, departures_remaining_guests --integer
, departures_remaining_adults --integer
, departures_remaining_children --integer
, departures_total_rooms --integer
, departures_total_guests --integer
, departures_total_adults --integer
, departures_total_children --integer
, arrivals_remaining_rooms --integer
, arrivals_remaining_guests --integer
, arrivals_remaining_adults --integer
, arrivals_remaining_children --integer
, arrivals_total_rooms --integer
, arrivals_total_guests --integer
, arrivals_total_adults --integer
, arrivals_total_children --integer
, stay_overs_rooms --integer
, stay_overs_guests --integer
, stay_overs_adults --integer
, stay_overs_children --integer
, no_show_rooms --integer
, no_show_guests --integer
, no_show_adults --integer
, no_show_children --integer
, totals_rooms --integer
, totals_guests --integer
, totals_adults --integer
, totals_children --integer
, same_day_rooms --integer
, same_day_guests --integer
, same_day_adults --integer
, same_day_children --integer
, walkin_rooms --integer
, walkin_guests --integer
, walkin_adults --integer
, walkin_children --integer
, reservations_no_rate_rooms --integer
, no_rate_guests --integer
, no_rate_adults --integer
, no_rate_children --integer
, rooms_vacant --integer
, rooms_sold --integer
, rooms_sold_guests --integer
, rooms_comped --integer
, rooms_comped_guests --integer
, rooms_occupied --integer
, rooms_occupied_guests --integer
, transient_rooms_sold --integer
, transient_rooms_sold_guests --integer
, group_rooms_sold --integer
, group_rooms_sold_guests --integer
, room_type_sold --integer
, groups_not_picked_up --integer
, availability_no_rate_rooms --integer
, room_revenue --numeric(19,2)
, room_revenue_transient --numeric(19,2)
, room_revenue_group --numeric(19,2)
--, last_updated_at --timestamp with time zone
, historic --boolean,
, room_revenue_total --numeric
, room_revenue_tax --numeric
, room_revenue_transient_total --numeric
, room_revenue_transient_tax --numeric
, room_revenue_group_total --numeric
, room_revenue_group_tax --numeric
, room_type_name --text
--, room_type_code --text
--, rate_code --text
, rate_name --text
, market_segment_name --text
--, market_segment_code --text
, originated_room_revenue --numeric
, originated_room_revenue_transient --numeric
, originated_room_revenue_group --numeric
, originated_room_revenue_total --numeric
, originated_room_revenue_tax --numeric
, originated_room_revenue_transient_total --numeric
, originated_room_revenue_transient_tax --numeric
, originated_room_revenue_group_total --numeric
, originated_room_revenue_group_tax --numeric
, redemption_stay --integer

FROM public.flash_aggregate

WHERE last_updated_at >= current_timestamp - interval ''2 hours''
  AND date IS NOT NULL
  AND tenant_id IS NOT NULL
  AND property_id IS NOT NULL
  AND building_name IS NOT NULL
  AND room_type_code IS NOT NULL
  AND rate_code IS NOT NULL
  AND market_segment_code IS NOT NULL
  AND last_updated_at IS NOT NULL

ORDER BY
  date
, tenant_id
, property_id
, building_name
, room_type_code
, rate_code
, market_segment_code
, last_updated_at 

'
) 

ORDER BY
  [date]
, [tenant_id]
, [property_id]
, [building_name]
, [room_type_code]
, [rate_code]
, [market_segment_code]
, [last_updated_at] ;

----------------------------------------------------------------------------------------
-- Merge delta data into perm table
----------------------------------------------------------------------------------------

MERGE dbo.flash_aggregate AS [target]
USING (
SELECT 
  [date]
, [tenant_id]
, [property_id]
, [building_name]
, [room_type_code]
, [rate_code]
, [market_segment_code]
, max([last_updated_at]) as [last_updated_at]
, max([total_rooms]) as [total_rooms]
, max([off_the_market]) as [off_the_market]
, max([total_available_rooms]) as [total_available_rooms]
, max([out_of_order]) as [out_of_order]
, max([rentable_rooms]) as [rentable_rooms]
, max([hold]) as [hold]
, max([departures_remaining_rooms]) as [departures_remaining_rooms]
, max([departures_remaining_guests]) as [departures_remaining_guests]
, max([departures_remaining_adults]) as [departures_remaining_adults]
, max([departures_remaining_children]) as [departures_remaining_children]
, max([departures_total_rooms]) as [departures_total_rooms]
, max([departures_total_guests]) as [departures_total_guests]
, max([departures_total_adults]) as [departures_total_adults]
, max([departures_total_children]) as [departures_total_children]
, max([arrivals_remaining_rooms]) as [arrivals_remaining_rooms]
, max([arrivals_remaining_guests]) as [arrivals_remaining_guests]
, max([arrivals_remaining_adults]) as [arrivals_remaining_adults]
, max([arrivals_remaining_children]) as [arrivals_remaining_children]
, max([arrivals_total_rooms]) as [arrivals_total_rooms]
, max([arrivals_total_guests]) as [arrivals_total_guests]
, max([arrivals_total_adults]) as [arrivals_total_adults]
, max([arrivals_total_children]) as [arrivals_total_children]
, max([stay_overs_rooms]) as [stay_overs_rooms]
, max([stay_overs_guests]) as [stay_overs_guests]
, max([stay_overs_adults]) as [stay_overs_adults]
, max([stay_overs_children]) as [stay_overs_children]
, max([no_show_rooms]) as [no_show_rooms]
, max([no_show_guests]) as [no_show_guests]
, max([no_show_adults]) as [no_show_adults]
, max([no_show_children]) as [no_show_children]
, max([totals_rooms]) as [totals_rooms]
, max([totals_guests]) as [totals_guests]
, max([totals_adults]) as [totals_adults]
, max([totals_children]) as [totals_children]
, max([same_day_rooms]) as [same_day_rooms]
, max([same_day_guests]) as [same_day_guests]
, max([same_day_adults]) as [same_day_adults]
, max([same_day_children]) as [same_day_children]
, max([walkin_rooms]) as [walkin_rooms]
, max([walkin_guests]) as [walkin_guests]
, max([walkin_adults]) as [walkin_adults]
, max([walkin_children]) as [walkin_children]
, max([reservations_no_rate_rooms]) as [reservations_no_rate_rooms]
, max([no_rate_guests]) as [no_rate_guests]
, max([no_rate_adults]) as [no_rate_adults]
, max([no_rate_children]) as [no_rate_children]
, max([rooms_vacant]) as [rooms_vacant]
, max([rooms_sold]) as [rooms_sold]
, max([rooms_sold_guests]) as [rooms_sold_guests]
, max([rooms_comped]) as [rooms_comped]
, max([rooms_comped_guests]) as [rooms_comped_guests]
, max([rooms_occupied]) as [rooms_occupied]
, max([rooms_occupied_guests]) as [rooms_occupied_guests]
, max([transient_rooms_sold]) as [transient_rooms_sold]
, max([transient_rooms_sold_guests]) as [transient_rooms_sold_guests]
, max([group_rooms_sold]) as [group_rooms_sold]
, max([group_rooms_sold_guests]) as [group_rooms_sold_guests]
, max([room_type_sold]) as [room_type_sold]
, max([groups_not_picked_up]) as [groups_not_picked_up]
, max([availability_no_rate_rooms]) as [availability_no_rate_rooms]
, max([room_revenue]) as [room_revenue]
, max([room_revenue_transient]) as [room_revenue_transient]
, max([room_revenue_group]) as [room_revenue_group]
, max([historic]) as [historic]
, max([room_revenue_total]) as [room_revenue_total]
, max([room_revenue_tax]) as [room_revenue_tax]
, max([room_revenue_transient_total]) as [room_revenue_transient_total]
, max([room_revenue_transient_tax]) as [room_revenue_transient_tax]
, max([room_revenue_group_total]) as [room_revenue_group_total]
, max([room_revenue_group_tax]) as[room_revenue_group_tax] 
, max([room_type_name]) as [room_type_name]
, max([rate_name]) as [rate_name]
, max([market_segment_name]) as[market_segment_name] 
, max([originated_room_revenue]) as [originated_room_revenue]
, max([originated_room_revenue_transient]) as [originated_room_revenue_transient]
, max([originated_room_revenue_group]) as [originated_room_revenue_group]
, max([originated_room_revenue_total]) as [originated_room_revenue_total]
, max([originated_room_revenue_tax]) as [originated_room_revenue_tax]
, max([originated_room_revenue_transient_total]) as [originated_room_revenue_transient_total]
, max([originated_room_revenue_transient_tax]) as [originated_room_revenue_transient_tax]
, max([originated_room_revenue_group_total]) as [originated_room_revenue_group_total]
, max([originated_room_revenue_group_tax]) as [originated_room_revenue_group_tax]
, max([redemption_stay]) as [redemption_stay] 

FROM dbo.flash_aggregate_Delta

GROUP BY
  [date]
, [tenant_id]
, [property_id]
, [building_name]
, [room_type_code]
, [rate_code]
, [market_segment_code]
--, [last_updated_at]

) AS delta

ON [target].[date] = delta.[date]
AND [target].[tenant_id] = delta.[tenant_id]
AND [target].[property_id] = delta.[property_id]
AND [target].[building_name] = delta.[building_name] 
AND [target].[room_type_code] = delta.[room_type_code]
AND [target].[rate_code] = delta.[rate_code]
AND [target].[market_segment_code] = delta.[market_segment_code]

AND delta.last_updated_at >= [target].last_updated_at


WHEN MATCHED 
THEN UPDATE SET 
  [date] = delta.[date]
, [tenant_id] = delta.[tenant_id]
, [property_id] = delta.[property_id]
, [building_name] = delta.[building_name]
, [room_type_code] = delta. [room_type_code]
, [rate_code] = delta. [rate_code]
, [market_segment_code] = delta. [market_segment_code]

, [last_updated_at] = delta.[last_updated_at]
, [total_rooms] = delta.[total_rooms]
, [off_the_market] = delta.[off_the_market]
, [total_available_rooms] = delta.[total_available_rooms]
, [out_of_order] = delta.[out_of_order]
, [rentable_rooms] = delta.[rentable_rooms]
, [hold] = delta.[hold]
, [departures_remaining_rooms] = delta.[departures_remaining_rooms]
, [departures_remaining_guests] = delta.[departures_remaining_guests]
, [departures_remaining_adults] = delta.[departures_remaining_adults]
, [departures_remaining_children] = delta.[departures_remaining_children]
, [departures_total_rooms] = delta.[departures_total_rooms]
, [departures_total_guests] = delta.[departures_total_guests]
, [departures_total_adults] = delta.[departures_total_adults]
, [departures_total_children] = delta.[departures_total_children]
, [arrivals_remaining_rooms] = delta.[arrivals_remaining_rooms]
, [arrivals_remaining_guests] = delta.[arrivals_remaining_guests]
, [arrivals_remaining_adults] = delta.[arrivals_remaining_adults]
, [arrivals_remaining_children] = delta.[arrivals_remaining_children]
, [arrivals_total_rooms] = delta.[arrivals_total_rooms]
, [arrivals_total_guests] = delta.[arrivals_total_guests]
, [arrivals_total_adults] = delta.[arrivals_total_adults]
, [arrivals_total_children] = delta.[arrivals_total_children]
, [stay_overs_rooms] = delta.[stay_overs_rooms]
, [stay_overs_guests] = delta.[stay_overs_guests]
, [stay_overs_adults] = delta.[stay_overs_adults]
, [stay_overs_children] = delta.[stay_overs_children]
, [no_show_rooms] = delta.[no_show_rooms]
, [no_show_guests] = delta.[no_show_guests]
, [no_show_adults] = delta.[no_show_adults]
, [no_show_children] = delta.[no_show_children]
, [totals_rooms] = delta.[totals_rooms]
, [totals_guests] = delta.[totals_guests]
, [totals_adults] = delta.[totals_adults]
, [totals_children] = delta.[totals_children]
, [same_day_rooms] = delta.[same_day_rooms]
, [same_day_guests] = delta.[same_day_guests]
, [same_day_adults] = delta.[same_day_adults]
, [same_day_children] = delta.[same_day_children]
, [walkin_rooms] = delta.[walkin_rooms]
, [walkin_guests] = delta.[walkin_guests]
, [walkin_adults] = delta.[walkin_adults]
, [walkin_children] = delta.[walkin_children]
, [reservations_no_rate_rooms] = delta.[reservations_no_rate_rooms]
, [no_rate_guests] = delta.[no_rate_guests]
, [no_rate_adults] = delta.[no_rate_adults]
, [no_rate_children] = delta.[no_rate_children]
, [rooms_vacant] = delta.[rooms_vacant]
, [rooms_sold] = delta.[rooms_sold]
, [rooms_sold_guests] = delta.[rooms_sold_guests]
, [rooms_comped] = delta.[rooms_comped]
, [rooms_comped_guests] = delta.[rooms_comped_guests]
, [rooms_occupied] = delta.[rooms_occupied]
, [rooms_occupied_guests] = delta.[rooms_occupied_guests]
, [transient_rooms_sold] = delta.[transient_rooms_sold]
, [transient_rooms_sold_guests] = delta.[transient_rooms_sold_guests]
, [group_rooms_sold] = delta.[group_rooms_sold]
, [group_rooms_sold_guests] = delta.[group_rooms_sold_guests]
, [room_type_sold] = delta.[room_type_sold]
, [groups_not_picked_up] = delta.[groups_not_picked_up]
, [availability_no_rate_rooms] = delta.[availability_no_rate_rooms]
, [room_revenue] = delta.[room_revenue]
, [room_revenue_transient] = delta.[room_revenue_transient]
, [room_revenue_group] = delta.[room_revenue_group]
, [historic] = delta.[historic]
, [room_revenue_total] = delta.[room_revenue_total]
, [room_revenue_tax] = delta.[room_revenue_tax]
, [room_revenue_transient_total] = delta.[room_revenue_transient_total]
, [room_revenue_transient_tax] = delta.[room_revenue_transient_tax]
, [room_revenue_group_total] = delta.[room_revenue_group_total]
, [room_revenue_group_tax] = delta.[room_revenue_group_tax]
, [room_type_name] = delta. [room_type_name]
, [rate_name] = delta. [rate_name]
, [market_segment_name] = delta. [market_segment_name]
, [originated_room_revenue] = delta.[originated_room_revenue]
, [originated_room_revenue_transient] = delta.[originated_room_revenue_transient]
, [originated_room_revenue_group] = delta.[originated_room_revenue_group]
, [originated_room_revenue_total] = delta.[originated_room_revenue_total]
, [originated_room_revenue_tax] = delta.[originated_room_revenue_tax]
, [originated_room_revenue_transient_total] = delta.[originated_room_revenue_transient_total]
, [originated_room_revenue_transient_tax] = delta.[originated_room_revenue_transient_tax]
, [originated_room_revenue_group_total] = delta.[originated_room_revenue_group_total]
, [originated_room_revenue_group_tax] = delta.[originated_room_revenue_group_tax]
, [redemption_stay] = delta.[redemption_stay]
, [target].Local_ETL_Updated_TS = CURRENT_TIMESTAMP

WHEN NOT MATCHED THEN INSERT 
( 
  [date]
, [tenant_id]
, [property_id]
, [building_name]
, [room_type_code]
, [rate_code]
, [market_segment_code]

, [last_updated_at]

, [total_rooms]
, [off_the_market]
, [total_available_rooms]
, [out_of_order]
, [rentable_rooms]
, [hold]
, [departures_remaining_rooms]
, [departures_remaining_guests]
, [departures_remaining_adults]
, [departures_remaining_children]
, [departures_total_rooms]
, [departures_total_guests]
, [departures_total_adults]
, [departures_total_children]
, [arrivals_remaining_rooms]
, [arrivals_remaining_guests]
, [arrivals_remaining_adults]
, [arrivals_remaining_children]
, [arrivals_total_rooms]
, [arrivals_total_guests]
, [arrivals_total_adults]
, [arrivals_total_children]
, [stay_overs_rooms]
, [stay_overs_guests]
, [stay_overs_adults]
, [stay_overs_children]
, [no_show_rooms]
, [no_show_guests]
, [no_show_adults]
, [no_show_children]
, [totals_rooms]
, [totals_guests]
, [totals_adults]
, [totals_children]
, [same_day_rooms]
, [same_day_guests]
, [same_day_adults]
, [same_day_children]
, [walkin_rooms]
, [walkin_guests]
, [walkin_adults]
, [walkin_children]
, [reservations_no_rate_rooms]
, [no_rate_guests]
, [no_rate_adults]
, [no_rate_children]
, [rooms_vacant]
, [rooms_sold]
, [rooms_sold_guests]
, [rooms_comped]
, [rooms_comped_guests]
, [rooms_occupied]
, [rooms_occupied_guests]
, [transient_rooms_sold]
, [transient_rooms_sold_guests]
, [group_rooms_sold]
, [group_rooms_sold_guests]
, [room_type_sold]
, [groups_not_picked_up]
, [availability_no_rate_rooms]
, [room_revenue]
, [room_revenue_transient]
, [room_revenue_group]
, [historic]
, [room_revenue_total]
, [room_revenue_tax]
, [room_revenue_transient_total]
, [room_revenue_transient_tax]
, [room_revenue_group_total]
, [room_revenue_group_tax]
, [room_type_name]
, [rate_name]
, [market_segment_name]
, [originated_room_revenue]
, [originated_room_revenue_transient]
, [originated_room_revenue_group]
, [originated_room_revenue_total]
, [originated_room_revenue_tax]
, [originated_room_revenue_transient_total]
, [originated_room_revenue_transient_tax]
, [originated_room_revenue_group_total]
, [originated_room_revenue_group_tax]
, [redemption_stay]
, [Local_ETL_Inserted_TS]
) 
VALUES 
( 
  delta.[date]
, delta.[tenant_id]
, delta.[property_id]
, delta.[building_name]
, delta.[room_type_code]
, delta.[rate_code]
, delta.[market_segment_code]

, delta.[last_updated_at]

, delta.[total_rooms]
, delta.[off_the_market]
, delta.[total_available_rooms]
, delta.[out_of_order]
, delta.[rentable_rooms]
, delta.[hold]
, delta.[departures_remaining_rooms]
, delta.[departures_remaining_guests]
, delta.[departures_remaining_adults]
, delta.[departures_remaining_children]
, delta.[departures_total_rooms]
, delta.[departures_total_guests]
, delta.[departures_total_adults]
, delta.[departures_total_children]
, delta.[arrivals_remaining_rooms]
, delta.[arrivals_remaining_guests]
, delta.[arrivals_remaining_adults]
, delta.[arrivals_remaining_children]
, delta.[arrivals_total_rooms]
, delta.[arrivals_total_guests]
, delta.[arrivals_total_adults]
, delta.[arrivals_total_children]
, delta.[stay_overs_rooms]
, delta.[stay_overs_guests]
, delta.[stay_overs_adults]
, delta.[stay_overs_children]
, delta.[no_show_rooms]
, delta.[no_show_guests]
, delta.[no_show_adults]
, delta.[no_show_children]
, delta.[totals_rooms]
, delta.[totals_guests]
, delta.[totals_adults]
, delta.[totals_children]
, delta.[same_day_rooms]
, delta.[same_day_guests]
, delta.[same_day_adults]
, delta.[same_day_children]
, delta.[walkin_rooms]
, delta.[walkin_guests]
, delta.[walkin_adults]
, delta.[walkin_children]
, delta.[reservations_no_rate_rooms]
, delta.[no_rate_guests]
, delta.[no_rate_adults]
, delta.[no_rate_children]
, delta.[rooms_vacant]
, delta.[rooms_sold]
, delta.[rooms_sold_guests]
, delta.[rooms_comped]
, delta.[rooms_comped_guests]
, delta.[rooms_occupied]
, delta.[rooms_occupied_guests]
, delta.[transient_rooms_sold]
, delta.[transient_rooms_sold_guests]
, delta.[group_rooms_sold]
, delta.[group_rooms_sold_guests]
, delta.[room_type_sold]
, delta.[groups_not_picked_up]
, delta.[availability_no_rate_rooms]
, delta.[room_revenue]
, delta.[room_revenue_transient]
, delta.[room_revenue_group]
, delta.[historic]
, delta.[room_revenue_total]
, delta.[room_revenue_tax]
, delta.[room_revenue_transient_total]
, delta.[room_revenue_transient_tax]
, delta.[room_revenue_group_total]
, delta.[room_revenue_group_tax]
, delta.[room_type_name]
, delta.[rate_name]
, delta.[market_segment_name]
, delta.[originated_room_revenue]
, delta.[originated_room_revenue_transient]
, delta.[originated_room_revenue_group]
, delta.[originated_room_revenue_total]
, delta.[originated_room_revenue_tax]
, delta.[originated_room_revenue_transient_total]
, delta.[originated_room_revenue_transient_tax]
, delta.[originated_room_revenue_group_total]
, delta.[originated_room_revenue_group_tax]
, [redemption_stay]
, CURRENT_TIMESTAMP -- Local_ETL_Inserted_TS
);

--(50311 rows affected)
--(48684 rows affected)

--(50306 rows affected)
--(48679 rows affected)

--(36505 rows affected)
--(35069 rows affected)