USE [StayDWH]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE usp_Load_flash_aggregate_Snapshot
AS 

TRUNCATE TABLE dbo.flash_aggregate_Snapshot ;

INSERT INTO dbo.flash_aggregate_Snapshot
SELECT DISTINCT
  CAST([date] as [date]) as [date]
, CAST([tenant_id] as [varchar] (200)) as [tenant_id]
, CAST([property_id] as [varchar] (200)) as [property_id]
, CAST([last_updated_at] as [datetime2] (7)) as  [last_updated_at]
, CAST([building_name] as [varchar] (200)) as [building_name]
, CAST([total_rooms] as [int]) as  [total_rooms]
, CAST([off_the_market] as [int]) as  [off_the_market]
, CAST([total_available_rooms] as [int]) as  [total_available_rooms]
, CAST([out_of_order] as [int]) as  [out_of_order]
, CAST([rentable_rooms] as [int]) as  [rentable_rooms]
, CAST([hold] as [int]) as  [hold]
, CAST([departures_remaining_rooms] as [int]) as  [departures_remaining_rooms]
, CAST([departures_remaining_guests] as [int]) as  [departures_remaining_guests]
, CAST([departures_remaining_adults] as [int]) as  [departures_remaining_adults]
, CAST([departures_remaining_children] as [int]) as  [departures_remaining_children]
, CAST([departures_total_rooms] as [int]) as  [departures_total_rooms]
, CAST([departures_total_guests] as [int]) as  [departures_total_guests]
, CAST([departures_total_adults] as [int]) as  [departures_total_adults]
, CAST([departures_total_children] as [int]) as  [departures_total_children]
, CAST([arrivals_remaining_rooms] as [int]) as  [arrivals_remaining_rooms]
, CAST([arrivals_remaining_guests] as [int]) as  [arrivals_remaining_guests]
, CAST([arrivals_remaining_adults] as [int]) as  [arrivals_remaining_adults]
, CAST([arrivals_remaining_children] as [int]) as  [arrivals_remaining_children]
, CAST([arrivals_total_rooms] as [int]) as  [arrivals_total_rooms]
, CAST([arrivals_total_guests] as [int]) as  [arrivals_total_guests]
, CAST([arrivals_total_adults] as [int]) as  [arrivals_total_adults]
, CAST([arrivals_total_children] as [int]) as  [arrivals_total_children]
, CAST([stay_overs_rooms] as [int]) as  [stay_overs_rooms]
, CAST([stay_overs_guests] as [int]) as  [stay_overs_guests]
, CAST([stay_overs_adults] as [int]) as  [stay_overs_adults]
, CAST([stay_overs_children] as [int]) as  [stay_overs_children]
, CAST([no_show_rooms] as [int]) as  [no_show_rooms]
, CAST([no_show_guests] as [int]) as  [no_show_guests]
, CAST([no_show_adults] as [int]) as  [no_show_adults]
, CAST([no_show_children] as [int]) as  [no_show_children]
, CAST([totals_rooms] as [int]) as  [totals_rooms]
, CAST([totals_guests] as [int]) as  [totals_guests]
, CAST([totals_adults] as [int]) as  [totals_adults]
, CAST([totals_children] as [int]) as  [totals_children]
, CAST([same_day_rooms] as [int]) as  [same_day_rooms]
, CAST([same_day_guests] as [int]) as  [same_day_guests]
, CAST([same_day_adults] as [int]) as  [same_day_adults]
, CAST([same_day_children] as [int]) as  [same_day_children]
, CAST([walkin_rooms] as [int]) as  [walkin_rooms]
, CAST([walkin_guests] as [int]) as  [walkin_guests]
, CAST([walkin_adults] as [int]) as  [walkin_adults]
, CAST([walkin_children] as [int]) as  [walkin_children]
, CAST([reservations_no_rate_rooms] as [int]) as  [reservations_no_rate_rooms]
, CAST([no_rate_guests] as [int]) as  [no_rate_guests]
, CAST([no_rate_adults] as [int]) as  [no_rate_adults]
, CAST([no_rate_children] as [int]) as  [no_rate_children]
, CAST([rooms_vacant] as [int]) as  [rooms_vacant]
, CAST([rooms_sold] as [int]) as  [rooms_sold]
, CAST([rooms_sold_guests] as [int]) as  [rooms_sold_guests]
, CAST([rooms_comped] as [int]) as  [rooms_comped]
, CAST([rooms_comped_guests] as [int]) as  [rooms_comped_guests]
, CAST([rooms_occupied] as [int]) as  [rooms_occupied]
, CAST([rooms_occupied_guests] as [int]) as  [rooms_occupied_guests]
, CAST([transient_rooms_sold] as [int]) as  [transient_rooms_sold]
, CAST([transient_rooms_sold_guests] as [int]) as  [transient_rooms_sold_guests]
, CAST([group_rooms_sold] as [int]) as  [group_rooms_sold]
, CAST([group_rooms_sold_guests] as [int]) as  [group_rooms_sold_guests]
, CAST([room_type_sold] as [int]) as  [room_type_sold]
, CAST([groups_not_picked_up] as [int]) as  [groups_not_picked_up]
, CAST([availability_no_rate_rooms] as [int]) as  [availability_no_rate_rooms]
, CAST([room_revenue] as [money]) as  [room_revenue]
, CAST([room_revenue_transient] as [money]) as  [room_revenue_transient]
, CAST([room_revenue_group] as [money]) as  [room_revenue_group]
--, CAST([last_updated_at] as [datetime]) as  [last_updated_at]
, CAST([historic] as [varchar] (5)) as  [historic]
, CAST([room_revenue_total] as [money]) as  [room_revenue_total]
, CAST([room_revenue_tax] as [money]) as  [room_revenue_tax]
, CAST([room_revenue_transient_total] as [money]) as  [room_revenue_transient_total]
, CAST([room_revenue_transient_tax] as [money]) as  [room_revenue_transient_tax]
, CAST([room_revenue_group_total] as [money]) as  [room_revenue_group_total]
, CAST([room_revenue_group_tax] as [money]) as  [room_revenue_group_tax]
, CAST([room_type_name] as [varchar] (200)) as  [room_type_name]
, CAST([room_type_code] as [varchar] (200)) as  [room_type_code]
, CAST([rate_code] as [varchar] (200)) as  [rate_code]
, CAST([rate_name] as [varchar] (200)) as  [rate_name]
, CAST([market_segment_name] as [varchar] (200)) as  [market_segment_name]
, CAST([market_segment_code] as [varchar] (200)) as  [market_segment_code]
, CAST([originated_room_revenue] as [money]) as  [originated_room_revenue]
, CAST([originated_room_revenue_transient] as [money]) as  [originated_room_revenue_transient]
, CAST([originated_room_revenue_group] as [money]) as  [originated_room_revenue_group]
, CAST([originated_room_revenue_total] as [money]) as  [originated_room_revenue_total]
, CAST([originated_room_revenue_tax] as [money]) as  [originated_room_revenue_tax]
, CAST([originated_room_revenue_transient_total] as [money]) as  [originated_room_revenue_transient_total]
, CAST([originated_room_revenue_transient_tax] as [money]) as  [originated_room_revenue_transient_tax]
, CAST([originated_room_revenue_group_total] as [money]) as  [originated_room_revenue_group_total]
, CAST([originated_room_revenue_group_tax] as [money]) as  [originated_room_revenue_group_tax]
, CAST([redemption_stay] as [int]) as  [redemption_stay]
, CURRENT_TIMESTAMP as [Local_ETL_Inserted_TS] 

FROM OPENQUERY(Stay_PostgreSQL,
'SELECT DISTINCT *
FROM public.flash_aggregate
'
) 

ORDER BY
  [date]
, [tenant_id]
, [property_id]
, [building_name]
, [room_type_code]
, [rate_code]
, [market_segment_code]
, [last_updated_at] ;

GO

