/****** Script for SelectTopNRows command from SSMS  ******/
SELECT COUNT(*)
  FROM [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]

--TRUNCATE TABLE [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]

--SELECT DISTINCT *
--INTO DISTINCT_DATA
--  FROM [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]


  --459675

SELECT 
  MIN(INSERT_DATE)
, MAX(INSERT_DATE)
  FROM [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]