SELECT COUNT(*)
FROM [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]

--TRUNCATE TABLE [OperaDM].[dbo].[OBI_RESERVATION_STAT_DAILY]

-- 5/10 - 751363
-- 5/11 - 752069
-- 5/13 - 753724
-- 5/14 - 754667
-- 5/15 - 755469
-- 5/16 - 756213
-- 5/18 - 757626
