USE [iQ-Gaming]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [myViejas].[sp_Update_Player_Awards_BATCH_UPDATE]
    @UTC_Now DATETIMEOFFSET 
  , @HowManyMonths INT = 12 
AS

-- This copy of sp_Update_Player_Awards allows you to specify a starting date and the number of months to 
-- compute an ending date.  Then the proc can be run to reload the iQC_Awards table in batches. 

BEGIN

	SET NOCOUNT ON

	IF object_id('tempdb..#Player_Awards_myViejas') IS NOT NULL
	 BEGIN
		DROP TABLE #Player_Awards_myViejas
	 END

	----------------------------------------------------------------------------------------------------------
	 -- date settings in original proc 

	----DECLARE @Begin_UTC DATETIMEOFFSET = DATEADD(hh, -24, @UTC_Now)
	----DECLARE @End_UTC DATETIMEOFFSET = DATEADD(ms, -1, @UTC_Now)

----------------------------------------------------------------------------------------------------------

	-- New date settings 

	DECLARE @Begin_UTC DATETIMEOFFSET = @UTC_Now -- beggining / floor selection date
	DECLARE @End_UTC DATETIMEOFFSET = DATEADD(MONTH,@HowManyMonths,@Begin_UTC) -- ending / ceiling selection date
	
	BEGIN TRY
				
		WITH Awards_CTE AS
		(
			--CARL: had a comment here but not sure if it applies any longer:  "extra logic needs to be added to the outer where clause found in sp_CMP_Update_IQC_Awards"

			SELECT 
				aw.PlayerID,
				aw.GamingDt,
			--CASH Awards
				sum(case when (aw.awardcode in ('c','T')) then 1 else 0 end) as COUNT_Award_Cash_Total,
				sum(case when (aw.awardcode in ('c','T')) then aw.AwardUsed else 0 end) as Award_Cash_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][MNXY]%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_activeNL' then 1 else 0 end)
				as COUNT_Award_BingoCash_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][MNXY]%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_activeNL' then aw.AwardUsed else 0 end)
				as Award_BingoCash_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][O-P]%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_InactiveNL' then 1 else 0 end)
				as COUNT_Award_BingoCash_InactiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][O-P]%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_InactiveNL' then aw.AwardUsed else 0 end)
				as Award_BingoCash_InactiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][K]%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_OuterMarketNL' then 1 else 0 end)
				as COUNT_Award_BingoCash_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'L[0-9][0-9][A-L]B[0-9][K]%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_OuterMarketNL' then aw.AwardUsed else 0 end)
				as Award_BingoCash_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'S[0-9][0-9][A-L]%' and pz.prizename like '%Bingo%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_Supplemental' then 1 else 0 end)
				as COUNT_Award_BingoCash_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'S[0-9][0-9][A-L]%' and pz.prizename like '%Bingo%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_Supplemental' then aw.AwardUsed else 0 end)
				as Award_BingoCash_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'BNG%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_Discretionary' then 1 else 0 end)
				as COUNT_Award_BingoCash_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'BNG%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_BingoCash_Discretionary' then aw.AwardUsed else 0 end)
				as Award_BingoCash_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'c' and pz.prizecode like 'P[0-9][0-9][A-L]%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_PromoWinner' then 1 else 0 end)
				as COUNT_Award_Cash_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'c' and pz.prizecode like 'P[0-9][0-9][A-L]%' then  aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_PromoWinner' then aw.AwardUsed else 0 end)
				as Award_Cash_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'CB$%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_CashBack' then 1 else 0 end)
				as COUNT_award_Cash_CashBack,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'CB$%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_CashBack' then aw.AwardUsed else 0 end)
				as award_Cash_CashBack,
				sum(case when aw.GamingDt >= '2021-07-01' and ((aw.awardcode = 'c' and tr.trancode = 'SETLPRMO' and pz.prizecode in ('CashRebate', 'GftCrdComp'))
					or pz.prizecode ='ECash-Csh'
					or (aw.awardcode = 'c'  and tr.trancode = 'AUTHMGMT' and pz.prizecode in ('Off_Golf', 'Golf', 'PadreField', 'PadreSuite','OffSiteTks','ChrgBkComp', 'OtherComps'))
					or (aw.awardcode = 'T' AND TRANCODE = 'SETLMGMT')) then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_Discretionary' then 1 else 0 end)
				as COUNT_Award_Cash_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and ((aw.awardcode = 'c' and tr.trancode = 'SETLPRMO' and pz.prizecode in ('CashRebate', 'GftCrdComp'))
					or pz.prizecode ='ECash-Csh'
					or (aw.awardcode = 'c'  and tr.trancode = 'AUTHMGMT' and pz.prizecode in ('Off_Golf', 'Golf', 'PadreField', 'PadreSuite','OffSiteTks','ChrgBkComp', 'OtherComps'))
					or (aw.awardcode = 'T' AND TRANCODE = 'SETLMGMT')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_Discretionary' then aw.AwardUsed else 0 end)
				as Award_Cash_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'FP_BNG$%' then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_FPConversion' then 1 else 0 end)
				as COUNT_Award_Cash_FPConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and pz.prizecode like 'FP_BNG$%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_FPConversion' then aw.AwardUsed else 0 end)
				as Award_Cash_FPConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'c' and pz.prizecode like 'S[0-9][0-9][A-L]%' and pz.prizename not like '%Bingo%' then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_Supplemental' then 1 else 0 end)
				as COUNT_Award_Cash_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'c' and pz.prizecode like 'S[0-9][0-9][A-L]%' and pz.prizename not like '%Bingo%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Cash_Supplemental' then aw.AwardUsed else 0 end)
				as Award_Cash_Supplemental,
			--COMP Awards
				sum(case when aw.GamingDt >= '2021-07-01' and ((pz.prizecode = 'VocGftComp' and aw.awardcode in ('o') and tr.trancode = 'setlmgmt'))
					or pz.prizecode ='OnsiteTxs'
					or (pz.prizecode in ('CSpa','SPA','Onst30Rtl') and aw.awardcode = 'M' and tr.trancode = 'setlmgmt') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_Discretionary' then 1 else 0 end)
				as COUNT_Award_Comp_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and ((pz.prizecode = 'VocGftComp' and aw.awardcode in ('o') and tr.trancode = 'setlmgmt'))
					or pz.prizecode ='OnsiteTxs'
					or (pz.prizecode in ('CSpa','SPA','Onst30Rtl') and aw.awardcode = 'M' and tr.trancode = 'setlmgmt') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_Discretionary' then aw.AwardUsed else 0 end)
				as Award_Comp_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and ((pz.prizecode like 'A%Golf%' and aw.awardcode = 'b')
					or pz.prizecode in ('A19FPLGOL2','A19IPLGOL2','A19CPLGOL2')
					or pz.prizecode like 'A[0-9][0-9]%GOL2') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_GolfBenefit' then 1 else 0 end)
				as COUNT_Award_Comp_GolfBenefit,
				sum(case when aw.GamingDt >= '2021-07-01' and ((pz.prizecode like 'A%Golf%' and aw.awardcode = 'b')
					or pz.prizecode in ('A19FPLGOL2','A19IPLGOL2','A19CPLGOL2')
					or pz.prizecode like 'A[0-9][0-9]%GOL2') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_GolfBenefit' then aw.AwardUsed else 0 end)
				as Award_Comp_GolfBenefit,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('SvcRc30Rtl') and tr.trancode = 'setlmgmt') then 1		--Jiawen: added tracode, removed 'SvcRcFood' per Jeanette
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_ServiceRecovery' then 1 else 0 end)
				as COUNT_award_Comp_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('SvcRc30Rtl') and tr.trancode = 'setlmgmt') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Comp_ServiceRecovery' then aw.AwardUsed else 0 end)
				as award_Comp_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode not in ('C','V','P')										--CARL:  HOTEL COMP logic needs to be updated
					and pz.prizecode not like 'L[0-9][0-9][A-L]%'
					and pz.prizecode not like 'S[0-9][0-9][A-L]%'
					and (pz.prizecode not like 'P[0-9][0-9][A-L]%' and aw.awardcode <> 'm')
					and pz.prizecode not like 'CB$%'
					and pz.prizecode <> 'Opera1') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') like 'award_Comp%' then 1 else 0 end)
				as COUNT_award_Comp_Total_NoHotel,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode not in ('C','V','P')										--CARL:  HOTEL COMP logic needs to be updated
					and pz.prizecode not like 'L[0-9][0-9][A-L]%'
					and pz.prizecode not like 'S[0-9][0-9][A-L]%'
					and (pz.prizecode not like 'P[0-9][0-9][A-L]%' and aw.awardcode <> 'm')
					and pz.prizecode not like 'CB$%'
					and pz.prizecode <> 'Opera1') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') like 'award_Comp%' then aw.AwardUsed else 0 end)
				as award_Comp_Total_NoHotel,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.iscomp = 1 and pz.prizecode not like 'A%Gol%'							--CARL:  History always zero for award_Comp_Total_Other_Comp
					and pz.prizecode not like '%bus%'
					and pz.prizecode not in ('VocGftComp','Onst30All','CSpa', 'Spa','Onst30Rtl','SvcRcFood','SvcRc30Rtl','Opera1','SC001',
					'MVPBuff','InfiBuff','Golf', 'Off_Golf','CashRebate', 'ChrgBkComp', 'GftCrdComp', 'ECash-Csh', 'Off_Golf', 'PadreField', 
					'PadreSuite','OffSiteTks','OnsiteTxs','Transport','HostDine')
					and (aw.awardcode <> 'M' and pz.prizecode not like 'P[0-9][0-9]')
					and (aw.awardcode <> 'F' and pz.prizecode not like 'C[0-9][0-9]')) then 1 else 0 end)
				as COUNT_award_Comp_Total_Other_Comp,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.iscomp = 1 and pz.prizecode not like 'A%Gol%'							--CARL:  History always zero for award_Comp_Total_Other_Comp
					and pz.prizecode not like '%bus%'
					and pz.prizecode not in ('VocGftComp','Onst30All','CSpa', 'Spa','Onst30Rtl','SvcRcFood','SvcRc30Rtl','Opera1','SC001',
					'MVPBuff','InfiBuff','Golf', 'Off_Golf','CashRebate', 'ChrgBkComp', 'GftCrdComp', 'ECash-Csh', 'Off_Golf', 'PadreField', 
					'PadreSuite','OffSiteTks','OnsiteTxs','Transport','HostDine')
					and (aw.awardcode <> 'M' and pz.prizecode not like 'P[0-9][0-9]')
					and (aw.awardcode <> 'F' and pz.prizecode not like 'C[0-9][0-9]')) then aw.AwardUsed else 0 end)
				as award_Comp_Total_Other_Comp,
			--HOTEL Awards (TBD)
			--MISC Awards
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'E[0-9][0-9][A-L]%' and aw.awardcode = 'E') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Ent_Marketing' then 1 else 0 end)
				as COUNT_award_Ent_Marketing,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'E[0-9][0-9][A-L]%' and aw.awardcode = 'E') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Ent_Marketing' then aw.AwardUsed else 0 end)
				as award_Ent_Marketing,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'p[0-9][0-9][A-L]%000' or (pz.prizecode like 'p[0-9][0-9][A-L]%S00%' and aw.awardcode = 'M')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Merchandise_PromoWinner' then 1 else 0 end)
				as COUNT_award_Merchandise_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'p[0-9][0-9][A-L]%000' or (pz.prizecode like 'p[0-9][0-9][A-L]%S00%' and aw.awardcode = 'M')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_Merchandise_PromoWinner' then aw.AwardUsed else 0 end)
				as award_Merchandise_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'p[0-9][0-9][A-L]%' and pz.prizecode not like 'p[0-9][0-9][A-L]%000'
					and pz.prizecode not like 'p[0-9][0-9][A-L]%S00%' and aw.awardcode = 'M') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Merchandise_Marketing' then 1 else 0 end)
				as COUNT_award_Merchandise_Marketing,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'p[0-9][0-9][A-L]%' and pz.prizecode not like 'p[0-9][0-9][A-L]%000'
					and pz.prizecode not like 'p[0-9][0-9][A-L]%S00%' and aw.awardcode = 'M') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_Merchandise_Marketing' then aw.AwardUsed else 0 end)
				as award_Merchandise_Marketing,
			--FOOD & BEV Awards
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'F' then 1 else 0 end)						--CARL: QLX not rolling up history for this
				as COUNT_Award_FB_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'F' then aw.AwardUsed else 0 end)			--CARL: QLX not rolling up history for this
				as Award_FB_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('MVPBuff','InfiBuff') and aw.awardcode in ('3','F') 
					and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_FB_Benefit' then 1 else 0 end)
				as COUNT_award_FB_Benefit,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('MVPBuff','InfiBuff') and aw.awardcode in ('3','F') 
					and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_FB_Benefit' then aw.AwardUsed else 0 end)
				as award_FB_Benefit,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like '%Bus%' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_Bus' then 1 else 0 end)
				as COUNT_award_FB_Bus,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like '%Bus%' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_Bus' then aw.AwardUsed else 0 end)
				as award_FB_Bus,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('Onst30All','cigarettes') and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_Discretionary' then 1 else 0 end)
				as COUNT_award_FB_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode in ('Onst30All','cigarettes') and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_Discretionary' then aw.AwardUsed else 0 end)
				as award_FB_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9][A-L]%' and pz.prizename not like '%BD Dining%' and aw.awardcode = 'F'  
					and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_FB_Marketing' then 1 else 0 end)
				as COUNT_award_FB_Marketing,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9][A-L]%' and pz.prizename not like '%BD Dining%' and aw.awardcode = 'F'  
					and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'Award_FB_Marketing' then aw.AwardUsed else 0 end)
				as award_FB_Marketing,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9]_OP%' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1					--CARL: there are no history records for award_FB_OffProperty
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_OffProperty' then 1 else 0 end)
				as COUNT_award_FB_OffProperty,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9]_OP%' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed		--CARL: there are no history records for award_FB_OffProperty
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_OffProperty' then aw.AwardUsed else 0 end)
				as award_FB_OffProperty,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode = 'HostDine' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1							--CARL: there are no history records for award_FB_HostDine
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_HostDine' then 1 else 0 end)
				as COUNT_award_FB_HostDine,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode = 'HostDine' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed				--CARL: there are no history records for award_FB_HostDine
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_HostDine' then aw.AwardUsed else 0 end)
				as award_FB_HostDine,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9][A-L]%' and (pz.prizename like '%BD Dining%' or pz.prizename like '%Winner%'))
					or (pz.prizecode like 'C[0-9][0-9][A-L]%000' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_PromoWinner' then 1 else 0 end)
				as COUNT_award_FB_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode like 'C[0-9][0-9][A-L]%' and (pz.prizename like '%BD Dining%' or pz.prizename like '%Winner%'))
					or (pz.prizecode like 'C[0-9][0-9][A-L]%000' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_PromoWinner' then aw.AwardUsed else 0 end)
				as award_FB_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode = 'SvcRcFood' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_ServiceRecovery' then 1 else 0 end)
				as COUNT_award_FB_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizecode = 'SvcRcFood' and aw.awardcode in ('3','F') and tr.trancode in ('setlmgmt','setlcomp')) then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FB_ServiceRecovery' then aw.AwardUsed else 0 end)
				as award_FB_ServiceRecovery,
			--PROMO CHIPS Awards
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'v' then 1 else 0 end)						--CARL: QLX not rolling up history for this
				as COUNT_Award_PromoChipsUsed_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode = 'v' then aw.AwardUsed else 0 end)			--CARL: QLX not rolling up history for this
				as award_PromoChipsUsed_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][MNXY]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_ActiveNL' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][MNXY]%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_ActiveNL' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode = 'BaccReb10H') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_BaccRebate' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_BaccRebate,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode = 'BaccReb10H') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_BaccRebate' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_BaccRebate,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'NNC%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_Discretionary' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'NNC%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_Discretionary' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'FP_NNC%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_FPConversion' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_FPConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'FP_NNC%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_FPConversion' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_FPConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][O-P-R]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_InactiveNL' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_INActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][O-P-R]%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_InactiveNL' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_INActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][K]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_OuterMarketNL' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'L[0-9][0-9][A-L]T[0-9][K]%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_OuterMarketNL' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'P[0-9][0-9][A-L]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_PromoWinner' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'P[0-9][0-9][A-L]%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_PromoWinner' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'PT%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_PTConversion' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_PTConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode like 'PT%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_PTConversion' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_PTConversion,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode = 'SvcRcFPChp') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_ServiceRecovery' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizeCode = 'SvcRcFPChp') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_ServiceRecovery' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizecode like 'S[0-9][0-9][a-l]T%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_Supplemental' then 1 else 0 end)
				as COUNT_award_PromoChipUsed_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode ='v' and pz.prizecode like 'S[0-9][0-9][a-l]T%') then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_PromoChip_Supplemental' then aw.AwardUsed else 0 end)
				as award_PromoChipUsed_Supplemental,
			--FREE PLAY Awards
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode in ('P','Z') then 1 
					when aw.GamingDt < '2021-07-01' and pmap.Award_Category like 'award_FP%' then 1 else 0 end)	
				as COUNT_award_FPAwarded_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and aw.awardcode in ('P','Z') then pr1.BonusPromo1 
					when aw.GamingDt < '2021-07-01' and pmap.Award_Category like 'award_FP%' then pr1.BonusPromo1 else 0 end)	
				as award_FPAwarded_Total,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.prizecode like 'L[0-9][0-9][A-L]F[0-9][MNXY]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_activeNL' then 1 else 0 end)
				as COUNT_award_FPAwarded_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.prizecode like 'L[0-9][0-9][A-L]F[0-9][MNXY]%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_activeNL' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_ActiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'L[0-9][0-9][A-L]F[0-9][O-P-R]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_InactiveNL' then 1 else 0 end)
				as COUNT_award_FPAwarded_InactiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'L[0-9][0-9][A-L]F[0-9][O-P-R]%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_InactiveNL' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_InactiveNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'L[0-9][0-9][A-L]F[0-9][K]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_OuterMarketNL' then 1 else 0 end)
				as COUNT_award_FPAwarded_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'L[0-9][0-9][A-L]F[0-9][K]%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_OuterMarketNL' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_OuterMarketNL,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'S[0-9][0-9][A-L]%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Supplemental' then 1 else 0 end)
				as COUNT_award_FPAwarded_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like 'S[0-9][0-9][A-L]%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Supplemental' then 1 else 0 end)
				as award_FPAwarded_Supplemental,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like '%BUS%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Bus' then 1 else 0 end)
				as COUNT_award_FPAwarded_Bus,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode like '%BUS%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Bus' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_Bus,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and (pz.PrizeCode like 'FPCC%' or pz.prizecode = 'ECash-FPC')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Discretionary' then 1 else 0 end)
				as COUNT_award_FPAwarded_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and (pz.PrizeCode like 'FPCC%' or pz.prizecode = 'ECash-FPC')) then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_Discretionary' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_Discretionary,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode = 'HTLFPC10') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_HotelBooking' then 1 else 0 end)
				as COUNT_award_FPAwarded_HotelBooking,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and pz.PrizeCode = 'HTLFPC10') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_HotelBooking' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_HotelBooking,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and (pz.PrizeCode like 'P[0-9][0-9][A-L]%' or pz.prizecode like '%email%' 
					or pz.prizecode like '%text%' or pz.prizecode like 'P[0-9][0-9]_GT%' or pz.prizecode like 'P[0-9][0-9]_GSTF%' or pz.prizecode = 'Mil$5FPC')) then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_PromoWinner' then 1 else 0 end)
				as COUNT_award_FPAwarded_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (aw.awardcode in ('P','Z') and (pz.PrizeCode like 'P[0-9][0-9][A-L]%' or pz.prizecode like '%email%' 
					or pz.prizecode like '%text%' or pz.prizecode like 'P[0-9][0-9]_GT%' or pz.prizecode like 'P[0-9][0-9]_GSTF%' or pz.prizecode = 'Mil$5FPC')) then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_PromoWinner' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_PromoWinner,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.PrizeCode like 'SvcRcFP%') then 1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_ServiceRecovery' then 1 else 0 end)
				as COUNT_award_FPAwarded_ServiceRecovery,
				sum(case when aw.GamingDt >= '2021-07-01' and (pz.PrizeCode like 'SvcRcFP%') then pr1.BonusPromo1
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'award_FP_ServiceRecovery' then pr1.BonusPromo1 else 0 end)
				as award_FPAwarded_ServiceRecovery,
			--FREE PLAY USED Awards
				sum(case when aw.GamingDt >= '2021-07-01' and tr.trancode like 'CSH%' then 1 
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'FP_Used' then 1 else 0 end)	
				as COUNT_award_FPUsed,
				sum(case when aw.GamingDt >= '2021-07-01' and tr.trancode like 'CSH%' then aw.AwardUsed
					when aw.GamingDt < '2021-07-01' and ISNULL(pmap.Award_Category,'') = 'FP_Used' then aw.AwardUsed else 0 end)	
				as award_FPUsed,
				sum(isnull(pp.BasePts,0)) as BasePoints,
				sum(isnull(pp.BonusPts,0)) as BonusPoints,
				sum(isnull(pp.GamePts,0)) as GamePoints,
				sum(isnull(pp.GamePts,0) + isnull(pp.BasePts,0) + isnull(pp.BonusPts,0)) AS PointsEarned
				FROM [CMP_13-1].tAwards aw (Nolock)
				Left Join [CMP_13-1].tPrize pz (Nolock) on aw.PrizeId = pz.PrizeId
				Left join [CMP_13-1].tTranCode tr (Nolock) on aw.TranCodeId = tr.TranCodeId
				Left join [VCR].[iQ_Campaign_Prize_History] pmap on pz.PrizeCode = pmap.prizecode
				Left Join [CMP_13-1].tPlayerPromo1 pr1 (Nolock) on aw.TranId = pr1.TranId
				Left Join [CMP_13-1].tPlayerPoints pp (Nolock) on aw.TranId = pp.TranId and pp.BucketGroupId=1
				/*Left Join [CMP_13-1].tGroup gr (Nolock) on aw.GroupID = gr.GroupId
				Left join [CMP_13-1].tPlayerType pt (Nolock) on aw.PlayerTypeID = pt.PlayerTypeId 
				Left Join [CMP_13-1].tCasino ca (Nolock) on aw.CasinoID= ca.CasinoId
				Left Join [CMP_13-1].tDept dp (Nolock) on aw.DeptID = dp.DeptId
				Left Join [CMP_13-1].tArea ar (Nolock) on aw.AreaID = ar.AreaId
				Left Join [CMP_13-1].tLocn lo (Nolock) on aw.LocnID = lo.LocnId
				Left Join [CMP_13-1].tGame gm (Nolock) on aw.GameID = gm.GameId
				Left Join [CMP_13-1].tDenom dn (Nolock) on aw.DenomID = dn.DenomId
				Left Join [CMP_13-1].tPlayerStubs ps (Nolock) on aw.TranId = ps.TranId
				Left Join [CMP_13-1].tPlayerPromo1 pr1 (Nolock) on aw.TranId = pr1.TranId
				Left Join [CMP_13-1].tPlayerPromo2 pr2 (Nolock) on aw.TranId = pr2.TranId
				Left Join [CMP_13-1].tPlayerComps pc (Nolock) on aw.TranId = pc.TranId*/
				WHERE ( (aw.PostDtm BETWEEN @Begin_UTC AND @End_UTC) OR (aw.ModifiedDtm BETWEEN @Begin_UTC AND @End_UTC) )
				AND (aw.AwardUsed > 0 or aw.AwardCode in ('p','Z','B'))
				AND (aw.IsVoid = 0)
				GROUP BY aw.PlayerId, aw.GamingDt
		)
		SELECT  CAST( PlayerId AS VARCHAR(38)) + REPLACE(CAST(CAST(GamingDt AS DATE) AS VARCHAR(10)), '-', '') AS RecordKey,
				PlayerId,
				GamingDt,
					COUNT_Award_BingoCash_ActiveNL + COUNT_Award_BingoCash_InactiveNL + COUNT_Award_BingoCash_OuterMarketNL + COUNT_Award_BingoCash_Supplemental + 
					COUNT_Award_BingoCash_Discretionary + COUNT_Award_Cash_PromoWinner + COUNT_award_Cash_CashBack + COUNT_Award_Cash_Discretionary + 
					COUNT_Award_Cash_FPConversion + COUNT_award_Cash_Supplemental 
				AS Cash_NumberAwards,
				Award_BingoCash_ActiveNL,
				Award_BingoCash_InactiveNL,
				Award_BingoCash_OuterMarketNL,
				Award_BingoCash_Supplemental,
				Award_BingoCash_Discretionary,
				Award_Cash_PromoWinner,
				Award_Cash_CashBack,
				Award_Cash_Discretionary,
				Award_Cash_FPConversion,
				Award_Cash_Supplemental,
				CASE WHEN (COUNT_Award_Cash_Total > 0 AND (COUNT_Award_BingoCash_ActiveNL + COUNT_Award_BingoCash_InactiveNL + COUNT_Award_BingoCash_OuterMarketNL + COUNT_Award_BingoCash_Supplemental + 
						COUNT_Award_BingoCash_Discretionary + COUNT_Award_Cash_PromoWinner + COUNT_award_Cash_CashBack + COUNT_Award_Cash_Discretionary + COUNT_Award_Cash_FPConversion + 
						COUNT_award_Cash_Supplemental) = 0)
					THEN Award_Cash_Total - (Award_BingoCash_ActiveNL + Award_BingoCash_InactiveNL + Award_BingoCash_OuterMarketNL + Award_BingoCash_Supplemental + Award_BingoCash_Discretionary +
						Award_Cash_PromoWinner + Award_Cash_CashBack + Award_Cash_Discretionary + Award_Cash_FPConversion + Award_Cash_Supplemental) 
					ELSE 0
				END AS Award_Cash_Other,
				Award_Cash_Total,
				COUNT_Award_Cash_Total,
				award_PromoChipUsed_ActiveNL,
				award_PromoChipUsed_BaccRebate,
				award_PromoChipUsed_Discretionary,
				award_PromoChipUsed_FPConversion,
				award_PromoChipUsed_INActiveNL,
				award_PromoChipUsed_OuterMarketNL,
				award_PromoChipUsed_PromoWinner,
				award_PromoChipUsed_PTConversion,
				award_PromoChipUsed_ServiceRecovery,
				award_PromoChipUsed_Supplemental, 
				CASE WHEN (COUNT_award_PromoChipsUsed_Total > 0 and (COUNT_award_PromoChipUsed_ActiveNL + COUNT_award_PromoChipUsed_BaccRebate + COUNT_award_PromoChipUsed_Discretionary +
						COUNT_award_PromoChipUsed_FPConversion + COUNT_award_PromoChipUsed_INActiveNL + COUNT_award_PromoChipUsed_OuterMarketNL + COUNT_award_PromoChipUsed_PromoWinner +
						COUNT_award_PromoChipUsed_PTConversion + COUNT_award_PromoChipUsed_ServiceRecovery + COUNT_award_PromoChipUsed_Supplemental) = 0 )
					THEN (award_PromoChipUsed_ActiveNL + award_PromoChipUsed_BaccRebate + award_PromoChipUsed_Discretionary + award_PromoChipUsed_FPConversion + award_PromoChipUsed_INActiveNL
						+ award_PromoChipUsed_OuterMarketNL + award_PromoChipUsed_PromoWinner + award_PromoChipUsed_PTConversion + award_PromoChipUsed_ServiceRecovery + 
						award_PromoChipUsed_Supplemental)
					ELSE 0
				END AS Award_PromoChipUsed_Other,
				award_PromoChipsUsed_Total,
					COUNT_award_PromoChipUsed_ActiveNL + COUNT_award_PromoChipUsed_BaccRebate + COUNT_award_PromoChipUsed_Discretionary + COUNT_award_PromoChipUsed_FPConversion + 
					COUNT_award_PromoChipUsed_INActiveNL + COUNT_award_PromoChipUsed_OuterMarketNL + COUNT_award_PromoChipUsed_PromoWinner + COUNT_award_PromoChipUsed_PTConversion +
					COUNT_award_PromoChipUsed_ServiceRecovery + COUNT_award_PromoChipUsed_Supplemental 
				AS PromoChips_NumberAwards,
				award_Comp_Discretionary,
				award_Comp_GolfBenefit,
				award_Comp_ServiceRecovery,
				award_Comp_Total_NoHotel,
				award_Comp_Total_Other_Comp,
				COUNT_award_Comp_Discretionary + COUNT_award_Comp_GolfBenefit + COUNT_award_Comp_ServiceRecovery + COUNT_award_Comp_Total_NoHotel AS Comp_NumberAwards,
				award_FB_Benefit,
				award_FB_Bus,
				award_FB_Discretionary,
				award_FB_Marketing,
				award_FB_OffProperty,
				award_FB_HostDine,
				award_FB_PromoWinner,
				award_FB_ServiceRecovery,
				CASE WHEN (COUNT_Award_FB_Total > 0 AND (COUNT_award_FB_Benefit + COUNT_award_FB_Bus + COUNT_award_FB_Discretionary + COUNT_award_FB_Marketing + COUNT_award_FB_OffProperty + 
						COUNT_award_FB_PromoWinner + COUNT_award_FB_HostDine + COUNT_award_FB_ServiceRecovery) = 0 )
					THEN (Award_FB_Total - (award_FB_Benefit + award_FB_Bus + award_FB_Discretionary + award_FB_Marketing + award_FB_OffProperty + award_FB_PromoWinner + 
						award_FB_HostDine + award_FB_ServiceRecovery))
					ELSE 0
				END AS Award_FB_Cash_Other,
				award_FB_Total,
					COUNT_award_FB_Benefit + COUNT_award_FB_Bus + COUNT_award_FB_Discretionary + COUNT_award_FB_Marketing + COUNT_award_FB_OffProperty + COUNT_award_FB_PromoWinner + 
					COUNT_award_FB_HostDine + COUNT_award_FB_ServiceRecovery
				AS FB_NumberAwards,
				award_FPAwarded_ActiveNL, 
				award_FPAwarded_InactiveNL,
				award_FPAwarded_OuterMarketNL,
				award_FPAwarded_Supplemental,
				award_FPAwarded_Bus,  
				award_FPAwarded_Discretionary,
				award_FPAwarded_HotelBooking,
				award_FPAwarded_PromoWinner,  
				award_FPAwarded_ServiceRecovery,
				CASE WHEN (COUNT_award_FPAwarded_Total = 1 and (COUNT_award_FPAwarded_ActiveNL + COUNT_award_FPAwarded_InactiveNL + COUNT_award_FPAwarded_OuterMarketNL + 
						COUNT_award_FPAwarded_Supplemental + COUNT_award_FPAwarded_Bus + COUNT_award_FPAwarded_Discretionary + COUNT_award_FPAwarded_HotelBooking + COUNT_award_FPAwarded_PromoWinner +
						COUNT_award_FPAwarded_ServiceRecovery) = 0 )
					THEN (award_FPAwarded_ActiveNL + award_FPAwarded_InactiveNL + award_FPAwarded_OuterMarketNL + award_FPAwarded_Supplemental + award_FPAwarded_Bus + 
						award_FPAwarded_Discretionary + award_FPAwarded_HotelBooking + award_FPAwarded_PromoWinner + award_FPAwarded_ServiceRecovery)
					ELSE 0
				END AS Award_FPAwarded_Other,
				award_FPAwarded_Total,
				COUNT_award_FPAwarded_ActiveNL + COUNT_award_FPAwarded_InactiveNL + COUNT_award_FPAwarded_OuterMarketNL + COUNT_award_FPAwarded_Supplemental + COUNT_award_FPAwarded_Bus +
					COUNT_award_FPAwarded_Discretionary + COUNT_award_FPAwarded_HotelBooking + COUNT_award_FPAwarded_PromoWinner + COUNT_award_FPAwarded_ServiceRecovery
				AS FP_NumberAwards,
				award_FPUsed,
				award_Ent_Marketing,
				award_Merchandise_PromoWinner,
				award_Merchandise_Marketing,
				COUNT_award_Ent_Marketing + COUNT_award_Merchandise_PromoWinner + COUNT_award_Merchandise_Marketing AS Misc_NumberAwards,
				@UTC_Now AS ModifiedDate,									--CARL:  Since we are grouping by player/gaming date we can't select this from tAwards. Use the same value as @LoadDTTM
				'VCR' AS CasinoCode,
				0 AS ManualUpdate,
				'CMP' AS SourceSystem,
				@UTC_Now AS LoadDTTM,										--CARL:  We want this to be the same for every record in a batch (makes for easier QA)
				NULL AS Award_PromoChipUsed_FPBus,							--CARL:  QLX says: commented out Award_PromoChipUsed_FPBus as new Extract not creating    
				NULL AS Award_CompsUsed_Hotel_Finance,						--CARL:  This column is not used. This value can be found in the AcctDay and GameDay total tables
				NULL AS Award_CompsUsed_Hotel_MKTG,							--CARL:  This column is not used. This value can be found in the AcctDay and GameDay total tables
				BasePoints,
				BonusPoints,
				GamePoints,
				PointsEarned
		INTO #Player_Awards_myViejas
		FROM Awards_CTE

		--Merge results into IQC_Awards

		MERGE [dbo].[IQC_Awards] AS [Target]
		USING #Player_Awards_myViejas AS [Updates]
		ON [Target].RecordKey = [Updates].RecordKey
		WHEN MATCHED THEN
		UPDATE
			SET [playerID] = Updates.PlayerID,
			    [GamingDate] = Updates.GamingDt,
				[Award_BingoCash_ActiveNL] = Updates.Award_BingoCash_ActiveNL,
				[Award_BingoCash_InactiveNL] = Updates.Award_BingoCash_InactiveNL,
				[Award_BingoCash_OuterMarketNL] = Updates.Award_BingoCash_OuterMarketNL,
				[Award_BingoCash_Supplemental] = Updates.Award_BingoCash_Supplemental,
				[Award_Cash_PromoWinner] = Updates.Award_Cash_PromoWinner,
				[Award_Cash_CashBack] = Updates.Award_Cash_CashBack,
				[Award_Cash_Discretionary] = Updates.Award_Cash_Discretionary,
				[Award_Cash_FPConversion] = Updates.Award_Cash_FPConversion,
				[Award_Cash_Supplemental] = Updates.Award_Cash_Supplemental,
				[Award_Cash_Other] = Updates.Award_Cash_Other,
				[Award_Cash_Total] = Updates.Award_Cash_Total,
				[Cash_NumberAwards] = Updates.Cash_NumberAwards,
				[award_PromoChipUsed_ActiveNL] = Updates.award_PromoChipUsed_ActiveNL,
				[award_PromoChipUsed_BaccRebate] = Updates.award_PromoChipUsed_BaccRebate,
				[award_PromoChipUsed_Discretionary] = Updates.award_PromoChipUsed_Discretionary,
				[award_PromoChipUsed_FPConversion] = Updates.award_PromoChipUsed_FPConversion,
				[award_PromoChipUsed_INActiveNL] = Updates.award_PromoChipUsed_INActiveNL,
				[award_PromoChipUsed_OuterMarketNL] = Updates.award_PromoChipUsed_OuterMarketNL,
				[award_PromoChipUsed_PromoWinner] = Updates.award_PromoChipUsed_PromoWinner,
				[award_PromoChipUsed_PTConversion] = Updates.award_PromoChipUsed_PTConversion,
				[award_PromoChipUsed_ServiceRecovery] = Updates.award_PromoChipUsed_ServiceRecovery,
				[award_PromoChipUsed_Supplemental] = Updates.award_PromoChipUsed_Supplemental,
				[award_PromoChipUsed_Other] = Updates.award_PromoChipUsed_Other,
				[Award_PromoChipsUsed_Total] = Updates.Award_PromoChipsUsed_Total,
				[PromoChips_NumberAwards] = Updates.PromoChips_NumberAwards,
				[award_Comp_Discretionary] = Updates.award_Comp_Discretionary,
				[award_Comp_GolfBenefit] = Updates.award_Comp_GolfBenefit,
				[award_Comp_ServiceRecovery] = Updates.award_Comp_ServiceRecovery,
				[award_Comp_Total_NoHotel] = Updates.award_Comp_Total_NoHotel,
				[award_Comp_Total_Other_Comp] = Updates.award_Comp_Total_Other_Comp,
				[Comp_NumberAwards] = Updates.Comp_NumberAwards,
				[award_FB_Benefit] = Updates.award_FB_Benefit,
				[award_FB_Bus] = Updates.award_FB_Bus,
				[award_FB_Discretionary] = Updates.award_FB_Discretionary,
				[award_FB_Marketing] = Updates.award_FB_Marketing,
				[award_FB_OffProperty] = Updates.award_FB_OffProperty,
				[award_FB_HostDine] = Updates.award_FB_HostDine,
				[award_FB_PromoWinner] = Updates.award_FB_PromoWinner,
				[award_FB_ServiceRecovery] = Updates.award_FB_ServiceRecovery,
				[Award_FB_Cash_Other] = Updates.Award_FB_Cash_Other,
				[award_FB_Total] = Updates.award_FB_Total,
				[FB_NumberAwards] = Updates.FB_NumberAwards,
				[award_FPAwarded_ActiveNL] = Updates.award_FPAwarded_ActiveNL,
				[award_FPAwarded_InactiveNL] = Updates.award_FPAwarded_InactiveNL,
				[award_FPAwarded_OuterMarketNL] = Updates.award_FPAwarded_OuterMarketNL,
				[award_FPAwarded_Supplemental] = Updates.award_FPAwarded_Supplemental,
				[award_FPAwarded_Bus] = Updates.award_FPAwarded_Bus,
				[award_FPAwarded_Discretionary] = Updates.award_FPAwarded_Discretionary,
				[award_FPAwarded_HotelBooking] = Updates.award_FPAwarded_HotelBooking,
				[award_FPAwarded_PromoWinner] = Updates.award_FPAwarded_PromoWinner,
				[award_FPAwarded_ServiceRecovery] = Updates.award_FPAwarded_ServiceRecovery,
				[award_FPAwarded_Other] = Updates.award_FPAwarded_Other,
				[award_FPAwarded_Total] = Updates.award_FPAwarded_Total,
				[FP_NumberAwards] = Updates.FP_NumberAwards,
				[award_FPused] = Updates.award_FPused,
				[award_Ent_Marketing] = Updates.award_Ent_Marketing,
				[award_Merchandise_PromoWinner] = Updates.award_Merchandise_PromoWinner,
				[award_Merchandise_Marketing] = Updates.award_Merchandise_Marketing,
				[Misc_NumberAwards] = Updates.Misc_NumberAwards,
				[ModifiedDate] = Updates.ModifiedDate,
				[CasinoCode] = Updates.CasinoCode,
				[ManualUpdate] = Updates.ManualUpdate,
				[SourceSystem] = Updates.SourceSystem,
				[LoadDTTM] = Updates.LoadDTTM,
				[award_BingoCash_Discretionary] = Updates.award_BingoCash_Discretionary,
				[award_PromoChipUsed_FPBus] = Updates.award_PromoChipUsed_FPBus,
				[Award_CompsUsed_Hotel_Finance] = Updates.Award_CompsUsed_Hotel_Finance,
				[Award_CompsUsed_Hotel_MKTG] = Updates.Award_CompsUsed_Hotel_MKTG,
				[BasePoints] = Updates.BasePoints,
				[BonusPoints] = Updates.BonusPoints,
				[GamePoints] = Updates.GamePoints,
				[PointsEarned] = Updates.PointsEarned
		 WHEN NOT MATCHED BY TARGET THEN
		 INSERT ([RecordKey]
	           ,[playerID]
	           ,[GamingDate]
			   ,[Award_BingoCash_ActiveNL]
			   ,[Award_BingoCash_InactiveNL]
			   ,[Award_BingoCash_OuterMarketNL]
			   ,[Award_BingoCash_Supplemental]
			   ,[Award_Cash_PromoWinner]
			   ,[Award_Cash_CashBack]
			   ,[Award_Cash_Discretionary]
			   ,[Award_Cash_FPConversion]
			   ,[Award_Cash_Supplemental]
			   ,[Award_Cash_Other]
			   ,[Award_Cash_Total]
			   ,[Cash_NumberAwards]
			   ,[award_PromoChipUsed_ActiveNL]
			   ,[award_PromoChipUsed_BaccRebate]
			   ,[award_PromoChipUsed_Discretionary]
			   ,[award_PromoChipUsed_FPConversion]
			   ,[award_PromoChipUsed_INActiveNL]
			   ,[award_PromoChipUsed_OuterMarketNL]
			   ,[award_PromoChipUsed_PromoWinner]
			   ,[award_PromoChipUsed_PTConversion]
			   ,[award_PromoChipUsed_ServiceRecovery]
			   ,[award_PromoChipUsed_Supplemental]
			   ,[award_PromoChipUsed_Other]
			   ,[Award_PromoChipsUsed_Total]
			   ,[PromoChips_NumberAwards]
			   ,[award_Comp_Discretionary]
			   ,[award_Comp_GolfBenefit]
			   ,[award_Comp_ServiceRecovery]
			   ,[award_Comp_Total_NoHotel]
			   ,[award_Comp_Total_Other_Comp]
			   ,[Comp_NumberAwards]
			   ,[award_FB_Benefit]
			   ,[award_FB_Bus]
			   ,[award_FB_Discretionary]
			   ,[award_FB_Marketing]
			   ,[award_FB_OffProperty]
			   ,[award_FB_HostDine]
			   ,[award_FB_PromoWinner]
			   ,[award_FB_ServiceRecovery]
			   ,[Award_FB_Cash_Other]
			   ,[award_FB_Total]
			   ,[FB_NumberAwards]
			   ,[award_FPAwarded_ActiveNL]
			   ,[award_FPAwarded_InactiveNL]
			   ,[award_FPAwarded_OuterMarketNL]
			   ,[award_FPAwarded_Supplemental]
			   ,[award_FPAwarded_Bus]
			   ,[award_FPAwarded_Discretionary]
			   ,[award_FPAwarded_HotelBooking]
			   ,[award_FPAwarded_PromoWinner]
			   ,[award_FPAwarded_ServiceRecovery]
			   ,[award_FPAwarded_Other]
			   ,[award_FPAwarded_Total]
			   ,[FP_NumberAwards]
			   ,[award_FPused]
			   ,[award_Ent_Marketing]
			   ,[award_Merchandise_PromoWinner]
			   ,[award_Merchandise_Marketing]
			   ,[Misc_NumberAwards]
			   ,[ModifiedDate]
			   ,[CasinoCode]
			   ,[ManualUpdate]
			   ,[SourceSystem]
			   ,[LoadDTTM]
			   ,[award_BingoCash_Discretionary]
			   ,[award_PromoChipUsed_FPBus]
			   ,[Award_CompsUsed_Hotel_Finance]
			   ,[Award_CompsUsed_Hotel_MKTG]
			   ,[BasePoints]
			   ,[BonusPoints]
			   ,[GamePoints]
			   ,[PointsEarned])
		VALUES (Updates.RecordKey,
			   Updates.playerID,
			   Updates.GamingDt,
			   Updates.Award_BingoCash_ActiveNL,
			   Updates.Award_BingoCash_InactiveNL,
			   Updates.Award_BingoCash_OuterMarketNL,
			   Updates.Award_BingoCash_Supplemental,
			   Updates.Award_Cash_PromoWinner,
			   Updates.Award_Cash_CashBack,
			   Updates.Award_Cash_Discretionary,
			   Updates.Award_Cash_FPConversion,
			   Updates.Award_Cash_Supplemental,
			   Updates.Award_Cash_Other,
			   Updates.Award_Cash_Total,
			   Updates.Cash_NumberAwards,
			   Updates.award_PromoChipUsed_ActiveNL,
			   Updates.award_PromoChipUsed_BaccRebate,
			   Updates.award_PromoChipUsed_Discretionary,
			   Updates.award_PromoChipUsed_FPConversion,
			   Updates.award_PromoChipUsed_INActiveNL,
			   Updates.award_PromoChipUsed_OuterMarketNL,
			   Updates.award_PromoChipUsed_PromoWinner,
			   Updates.award_PromoChipUsed_PTConversion,
			   Updates.award_PromoChipUsed_ServiceRecovery,
			   Updates.award_PromoChipUsed_Supplemental,
			   Updates.award_PromoChipUsed_Other,
			   Updates.Award_PromoChipsUsed_Total,
			   Updates.PromoChips_NumberAwards,
			   Updates.award_Comp_Discretionary,
			   Updates.award_Comp_GolfBenefit,
			   Updates.award_Comp_ServiceRecovery,
			   Updates.award_Comp_Total_NoHotel,
			   Updates.award_Comp_Total_Other_Comp,
			   Updates.Comp_NumberAwards,
			   Updates.award_FB_Benefit,
			   Updates.award_FB_Bus,
			   Updates.award_FB_Discretionary,
			   Updates.award_FB_Marketing,
			   Updates.award_FB_OffProperty,
			   Updates.award_FB_HostDine,
			   Updates.award_FB_PromoWinner,
			   Updates.award_FB_ServiceRecovery,
			   Updates.Award_FB_Cash_Other,
			   Updates.award_FB_Total,
			   Updates.FB_NumberAwards,
			   Updates.award_FPAwarded_ActiveNL,
			   Updates.award_FPAwarded_InactiveNL,
			   Updates.award_FPAwarded_OuterMarketNL,
			   Updates.award_FPAwarded_Supplemental,
			   Updates.award_FPAwarded_Bus,
			   Updates.award_FPAwarded_Discretionary,
			   Updates.award_FPAwarded_HotelBooking,
			   Updates.award_FPAwarded_PromoWinner,
			   Updates.award_FPAwarded_ServiceRecovery,
			   Updates.award_FPAwarded_Other,
			   Updates.award_FPAwarded_Total,
			   Updates.FP_NumberAwards,
			   Updates.award_FPused,
			   Updates.award_Ent_Marketing,
			   Updates.award_Merchandise_PromoWinner,
			   Updates.award_Merchandise_Marketing,
			   Updates.Misc_NumberAwards,
			   Updates.ModifiedDate,
			   Updates.CasinoCode,
			   Updates.ManualUpdate,
			   Updates.SourceSystem,
			   Updates.LoadDTTM,
			   Updates.award_BingoCash_Discretionary,
			   Updates.award_PromoChipUsed_FPBus,
			   Updates.Award_CompsUsed_Hotel_Finance,
			   Updates.Award_CompsUsed_Hotel_MKTG,
			   Updates.BasePoints,
			   Updates.BonusPoints,
			   Updates.GamePoints,
			   Updates.PointsEarned);

		--Add PlayerId's to calling stored proc temp table

		MERGE #Player_All_Daily_Players AS [Target]
		USING (SELECT DISTINCT PlayerID FROM #Player_Awards_myViejas) AS [Source]
		ON [Target].PlayerId = [Source].PlayerId
		WHEN NOT MATCHED BY TARGET THEN
		INSERT(PlayerID)
		VALUES([Source].PlayerID);

	END TRY  
	BEGIN CATCH 
	
		THROW;
	
	END CATCH;
END