SELECT distinct
	   --[HostName]
    --  ,[MachineType]
      [OS]
      ,[OS_ArchitectureType]
      --,[CPU]
      --,[MachineSerialNumber]
      --,[NumberOfProcs]
      --,[TotalCores]
      --,[NumberOfLogicalProcs]
      --,[IsClustered]
      --,[IP Address]
      --,[PhysicalHost]
      --,[ClusterID]
  FROM [DASI].[dbo].[Hosts]

  --WHERE OS NOT IN (
  -- 'Server 2008-R2 x64 Standard'
  --,'Server 2003 x32 Enterprise'
  --,'Server 2003 x32 Standard'
  --,'Server 2003 x64 Enterprise'
  --,'Server 2008-R2 x64 Datacenter' 
  --,'Server 2008-R2 x64 Enterprise'
  --,'Server 2008 x32 Enterprise'
  --,'Server 2008 x64 Enterprise'
  --,'Server 2008 x32 Standard'
  --,'Server 2008 x64 Standard'
  --,'Server 2008-R2 x64 Standard'
  --,'Server 2012-R2 x64 Datacenter'
  --,'Server 2012-R2 x64 Standard'
  --,'Server 2012 x64 Standard'
  --,'Windows 7 x32 Enterprise'
  --,'Windows 7 x64 Enterprise'
  --,'Windows 7 x32 Professional'
  --,'Windows 7 x64 Professional'
  --,'Windows XP x32 Professional'
  --)

  ORDER By OS, OS_ArchitectureType


--UPDATE [dbo].[Hosts]
--   SET [OS] = 'Windows XP x32 Professional'
--   WHERE [OS] LIKE '%Windows XP Professional 32 bit%'
--    AND OS_ArchitectureType LIKE '32%'
--GO


