USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [myViejas].[sp_Merge_Retired_Players]    Script Date: 8/23/2023 12:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [myViejas].[sp_Merge_Retired_Players] (@UTC_Now DATETIMEOFFSET)
AS

BEGIN

	--CARL: (8/5/2023)

	--This stored procedure is intended to replace package:	[02_etl_player_merge_dim]
	--in the old data warehouse project. Additional logic needs to be added to update
	--the QLX IQC_* tables that have a PlayerId column

	SET NOCOUNT ON

	IF object_id('tempdb..#Retired_Players') IS NOT NULL
	 BEGIN
		DROP TABLE #Retired_Players
	 END

	DECLARE @Begin_UTC DATETIMEOFFSET = DATEADD(hh, -24, @UTC_Now)				--2:00 AM to 1:59:59:59 AM
	DECLARE @End_UTC DATETIMEOFFSET = DATEADD(ms, -1, @UTC_Now)

	BEGIN TRY
		
		SELECT RetiredID, OldPlayerID, ActivePlayerID, MergeDtm
		INTO #Retired_Players
		FROM [CMP_13-1].tRetired
		WHERE ModifiedDtm BETWEEN @Begin_UTC AND @End_UTC

		--tab_player_dim

		UPDATE A
		SET player_ismerge = 1, 
			dw_timestamp = GETDATE()
		FROM [player].tab_player_dim A
		INNER JOIN #Retired_Players R ON A.player_id = R.OldPlayerID
		WHERE A.player_ismerge = 0
		
		--tab_rating_fact

		UPDATE A
		SET A.player_id = R.ActivePlayerID,
			A.dw_timestamp = GETDATE()
		FROM [player].tab_rating_fact A 
		INNER JOIN #Retired_Players R ON A.player_id = R.OldPlayerID
		
		--tab_player_hist_dim													--CARL: Original logic left this table out
	
		UPDATE A
		SET A.player_id = R.ActivePlayerID,
		A.dw_timestamp = GETDATE()
		FROM player.tab_player_hist_dim A 
		INNER JOIN #Retired_Players R ON A.player_id = R.OldPlayerID
	
		--tab_daily_fact

		UPDATE A
		SET A.player_id = R.ActivePlayerID,
		A.dw_timestamp = GETDATE()
		FROM player.tab_daily_fact A 
		INNER JOIN #Retired_Players R ON A.player_id = R.OldPlayerID			--CARL: This may not work, what about PLAYER_KEY and PLAYER_HIST_KEY	

		--CARL: Why deletes here? Why not updates

		/*delete a
		from [iQ-Gaming].player.tab_daily_fact a (nolock)
		where not exists (select 1 from [iQ-Gaming].player.tab_player_dim (nolock)
			  where player_ismerge = 0
			  and PLAYER_KEY = a.PLAYER_KEY)*/
		
		--IQC_Awards (RecordKey incorporates PlayerId)

		UPDATE A
		SET A.PlayerId = R.ActivePlayerID,
		A.RecordKey = CAST( R.ActivePlayerID AS VARCHAR(38)) + REPLACE(CAST(CAST(A.GamingDate AS DATE) AS VARCHAR(10)), '-', '')
		FROM [dbo].IQC_Awards A 
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Comps (RecordKey does not incorporate PlayerId)
			   
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Comps A 
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID				--CARL: What about RecordKey?

		--IQC_Comps_EXT (TBD)

		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Comps_EXT A 
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID				--CARL: What about RecordKey?

		--IQC_Offer_History
		
-- Steve - 8-23-2013 - commented this out to prevent job failure until a fix is made

		--UPDATE A  -- Steve - 8-23-2013 - commented this out to prevent job failure until a fix if made
		--SET A.PlayerId = R.ActivePlayerID
		--FROM [dbo].IQC_Offer_History A
		--INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Offers_Live
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Offers_Live A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID
	
		--IQC_Player_Points
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Player_Points A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_PointsBal
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Player_PointsBal A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Ratings (RecordKey incorporates PlayerId)
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID,
		A.RecordKey = CAST (R.ActivePlayerID AS VARCHAR(15)) + '---' + CAST(A.TransactionID AS VARCHAR(15))
		FROM [dbo].IQC_Player_Ratings A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID
		
		--IQC_Player_Daily_Totals_AcctDay (RecordKey incorporates PlayerId)
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID,
		A.RecordKey = CAST(R.ActivePlayerID AS VARCHAR(12)) + CAST(A.AccountingDateID AS VARCHAR(5)) + A.CasinoCode 
		FROM [dbo].IQC_Player_Daily_Totals_AcctDay A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Daily_Totals_AcctDay_EXT (RecordKey incorporates PlayerId)
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID,
		A.RecordKey = CAST(R.ActivePlayerID AS VARCHAR(12)) + CAST(A.ExtDateID AS VARCHAR(5)) + A.CasinoCode 
		FROM [dbo].IQC_Player_Daily_Totals_AcctDay_EXT A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Daily_Totals_GameDay (RecordKey incorporates PlayerId)
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID,
		A.RecordKey = CAST(R.ActivePlayerID AS VARCHAR(12)) + CAST(A.GamingDateID AS VARCHAR(5)) + A.CasinoCode 
		FROM [dbo].IQC_Player_Daily_Totals_GameDay A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Trips_AcctDay (TripKey incorporates PlayerId)

-- Steve - 8-23-2013 - commented this out to prevent job failure until a fix is made
		 
		--UPDATE A
		--SET A.PlayerId = R.ActivePlayerID,
		--A.TripKey = CAST(R.ActivePlayerID AS VARCHAR(12)) + A.CasinoCode + CAST(TripNumber AS VARCHAR(10))
		--FROM [dbo].IQC_Player_Trips_AcctDay A
		--INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Trips_GameDay (RecordKey incorporates PlayerId)

-- Steve - 8-23-2013 - commented this out to prevent job failure until a fix is made
		
		--UPDATE A
		--SET A.PlayerId = R.ActivePlayerID,
		--A.TripKey = CAST(R.ActivePlayerID AS VARCHAR(12)) + A.CasinoCode + CAST(TripNumber AS VARCHAR(10))
		--FROM [dbo].IQC_Player_Trips_GameDay A
		--INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Tier_Match
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Player_Tier_Match A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

		--IQC_Player_Ticketstub
		
		UPDATE A
		SET A.PlayerId = R.ActivePlayerID
		FROM [dbo].IQC_Player_Ticketstub A
		INNER JOIN #Retired_Players R ON A.PlayerId = R.OldPlayerID

	END TRY  
    BEGIN CATCH 

		THROW;

	END CATCH;

END
