select top 100 * from tTranCode
where TranName like '%settle%'


select top 100 * from tplayernote
where playerid in (select playerid from tplayercard where acct=20813246)

select top 100 * from tplayernote
where playerid in (select playerid from tplayercard where acct=21113761)


select top 100 * from taudit ta inner join tauditdtl tad on ta.auditid = tad.auditid
where trancode='NOTE' and  acct=20813246 ---ta.AuditID=1144404936
order by ta.auditid desc




select top 500 FirstName, LastName, * from taudit ta inner join tauditdtl tad on ta.auditid = tad.auditid
inner join temp te on te.empid = ta.empid

where trancode='NOTE' and  acct=21113761 ---ta.AuditID=1144404936
order by ta.auditid desc



Select PC.Acct,P.LastName,P.FirstName,PN.NoteId, ref1, PN.PriorityCode,
cr.FirstName+' '+cr.LastName as NoteCreated,
mo.FirstName+' '+mo.LastName as NoteSettled
from tPlayerCard(nolock) PC JOIN tPlayer (nolock) P ON PC.PlayerId=P.PlayerId 
JOIN tPlayerNote(nolock) PN ON PC.PlayerId=PN.PlayerId
JOIN tEmp (nolock) cr ON PN.CreatedBy=cr.empid
JOIN tEmp (nolock) mo ON PN.ModifiedBy=mo.empid
where PN.IsOpenItem=0 and Acct='21113761'


Select PC.Acct,P.LastName,P.FirstName,PN.NoteId, ref1, PN.PriorityCode,
cr.FirstName+' '+cr.LastName as NoteCreated,
mo.FirstName+' '+mo.LastName as NoteSettled
from tPlayerCard(nolock) PC JOIN tPlayer (nolock) P ON PC.PlayerId=P.PlayerId 
JOIN tPlayerNote(nolock) PN ON PC.PlayerId=PN.PlayerId
JOIN tEmp (nolock) cr ON PN.CreatedBy=cr.empid
JOIN tEmp (nolock) mo ON PN.ModifiedBy=mo.empid
where PN.IsOpenItem=0 and Acct='20835204'


Select PC.Acct,P.LastName,P.FirstName,PN.NoteId, ref1, PN.PriorityCode,
cr.FirstName+' '+cr.LastName as NoteCreated,
mo.FirstName+' '+mo.LastName as NoteSettled
from tPlayerCard(nolock) PC JOIN tPlayer (nolock) P ON PC.PlayerId=P.PlayerId 
JOIN tPlayerNote(nolock) PN ON PC.PlayerId=PN.PlayerId
JOIN tEmp (nolock) cr ON PN.CreatedBy=cr.empid
JOIN tEmp (nolock) mo ON PN.ModifiedBy=mo.empid
where PN.IsOpenItem=0 and Acct='20813246'


20813246









select top 10 * from tplayernote