/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Top 10000 * 
  FROM tPromotion tp inner join [CMP13].[dbo].[tPromotionDetailRule] pdr on tp.PromotionId = pdr.PromotionId
 left join temp te on tp.CreatedBy = te.EmpId
where level<>1 and PromotionType='StepNWin'
 order by tp.CreatedDtm desc

 ---select top 10000 * from viewAwardsViejas where prizecode='$5Brochure'

