/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [GroupId]
      ,[GroupCode]
      ,[GroupName]
      ,[IsDefault]
      ,[NextTripDt]
      ,[GroupRepTitle]
      ,[GroupRepFirstName]
      ,[GroupRepLastName]
      ,[GroupRepAddr1]
      ,[GroupRepAddr2]
      ,[GroupRepCity]
      ,[GroupRepStateId]
      ,[GroupRepStateName]
      ,[GroupRepCountryId]
      ,[GroupRepCountryName]
      ,[GroupRepPostalCodeId]
      ,[GroupRepPostalCode]
      ,[GroupRepTel1Type]
      ,[GroupRepTel1]
      ,[GroupRepTel2Type]
      ,[GroupRepTel2]
      ,[IsInactive]
      ,[GroupTypeId]
      ,[IsSystemUse]
      ,[CreatedDtm]
      ,[CreatedBy]
      ,[ModifiedDtm]
      ,[ModifiedBy]
      ,[AddressValidated]
      ,[AddressOverriden]
      ,[AddressOverrideReason]
      ,[BatchValidationStatus]
      ,[AddressValidatedDtm]
      ,[BatchAddressValidated]
      ,[BatchAddressCorrectionCode]
      ,[OldAddressId]
      ,[DataRowVersion]
      ,[AccessLevelId]
      ,[LocalGroupCode]
      ,[ContractId]
      ,[SettlementId]
      ,[ParentGroupId]
      ,[TheorHoldPc]
      ,[IsBetByBet]
  FROM [CMP13].[dbo].[tGroup]


  select top 100000 len(address1), * from tPlayerAddress
  where len(address1)>40

  GO

  select top 100000 len(address2), * from tPlayerAddress
  where len(address2)>40




    select top 100000 len(city), * from tPlayerAddress
	where len(city)>40


  
  select top 100000 len(address2), * from tPlayerAddress
  where len(address2)>50



  select * from tContactType
  where IsEmail=1 and IsInactive=0

