/****** Script for SelectTopNRows command from SSMS  ******/
SELECT rs_event_description, datediff(second, ae.Event_Ts, ae.Event_Closed_TS) as Duration, ae.*, sec.rs_event_description, sds_xc_code, sds_event_description---, pd.*
  FROM CASIDBLIS01PR.[SLOT_SERVICE].dbo.[ARCHIVED_EVENTS] ae inner join CASIDBLIS01pr.[SLOT_SERVICE].dbo.SDS13_RS_SYSTEM_EVENT_CODES sec on ae.IGS_Event_ID = sec.SDS_XC_CODE
  ---left join tableau.player_dim pd on ae.acct = pd.player_account_number 
   where event_ts >='08/19/2019' and event_ID=58738911
  
  ---inner join SDS_RS_SYSTEM_EVENT_CODES sec on ae.[dbo].[EVENT_COMMENT_REF][dbo].[Employee_Dimension]


  ---  Reading this to build the menu
  select top 1000 * from CASIDBLIS01pr.[SLOT_SERVICE].dbo.SDS13_RS_SYSTEM_EVENT_CODES 

  select top 1000 * from CASIDBLIS01pr.[SLOT_SERVICE].dbo.SDS_RS_SYSTEM_EVENT_CODES



   select top 100 * from  CASIDBLIS01PR.[SLOT_SERVICE].dbo.[ARCHIVED_EVENTS] where event_ts>'08/20/2019' and igs_event_id='022'


  [SDS13_RS_SYSTEM_EVENT_CODES]


 
SELECT rs_event_description, datediff(second, ae.Event_Ts, ae.Event_Closed_TS) as Duration, ae.*, sec.rs_event_description, sds_xc_code, sds_event_description, pd.*
  FROM CASIDBLIS01PR.[SLOT_SERVICE].dbo.[ARCHIVED_EVENTS] ae 
  inner join CASIDBLIS01pr.[SLOT_SERVICE].dbo.SDS13_RS_SYSTEM_EVENT_CODES sec on ae.IGS_Event_ID = sec.SDS_XC_CODE AND AE.RS_EVENT_CODE = SEC.RS_EVENT_CODE
  left join tableau.player_dim pd on ae.acct = pd.player_account_number 
   where event_ts >='01/01/2019' ---and event_ID=58738911 
 
