/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 login,  FirstName, LastName, MaxAuthAward, RoleName
  FROM [CMP13].[dbo].[viewEmpsViejas]
where MaxAuthAward<>0 and isInactive=0 and (roleName<>'ChangePassword' and rolename <>'Z%')
and login not in ('11240', '13177', 'casino', 'VKIOSK', '12080R')
order by login