/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100000 [PlayerId]
      ,[EmpId]
      ,[ComputerName]
      ,[CreatedDtm]
      ,[DataRowVersion]
      ,[ModuleId]
  FROM [CMP13].[dbo].[tPlayerDir]

  where ComputerName='MKT011TW'




  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT ComputerName, count(*)
  FROM [CMP13].[dbo].[tPlayerDir]
  group by ComputerName
  order by count(*) desc

  delete from [CMP13].[dbo].[tPlayerDir] where ComputerName='MKT011TW'


  select top 100 * from temp where empid=10000867


  select top 100 * from temp where PLDirReturnRows>50000



