SELECT COUNT(*)
FROM [OperaData_Temp].[dbo].[NAME_RESERVATION_delta2]

SELECT TOP (1000) 
       [CONFIRMATION_NO]
      ,[RESV_NAME_ID]
      ,[INSERT_DATE]
      ,[UPDATE_DATE]
      ,[ETL_INSERT_DATE]
      ,[ETL_LAST_UPDATE_DATE]
      ,[GUEST_PHONE]
      ,[PHONE_TYPE]

  FROM [OperaData_Temp].[dbo].[NAME_RESERVATION_delta2]

ORDER BY [UPDATE_DATE] DESC