SELECT TOP (1000) 
       [CONFIRMATION_NO]
      ,[RESV_NAME_ID]
      ,[INSERT_DATE]
      ,[UPDATE_DATE]
      ,[ETL_INSERT_DATE]
      ,[ETL_LAST_UPDATE_DATE]
      ,[GUEST_PHONE]
      ,[PHONE_TYPE]

  FROM [OperaData_Temp].[dbo].[NAME_RESERVATION]

ORDER BY 
  [ETL_LAST_UPDATE_DATE] desc
, [UPDATE_DATE] desc

--ORDER BY [UPDATE_DATE] --desc

SELECT COUNT(*)
  FROM [OperaData_Temp].[dbo].[NAME_RESERVATION]

  --192253
  --192271
  --197248
  --198868
  --208425
  --218668