/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT MIN(UPDATE_DATE)
--  FROM [OperaData_Temp].[dbo].[NAME_RESERVATION]


SELECT 
--MAX(CONVERT(CHAR(19),UPDATE_DATE,120))
MAX('2015-07-28 21:16:01')

FROM DBO.NAME_RESERVATION
GO