SELECT
  HostName
, Active
, Inactive_per_AD
, MachineType
, OS
, OS_ArchitectureType
, CPU
, MachineSerialNumber
, NumberOfProcs
, TotalCores
, NumberOfLogicalProcs
, IsClustered
, PhysicalHost
, ClusterID
, Host_IP
, CPU2
, Logical_CPUs
, Physical_CPUs
, IsVM
, Physical_or_VC

, RDC_able

, Owning_Cluster
, Is_Cluster_Node
, Cluster_IP
, Virtual_Server1
, VS1_IP
, Virtual_Server2
, VS2_IP
, Notes
, Notes2
, FQDN
, Last_Logon_Time
, OS2
, OU0
, Notes3

FROM Hosts

WHERE Active <> 'Y'
   OR Active IS NULL

  --AND SUBSTRING([IP Address],1,DATALENGTH(IP_From_Ping)) <> IP_From_Ping
   
--  AND Inactive_per_AD IS NULL

--WHERE PhysicalHost IS NOT NULL

--WHERE IsClustered = 'Yes'

ORDER BY HostName

 
