USE DASI
GO

SELECT
 I.Active
,IA.LoginWithSA
,COUNT(*) AS Instance_Count

FROM Instances I
JOIN Instances_Accessible IA
ON I.[Instance] = IA.[Instance] 

GROUP BY 
 I.Active
,IA.LoginWithSA

ORDER BY 
 I.Active
,IA.LoginWithSA
