--USE msdb
--SELECT name, notify_email_operator_id, notify_page_operator_id  
--FROM dbo.sysjobs  
----WHERE notify_email_operator_id = 0;
--GO

--USE msdb
--EXEC msdb.dbo.sp_add_operator 
--  @name=N'ITappsDBA'
--, @enabled=1
--, @email_address=N'spaylor@VIEJAS.com'
--, @pager_address=N'spaylor@VIEJAS.com'
--GO

--USE msdb
--EXEC msdb.dbo.sp_update_operator @name=N'ITappsDBA', 
--		@enabled=1, 
--		@weekday_pager_start_time=0, 
--		@weekday_pager_end_time=235959, 
--		@saturday_pager_start_time=0, 
--		@saturday_pager_end_time=235959, 
--		@sunday_pager_start_time=0, 
--		@sunday_pager_end_time=235959, 
--		@pager_days=127, 
--		@email_address=N'spaylor@VIEJAS.com', 
--		@pager_address=N'spaylor@VIEJAS.com', 
--		@netsend_address=N''
--GO

--sp_help_operator
--GO

USE [msdb]
SET NOCOUNT ON;
DECLARE @Operator varchar(50);
SET @Operator = 'ITappsDBA'; -- place your operator name here
 
SELECT 'EXEC msdb.dbo.sp_update_job @job_name = ''' + j.[name] + 
       --''', @notify_email_operator_name = ''' + @Operator  +
       ''', @notify_page_operator_name = ''' + @Operator  +
       ''', @notify_level_page = 2'   -- 1=On Success, 2=On Faulure,3=always
       
FROM dbo.sysjobs j

WHERE j.[name] LIKE 'DBA - %'
--WHERE j.enabled = 1 
--AND j.notify_level_page <> 2
GO