use [SDSVJPRD_Archive]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [ACCOUNTING].[_dta_mv_10] WITH SCHEMABINDING
 AS 
SELECT  [ACCOUNTING].[GAME_DAY].[GDAY_DATE] as _col_1,  [ACCOUNTING].[GAME_DAY].[GDAY_DRTP_ID] as _col_2,  [ACCOUNTING].[GAME_DAY].[GDAY_SC_UPLOAD_STATUS] as _col_3,  [ACCOUNTING].[GAME_DAY].[GDAY_DROP_MODE] as _col_4,  [ACCOUNTING].[GAME_DAY].[GDAY_STATUS] as _col_5,  [ACCOUNTING].[NAMED_ASSET].[NAST_ID] as _col_6,  [ACCOUNTING].[NAMED_ASSET].[NAST_NAME] as _col_7,  [ACCOUNTING].[NAMED_ASSET].[NAST_SITE_NUM] as _col_8,  [ACCOUNTING].[GAME_DAY].[GDAY_NAST_ID] as _col_9,  [ACCOUNTING].[GAME_DAY].[GDAY_ID] as _col_10 FROM  [ACCOUNTING].[GAME_DAY],  [ACCOUNTING].[NAMED_ASSET]   WHERE  [ACCOUNTING].[GAME_DAY].[GDAY_NAST_ID] = [ACCOUNTING].[NAMED_ASSET].[NAST_ID]  AND ( [ACCOUNTING].[GAME_DAY].[GDAY_NAST_ID] = [ACCOUNTING].[NAMED_ASSET].[NAST_ID]  AND  [ACCOUNTING].[GAME_DAY].[GDAY_DRTP_ID] = 1 ) 

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_10_c_10_1704497251__K1_K2_K3_K4_K5_K7_K10] ON [ACCOUNTING].[_dta_mv_10]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_3] ASC,
	[_col_4] ASC,
	[_col_5] ASC,
	[_col_7] ASC,
	[_col_10] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE NONCLUSTERED INDEX [_dta_index__dta_mv_10_10_1704497251__K8] ON [ACCOUNTING].[_dta_mv_10]
(
	[_col_8] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_GAME_DAY_10_240719910__K7_K6_K3_K1_K12_K8_K2] ON [ACCOUNTING].[GAME_DAY]
(
	[GDAY_DRTP_ID] ASC,
	[GDAY_NAST_ID] ASC,
	[GDAY_DATE] ASC,
	[GDAY_ID] ASC,
	[GDAY_SC_UPLOAD_STATUS] ASC,
	[GDAY_DROP_MODE] ASC,
	[GDAY_STATUS] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_GAME_DAY_10_240719910__K3_K7_K6_K1_K12_K8_K2] ON [ACCOUNTING].[GAME_DAY]
(
	[GDAY_DATE] ASC,
	[GDAY_DRTP_ID] ASC,
	[GDAY_NAST_ID] ASC,
	[GDAY_ID] ASC,
	[GDAY_SC_UPLOAD_STATUS] ASC,
	[GDAY_DROP_MODE] ASC,
	[GDAY_STATUS] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_240719910_8_6] ON [ACCOUNTING].[GAME_DAY]([GDAY_DROP_MODE], [GDAY_NAST_ID])
go

CREATE STATISTICS [_dta_stat_240719910_12_6_3_7] ON [ACCOUNTING].[GAME_DAY]([GDAY_SC_UPLOAD_STATUS], [GDAY_NAST_ID], [GDAY_DATE], [GDAY_DRTP_ID])
go

CREATE STATISTICS [_dta_stat_240719910_1_3_12_8] ON [ACCOUNTING].[GAME_DAY]([GDAY_ID], [GDAY_DATE], [GDAY_SC_UPLOAD_STATUS], [GDAY_DROP_MODE])
go

CREATE STATISTICS [_dta_stat_240719910_6_3_8_12] ON [ACCOUNTING].[GAME_DAY]([GDAY_NAST_ID], [GDAY_DATE], [GDAY_DROP_MODE], [GDAY_SC_UPLOAD_STATUS])
go

CREATE STATISTICS [_dta_stat_240719910_1_6_3_7_12] ON [ACCOUNTING].[GAME_DAY]([GDAY_ID], [GDAY_NAST_ID], [GDAY_DATE], [GDAY_DRTP_ID], [GDAY_SC_UPLOAD_STATUS])
go

CREATE STATISTICS [_dta_stat_240719910_2_3_8_12_7] ON [ACCOUNTING].[GAME_DAY]([GDAY_STATUS], [GDAY_DATE], [GDAY_DROP_MODE], [GDAY_SC_UPLOAD_STATUS], [GDAY_DRTP_ID])
go

CREATE STATISTICS [_dta_stat_240719910_6_1_3_7_8] ON [ACCOUNTING].[GAME_DAY]([GDAY_NAST_ID], [GDAY_ID], [GDAY_DATE], [GDAY_DRTP_ID], [GDAY_DROP_MODE])
go

CREATE STATISTICS [_dta_stat_240719910_3_7_12_8_2_6] ON [ACCOUNTING].[GAME_DAY]([GDAY_DATE], [GDAY_DRTP_ID], [GDAY_SC_UPLOAD_STATUS], [GDAY_DROP_MODE], [GDAY_STATUS], [GDAY_NAST_ID])
go

CREATE STATISTICS [_dta_stat_240719910_3_12_8_2_1_6] ON [ACCOUNTING].[GAME_DAY]([GDAY_DATE], [GDAY_SC_UPLOAD_STATUS], [GDAY_DROP_MODE], [GDAY_STATUS], [GDAY_ID], [GDAY_NAST_ID])
go

CREATE STATISTICS [_dta_stat_240719910_3_8_12_7_6_1_2] ON [ACCOUNTING].[GAME_DAY]([GDAY_DATE], [GDAY_DROP_MODE], [GDAY_SC_UPLOAD_STATUS], [GDAY_DRTP_ID], [GDAY_NAST_ID], [GDAY_ID], [GDAY_STATUS])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_ASSET_CONFIGURATION_10_1444200195__K19_K2_K14_K1_4] ON [ACCOUNTING].[ASSET_CONFIGURATION]
(
	[ACFG_IS_LATEST] ASC,
	[ACFG_NAMED_ASSET_ID] ASC,
	[ACFG_AREA_ID] ASC,
	[ACFG_ID] ASC
)
INCLUDE ( 	[ACFG_SITE_LOCATION]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_ASSET_CONFIGURATION_10_1444200195__K19_K2_K1_4] ON [ACCOUNTING].[ASSET_CONFIGURATION]
(
	[ACFG_IS_LATEST] ASC,
	[ACFG_NAMED_ASSET_ID] ASC,
	[ACFG_ID] ASC
)
INCLUDE ( 	[ACFG_SITE_LOCATION]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1444200195_2_1] ON [ACCOUNTING].[ASSET_CONFIGURATION]([ACFG_NAMED_ASSET_ID], [ACFG_ID])
go

CREATE STATISTICS [_dta_stat_1444200195_14_19] ON [ACCOUNTING].[ASSET_CONFIGURATION]([ACFG_AREA_ID], [ACFG_IS_LATEST])
go

CREATE STATISTICS [_dta_stat_1444200195_1_14_2] ON [ACCOUNTING].[ASSET_CONFIGURATION]([ACFG_ID], [ACFG_AREA_ID], [ACFG_NAMED_ASSET_ID])
go

CREATE STATISTICS [_dta_stat_1444200195_14_2_19_1] ON [ACCOUNTING].[ASSET_CONFIGURATION]([ACFG_AREA_ID], [ACFG_NAMED_ASSET_ID], [ACFG_IS_LATEST], [ACFG_ID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_NAMED_ASSET_10_560721050__K1_K8_K2] ON [ACCOUNTING].[NAMED_ASSET]
(
	[NAST_ID] ASC,
	[NAST_SITE_NUM] ASC,
	[NAST_NAME] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_NAMED_ASSET_10_560721050__K1_K2] ON [ACCOUNTING].[NAMED_ASSET]
(
	[NAST_ID] ASC,
	[NAST_NAME] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_TRANS_10_1863677687__K33_K19_K3_K20_K34_K11_K29_K1_K2] ON [VOUCHER].[TRANS]
(
	[NAMED_ASSET_ID] ASC,
	[ERROR_CODE_ID] ASC,
	[TRANS_TYPE_ID] ASC,
	[TRANS_DATETIME] ASC,
	[GAME_DATE] ASC,
	[ASSET_TYPE] ASC,
	[SITE_ID] ASC,
	[TRANS_ID] ASC,
	[TKT_ID] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_TRANS_10_1863677687__K33_K34_K20_K11_K29_K3_K19_K1_K2] ON [VOUCHER].[TRANS]
(
	[NAMED_ASSET_ID] ASC,
	[GAME_DATE] ASC,
	[TRANS_DATETIME] ASC,
	[ASSET_TYPE] ASC,
	[SITE_ID] ASC,
	[TRANS_TYPE_ID] ASC,
	[ERROR_CODE_ID] ASC,
	[TRANS_ID] ASC,
	[TKT_ID] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1863677687_33_20_3] ON [VOUCHER].[TRANS]([NAMED_ASSET_ID], [TRANS_DATETIME], [TRANS_TYPE_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_11_29_3] ON [VOUCHER].[TRANS]([ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_20_19_3_34] ON [VOUCHER].[TRANS]([TRANS_DATETIME], [ERROR_CODE_ID], [TRANS_TYPE_ID], [GAME_DATE])
go

CREATE STATISTICS [_dta_stat_1863677687_20_11_3_19] ON [VOUCHER].[TRANS]([TRANS_DATETIME], [ASSET_TYPE], [TRANS_TYPE_ID], [ERROR_CODE_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_29_34_33_20] ON [VOUCHER].[TRANS]([SITE_ID], [GAME_DATE], [NAMED_ASSET_ID], [TRANS_DATETIME])
go

CREATE STATISTICS [_dta_stat_1863677687_3_34_33_20_11] ON [VOUCHER].[TRANS]([TRANS_TYPE_ID], [GAME_DATE], [NAMED_ASSET_ID], [TRANS_DATETIME], [ASSET_TYPE])
go

CREATE STATISTICS [_dta_stat_1863677687_20_11_29_3_19_34] ON [VOUCHER].[TRANS]([TRANS_DATETIME], [ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID], [ERROR_CODE_ID], [GAME_DATE])
go

CREATE STATISTICS [_dta_stat_1863677687_34_11_29_3_19_33] ON [VOUCHER].[TRANS]([GAME_DATE], [ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID], [ERROR_CODE_ID], [NAMED_ASSET_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_11_3_19_29_20_1] ON [VOUCHER].[TRANS]([ASSET_TYPE], [TRANS_TYPE_ID], [ERROR_CODE_ID], [SITE_ID], [TRANS_DATETIME], [TRANS_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_33_34_20_1_2_11_29_3] ON [VOUCHER].[TRANS]([NAMED_ASSET_ID], [GAME_DATE], [TRANS_DATETIME], [TRANS_ID], [TKT_ID], [ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_20_1_2_11_29_3_19_33] ON [VOUCHER].[TRANS]([TRANS_DATETIME], [TRANS_ID], [TKT_ID], [ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID], [ERROR_CODE_ID], [NAMED_ASSET_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_1_2_11_3_19_29_20_34] ON [VOUCHER].[TRANS]([TRANS_ID], [TKT_ID], [ASSET_TYPE], [TRANS_TYPE_ID], [ERROR_CODE_ID], [SITE_ID], [TRANS_DATETIME], [GAME_DATE])
go

CREATE STATISTICS [_dta_stat_1863677687_2_20_34_33_11_29_3_19] ON [VOUCHER].[TRANS]([TKT_ID], [TRANS_DATETIME], [GAME_DATE], [NAMED_ASSET_ID], [ASSET_TYPE], [SITE_ID], [TRANS_TYPE_ID], [ERROR_CODE_ID])
go

CREATE STATISTICS [_dta_stat_1863677687_19_3_20_33_34_11_29_1_2] ON [VOUCHER].[TRANS]([ERROR_CODE_ID], [TRANS_TYPE_ID], [TRANS_DATETIME], [NAMED_ASSET_ID], [GAME_DATE], [ASSET_TYPE], [SITE_ID], [TRANS_ID], [TKT_ID])
go

CREATE STATISTICS [_dta_stat_1719677174_5_2_1] ON [VOUCHER].[TICKET]([TKT_BARCODE], [TRANS_ID], [TKT_ID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_VOUCHER_TRANSFER_10_843150049__K5_K14_K2_K16_K10_K1_7_9] ON [SOFTCOUNT].[VOUCHER_TRANSFER]
(
	[VTRAN_BARCODE] ASC,
	[VTRAN_GDAY_DATE] ASC,
	[VTRAN_SITE_ID] ASC,
	[VTRAN_CREATED_USER] ASC,
	[VTRAN_AUDIT_CODE] ASC,
	[VOU_ID] ASC
)
INCLUDE ( 	[VTRAN_AMOUNT_TYPE],
	[VTRAN_TYPE_ID]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_843150049_2] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VTRAN_SITE_ID])
go

CREATE STATISTICS [_dta_stat_843150049_16_5_14] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VTRAN_CREATED_USER], [VTRAN_BARCODE], [VTRAN_GDAY_DATE])
go

CREATE STATISTICS [_dta_stat_843150049_10_5_14] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VTRAN_AUDIT_CODE], [VTRAN_BARCODE], [VTRAN_GDAY_DATE])
go

CREATE STATISTICS [_dta_stat_843150049_1_5_14_2_10] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VOU_ID], [VTRAN_BARCODE], [VTRAN_GDAY_DATE], [VTRAN_SITE_ID], [VTRAN_AUDIT_CODE])
go

CREATE STATISTICS [_dta_stat_843150049_5_10_16_1_14] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VTRAN_BARCODE], [VTRAN_AUDIT_CODE], [VTRAN_CREATED_USER], [VOU_ID], [VTRAN_GDAY_DATE])
go

CREATE STATISTICS [_dta_stat_843150049_14_2_5_10_16_1] ON [SOFTCOUNT].[VOUCHER_TRANSFER]([VTRAN_GDAY_DATE], [VTRAN_SITE_ID], [VTRAN_BARCODE], [VTRAN_AUDIT_CODE], [VTRAN_CREATED_USER], [VOU_ID])
go

CREATE NONCLUSTERED INDEX [_dta_index_VOUCHER_10_651149365__K1_K2] ON [SOFTCOUNT].[VOUCHER]
(
	[VOU_ID] ASC,
	[DRPL_ID] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_651149365_2] ON [SOFTCOUNT].[VOUCHER]([DRPL_ID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_DROP_LOCATION_10_619149251__K1_K7] ON [SOFTCOUNT].[DROP_LOCATION]
(
	[DRPL_ID] ASC,
	[ASSET_AREA_NAME] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_619149251_7_1] ON [SOFTCOUNT].[DROP_LOCATION]([ASSET_AREA_NAME], [DRPL_ID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_ACTOR_10_2011154210__K2_K1_K14] ON [USER].[ACTOR]
(
	[ACTR_LOGIN] ASC,
	[ACTR_ID] ASC,
	[ACTR_DELETED_USER] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_2011154210_14_2] ON [USER].[ACTOR]([ACTR_DELETED_USER], [ACTR_LOGIN])
go

CREATE STATISTICS [_dta_stat_2011154210_14_1] ON [USER].[ACTOR]([ACTR_DELETED_USER], [ACTR_ID])
go

