USE [CRManalytics]
GO

-- SAVE A COPY OF THE TABLE WITH THE DATES CONVERTED TO THE NEW DATETIME FORMAT
SELECT 
 TagCode
,OfferDescription1
,OfferDescription2
,OfferDescription3
,OfferCategory
,BeginDate
,EndDate

,Valid_BeginDate =
 CASE Valid_BeginDate 
 WHEN NULL THEN NULL
 ELSE  CONVERT(DATETIME,CONVERT(VARCHAR,Valid_BeginDate,121),121) -- DEFALUTS TO ' 00:00:00:000'
 END

,Valid_EndDate =
 CASE Valid_BeginDate 
 WHEN NULL THEN NULL
 ELSE  CONVERT(DATETIME,CONVERT(VARCHAR,Valid_EndDate,121) + ' 23:59:00:000',121) 
 END

INTO CRManalytics.dbo.Website_Tag_List_SAVE

FROM CRManalytics..Website_Tag_List
GO

-- DROP ORIGINAL TABLE

DROP TABLE CRManalytics..Website_Tag_List
GO

-- SELECT THE SAVED TABLE BACK INTO THE ORIGINAL TABLE WHICH WILL RECREATE IT WITH THE NEW CORRECT DATE FORMAT

SELECT 
 TagCode
,OfferDescription1
,OfferDescription2
,OfferDescription3
,OfferCategory
,BeginDate
,EndDate
,Valid_BeginDate
,Valid_EndDate

INTO CRManalytics.dbo.Website_Tag_List

FROM CRManalytics.dbo.Website_Tag_List_SAVE
GO