/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ParamID]
      ,[ParamName]
      ,[ParamType]
      ,[ParamDesc]
      ,[ParamValue]
  FROM [master].[dbmr].[DBMRParameter]

WHERE ParamName = 'ExcludeDB'

-- Set on 2016-08-09 by Steve per instructions from Alonzo
-- CMKTDB10_FINAL2,DBA,CMP12,AAGtestdb,CMKTCRYPTO,CMKTDB_ARCHIVE,CmktOffers10_TEST,CMPAPI,TEMP_ARCHIVE,vCMSUpdate

-- Changed on 2016-08-10 by Steve per instructions from Ramish from Bally's
-- tempdb,model,AAGtestdb,CMKTCRYPTO,CmktOffers10_TEST,CMP12,CMPAPI,DBA,CMKTDB10_FINAL2,TEMP_ARCHIVE,vCMSUpdate

-- Changed on 2016-08-11 by Steve to remove dropped databases and to add "CMKTDB_ARCHIVE" per instructions from Alonzo
-- tempdb,model,AAGtestdb,CMKTCRYPTO,CMKTDB_ARCHIVE,CMPAPI,DBA,vCMSUpdate
