USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [CMP_13-1].[sp_Extract_Offer_Detail_Data]    Script Date: 8/21/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------
-   QUALEX CONSULTING SERVICES, Inc. Copyright 1995-2021. All rights reserved.                                                                                 -
-																																							   -
-   Solution: iQ-Gaming																																		   -
-   Title:      Update iQC_Offer_Detail table Stored Procedure                                                                                                 -
-   Purpose:    This SP updates the iQC_Offer_Detail table from the CMP system                                                                                 -
-                                                                                                                                                              -
-                                                                                                                                                              -
-   Stored Procedure:    [sp_Extract_Extract_Offer_Detail_Data]                                                                                                -
-   Parameter Table: [dbo].[v_iQ_Job_Parameters]																											   -
-   Source Table(s):     See version specific SP                                                                                                               -
-   Target Table(s):     [dbo].[iQC_Offer_Detail]                                                                                                              -
-                                                                                                                                                              -
-                                                                                                                                                              -
-																																							   -
-   By:               Clive Pearson																															   -
-   Modified Date:    2022-02-01												                                                                               -
-   Revisions:        Initial Creation																														   -
-																																							   -
-																																							   -					  																	   -
-   This code MAY NOT BE USED without the expressed written consent of Qualex Consulting Services, Inc.														   -
--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
ALTER PROCEDURE [CMP_13-1].[sp_Extract_Offer_Detail_Data] (
@CasinoCode char(4) ,
@SourceSystem varchar(50),
@RefreshDate nvarchar(10),
@SourceDatabase nvarchar(30),
@History_Refresh char(1),
@procedure nvarchar(70)
)
AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from
SET NOCOUNT ON;

-- Define vars for process handling
declare @SummaryOfChanges TABLE(Change VARCHAR(20));
declare @schema varchar(70)
declare @step varchar(70)
declare @starttime datetime
declare @endtime datetime
declare @ExtractedRecords int
declare @updated int
declare @inserted int
declare @deleted int
declare @ObjectRecords int
declare @messages varchar(300)
declare @pointLocation     int
declare	@DB1Name      VarChar(64) 
declare	@DB2Name       VarChar(14) 

--set @procedure = OBJECT_NAME(@@PROCID)
--set @schema = OBJECT_SCHEMA_NAME(@@PROCID)
--  set @procedure = 'sp_Extract_Offer_Detail_Data'
--  set @schema = 'CMP_13-1'

-- Drop Temp tables if they exist

drop table if exists ##OfferDetail

CREATE TABLE ##OfferDetail (
	[TagCode] [nvarchar](255) NULL,
	[CampaignName] [nvarchar](255) NULL,
	[OfferDescription1] [nvarchar](255) NULL,
	[OfferDescription2] [nvarchar](255) NULL,
	[OfferDescription3] [nvarchar](255) NULL,
	[Offer_Cat] [nvarchar](255) NULL,
	[Display_BeginDate] [datetime] NULL,
	[Display_EndDate] [datetime] NULL,
	[PrizeCode] [nvarchar](255) NULL,
	[PrizeCode2] [nvarchar](255) NULL,
	[Amount] [money] NULL,  -- spaylor - changed from FLOAT
	[PrimaryCategory] [nvarchar](255) NULL,
	[Subcategory] [nvarchar](255) NULL,
	[Group] [nvarchar](255) NULL,
	[Year] [int] NULL, -- spaylor - changed from FLOAT
	[Month] [int] NULL, -- spaylor - changed from FLOAT
	[Week_No] [int] NULL, -- spaylor - changed from FLOAT
	[SourceSystem] [varchar](50) NOT NULL,
	[CasinoCode] [char](4) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ManualUpdate] [bit] NOT NULL,
	[LoadDTTM] [datetime] NOT NULL,

	) ON [PRIMARY]

declare @var_SQLExec nvarchar(max)



BEGIN TRY
	
--set @SourceDatabase = '[CMKTDB13CPR].[CMP13]' 
 
--select 
--	input        = @SourceDatabase, 
--	DB1Name = @DB1Name,  
--	DB2Name  = @DB2Name; 

set @pointLocation = CharIndex('.', @SourceDatabase); 
set @DB1Name = SubString(@SourceDatabase, 1, @pointLocation - 1); 
set @DB2Name = SubString(@SourceDatabase, @pointLocation + 1, @pointLocation  - 1); 

-- Initalize process vars for next step
select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
select @step = 'Extract Offer Detail from CMP'
select @starttime = getdate()

set @var_SQLExec = N'
	 insert into ##OfferDetail select * ,''' + @SourceSystem + ''' as SourceSystem,
									''' + @CasinoCode + ''' as CasinoCode,
									getdate() as  [ModifiedDate],
									0 as [ManualUpdate],
									getdate() as   [LoadDTTM]
		from  OPENQUERY (' + @DB1Name +',''Select DISTINCT * from  ' + @DB2Name + N'.[dbo].[OfferDetail] '')'
	
-- print (@var_SQLExec)
execute(@var_SQLExec)
	  
--Get completion time
set @ExtractedRecords = (select count(*) from ##OfferDetail)
set @endtime = getdate()
-- Update Batch processing table

insert into dbo.IQ_Batch
select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'Completed'



END TRY  
BEGIN CATCH

set @messages =  ERROR_MESSAGE()
set @endtime = getdate()
insert into dbo.IQ_Batch
select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords,@messages;  
-- Throw error again to end SSIS process
Throw;

END CATCH;

END
