USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [VCR].[sp_SDS_Update_IQC_Slot_Accounting]    Script Date: 9/1/2023 4:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------
-   QUALEX CONSULTING SERVICES, Inc. Copyright 1995-2020. All rights reserved.                                                                                 -
-																																							   -
-   Solution:	iQ-Gaming																																	   -
-   Title:      Update iQC_Slot_Accounting table Stored Procedure                                                                                              -
-   Purpose:    This SP updates the iQC_Slot_Accounting table from the SDS system                                                                              -
-                                                                                                                                                              -
-                                                                                                                                                              -
-   Stored Procedure:    [sp_SDS_Update_IQC_Slot_Accounting]                                                                                                   -
-   Parameter Table:	 [dbo].[v_iQ_Job_Parameters]                                                                                                           -
-   Source Table(s):     See version specific SP for SDS tables																				                   -
-                        IQ Model [dbo].[IQC_Slot_Machines]																							           -
-   Target Table(s):     [dbo].[iQC_Slot_Accounting]                                                                                                           -
-                                                                                                                                                              -
-                                                                                                                                                              -
-   By:               Steve Wagar                                                                                                                              -
-   Creation Date:    2018-08                                                                                                                                  -
-                                                                                                                                                              -
-   By:               Steve Wagar                                                                                                                              -
-   Date:			  2018-08                                                                                                                                  -
-   Revisions:        Initial creation of program based on code created by Scott Clark from initial investigation and implementation of SDS Accounting         -
-                     Notes from initial program:                                                                                                              -
-   By:               Steve Wagar                                                                                                                              -
-   Date:			  2020-07                                                                                                                                  -
-   Revisions:        Cloned for Viejas.  Added IQ_Batch messaging.                                                    								           -
-                                                                                                                                                              -
-   By:               Scott Clark                                                                                                                              -
-   Date:			  2021-11                                                                                                                                  -
-   Revisions:        Added fields for participation fees and the extension table                                   								           -
-                                                                                                                                                              -
-   By:               Scott Clark                                                                                                                              -
-   Date:			  2022-01                                                                                                                                  -
-   Revisions:       Changed the actualwin calculation			                                                    								           -
-			         Sourced DaysonFloor from the MVR table  	                                                    								           -
-                                                                                                                                                              -
-   By:               Clive Pearson                                                                                                                            -
-   Date:			  2022-01-26                                                                                                                               -
-   Revisions:        Added Slot Soft Counts		                                                    													   -
-                                                                                                                                                              -
-   By:               Scott Clark	                                                                                                                           -
-   Date:			  2022-01-31                                                                                                                               -
-   Revisions:        Added logic for Fix Amt Participation fees. Was missing from the logic               													   -
-                                                                                                                                                              -
-   By:               Scott Clark	                                                                                                                           -
-   Date:			  2022-02-07                                                                                                                               -
-   Revisions:        Changed Net_Scale_Winm_Amt to use the softdrop totals						           													   -
-                                                                                                                                                              -
-   By:               Jiawen Liu	                                                                                                                           -
-   Date:			  2022-06-27                                                                                                                               -
-   Revisions:        Added step to map LeaseFees to iqc_slot_accounting per Peter N's request	           													   -
-                                                                                                                                                              -
-   This code MAY NOT BE USED without the expressed written consent of Qualex Consulting Services, Inc.                                                        -
--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

ALTER PROCEDURE [VCR].[sp_SDS_Update_IQC_Slot_Accounting] 

AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

-- Define vars for process handling
	declare @SummaryOfChanges TABLE(Change VARCHAR(20));
	declare @procedure varchar(70)
	declare @schema varchar(70)
	declare @step varchar(30)
	declare @starttime datetime
	declare @endtime datetime
	declare @ExtractedRecords int
	declare @updated int
	declare @inserted int
	declare @deleted int
	declare @ObjectRecords int
	declare @messages varchar(300)
	declare @scdinserts int

	set @procedure = OBJECT_NAME(@@PROCID)
	set @schema = OBJECT_SCHEMA_NAME(@@PROCID)
set @procedure = 'sp_SDS_Update_IQC_Slot_Accounting'
set @schema = 'VCR'


	DECLARE @var_datetime datetime
	SET @var_datetime = CONVERT(VARCHAR(19),GETDATE(),120)

-- Drop temp tables if exist
	drop table if exists #JobParms
	drop table if exists ##ALLSlotDeets
	drop table if exists ##ALLSlotEXP
	drop table if exists ##SlotSofts
	drop table if exists #SlotAccounting_SG_001
	drop table if exists #SlotAccounting_SG_002
	drop table if exists #PlayData
	drop table if exists #WinExpense
	drop table if exists #SlotAccounting_EXT_001
	drop table if exists #SlotAccounting_EXT_002

	declare @var_SQLExec nvarchar(max)

	declare @History_Refresh char(1)
	declare @refresh int
	declare @refreshdate nvarchar(10)
	declare @MinRefreshdate nvarchar(10)
	declare @CasinoCode nchar(4)
	declare @SourceSystem nvarchar(50)
	declare @SourceSDSDatabase nvarchar(50)
	declare @SDSVersion nvarchar(20)
	declare @CustomSlotAccountingProcess nvarchar(70)

-- Get any JobParms values for the procedure
	SELECT *
      INTO #JobParms
      FROM [dbo].[v_IQ_Job_Parameters]
	 where SP_Name = @procedure
	   and [Schema_Name] = @schema

-- Set Parms	
	set @History_Refresh = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='RebuildAllHistory')
	set @refresh = (SELECT cast(Parm_Value as int) * (-1) FROM #JobParms WHERE Parm_Name='RefreshDays')	
	set @CasinoCode = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='CasinoCode')
	set @SourceSystem = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='SourceSystem')
	set @SourceSDSDatabase = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='SourceSDSDatabase')
	set @SDSVersion = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='SDSVersion')
    set @MinRefreshDate = (SELECT cast(Parm_Value as nvarchar(10)) FROM #JobParms WHERE Parm_Name='MinRefreshDate')
	set @CustomSlotAccountingProcess = (SELECT Parm_Value FROM #JobParms WHERE Parm_Name='CustomSlotAccountingProcess')

	print 'History_Refresh:             ' + cast(@History_Refresh as varchar(50))
	print 'CasinoCode:                  ' + cast(@CasinoCode as varchar(50))
	print 'Refresh:                     ' + cast(@refresh as varchar(50))
	print 'SourceSystem:                ' + cast(@SourceSystem as varchar(50))
	print 'SourceSDSDatabase:           ' + cast(@SourceSDSDatabase as varchar(50))
	print 'SDSVersion:                  ' + cast(@SDSVersion as varchar(50))
	print 'MinRefreshDate:              ' + cast(@MinRefreshDate as varchar(50))
	print 'CustomSlotAccountingProcess: ' + cast(@CustomSlotAccountingProcess as varchar(250))


	if @History_Refresh = 'Y'
	  begin
	   
		if @MinRefreshDate is not null
		  set @refreshDate = @MinRefreshDate
	    else 
		  select @refreshDate = cast(cast('1900-01-01' as date) as nvarchar(10))

		delete from [dbo].[IQC_Slot_Accounting]
		    where SourceSystem = @SourceSystem	

		set @deleted = @@ROWCOUNT
		set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting] )
	    insert into dbo.IQ_Batch
		select @procedure, 'Delete Slot Accounting Data', getdate(), getdate(), @refreshdate, 0, 0, 0, @deleted, @ObjectRecords, 'In Process'

	  end
    else
	  if @refreshDate is null
		select @refreshDate = cast(cast(dateadd(dd,@refresh,DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))) as date) as nvarchar(10))
		if @refreshDate < @MinRefreshDate
		  set @refreshDate = @MinRefreshDate

	print 'RefreshDate:                 ' + cast(@refreshdate as varchar(50))

-- Extract data from SDS	

	set @var_SQLExec = N'										
			EXEC [' + @SDSVersion + '].sp_Extract_Slot_Accounting_Data ''' + @CasinoCode + ''', ''' + @SourceSystem + ''', ''' + @SourceSDSDatabase + ''', ''' + @refreshDate + ''', ''' + @procedure + ''' '
					
	--print @var_SQLExec
	EXEC sp_executesql @query=@var_SQLExec	

	if @CustomSlotAccountingProcess is not null
	begin
		set @var_SQLExec = N'
				IF EXISTS(SELECT 1 
							FROM sys.procedures 
							WHERE object_id = OBJECT_ID(''' + @CustomSlotAccountingProcess + '''))
				BEGIN
					EXEC ' + @CustomSlotAccountingProcess + ' ''' + @CasinoCode + ''', ''' + @SourceSystem + ''', ''' + @SourceSDSDatabase + '''
				END '

		--print @var_SQLExec
		EXEC sp_executesql @query=@var_SQLExec	
	end		


-- Initalize process vars for next step
	select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
	select @step = 'Calc Slot Accounting Data'
	select @starttime = getdate()

-- Calc Totals
	SELECT GamingDate
		,AssetNumber
		,COUNT(DISTINCT CAST(AssetNumber AS INT)) AS [MachineCount]
		,SUM(CoinIn) AS CoinIn
		,SUM(CoinOut) AS CoinOut
		,SUM(FreePlay) AS FreePlay
		,SUM(GamesPlayed) AS Games
		,SUM(JackPots) as Jackpots
		,SUM(MVR_BETS_VAL) as MVR_BETS_VAL
		,SUM(MVR_TKT_OUT_CASH_VAL) as MVR_TKT_OUT_CASH_VAL
		,SUM(MVR_TKT_OUT_NON_CASH_VAL) as MVR_TKT_OUT_NON_CASH_VAL
		,SUM(MVR_EFT_OUT_CASH_VAL) AS MVR_EFT_OUT_CASH_VAL
		,SUM(MVR_EFT_OUT_NON_CASH_VAL) AS MVR_EFT_OUT_NON_CASH_VAL
		,SUM(MVR_EFT_OUT_PROMO_CASH_VAL) AS MVR_EFT_OUT_PROMO_CASH_VAL
		,SUM(MVR_$1_VAL) as MVR_$1_VAL
		,SUM(MVR_$5_VAL) as MVR_$5_VAL
		,SUM(MVR_$10_VAL) as MVR_$10_VAL
		,SUM(MVR_$20_VAL) as MVR_$20_VAL
		,SUM(MVR_$50_VAL) as  MVR_$50_VAL
		,SUM(MVR_$100_VAL) as MVR_$100_VAL
		,SUM(MVR_TKT_IN_CASH_VAL) as MVR_TKT_IN_CASH_VAL
		,SUM(MVR_TKT_IN_NON_CASH_VAL) as MVR_TKT_IN_NON_CASH_VAL
		,SUM(MVR_TKT_PROMO_CASH_IN_VAL) as  MVR_TKT_PROMO_CASH_IN_VAL
		,SUM(MVR_EFT_IN_NON_CASH_VAL) as  MVR_EFT_IN_NON_CASH_VAL
		,SUM(MVR_EFT_IN_CASH_VAL) as MVR_EFT_IN_CASH_VAL
		,SUM(MVR_EFT_IN_PROMO_CASH_VAL) as MVR_EFT_IN_PROMO_CASH_VAL
		,sum(MVR_CANCELLED_CREDIT_HP_VAL) as MVR_CANCELLED_CREDIT_HP_VAL
		,Max(ONLINE_VAL) as ONLINE_VAL
	INTO #PlayData
	FROM ##ALLSlotDeets
	GROUP BY GamingDate, AssetNumber

	SELECT GamingDate
		,AssetNumber
	--	,SUM([SLPRU_VALUE]) AS Mach_Win_Expense
		,SUM([SLPRU_VALUE] - [SLIP_CC_JACKPOT]- [SLIP_DISPUTE]) AS Mach_Win_Expense
		,SUM([SLPRU_VALUE]) AS [SlipValue]	
		,SUM(SLIP_APJP_JACKPOT) AS SLIP_APJP_JACKPOT
		,SUM(SLIP_PROGRESSIVE_JAKPT) AS SLIP_PROGRESSIVE_JAKPT
		,SUM(SLIP_CC_JACKPOT) AS SLIP_CC_JACKPOT
		,SUM(SLIP_CELEBRATION_JACKPOT) AS SLIP_CELEBRATION_JACKPOT
		,SUM(SLIP_MYST_JACKPOT) AS SLIP_MYST_JACKPOT
		,SUM(SLIP_WAP_JACKPOT) AS SLIP_WAP_JACKPOT
		,SUM(SLIP_NONCASH_MYST_JACKPOT) AS SLIP_NONCASH_MYST_JACKPOT
		,SUM(SLIP_FILL) AS SLIP_FILL
		,SUM(SLIP_BLEED) AS SLIP_BLEED
		,SUM(SLIP_DISPUTE) AS SLIP_DISPUTE
		
	INTO #WinExpense
	FROM ##ALLSlotEXP
	GROUP BY GamingDate, AssetNumber


	SELECT A.[GamingDate]
		  ,A.[AssetNumber]
		  ,[MachineCount]
		  ,[CoinIn]
		  ,[CoinOut]
		  ,[FreePlay]
		  ,[Games]
		  ,jackpots
		  -- Changed this code to only back out the the jackpots so it matches the Slot Accounting report from SDS
		  ,(isnull([CoinIn],0) - isnull([CoinOut],0) - isnull([Mach_Win_Expense],0)) AS [ActualWin]
		  --,(isnull([CoinIn],0) - isnull([CoinOut],0) - isnull([SLIP_APJP_JACKPOT],0)) AS [ActualWin]
		  ,ONLINE_VAL
      INTO #SlotAccounting_SG_001
      FROM #PlayData A
      LEFT JOIN	#WinExpense B 
        on A.[GamingDate] = B.[GamingDate] 
	   AND A.[AssetNumber] = B.[AssetNumber]
     order by GamingDate ,AssetNumber

	
	select cast(xdrop.AssetNumber as int) as Assetnumber,
		   sm.LocationID,
		   (select DateID from [dbo].[IQ_Calendar]
			 where cast(xdrop.GamingDate as datetime) = [IQ_Calendar].CalendarDate) as GamingDateID,		   
		   cast(xdrop.GamingDate as datetime) as GamingDate
		,isnull (ConfigID,0) as ConfigID
		,xdrop.games as plays
		,cast(ONLINE_VAL as smallint) as DaysOnFloor 	
		,cast (xdrop.coinIn as money) as ActualCoinIn --spaylor change from decimal (18,2)
		,0 as MeteredCoinIn
		,cast (xdrop.CoinOut as money) as ActualCoinOut --spaylor change from decimal (18,2)
		,0 as MeteredCoinOut
		,cast (xdrop.jackpots as money) as jackpots --spaylor change from decimal (18,2)
		,0 as Variance
		,0 as MeteredSoftDrop
		,0 as ActualSoftDrop 
		,0 as MeteredHardDrop
		,0 as ActualHardDrop
		,0 as ActualTicketDrop
		,0 as MeteredTicketDrop
		,0 as Fills
		,0 as ActualTicketIn
		,0 as MeteredTicketIn
		,0 as ActualTicketOut
		,0 as MeteredTicketOut
		,0 as ExtraCreditUsed
		,0 as Bonus
		,cast (xdrop.ActualWin as money) as ActualWin --spaylor change from decimal (18,2)
		,0 as MeteredWin
		,0 as LeaseFees
		,0 as ActualAdjustedWin
		,0 as MeteredAdjustedWIn
		,xdrop.FreePlay as FreePlay_Used
		,0 as FreePlay_In
		,0 as FreePlay_Out
		,@CasinoCode as CasinoCode
		,0 as ManualUpdate
		,0 as TheoreticalWin
		,@SourceSystem as SourceSystem
		into #SlotAccounting_SG_002
		FROM #SlotAccounting_SG_001 xdrop	
		left join dbo.IQC_Slot_Machines sm
		  on cast(xdrop.assetnumber as int) = sm.assetnumber
		 and xdrop.GamingDate between cast(sm.RecordEffectiveDate as date) and cast(dateadd(day,-1,sm.RecordTermDate) as date)
		 and sm.SourceSystem = @SourceSystem





-- Records do get put into SDS the day before a machine actually comes online
	delete from #SlotAccounting_SG_002
	  where ConfigID = 0 and Plays = 0

	set @ExtractedRecords = (select count(*) from #SlotAccounting_SG_002)
	
	set @endtime = getdate()

-- Update Batch processing table
	insert into dbo.IQ_Batch
	select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'


	Begin TRY

	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Delete Slot Accounting Data'
		select @starttime = getdate()

	--	Delete records in Slot Accounting Table
		DELETE
		FROM [iQ-Gaming].[dbo].[IQC_Slot_Accounting]
		WHERE [GamingDate] IN (SELECT distinct GamingDate FROM #SlotAccounting_SG_002)
			and SourceSystem = @SourceSystem

		set @deleted = @@ROWCOUNT
	    set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting])
		set @endtime = getdate()

	-- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'


	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Insert Slot Accounting Data'
		select @starttime = getdate()

		--Insert records into Slot Accounting
			INSERT INTO	[iQ-Gaming].[dbo].[IQC_Slot_Accounting]
			([AssetNumber]
			,[LocationID]
			,[GamingDateID]
			,[GamingDate]
			,[ConfigID]
			,[Plays]
			,[DaysOnFloor]
			,[ActualCoinIn]
			,[MeteredCoinIn]
			,[ActualCoinOut]
			,[MeteredCoinOut]
			,[Jackpots]
			,[Variance]
			,[ActualSoftDrop]
			,[MeteredSoftDrop]
			,[ActualHardDrop]
			,[MeteredHardDrop]
			,[ActualTicketDrop]
			,[MeteredTicketDrop]
			,[Fills]
			,[ActualTicketIn]
			,[MeteredTicketIn]
			,[ActualTicketOut]
			,[MeteredTicketOut]
			,[ExtraCreditUsed]
			,[Bonus]
			,[ActualWin]
			,[MeteredWin]
			,[LeaseFees]
			,[ActualAdjustedWin]
			,[MeteredAdjustedWin]
			,[FreePlay_Used]
			,[FreePlay_In]
			,[FreePlay_Out]
			,[CasinoCode]
			,[ManualUpdate]
			,[TheoreticalWin]
			,[SourceSystem]
			,[LoadDTTM]
	)
			SELECT
			[AssetNumber]
			,[LocationID]
			,[GamingDateID]
			,[GamingDate]
			,[ConfigID]
			,[Plays]
			,[DaysOnFloor]
			,[ActualCoinIn]
			,[MeteredCoinIn]
			,[ActualCoinOut]
			,[MeteredCoinOut]
			,[Jackpots]
			,[Variance]
			,[ActualSoftDrop]
			,[MeteredSoftDrop]
			,[ActualHardDrop]
			,[MeteredHardDrop]
			,[ActualTicketDrop]
			,[MeteredTicketDrop]
			,[Fills]
			,[ActualTicketIn]
			,[MeteredTicketIn]
			,[ActualTicketOut]
			,[MeteredTicketOut]
			,[ExtraCreditUsed]
			,[Bonus]
			,[ActualWin]
			,[MeteredWin]
			,[LeaseFees]
			,[ActualAdjustedWin]
			,[MeteredAdjustedWin]
			,[FreePlay_Used]
			,[FreePlay_In]
			,[FreePlay_Out]
			,[CasinoCode]
			,[ManualUpdate]
			,[TheoreticalWin]
			,[SourceSystem]
			,getdate()
			FROM
				#SlotAccounting_SG_002


		set @inserted = @@ROWCOUNT
	    set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting])
		set @endtime = getdate()

	-- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'


	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Delete Slot Accounting EXT Data'
		select @starttime = getdate()

	--	Delete records in Slot Accounting ExtensionTable
		DELETE
		FROM [iQ-Gaming].[dbo].[IQC_Slot_Accounting_EXT]
		WHERE [GamingDate] IN (SELECT distinct GamingDate FROM #SlotAccounting_SG_002)
			and SourceSystem = @SourceSystem

		set @deleted = @@ROWCOUNT
	    set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting_EXT])
		set @endtime = getdate()

	-- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'


	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Insert Slot Accounting EXT Data'
		select @starttime = getdate()

	SELECT a.[GamingDate]
		,A.[AssetNumber]
		,A.MVR_BETS_VAL
		,A.MVR_TKT_OUT_CASH_VAL
		,A.MVR_TKT_OUT_NON_CASH_VAL
		,A.MVR_EFT_OUT_NON_CASH_VAL
		,A.MVR_EFT_OUT_CASH_VAL
		,A.MVR_EFT_OUT_PROMO_CASH_VAL
		,A.MVR_$1_VAL
		,A.MVR_$5_VAL
		,A.MVR_$10_VAL
		,A.MVR_$20_VAL
		,A.MVR_$50_VAL
		,a.MVR_$100_VAL
		,a.MVR_TKT_IN_CASH_VAL
		,a.MVR_TKT_IN_NON_CASH_VAL
		,a.MVR_TKT_PROMO_CASH_IN_VAL
		,a.MVR_EFT_IN_CASH_VAL
		,a.MVR_EFT_IN_NON_CASH_VAL
		,a.MVR_EFT_IN_PROMO_CASH_VAL
		,a.MVR_CANCELLED_CREDIT_HP_VAL
		,B.SLIP_APJP_JACKPOT
		,B.SLIP_PROGRESSIVE_JAKPT
		,B.SLIP_CC_JACKPOT
		,B.SLIP_CELEBRATION_JACKPOT
		,B.SLIP_MYST_JACKPOT
		,B.SLIP_WAP_JACKPOT
		,B.SLIP_NONCASH_MYST_JACKPOT
		,B.SLIP_FILL
		,B.SLIP_BLEED
		,B.SLIP_DISPUTE
		,B.SLIP_APJP_JACKPOT + B.SLIP_PROGRESSIVE_JAKPT + B.SLIP_CC_JACKPOT + B.SLIP_DISPUTE /* MVR_HP_PROG_JACKPOT_VAL +  MVR_CANCELLED_CREDIT_HP_VAL + */
			+A.MVR_TKT_OUT_CASH_VAL +A.MVR_TKT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_CASH_VAL + A.MVR_EFT_OUT_PROMO_CASH_VAL  
		AS [HAND_PAYS_AMT]
		,A.MVR_$1_VAL + A.MVR_$5_VAL + A.MVR_$10_VAL + A.MVR_$20_VAL + A.MVR_$50_VAL + A.MVR_$100_VAL 
			+A.MVR_TKT_IN_CASH_VAL + A.MVR_TKT_IN_NON_CASH_VAL + A.MVR_TKT_PROMO_CASH_IN_VAL
			+A.MVR_EFT_IN_NON_CASH_VAL + A.MVR_EFT_IN_CASH_VAL + A.MVR_EFT_IN_PROMO_CASH_VAL 
		AS [TOTAL_DROP_AMT]
		,A.MVR_$1_VAL + A.MVR_$5_VAL + A.MVR_$10_VAL + A.MVR_$20_VAL + A.MVR_$50_VAL + A.MVR_$100_VAL
			+A.MVR_TKT_IN_CASH_VAL + A.MVR_TKT_IN_NON_CASH_VAL +A. MVR_TKT_PROMO_CASH_IN_VAL
			+A.MVR_EFT_IN_NON_CASH_VAL + A.MVR_EFT_IN_CASH_VAL + A.MVR_EFT_IN_PROMO_CASH_VAL
			-(B.SLIP_APJP_JACKPOT + B.SLIP_PROGRESSIVE_JAKPT  + B.SLIP_DISPUTE + B.SLIP_CC_JACKPOT 
				+ (A.MVR_TKT_OUT_CASH_VAL + A.MVR_TKT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_CASH_VAL + A.MVR_EFT_OUT_PROMO_CASH_VAL)) 
		AS [SLOT_NET_WIN_AMT]
		,MVR_BETS_VAL AS [DRPD_COIN_IN_AMT]
		,SLIP_FILL AS [DRPD_FILLS_AMT]	
	INTO #SlotAccounting_EXT_001
      FROM #PlayData A
      LEFT JOIN	#WinExpense B 
        on A.[GamingDate] = B.[GamingDate] 
	   AND A.[AssetNumber] = B.[AssetNumber]
	 /*  left join 
		   ##SlotSofts ss
		on A.assetnumber = ss.assetnumber
			and A.GamingDate = ss.GamingDate*/
     --order by GamingDate ,AssetNumber



	select xdrop.gamingdate
		,xdrop.Assetnumber
		,xdrop.MVR_BETS_VAL
		,xdrop.MVR_TKT_OUT_CASH_VAL
		,xdrop.MVR_TKT_OUT_NON_CASH_VAL
		,xdrop.MVR_EFT_OUT_NON_CASH_VAL
		,xdrop.MVR_EFT_OUT_CASH_VAL
		,xdrop.MVR_EFT_OUT_PROMO_CASH_VAL
		,xdrop.MVR_$1_VAL
		,xdrop.MVR_$5_VAL
		,xdrop.MVR_$10_VAL
		,xdrop.MVR_$20_VAL
		,xdrop.MVR_$50_VAL
		,xdrop.MVR_$100_VAL
		,xdrop.MVR_TKT_IN_CASH_VAL
		,xdrop.MVR_TKT_IN_NON_CASH_VAL
		,xdrop.MVR_TKT_PROMO_CASH_IN_VAL
		,xdrop.MVR_EFT_IN_CASH_VAL
		,xdrop.MVR_EFT_IN_NON_CASH_VAL
		,xdrop.MVR_EFT_IN_PROMO_CASH_VAL
		,xdrop.SLIP_APJP_JACKPOT
		,xdrop.SLIP_PROGRESSIVE_JAKPT
		,xdrop.SLIP_CC_JACKPOT
		,xdrop.SLIP_CELEBRATION_JACKPOT
		,xdrop.SLIP_MYST_JACKPOT
		,xdrop.SLIP_WAP_JACKPOT
		,xdrop.SLIP_NONCASH_MYST_JACKPOT
		,xdrop.SLIP_FILL
		,xdrop.SLIP_BLEED
		,xdrop.SLIP_DISPUTE
		,xdrop.HAND_PAYS_AMT
		,xdrop.TOTAL_DROP_AMT
		,xdrop.SLOT_NET_WIN_AMT
		,xdrop.DRPD_COIN_IN_AMT
		,xdrop.DRPD_FILLS_AMT
		,xdrop.MVR_CANCELLED_CREDIT_HP_VAL
--		,xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt as NET_SCALE_WIN_AMT
		--,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
  --            WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
		--			IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt), 
		--				IIF(([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
		--					IIF(([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
  --            WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
		--	  else  pf.[Part_Fix_AMt]
		--END PARTICIPATION_FEES
		,(ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt as NET_SCALE_WIN_AMT
		/*
		,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
              WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
					IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt), 
						IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
							IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
              WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
			  else  pf.[Part_Fix_AMt]
		END PARTICIPATION_FEES
		*/
		,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
              WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
					IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt), 
						IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
							IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
              WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
			  else  pf.[Part_Fix_AMt]
		END PARTICIPATION_FEES
		,CASE when [pf].[PARTICIPATION_TYPE_CD] = 'LEAS' then  pf.[Part_Fix_AMt] else 0.00 END as LeaseFees
		,@SourceSystem as SourceSystem
		,ss.Soft_Count_Bill_Drop
		,ss.Soft_Count_Voucher_Drop

		into #SlotAccounting_EXT_002
		FROM 
			#SlotAccounting_EXT_001 xdrop	
		left join
			[iQ-Gaming].dbo.IQC_Slot_Machines sm
		on xdrop.assetnumber = sm.assetnumber
			and xdrop.GamingDate between cast(sm.RecordEffectiveDate as date) and cast(dateadd(day,-1,sm.RecordTermDate) as date)
		left join 
			[iQ-Gaming].[dbo].[IQC_Slot_Participation] pf
		on isnull(sm.ParticipationCD,sm.user_custom5)=pf.ParticipationCD
		left join 
		   ##SlotSofts ss
		on xdrop.assetnumber = ss.assetnumber
			and xdrop.GamingDate = ss.GamingDate

		

	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Delete Slot Accounting Data'
		select @starttime = getdate()

	--	Delete records in Slot Accounting EXT Table
		DELETE
		FROM [iQ-Gaming].[dbo].[IQC_Slot_Accounting_EXT]
		WHERE [GamingDate] IN (SELECT distinct GamingDate FROM #SlotAccounting_EXT_002)
			and SourceSystem = @SourceSystem

		set @deleted = @@ROWCOUNT
	    set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting_EXT])
		set @endtime = getdate()

	-- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'


	-- Initalize process vars for next step
		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Insert Slot Accounting_EXT Data'
		select @starttime = getdate()

		--Insert records into Slot Accounting
			INSERT INTO	[iQ-Gaming].[dbo].[IQC_Slot_Accounting_EXT]
				([GamingDate] 
				,[AssetNumber]
				,[MVR_BETS_VAL]
				,[MVR_TKT_OUT_CASH_VAL]
				,[MVR_TKT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_CASH_VAL]
				,[MVR_EFT_OUT_PROMO_CASH_VAL]
				,[MVR_$1_VAL]
				,[MVR_$5_VAL]
				,[MVR_$10_VAL]
				,[MVR_$20_VAL]
				,[MVR_$50_VAL]
				,[MVR_$100_VAL]
				,[MVR_TKT_IN_CASH_VAL]
				,[MVR_TKT_IN_NON_CASH_VAL]
				,[MVR_TKT_PROMO_CASH_IN_VAL]
				,[MVR_EFT_IN_NON_CASH_VAL]
				,[MVR_EFT_IN_CASH_VAL]
				,[MVR_EFT_IN_PROMO_CASH_VAL]
				,[HAND_PAYS_AMT]
				,[TOTAL_DROP_AMT]
				,[SLOT_NET_WIN_AMT]
				,[DRPD_COIN_IN_AMT]
				,[DRPD_FILLS_AMT]
				,[NET_SCALE_WIN_AMT]
				,[PARTICIPATION_FEES]
				,[CasinoCode]
				,[ManualUpdate]
				,[SourceSystem]
				,[LoadDttm]
				,[Soft_Count_Bill_Drop]
				,[Soft_Count_Voucher_Drop]
			)
			SELECT
				[GamingDate] 
				,[AssetNumber]
				,[MVR_BETS_VAL]
				,[MVR_TKT_OUT_CASH_VAL]
				,[MVR_TKT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_CASH_VAL]
				,[MVR_EFT_OUT_PROMO_CASH_VAL]
				,[MVR_$1_VAL]
				,[MVR_$5_VAL]
				,[MVR_$10_VAL]
				,[MVR_$20_VAL]
				,[MVR_$50_VAL]
				,[MVR_$100_VAL]
				,[MVR_TKT_IN_CASH_VAL]
				,[MVR_TKT_IN_NON_CASH_VAL]
				,[MVR_TKT_PROMO_CASH_IN_VAL]
				,[MVR_EFT_IN_NON_CASH_VAL]
				,[MVR_EFT_IN_CASH_VAL]
				,[MVR_EFT_IN_PROMO_CASH_VAL]
				,[HAND_PAYS_AMT]
				,[TOTAL_DROP_AMT]
				,[SLOT_NET_WIN_AMT]
				,[DRPD_COIN_IN_AMT]
				,[DRPD_FILLS_AMT]
				,[NET_SCALE_WIN_AMT]
				,[PARTICIPATION_FEES]
				,@CasinoCode 
				,0
				,[SourceSystem]
				,getdate()
				,[Soft_Count_Bill_Drop]
				,[Soft_Count_Voucher_Drop]
			FROM
				#SlotAccounting_EXT_002

		set @inserted = @@ROWCOUNT
	    set @ObjectRecords = (select count(*) from [dbo].[IQC_Slot_Accounting_EXT])
		set @endtime = getdate()

	-- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'In Process'

		--Update LeaseFees in IQC_Slot_Accounting table

		select @step=NULL,@starttime=NULL,@endtime=NULL,@ExtractedRecords=0,@updated=0,@inserted=0,@deleted=0,@ObjectRecords=0,@messages=NULL
		select @step = 'Update LeaseFees in IQC_Slot_Accounting table'
		select @starttime = getdate()


		update  T
		set T.LeaseFees = s.LeaseFees
		from dbo.IQC_Slot_Accounting T, #SlotAccounting_EXT_002 s
		where s.LeaseFees>0 
		  and T.AssetNumber = s.Assetnumber and T.GamingDate = s.GamingDate
		 
		 set @updated = @@ROWCOUNT
		 set @endtime = getdate()

		 -- Update Batch processing table
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords, 'Complete'
		



	END TRY  
    BEGIN CATCH 

		set @messages =  ERROR_MESSAGE() 
		set @endtime = getdate()
		insert into dbo.IQ_Batch
		select @procedure, @step, @starttime, @endtime, @refreshdate, @ExtractedRecords, @updated, @inserted, @deleted, @ObjectRecords,@messages;  

		-- Throw error again to end process
		Throw;

	END CATCH;
	


END

