USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [myViejas].[sp_Extract_Opera_Hotel_Info]    Script Date: 9/1/2023 3:59:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [myViejas].[sp_Extract_Opera_Hotel_Info] (@UTC_Now DATETIMEOFFSET)
AS

BEGIN

	SET NOCOUNT ON
	
	DROP TABLE IF EXISTS #RoomCat_Transactions
	DROP TABLE IF EXISTS #Hotel_Mktg_Transactions
	DROP TABLE IF EXISTS #Hotel_CompsNoRooms_Transactions
	
	--NOTE: Opera transactions are local time. Convert UTC_Now to pacific. Marketing was using BUSINESS_DATE
	--in the join, so we will go back a day and perform a range check

	DECLARE @Local_End DATETIME = CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, @UTC_Now), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATETIME)	--PACIFIC

	SET @Local_End = DATEADD(dd, DATEDIFF(dd, 0, @UTC_Now), 0)
	DECLARE @Local_Start DATETIME = DATEADD(dd, -1, @Local_End)

	BEGIN TRY

		SELECT 
			CAST(RSD.RESV_NAME_ID AS VARCHAR(10)) AS RESV_NAME_ID,
			RSD.BUSINESS_DATE,
			RSD.ROOM_CATEGORY,
			RSD.RATE_CODE,
			RSD.RESV_STATUS,
			RC.[LABEL],
			HCR.WD_Rate,
			HCR.WE_Rate
		INTO #RoomCat_Transactions
		FROM [Opera_5_0].OBI_RESERVATION_STAT_DAILY RSD 
		INNER JOIN [Opera_5_0].ROOM_CATEGORY_TEMPLATE RC ON RSD.ROOM_CATEGORY = RC.ROOM_CATEGORY
		LEFT JOIN [VCR].[HotelCompRate] HCR ON RC.[LABEL] = HCR.ROOMCODE
		WHERE RSD.RESV_STATUS IN ('CHECKED OUT','CHECKED IN')	
		AND RSD.MEMBERSHIP_ID IS NOT NULL
		AND RSD.QUANTITY IS NOT NULL
		AND RSD.BUSINESS_DATE BETWEEN @Local_Start AND @Local_End
		ORDER BY RSD.INSERT_DATE DESC;

	 	WITH Hotel_Mktg_CTE AS
		(
			SELECT RC.* 
			FROM #RoomCat_Transactions RC
			WHERE RC.RESV_STATUS NOT IN ('CHECKED OUT')
		)
		--CARL: (8/14/23) Assuming here that there will only be one record per player per day.
		--Initial testing suggests this is correct. It would be nice if we could save
		--the room and rate columns in AcctDay/GameDay total tables. If this doesn't work
		--we will have to comment out some of the columns
		SELECT N.MEMBERSHIP_NUMBER,
			HTL.RESV_NAME_ID,
			HTL.BUSINESS_DATE,	
			HTL.ROOM_CATEGORY,
			HTL.RATE_CODE,
			HTL.WD_Rate,
			HTL.WE_Rate,
			SUM(CAST((ISNULL(FS.ORG_POSTED_AMOUNT,0)) AS money)) AS 'Award_CompsUsed_Hotel_Finance' -- spaylor change from decimal(18,2)
		INTO #Hotel_Mktg_Transactions
		FROM Hotel_Mktg_CTE HTL
		INNER JOIN [Opera_5_0].NAME_RESERVATION N ON HTL.RESV_NAME_ID = N.RESV_NAME_ID
		LEFT JOIN [Opera_5_0].FINANCIAL_TRANSACTIONS FS ON HTL.RESV_NAME_ID = FS.RESV_NAME_ID AND HTL.BUSINESS_DATE = FS.BUSINESS_DATE AND FS.TRX_CODE = '81000' 
		WHERE N.MEMBERSHIP_NUMBER IS NOT NULL
		GROUP BY N.MEMBERSHIP_NUMBER, HTL.RESV_NAME_ID, HTL.BUSINESS_DATE, HTL.ROOM_CATEGORY, HTL.RATE_CODE, HTL.WD_Rate, HTL.WE_Rate;
	  
		-------------------------------------

		--Update IQC_Player_Daily_Totals_GameDay
	
		UPDATE A SET A.Hotel_RoomCat = MT.ROOM_CATEGORY,
			A.Hotel_RateCode = MT.RATE_CODE,
			A.Hotel_WD_Rate = MT.WD_Rate,
			A.Hotel_WE_Rate = MT.WE_Rate,
			A.Hotel_ResvNameId = MT.RESV_NAME_ID,
			A.Award_CompsUsed_Hotel_Finance = MT.Award_CompsUsed_Hotel_Finance
		FROM [dbo].IQC_Player_Daily_Totals_GameDay A
		INNER JOIN dbo.IQ_Calendar C1 ON A.GamingDateID = C1.DateID
		INNER JOIN [CMP_13-1].tPlayerCard PC ON A.PlayerId = PC.PlayerId
		INNER JOIN #Hotel_Mktg_Transactions MT ON PC.Acct = MT.MEMBERSHIP_NUMBER
		WHERE CAST(C1.CalendarDate AS DATE) = MT.BUSINESS_DATE		
	
		--Update IQC_Player_Daily_Totals_AcctDay

		UPDATE A SET A.Hotel_RoomCat = MT.ROOM_CATEGORY,
			A.Hotel_RateCode = MT.RATE_CODE,
			A.Hotel_WD_Rate = MT.WD_Rate,
			A.Hotel_WE_Rate = MT.WE_Rate,
			A.Hotel_ResvNameId = MT.RESV_NAME_ID,
			A.Award_CompsUsed_Hotel_Finance = MT.Award_CompsUsed_Hotel_Finance
		FROM [dbo].IQC_Player_Daily_Totals_AcctDay A
		INNER JOIN dbo.IQ_Calendar C1 ON A.AccountingDateID = C1.DateID
		INNER JOIN [CMP_13-1].tPlayerCard PC ON A.PlayerId = PC.PlayerId
		INNER JOIN #Hotel_Mktg_Transactions MT ON PC.Acct = MT.MEMBERSHIP_NUMBER
		WHERE CAST(C1.CalendarDate AS DATE) = MT.BUSINESS_DATE;	
	
		-------------------------------------

		WITH Hotel_CompsNoRooms_CTE AS
		(
			SELECT RC.* 
			FROM #RoomCat_Transactions RC
		)
		--CARL: (8/14/23) I had to comment out the columns below because we must group by player/date. 
		--There may be multiple records per player/day, but we must roll these totals up into
		--the AcctDay and GameDay total tables. 
		SELECT  N.MEMBERSHIP_NUMBER,
			HTL.BUSINESS_DATE,
			HTL.RESV_NAME_ID,
			SUM(CAST((ISNULL(FS.GROSS_AMOUNT,0)) AS money)) AS 'Hotel_CompsNoRooms_GrossAmount'	-- spaylor change from decimal(18,2)			
			--FS.APP_USER,
			--CAST(FS.AUTHORIZER_ID AS INT) AS AUTHORIZER_ID,
			--CAST (FS.NAME_ID AS INT) AS NAME_ID,
			--FS.REMARK,
			--FS.REFERENCE,
			--FS.TC_GROUP,
			--FS.TC_SUBGROUP,
			--CASE WHEN FS.TC_GROUP = 'F&B' THEN 'award_FB_Discretionary' ELSE 'award_Comp_Discretionary' END AS 'AwardCat'
		INTO #Hotel_CompsNoRooms_Transactions
		FROM Hotel_CompsNoRooms_CTE HTL
		INNER JOIN [Opera_5_0].NAME_RESERVATION N ON HTL.RESV_NAME_ID = N.RESV_NAME_ID
		LEFT JOIN [Opera_5_0].FINANCIAL_TRANSACTIONS FS ON HTL.RESV_NAME_ID = FS.RESV_NAME_ID AND HTL.BUSINESS_DATE = FS.BUSINESS_DATE AND (FS.TRX_CODE BETWEEN '81200' AND '89999') AND FS.TC_GROUP <> 'Room'
		WHERE N.MEMBERSHIP_NUMBER IS NOT NULL
		GROUP BY N.MEMBERSHIP_NUMBER, HTL.BUSINESS_DATE, HTL.RESV_NAME_ID;
		
		-------------------------------------

		--Update IQC_Player_Daily_Totals_GameDay
	
		UPDATE A SET A.Hotel_CompsNoRooms_GrossAmount = CT.Hotel_CompsNoRooms_GrossAmount,
			A.Hotel_ResvNameId = CASE WHEN A.Hotel_ResvNameId IS NULL THEN CT.RESV_NAME_ID ELSE A.Hotel_ResvNameId END
		FROM [dbo].IQC_Player_Daily_Totals_GameDay A
		INNER JOIN dbo.IQ_Calendar C1 ON A.GamingDateID = C1.DateID
		INNER JOIN [CMP_13-1].tPlayerCard PC ON A.PlayerId = PC.PlayerId
		INNER JOIN #Hotel_CompsNoRooms_Transactions CT ON PC.Acct = CT.MEMBERSHIP_NUMBER
		WHERE CAST(C1.CalendarDate AS DATE) = CT.BUSINESS_DATE		

		--Update IQC_Player_Daily_Totals_AcctDay

		UPDATE A SET A.Hotel_CompsNoRooms_GrossAmount = CT.Hotel_CompsNoRooms_GrossAmount,
			A.Hotel_ResvNameId = CASE WHEN A.Hotel_ResvNameId IS NULL THEN CT.RESV_NAME_ID ELSE A.Hotel_ResvNameId END
		FROM [dbo].IQC_Player_Daily_Totals_AcctDay A
		INNER JOIN dbo.IQ_Calendar C1 ON A.AccountingDateID = C1.DateID
		INNER JOIN [CMP_13-1].tPlayerCard PC ON A.PlayerId = PC.PlayerId
		INNER JOIN #Hotel_CompsNoRooms_Transactions CT ON PC.Acct = CT.MEMBERSHIP_NUMBER
		WHERE CAST(C1.CalendarDate AS DATE) = CT.BUSINESS_DATE		


	END TRY  
    BEGIN CATCH

		THROW;

	END CATCH;

END
