USE [StayDWH]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_reservations_Delta]    Script Date: 8/5/2025 5:24:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[usp_Load_reservations_Delta]
AS

-----------------------------------------------------------------------------------------------------
-- Get the delta since the last time the data was loaded.  Select all rows with the _export_update_ts
-- >= the current data minus 1 day 
-----------------------------------------------------------------------------------------------------
TRUNCATE TABLE dbo.reservations_Delta

INSERT INTO StayDWH.dbo.reservations_Delta
SELECT
  [id]
, tenant_id
, property_id

, account_id
, allocation_id
, arrival_date
, cancellation_date
, confirmation_code
, create_time
, departure_date
, early_arrival
, number_of_adults
, number_of_children
, primary_guest_first_name
, primary_guest_last_name
, primary_guest_id
, reservation_alias
, [status]
, guest_type_id
, market_segment_id
, source_of_business_id
, update_time
, company_id
, group_id
, vip_status_id
, non_registered_guest
, walk_in
, cancellation_policy_id
, deposit_policy_id
, booked_by
, cancellation_code
, cancellation_reason
, cancelled_by
, agent_ids
, do_not_move_room
, cancellation_policy_overridden_by
, cancellation_policy_overridden_amount
, cancellation_policy_overridden_percentage
, overridden_cancellation_policy_id
, estimated_time_of_arrival
, estimated_time_of_departure
, booker_id
, cancellation_time_utc
, web_check_in
, suppress_rate
, no_of_documents
, share_id
, no_of_pets
, web_check_out
, room_ready_sms_enabled
, web_check_in_sms_enabled
, web_check_out_sms_enabled
, room_feature_preference_names
, number_of_guests
, guest_preference_ids
, housekeeping_pattern_id
, early_check_in_time
, late_checkout_time
, deposit_policy_amount
, deposit_policy_tax
, number_of_age_category1
, number_of_age_category2
, deposit_total_due
, source_interface_id
, old_pms_confirmation_code
, checkin_at
, checkin_by
, checkout_at
, checkout_by
, do_not_move_reason_description
, do_not_move_reason_date_time
, do_not_move_reason_updated_by
, do_not_move_reason_id
, _export_ts
, comp_overridden
, comp_overridden_user
, player_id
, _export_create_ts --timestamp with time zone
, _export_update_ts --timestamp with time zone
, moved_status
, number_of_age_category3 --integer,
, number_of_age_category4 --integer,
, number_of_age_category5 --integer,
, number_of_age_category6 --integer,
, number_of_age_category7 --integer,
, number_of_age_category8 --integer,
, red_eye_arrival_guest_arrival_date --date
, red_eye_arrival_estimated_time_of_arrival --timestamp without time zone
, CAST(red_eye_arrival_status as varchar(200)) as red_eye_arrival_status --text
, commission_percentage --numeric
, override_policy_amount --numeric(19,2)
, original_policy_amount --numeric(19,2)
, cancellation_fee_amount --numeric(19,2)
, cancellation_amount_charged --numeric(19,2)
, cancellation_policy_overridden_datetime --timestamp without time zone
, CAST(cancellation_policy_override_reason as varchar(200)) as cancellation_policy_override_reason --text
, CAST(original_cancellation_policy as varchar(200)) as original_cancellation_policy --text
, CAST(guest_requested_ada_room_type as int) as guest_requested_ada_room_type --boolean
, CAST(guest_requested_connecting_room_type as int) as guest_requested_connecting_room_type --boolean
, CAST(ada_room_assigned as int) as ada_room_assigned --boolean
, CAST(connecting_room_assigned as int) as connecting_room_assigned --boolean
, CAST(room_assignment_result as varchar(200)) as room_assignment_result --text
, CAST(existing_user_name as varchar(200)) as existing_user_name --text
, CAST(overriding_user_name as varchar(200)) as overriding_user_name --text
, created_date_time --timestamp without time zone
, CURRENT_TIMESTAMP as [Local_ETL_Inserted_TS]
, CURRENT_TIMESTAMP as [Local_ETL_Updated_TS]

--INTO StayDWH.dbo.reservations_Delta

FROM OPENQUERY(Stay_PostgreSQL,
'SELECT
  CAST(id as varchar(200)) as id --text
, CAST(tenant_id as varchar(10)) as tenant_id --text
, CAST(property_id as varchar(10)) as property_id --text

, CAST(account_id as varchar(200)) as account_id --text
, CAST(allocation_id as varchar(200)) allocation_id --text
, arrival_date --date
, cancellation_date --timestamp without time zone
, CAST(confirmation_code as varchar(200)) as confirmation_code
, create_time --timestamp without time zone
, departure_date --date
, CAST(early_arrival as int) as early_arrival --boolean
, number_of_adults --integer
, number_of_children --integer
, CAST(primary_guest_first_name as varchar(200)) as primary_guest_first_name --text
, CAST(primary_guest_last_name as varchar(200)) as primary_guest_last_name --text
, CAST(primary_guest_id as varchar(200)) as primary_guest_id --text
, CAST(reservation_alias as varchar(200)) as reservation_alias --text
, CAST(status as varchar(200)) as status --text
, CAST(guest_type_id as varchar(200)) as guest_type_id --text
, CAST(market_segment_id as varchar(200)) as market_segment_id --text
, CAST(source_of_business_id as varchar(200)) as source_of_business_id --text
, update_time --timestamp without time zone
, CAST(company_id as varchar(200)) as company_id --text
, CAST(group_id as varchar(200)) as group_id --text
, CAST(vip_status_id as varchar(200)) as vip_status_id --text
, CAST(non_registered_guest as int) as non_registered_guest --boolean
, CAST(walk_in as int) as walk_in --boolean
, CAST(cancellation_policy_id as varchar(200)) as cancellation_policy_id --text
, CAST(deposit_policy_id as varchar(200)) as deposit_policy_id --text
, CAST(booked_by as varchar(200)) as booked_by --text
, CAST(cancellation_code as varchar(200)) as cancellation_code --text
, CAST(cancellation_reason as varchar(200)) as cancellation_reason --text
, CAST(cancelled_by as varchar(200)) as cancelled_by --text
, CAST(agent_ids as varchar(200)) as agent_ids --text[]
, CAST(do_not_move_room as int) as do_not_move_room --boolean
, CAST(cancellation_policy_overridden_by as varchar(200)) as cancellation_policy_overridden_by --text
, cancellation_policy_overridden_amount --numeric
, cancellation_policy_overridden_percentage --numeric
, CAST(overridden_cancellation_policy_id as varchar(200)) as overridden_cancellation_policy_id --text
, estimated_time_of_arrival --timestamp without time zone
, estimated_time_of_departure --timestamp without time zone
, CAST(booker_id as varchar(200)) as booker_id --text
, cancellation_time_utc --timestamp without time zone
, CAST(web_check_in as int) as web_check_in --boolean
, CAST(suppress_rate as int) as suppress_rate --boolean
, no_of_documents --integer
, CAST(share_id as varchar(200)) as share_id --text
, no_of_pets --integer
, CAST(web_check_out as int) as web_check_out --boolean
, CAST(room_ready_sms_enabled as int) as room_ready_sms_enabled --boolean
, CAST(web_check_in_sms_enabled as int) as web_check_in_sms_enabled --boolean
, CAST(web_check_out_sms_enabled as int) as web_check_out_sms_enabled --boolean
, CAST(array_to_string(room_feature_preference_names, '' , ''''*'') as varchar(100)) as room_feature_preference_names  --text[]
, number_of_guests --integer
, CAST(array_to_string(guest_preference_ids, '' , ''''*'') as varchar(100)) as guest_preference_ids --text[]
, CAST(housekeeping_pattern_id as varchar(200)) as housekeeping_pattern_id --text
, early_check_in_time --time without time zone
, late_checkout_time --time without time zone
, deposit_policy_amount --numeric
, deposit_policy_tax --numeric
, number_of_age_category1 --integer
, number_of_age_category2 --integer
, deposit_total_due --numeric
, CAST(source_interface_id as varchar(200)) as source_interface_id --text
, CAST(old_pms_confirmation_code as varchar(200)) as old_pms_confirmation_code --text
, checkin_at --timestamp with time zone
, CAST(checkin_by as varchar(200)) as checkin_by --text
, checkout_at --timestamp with time zone
, CAST(checkout_by as varchar(200)) as checkout_by --text
, CAST(do_not_move_reason_description as varchar(200)) as do_not_move_reason_description --text
, do_not_move_reason_date_time --timestamp without time zone
, CAST(do_not_move_reason_updated_by as varchar(200)) as do_not_move_reason_updated_by --text
, CAST(do_not_move_reason_id as varchar(200)) as do_not_move_reason_id --text
, _export_ts --timestamp with time zone
, CAST(comp_overridden as int) as comp_overridden --boolean
, CAST(comp_overridden_user as varchar(200)) as comp_overridden_user --text
, CAST(player_id as varchar(200)) as player_id --text
, _export_create_ts --timestamp with time zone
, _export_update_ts --timestamp with time zone
, CAST(moved_status as int) as moved_status --boolean
, number_of_age_category3 --integer,
, number_of_age_category4 --integer,
, number_of_age_category5 --integer,
, number_of_age_category6 --integer,
, number_of_age_category7 --integer,
, number_of_age_category8 --integer,
, red_eye_arrival_guest_arrival_date --date
, red_eye_arrival_estimated_time_of_arrival --timestamp without time zone
, CAST(red_eye_arrival_status as varchar(200)) as red_eye_arrival_status --text
, commission_percentage --numeric
, override_policy_amount --numeric(19,2)
, original_policy_amount --numeric(19,2)
, cancellation_fee_amount --numeric(19,2)
, cancellation_amount_charged --numeric(19,2)
, cancellation_policy_overridden_datetime --timestamp without time zone
, CAST(cancellation_policy_override_reason as varchar(200)) as cancellation_policy_override_reason --text
, CAST(original_cancellation_policy as varchar(200)) as original_cancellation_policy --text
, CAST(guest_requested_ada_room_type as int) as guest_requested_ada_room_type --boolean
, CAST(guest_requested_connecting_room_type as int) as guest_requested_connecting_room_type --boolean
, CAST(ada_room_assigned as int) as ada_room_assigned --boolean
, CAST(connecting_room_assigned as int) as connecting_room_assigned --boolean
, CAST(room_assignment_result as varchar(200)) as room_assignment_result --text
, CAST(existing_user_name as varchar(200)) as existing_user_name --text
, CAST(overriding_user_name as varchar(200)) as overriding_user_name --text
, created_date_time --timestamp without time zone

FROM public.reservations

WHERE _export_update_ts >= current_timestamp - interval ''30 days''
  AND _export_update_ts IS NOT NULL
'
) ;

--------------------------------------------------------------------------------------------------
-- Because the incoming data may contain both NEW and UPDATED data, a MERGE command must be used. 
-- Because our input DELTA table has all rows for the last 24 hours, some data coming in will not
-- be new or changed. But, to avoid having to match on all columns, all incoming data for existing
-- rows will be updated.  Of course, new, non-existing data will be inserted.  
--------------------------------------------------------------------------------------------------

MERGE INTO StayDWH.dbo.reservations AS target
USING (SELECT * FROM StayDWH.dbo.reservations_Delta) AS source
ON target.[Id] = source.[Id]

----------------------
-- 1) Capture new rows
----------------------

WHEN NOT MATCHED THEN INSERT
(
  [id]
, [tenant_id]
, [property_id]
, [account_id]
, [allocation_id]
, [arrival_date]
, [cancellation_date]
, [confirmation_code]
, [create_time]
, [departure_date]
, [early_arrival]
, [number_of_adults]
, [number_of_children]
, [primary_guest_first_name]
, [primary_guest_last_name]
, [primary_guest_id]
, [reservation_alias]
, [status]
, [guest_type_id]
, [market_segment_id]
, [source_of_business_id]
, [update_time]
, [company_id]
, [group_id]
, [vip_status_id]
, [non_registered_guest]
, [walk_in]
, [cancellation_policy_id]
, [deposit_policy_id]
, [booked_by]
, [cancellation_code]
, [cancellation_reason]
, [cancelled_by]
, [agent_ids]
, [do_not_move_room]
, [cancellation_policy_overridden_by]
, [cancellation_policy_overridden_amount]
, [cancellation_policy_overridden_percentage]
, [overridden_cancellation_policy_id]
, [estimated_time_of_arrival]
, [estimated_time_of_departure]
, [booker_id]
, [cancellation_time_utc]
, [web_check_in]
, [suppress_rate]
, [no_of_documents]
, [share_id]
, [no_of_pets]
, [web_check_out]
, [room_ready_sms_enabled]
, [web_check_in_sms_enabled]
, [web_check_out_sms_enabled]
, [room_feature_preference_names]
, [number_of_guests]
, [guest_preference_ids]
, [housekeeping_pattern_id]
, [early_check_in_time]
, [late_checkout_time]
, [deposit_policy_amount]
, [deposit_policy_tax]
, [number_of_age_category1]
, [number_of_age_category2]
, [deposit_total_due]
, [source_interface_id]
, [old_pms_confirmation_code]
, [checkin_at]
, [checkin_by]
, [checkout_at]
, [checkout_by]
, [do_not_move_reason_description]
, [do_not_move_reason_date_time]
, [do_not_move_reason_updated_by]
, [do_not_move_reason_id]
, [_export_ts]
, [comp_overridden]
, [comp_overridden_user]
, [player_id]
, [_export_create_ts]
, [_export_update_ts]
, [moved_status]
, [Local_ETL_Inserted_TS]
, [Local_ETL_Updated_TS]
)
VALUES 
(
  source.[id]
, source.[tenant_id]
, source.[property_id]
, source.[account_id]
, source.[allocation_id]
, source.[arrival_date]
, source.[cancellation_date]
, source.[confirmation_code]
, source.[create_time]
, source.[departure_date]
, source.[early_arrival]
, source.[number_of_adults]
, source.[number_of_children]
, source.[primary_guest_first_name]
, source.[primary_guest_last_name]
, source.[primary_guest_id]
, source.[reservation_alias]
, source.[status]
, source.[guest_type_id]
, source.[market_segment_id]
, source.[source_of_business_id]
, source.[update_time]
, source.[company_id]
, source.[group_id]
, source.[vip_status_id]
, source.[non_registered_guest]
, source.[walk_in]
, source.[cancellation_policy_id]
, source.[deposit_policy_id]
, source.[booked_by]
, source.[cancellation_code]
, source.[cancellation_reason]
, source.[cancelled_by]
, source.[agent_ids]
, source.[do_not_move_room]
, source.[cancellation_policy_overridden_by]
, source.[cancellation_policy_overridden_amount]
, source.[cancellation_policy_overridden_percentage]
, source.[overridden_cancellation_policy_id]
, source.[estimated_time_of_arrival]
, source.[estimated_time_of_departure]
, source.[booker_id]
, source.[cancellation_time_utc]
, source.[web_check_in]
, source.[suppress_rate]
, source.[no_of_documents]
, source.[share_id]
, source.[no_of_pets]
, source.[web_check_out]
, source.[room_ready_sms_enabled]
, source.[web_check_in_sms_enabled]
, source.[web_check_out_sms_enabled]
, source.[room_feature_preference_names]
, source.[number_of_guests]
, source.[guest_preference_ids]
, source.[housekeeping_pattern_id]
, source.[early_check_in_time]
, source.[late_checkout_time]
, source.[deposit_policy_amount]
, source.[deposit_policy_tax]
, source.[number_of_age_category1]
, source.[number_of_age_category2]
, source.[deposit_total_due]
, source.[source_interface_id]
, source.[old_pms_confirmation_code]
, source.[checkin_at]
, source.[checkin_by]
, source.[checkout_at]
, source.[checkout_by]
, source.[do_not_move_reason_description]
, source.[do_not_move_reason_date_time]
, source.[do_not_move_reason_updated_by]
, source.[do_not_move_reason_id]
, source.[_export_ts]
, source.[comp_overridden]
, source.[comp_overridden_user]
, source.[player_id]
, source.[_export_create_ts]
, source.[_export_update_ts]
, source.[moved_status]
, CURRENT_TIMESTAMP -- [Local_ETL_Inserted_TS]
, CURRENT_TIMESTAMP -- [Local_ETL_Updated_TS]
)

---------------------------------------------------------------------------------------------------------
-- 2) Update changed rows by comparing all columns for changes 
---------------------------------------------------------------------------------------------------------

WHEN MATCHED 
THEN UPDATE
SET 
  target.[id] = source.[id]
, target.[tenant_id] = source.[tenant_id]
, target.[property_id] = source.[property_id]
, target.[account_id] = source.[account_id]
, target.[allocation_id] = source.[allocation_id]
, target.[arrival_date] = source.[arrival_date]
, target.[cancellation_date] = source.[cancellation_date]
, target.[confirmation_code] = source.[confirmation_code]
, target.[create_time] = source.[create_time]
, target.[departure_date] = source.[departure_date]
, target.[early_arrival] = source.[early_arrival]
, target.[number_of_adults] = source.[number_of_adults]
, target.[number_of_children] = source.[number_of_children]
, target.[primary_guest_first_name] = source.[primary_guest_first_name]
, target.[primary_guest_last_name] = source.[primary_guest_last_name]
, target.[primary_guest_id] = source.[primary_guest_id]
, target.[reservation_alias] = source.[reservation_alias]
, target.[status] = source.[status]
, target.[guest_type_id] = source.[guest_type_id]
, target.[market_segment_id] = source.[market_segment_id]
, target.[source_of_business_id] = source.[source_of_business_id]
, target.[update_time] = source.[update_time]
, target.[company_id] = source.[company_id]
, target.[group_id] = source.[group_id]
, target.[vip_status_id] = source.[vip_status_id]
, target.[non_registered_guest] = source.[non_registered_guest]
, target.[walk_in] = source.[walk_in]
, target.[cancellation_policy_id] = source.[cancellation_policy_id]
, target.[deposit_policy_id] = source.[deposit_policy_id]
, target.[booked_by] = source.[booked_by]
, target.[cancellation_code] = source.[cancellation_code]
, target.[cancellation_reason] = source.[cancellation_reason]
, target.[cancelled_by] = source.[cancelled_by]
, target.[agent_ids] = source.[agent_ids]
, target.[do_not_move_room] = source.[do_not_move_room]
, target.[cancellation_policy_overridden_by] = source.[cancellation_policy_overridden_by]
, target.[cancellation_policy_overridden_amount] = source.[cancellation_policy_overridden_amount]
, target.[cancellation_policy_overridden_percentage] = source.[cancellation_policy_overridden_percentage]
, target.[overridden_cancellation_policy_id] = source.[overridden_cancellation_policy_id]
, target.[estimated_time_of_arrival] = source.[estimated_time_of_arrival]
, target.[estimated_time_of_departure] = source.[estimated_time_of_departure]
, target.[booker_id] = source.[booker_id]
, target.[cancellation_time_utc] = source.[cancellation_time_utc]
, target.[web_check_in] = source.[web_check_in]
, target.[suppress_rate] = source.[suppress_rate]
, target.[no_of_documents] = source.[no_of_documents]
, target.[share_id] = source.[share_id]
, target.[no_of_pets] = source.[no_of_pets]
, target.[web_check_out] = source.[web_check_out]
, target.[room_ready_sms_enabled] = source.[room_ready_sms_enabled]
, target.[web_check_in_sms_enabled] = source.[web_check_in_sms_enabled]
, target.[web_check_out_sms_enabled] = source.[web_check_out_sms_enabled]
, target.[room_feature_preference_names] = source.[room_feature_preference_names]
, target.[number_of_guests] = source.[number_of_guests]
, target.[guest_preference_ids] = source.[guest_preference_ids]
, target.[housekeeping_pattern_id] = source.[housekeeping_pattern_id]
, target.[early_check_in_time] = source.[early_check_in_time]
, target.[late_checkout_time] = source.[late_checkout_time]
, target.[deposit_policy_amount] = source.[deposit_policy_amount]
, target.[deposit_policy_tax] = source.[deposit_policy_tax]
, target.[number_of_age_category1] = source.[number_of_age_category1]
, target.[number_of_age_category2] = source.[number_of_age_category2]
, target.[deposit_total_due] = source.[deposit_total_due]
, target.[source_interface_id] = source.[source_interface_id]
, target.[old_pms_confirmation_code] = source.[old_pms_confirmation_code]
, target.[checkin_at] = source.[checkin_at]
, target.[checkin_by] = source.[checkin_by]
, target.[checkout_at] = source.[checkout_at]
, target.[checkout_by] = source.[checkout_by]
, target.[do_not_move_reason_description] = source.[do_not_move_reason_description]
, target.[do_not_move_reason_date_time] = source.[do_not_move_reason_date_time]
, target.[do_not_move_reason_updated_by] = source.[do_not_move_reason_updated_by]
, target.[do_not_move_reason_id] = source.[do_not_move_reason_id]
, target.[_export_ts] = source.[_export_ts]
, target.[comp_overridden] = source.[comp_overridden]
, target.[comp_overridden_user] = source.[comp_overridden_user]
, target.[player_id] = source.[player_id]
, target.[_export_create_ts] = source.[_export_create_ts]
, target.[_export_update_ts] = source.[_export_update_ts]
, target.[moved_status] = source.[moved_status]
, target.[Local_ETL_Inserted_TS] = source.[Local_ETL_Inserted_TS]
, target.[Local_ETL_Updated_TS] = CURRENT_TIMESTAMP 
;

