USE [iQ-Gaming]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE Steve.[sp_Update_Player_Daily_Totals_AcctDay_TEST]
AS
BEGIN

	--NOTE: this stored procedure replaces [dbo].[sp_IQC_Player_Daily_Totals_AcctDay_Update] and  [dbo].[sp_IQC_Player_Daily_Totals_AcctDay_Update_EXT]

	--CARL: This stored proc is called in STEP 1 of the Daily iQ-Gaming job: iQ-Gaming Update Player Statistics (daily)
	--The calling stored proc creates temp table: #Player_AcctDay_Ratings_myViejas, which we will use here.
	--This temp table has player ratings for the accounting day (12:00 AM to 11:59:59 PM). 

	DROP TABLE IF EXISTS #Player_Ratings_AcctDay_TEST
	DROP TABLE IF EXISTS #Player_Comps_AcctDay_TEST						
	DROP TABLE IF EXISTS #Player_Ratings_AcctDay_Final_TEST
	DROP TABLE IF EXISTS #Player_Ratings_AcctDay_EXT_TEST
	DROP TABLE IF EXISTS #Player_Ratings_AcctDay_Final_EXT_TEST
	DROP TABLE IF EXISTS #Distinct_Devices_TEST

	SET NOCOUNT ON

	DECLARE @LoadDTTM DATETIMEOFFSET = GETUTCDATE()	;

	BEGIN TRY

		--NOTE: Transaction created in calling stored proc. Do not create a transaction here

		--STEP 1: Create Player AcctDay Rating Totals by GameType
		WITH Ratings_CTE AS
		(
			SELECT	PlayerID, 
					AccountingDate,
					AccountingDateId AS DateId, 
					ISNULL(CashBuyInAmount,0) AS CashBuyInAmount,
					ISNULL(MarkerPlay,0) AS MarkerPlay,
					ISNULL(ChipsCoinInAmount,0) AS ChipsCoinInAmount,
					ISNULL(PaidOut,0) AS ChipsCoinOutAmount,																			--NOTE: PaidOut = ChipsCoinOutAmount?
					ISNULL(JackPot,0) AS JackPot,
					ISNULL(WinLossAmount,0) WinLossAmount,
					CASE WHEN PaidOut = FreePlayUsed AND FreePlayUsed > 0 THEN 0 ELSE ISNULL(TheoreticalWin,0) END AS TheoreticalWin,
					Games,
					ISNULL(CompsEarned,0) AS CompsEarned,
					ISNULL(PointsEarned,0) AS PointsEarned,
					ISNULL(PartialPointsEarned,0) AS PartialPointsEarned,
					ISNULL(FreePlayUsed,0) AS FreePlayUsed,
					GameType,
					CasinoCode,
					CASE WHEN GameType = 'S' THEN WinLossAmount ELSE 0 END AS SlotWin,
					CASE WHEN GameType = 'S' THEN TheoreticalWin ELSE 0 END AS SlotTheo,
					CASE WHEN GameType = 'S' THEN CreditBuyIn ELSE 0 END AS SlotBuyInCredit,
					CASE WHEN GameType = 'S' THEN ChipBuyIn ELSE 0 END AS SlotBuyInChips,
					CASE WHEN GameType = 'S' THEN FreePlayUsed ELSE 0 END AS SlotBuyInPromo,
					CASE WHEN GameType = 'S' THEN ECreditBuyIn ELSE 0 END AS SlotBuyInECredit,
					CASE WHEN GameType = 'S' THEN Games ELSE 0 END AS SlotPlays,
					CASE WHEN GameType = 'S' THEN Bet ELSE 0 END AS SlotTotalBet,
					CASE WHEN GameType = 'S' THEN PaidOut ELSE 0 END AS SlotPaidOut, 
					CASE WHEN GameType = 'S' THEN Jackpot ELSE 0 END AS SlotJackpot, 
					CASE WHEN GameType = 'T' THEN WinLossAmount ELSE 0 END AS TableWin,
					CASE WHEN GameType = 'T' THEN TheoreticalWin ELSE 0 END AS TableTheo,
					CASE WHEN GameType = 'T' THEN CreditBuyIn ELSE 0 END AS TableBuyInCredit,
					CASE WHEN GameType = 'T' THEN ChipBuyIn ELSE 0 END AS TableBuyInChips,
					CASE WHEN GameType = 'T' THEN FreePlayUsed ELSE 0 END AS TableBuyInPromo,
					CASE WHEN GameType = 'T' THEN ECreditBuyIn ELSE 0 END AS TableBuyInECredit,
					CASE WHEN GameType = 'T' THEN Games ELSE 0 END AS TablePlays,
					CASE WHEN GameType = 'T' THEN Bet ELSE 0 END AS TableTotalBet,
					CASE WHEN GameType = 'T' THEN PaidOut ELSE 0 END AS TablePaidOut, 
					CASE WHEN GameType = 'T' THEN Jackpot ELSE 0 END AS TableJackpot, 
					CASE WHEN GameType = 'B' THEN WinLossAmount ELSE 0 END AS BingoWin,
					CASE WHEN GameType = 'B' THEN TheoreticalWin ELSE 0 END AS BingoTheo,
					CASE WHEN GameType = 'B' THEN CreditBuyIn ELSE 0 END AS BingoBuyInCredit,
					CASE WHEN GameType = 'B' THEN ChipBuyIn ELSE 0 END AS BingoBuyInChips,
					CASE WHEN GameType = 'B' THEN FreePlayUsed ELSE 0 END AS BingoBuyInPromo,
					CASE WHEN GameType = 'B' THEN ECreditBuyIn ELSE 0 END AS BingoBuyInECredit,
					CASE WHEN GameType = 'B' THEN Games ELSE 0 END AS BingoPlays,
					CASE WHEN GameType = 'B' THEN Bet ELSE 0 END AS BingoTotalBet,
					CASE WHEN GameType = 'B' THEN PaidOut ELSE 0 END AS BingoPaidOut, 
					CASE WHEN GameType = 'B' THEN Jackpot ELSE 0 END AS BingoJackpot, 
					ISNULL(ECreditBuyIn,0) AS ECreditBuyIn,																				--CARL: Added 7/31/23
					ISNULL(TheorHoldPc,0) AS TheorHoldPc,																				--CARL: Added 7/31/23
					ISNULL(PaidOut,0) AS PaidOut																						--CARL: Added 7/31/23   (not sure why this is being returned as ChipsCoinOutAmount above)
			FROM #Player_AcctDay_Ratings_myViejas_TEST
			WHERE PlayerId <> 0
			AND [Status] = 'A'
		)
		SELECT  PlayerID,
				AccountingDate,
				DateID,
				SUM([CashBuyInAmount]) AS CashBuyInAmount,
				SUM([MarkerPlay]) AS MarkerPlay,
				SUM([ChipsCoinInAmount]) AS ChipsCoinInAmount,
				SUM([ChipsCoinOutAmount]) AS ChipsCoinOutAmount,
				SUM([Jackpot]) AS Jackpot,
				SUM([WinLossAmount]) AS WinLossAmount,
				SUM([TheoreticalWin]) AS TheoreticalWin,
				SUM([Games]) AS Games,
				SUM([CompsEarned]) AS CompsEarned,
				SUM([PointsEarned]) AS PointsEarned,
				SUM([PartialPointsEarned]) AS PartialPointsEarned,
				SUM([FreePlayUsed]) AS FreePlayUsed,
				SUM(SlotWin) AS SlotWin,
				SUM(SlotTheo) AS SlotTheo,
				SUM(TableWin) AS TableWin,
				SUM(TableTheo) AS TableTheo,
				SUM(BingoWin) AS BingoWin,																								--CARL: I replaced the commented line below with these two lines
				SUM(BingoTheo) AS BingoTheo,
				--SUM(CASE WHEN GameType='B' and CashBuyInAmount > 0 THEN CashBuyInAmount * 0.3 ELSE 0 END) AS BingoTheo,
				CasinoCode,
				SUM(ECreditBuyIn) AS ECreditBuyIn,																						--CARL: Added 7/31/23
				SUM(TheorHoldPc) AS TheorHoldPc,																						--CARL: Added 7/31/23
				SUM(PaidOut) AS PaidOut,																								--CARL: Added 7/31/23			
				SUM(SlotBuyInCredit) AS SlotBuyInCredit,																				--CARL: Everything below added 8/16/23					
				SUM(SlotBuyInChips) AS SlotBuyInChips,	
				SUM(SlotBuyInPromo) AS SlotBuyInPromo,	
				SUM(SlotBuyInECredit) AS SlotBuyInECredit,
				SUM(SlotPlays) AS SlotPlays,
				SUM(SlotTotalBet) AS SlotTotalBet,
				SUM(SlotPaidOut) AS SlotPaidOut,
				SUM(SlotJackpot) AS SlotJackpot,
				SUM(TableBuyInCredit) AS TableBuyInCredit,																				
			    SUM(TableBuyInChips) AS TableBuyInChips,	
			    SUM(TableBuyInPromo) AS TableBuyInPromo,	
				SUM(TableBuyInECredit) AS TableBuyInECredit,
				SUM(TablePlays) AS TablePlays,
				SUM(TableTotalBet) AS TableTotalBet,
				SUM(TablePaidOut) AS TablePaidOut,
				SUM(TableJackpot) AS TableJackpot,
				SUM(BingoBuyInCredit) AS BingoBuyInCredit,																				
			    SUM(BingoBuyInChips) AS BingoBuyInChips,	
			    SUM(BingoBuyInPromo) AS BingoBuyInPromo,	
				SUM(BingoBuyInECredit) AS BingoBuyInECredit,
				SUM(BingoPlays) AS BingoPlays,
				SUM(BingoTotalBet) AS BingoTotalBet,
				SUM(BingoPaidOut) AS BingoPaidOut,
				SUM(BingoJackpot) AS BingoJackpot
		INTO #Player_Ratings_AcctDay_TEST
		FROM Ratings_CTE
		GROUP BY PlayerID, AccountingDate, DateID, CasinoCode, GameType;

		--STEP 2: Create Final Daily Rating Totals With RecordKey
		; WITH Final_CTE AS 
		(
			SELECT	CAST(PlayerID AS VARCHAR(12)) + CAST(DateID AS VARCHAR(5)) + CasinoCode AS RecordKey,
				DateID AS AccountingDateID,
				PlayerID,
				0 AS TripNumber,
			    ChipsCoinInAmount,
				ChipsCoinOutAmount,
				Games,
				Jackpot,
				WinLossAmount,
				TheoreticalWin,
				CompsEarned,
				0 AS CompsUsed,
				PointsEarned AS BonusPointsEarned,
				PartialPointsEarned AS PartialBonusPointsEarned,
				PointsEarned + PartialPointsEarned AS PointsEarned,
				0 AS PointPlayUsed,
			    FreePlayUsed,
			    MarkerPlay,
 			    CashBuyInAmount,
 			    SlotWin,
			    SlotTheo,
			    TableWin,
			    TableTheo,
				BingoWin,																												--CARL: Added 7/31/23			
				BingoTheo,																												--CARL: Added 7/31/23			
				CASE WHEN (SlotTheo > 0) OR (SlotWin <> 0) THEN 1 ELSE 0 END AS SlotDays,
				CASE WHEN (TableTheo > 0) OR (TableWin <> 0) THEN 1 ELSE 0 END AS TableDays,
				CASE WHEN (BingoTheo > 0) OR (BingoWin <> 0) THEN 1 ELSE 0 END AS BingoDays,											--CARL: Added 7/31/23				
				CASE WHEN (SlotTheo > 0) OR (TableTheo > 0) OR (BingoTheo > 0) OR (TableWin <> 0) OR (SlotWin <> 0) OR (BingoWin <> 0) THEN 1 ELSE 0 END AS GamingDays,			--CARL: Modified 7/31/23
				0 as ManualUpdate,
				CasinoCode,
				ECreditBuyIn,																											--CARL: Added 7/31/23			
				TheorHoldPc,																											--CARL: Added 7/31/23			
				PaidOut,																												--CARL: Added 7/31/23
				SlotBuyInCredit,																										--CARL: Everything below added 8/16/23					
				SlotBuyInChips,	
				SlotBuyInPromo,	
				SlotBuyInECredit,
				SlotPlays,
				SlotTotalBet,
				SlotPaidOut,
				SlotJackpot,
				TableBuyInCredit,																				
			    TableBuyInChips,	
			    TableBuyInPromo,	
				TableBuyInECredit,
				TablePlays,
				TableTotalBet,
				TablePaidOut,
				TableJackpot,
				BingoBuyInCredit,																				
			    BingoBuyInChips,	
			    BingoBuyInPromo,	
				BingoBuyInECredit,
				BingoPlays,
				BingoTotalBet,
				BingoPaidOut,
				BingoJackpot
				FROM #Player_Ratings_AcctDay_TEST
		)
		SELECT RecordKey,
			AccountingDateID,
			PlayerID,
			MAX(TripNumber) AS TripNumber,
			SUM(ChipsCoinInAmount) AS ChipsCoinInAmount,
			SUM(ChipsCoinOutAmount) AS ChipsCoinOutAmount,
			SUM(Games) AS Games,
			SUM(JackPot) AS JackPot,
			SUM(WinLossAmount) AS WinLossAmount,
			SUM(TheoreticalWin) AS TheoreticalWin,
			SUM(CompsEarned) AS CompsEarned,
			SUM(CompsUsed) AS CompsUsed,
			SUM(BonusPointsEarned) AS BonusPointsEarned,
			SUM(PartialBonusPointsEarned) AS PartialBonusPointsEarned,
			SUM(PointsEarned) AS PointsEarned,
			SUM(PointPlayUsed) AS PointPlayUsed,
			SUM(FreePlayUsed) AS FreePlayUsed,
			SUM(MarkerPlay) AS MarkerPlay,
			SUM(CashBuyInAmount) AS CashBuyInAmount,
			SUM(SlotWin) AS SlotWin,
			SUM(SlotTheo) AS SlotTheo,
			SUM(TableWin) AS TableWin,
			SUM(TableTheo) AS TableTheo,
			SUM(BingoWin) AS BingoWin,																									--CARL: Added 7/31/23			
			SUM(BingoTheo) AS BingoTheo,																								--CARL: Added 7/31/23			
			MAX(SlotDays) AS SlotDays,
			MAX(TableDays) AS TableDays,
			MAX(GamingDays) AS GamingDays,
			MAX(BingoDays) AS BingoDays,																								--CARL: Added 7/31/23			
			MAX(ManualUpdate) AS ManualUpdate,
			CasinoCode,
			SUM(ECreditBuyIn) AS ECreditBuyIn,																							--CARL: Added 7/31/23
			SUM(TheorHoldPc) AS TheorHoldPc,																							--CARL: Added 7/31/23
			SUM(PaidOut) AS PaidOut,																									--CARL: Added 7/31/23
			SUM(SlotBuyInCredit) AS SlotBuyInCredit,																					--CARL: Everything below added 8/16/23					
			SUM(SlotBuyInChips) AS SlotBuyInChips,	
			SUM(SlotBuyInPromo) AS SlotBuyInPromo,	
			SUM(SlotBuyInECredit) AS SlotBuyInECredit,
			SUM(SlotPlays) AS SlotPlays,
			SUM(SlotTotalBet) AS SlotTotalBet,
			SUM(SlotPaidOut) AS SlotPaidOut,
			SUM(SlotJackpot) AS SlotJackpot,
			SUM(TableBuyInCredit) AS TableBuyInCredit,																				
		    SUM(TableBuyInChips) AS TableBuyInChips,	
		    SUM(TableBuyInPromo) AS TableBuyInPromo,	
			SUM(TableBuyInECredit) AS TableBuyInECredit,
			SUM(TablePlays) AS TablePlays,
			SUM(TableTotalBet) AS TableTotalBet,
			SUM(TablePaidOut) AS TablePaidOut,
			SUM(TableJackpot) AS TableJackpot,
			SUM(BingoBuyInCredit) AS BingoBuyInCredit,																				
		    SUM(BingoBuyInChips) AS BingoBuyInChips,	
		    SUM(BingoBuyInPromo) AS BingoBuyInPromo,	
			SUM(BingoBuyInECredit) AS BingoBuyInECredit,
			SUM(BingoPlays) AS BingoPlays,
			SUM(BingoTotalBet) AS BingoTotalBet,
			SUM(BingoPaidOut) AS BingoPaidOut,
			SUM(BingoJackpot) AS BingoJackpot
		INTO #Player_Ratings_AcctDay_Final_TEST
		FROM Final_CTE
		GROUP BY RecordKey, AccountingDateID, PlayerID, CasinoCode;

		-- 9/7/23 SPaylor - CREATE INDEX on #Player_Ratings_AcctDay_Final_TEST to speed up merge
        CREATE CLUSTERED INDEX cix_temp_Player_Ratings_AcctDay_Final_TEST ON #Player_Ratings_AcctDay_Final_TEST (RecordKey) ;

		--STEP 3: MERGE results into [IQC_Player_Daily_Totals_AcctDay]
		MERGE Steve.[IQC_Player_Daily_Totals_AcctDay_TEST] AS [Target]
		USING (SELECT * FROM #Player_Ratings_AcctDay_Final_TEST WHERE RecordKey IS NOT NULL) AS [Updates]
		ON [Target].RecordKey=[Updates].RecordKey 		
		WHEN MATCHED THEN
			UPDATE SET RecordKey = Updates.RecordKey,
				AccountingdateID = Updates.AccountingdateID,
				PlayerID = Updates.PlayerID,
				tripNumber = Updates.tripNumber,
				chipsCoinInAmount = Updates.chipsCoinInAmount, 
				chipsCoinOutAmount =Updates.chipsCoinOutAmount,
				games = Updates.games,
				jackpot = Updates.jackpot, 
				winLossAmount = Updates.winLossAmount,
				theoreticalWin = Updates.theoreticalWin, 
				compsEarned = Updates.compsEarned,
				compsUsed = Updates.compsUsed, 
				BonusPointsEarned = Updates.BonusPointsEarned,
				PartialBonusPointsEarned = Updates.PartialBonusPointsEarned,
				pointsEarned = Updates.pointsEarned, 
				pointPlayUsed = Updates.pointPlayUsed,
				freePlayUsed = Updates.freePlayUsed,
				markerPlay = Updates.markerPlay, 
				cashBuyInAmount = Updates.cashBuyInAmount, 
				slotWin = Updates.slotWin, 
				slotTheo = Updates.slotTheo,
				tableWin = Updates.tableWin,
				tableTheo = Updates.tableTheo,
				bingoWin = Updates.bingowin,																--CARL: Added 7/31/23
				bingoTheo = Updates.bingoTheo,																--CARL: Added 7/31/23
				slotDays = Updates.slotDays, 
				tableDays = Updates.tableDays,
				bingoDays = Updates.bingoDays,																--CARL: Added 7/31/23
				gamingDays = Updates.gamingDays, 
				manualUpdate = Updates.manualUpdate,
				casinoCode = Updates.CasinoCode,
				ECreditBuyIn = Updates.ECreditBuyIn,														--CARL: Added 7/31/23
				TheorHoldPc = Updates.TheorHoldPc,															--CARL: Added 7/31/23
				PaidOut = Updates.PaidOut,																	--CARL: Added 7/31/23
				LoadDTTM = @LoadDTTM,																		--CARL: Added 8/16/23
				SlotBuyInCredit = Updates.SlotBuyInCredit,													--CARL: Everything below added 8/16/23					
				SlotBuyInChips = Updates.SlotBuyInChips,	
				SlotBuyInPromo = Updates.SlotBuyInPromo,	
				SlotBuyInECredit = Updates.SlotBuyInECredit,
				SlotPlays = Updates.SlotPlays,
				SlotTotalBet = Updates.SlotTotalBet,
				SlotPaidOut = Updates.SlotPaidOut,
				SlotJackpot = Updates.SlotJackpot,
				TableBuyInCredit = Updates.TableBuyInCredit,																				
				TableBuyInChips = Updates.TableBuyInChips,	
				TableBuyInPromo = Updates.TableBuyInPromo,	
				TableBuyInECredit = Updates.TableBuyInECredit,
				TablePlays = Updates.TablePlays,
				TableTotalBet = Updates.TableTotalBet,
				TablePaidOut = Updates.TablePaidOut,
				TableJackpot = Updates.TableJackpot,
				BingoBuyInCredit = Updates.BingoBuyInCredit,																				
				BingoBuyInChips = Updates.BingoBuyInChips,	
				BingoBuyInPromo = Updates.BingoBuyInPromo,	
				BingoBuyInECredit = Updates.BingoBuyInECredit,
				BingoPlays = Updates.BingoPlays,
				BingoTotalBet = Updates.BingoTotalBet,
				BingoPaidOut = Updates.BingoPaidOut,
				BingoJackpot = Updates.BingoJackpot
		WHEN NOT MATCHED BY TARGET THEN
			INSERT 
			   ([RecordKey]
			   ,[AccountingdateID]
			   ,[PlayerID]
			   ,[tripNumber]
			   ,[chipsCoinInAmount]
			   ,[chipsCoinOutAmount]
			   ,[games]
			   ,[jackpot]
			   ,[winLossAmount]
			   ,[theoreticalWin]
			   ,[compsEarned]
			   ,[compsUsed]
			   ,[BonusPointsEarned]
			   ,[PartialBonusPointsEarned]
			   ,[pointsEarned]
			   ,[pointPlayUsed]
			   ,[freePlayUsed]
			   ,[markerPlay]
			   ,[cashBuyInAmount]
			   ,[slotWin]
			   ,[slotTheo]
			   ,[tableWin]
			   ,[tableTheo]
			   ,[bingoWin]																					--CARL: Added 7/31/23
			   ,[bingoTheo]																					--CARL: Added 7/31/23
			   ,[slotDays]
			   ,[tableDays]
			   ,[bingoDays]																					--CARL: Added 7/31/23
			   ,[gamingDays]
			   ,[manualUpdate]
			   ,[casinoCode]
			   ,[LoadDTTM]
			   ,[ECreditBuyIn]																				--CARL: Added 7/31/23
			   ,[TheorHoldPc]																				--CARL: Added 7/31/23
			   ,[PaidOut]
			   ,[SlotBuyInCredit]
			   ,[SlotBuyInChips]
			   ,[SlotBuyInPromo]
			   ,[SlotBuyInECredit]
			   ,[SlotPlays]
			   ,[SlotTotalBet]
			   ,[SlotPaidOut]
			   ,[SlotJackpot]
			   ,[TableBuyInCredit]
			   ,[TableBuyInChips]
			   ,[TableBuyInPromo]
			   ,[TableBuyInECredit]
			   ,[TablePlays]
			   ,[TableTotalBet]
			   ,[TablePaidOut]
			   ,[TableJackpot]
			   ,[BingoBuyInCredit]
			   ,[BingoBuyInChips]
			   ,[BingoBuyInPromo]
			   ,[BingoBuyInECredit]
			   ,[BingoPlays]
			   ,[BingoTotalBet]
			   ,[BingoPaidOut]
			   ,[BingoJackpot])	
			VALUES (Updates.[RecordKey]
			   ,Updates.[AccountingdateID]
			   ,Updates.[PlayerID]
			   ,Updates.[tripNumber]
			   ,Updates.[chipsCoinInAmount]
			   ,Updates.[chipsCoinOutAmount]
			   ,Updates.[games]
			   ,Updates.[jackpot]
			   ,Updates.[winLossAmount]
			   ,Updates.[theoreticalWin]
			   ,Updates.[compsEarned]
			   ,Updates.[compsUsed]
			   ,Updates.BonusPointsEarned
			   ,Updates.PartialBonusPointsEarned
			   ,Updates.[pointsEarned]
			   ,Updates.[pointPlayUsed]
			   ,Updates.[freePlayUsed]
			   ,Updates.[markerPlay]
			   ,Updates.[cashBuyInAmount]
			   ,Updates.[slotWin]
			   ,Updates.[slotTheo]
			   ,Updates.[tableWin]
			   ,Updates.[tableTheo]
			   ,Updates.[bingoWin]																			--CARL: Added 7/31/23
			   ,Updates.[bingoTheo]																			--CARL: Added 7/31/23
			   ,Updates.[slotDays]
			   ,Updates.[tableDays]
			   ,Updates.[bingoDays]																			--CARL: Added 7/31/23
			   ,Updates.[GamingDays]
			   ,Updates.[manualUpdate]
			   ,Updates.[CasinoCode]
			   ,@LoadDTTM
			   ,Updates.[ECreditBuyIn]																		--CARL: Added 7/31/23
			   ,Updates.[TheorHoldPc]																		--CARL: Added 7/31/23
			   ,Updates.[PaidOut]																			--CARL: Added 7/31/23
			   ,Updates.[SlotBuyInCredit]
			   ,Updates.[SlotBuyInChips]
			   ,Updates.[SlotBuyInPromo]
			   ,Updates.[SlotBuyInECredit]
			   ,Updates.[SlotPlays]
			   ,Updates.[SlotTotalBet]
			   ,Updates.[SlotPaidOut]
			   ,Updates.[SlotJackpot]
			   ,Updates.[TableBuyInCredit]
			   ,Updates.[TableBuyInChips]
			   ,Updates.[TableBuyInPromo]
			   ,Updates.[TableBuyInECredit]
			   ,Updates.[TablePlays]
			   ,Updates.[TableTotalBet]
			   ,Updates.[TablePaidOut]
			   ,Updates.[TableJackpot]
			   ,Updates.[BingoBuyInCredit]
			   ,Updates.[BingoBuyInChips]
			   ,Updates.[BingoBuyInPromo]
			   ,Updates.[BingoBuyInECredit]
			   ,Updates.[BingoPlays]
			   ,Updates.[BingoTotalBet]
			   ,Updates.[BingoPaidOut]
			   ,Updates.[BingoJackpot]);

		--STEP 4: Create EXTENDED Player AcctDay Rating Totals
		;WITH EXT_Ratings_CTE AS
		(
			SELECT PlayerID, 
			    AccountingDate,
			    AccountingDateID as DateID,
				AssetNumber,
				ChipsCoinInAmount,
				ISNULL(CashBuyInAmount,0) AS CashBuyInAmount,
				ISNULL(MarkerPlay,0) AS MarkerPlay,
				AverageBet,
				TheoreticalWin,
				CASE WHEN SourceSystem = 'Konami%' AND ChipsCoinInAmount = FreePlayUsed AND FreePlayUsed > 0 THEN [TheoreticalWin] ELSE 0 END AS FreePlayTheo,
				SessionStart,
				SessionEnd,
				DATEDIFF(MINUTE, SessionStart, SessionEnd) AS TimePlayedMinutes,
				CasinoCode,
				GameType,
				GameCode
			FROM #Player_AcctDay_Ratings_myViejas_TEST
			WHERE PlayerId <> 0
			AND [Status] = 'A'
		)
		SELECT [PlayerID],
			   [AccountingDate],
			   [DateID],
			   AssetNumber,
			   [FreePlayTheo],
			   CASE WHEN GameType = 'S'	THEN AverageBet ELSE 0 END AS SlotAvgWager,
			   CASE WHEN GameType = 'T' THEN AverageBet	ELSE 0 END AS TableAvgWager,
			   CASE WHEN GameType = 'S'	THEN CASE WHEN AverageBet = 0 THEN 0 ELSE ROUND((ChipsCoinInAmount) / AverageBet, 0) END ELSE 0	END AS SlotSessionCount,				
			   CASE WHEN GameType = 'S' THEN ChipsCoinInAmount ELSE 0 END AS SlotBuyIn,   
			   CASE WHEN GameType = 'T'	THEN CashBuyInAmount + MarkerPlay ELSE 0 END AS TableBuyIn,
			   CASE WHEN GameType = 'B' THEN CashBuyInAmount + MarkerPlay ELSE 0 END AS BingoBuyIn,
			   CASE WHEN GameType = 'S' THEN TimePlayedMinutes ELSE 0 END AS SlotMinutes,
			   CASE WHEN GameType = 'T' THEN TimePlayedMinutes ELSE 0 END AS TableMinutes,
			   CASE WHEN GameType = 'T' AND GameCode = 'PK' THEN TimePlayedMinutes ELSE 0 END AS PokerMinutes,
			   CASE WHEN GameType = 'B' THEN TimePlayedMinutes ELSE 0 END AS BingoMinutes,  
			   CASE WHEN GameType = 'T' AND GameCode = 'PK'	THEN TheoreticalWin	ELSE 0 END AS PokerTheo,
			   CasinoCode   
		INTO #Player_Ratings_AcctDay_EXT_TEST
		FROM EXT_Ratings_CTE;

		--STEP 5: Compute Distinct Devices (Slot Machine Count)

		DROP TABLE IF EXISTS #Distinct_Devices_TEST

		SELECT PlayerID, 
			   DateID, 
			   CasinoCode, 
			   SUM(DistinctSlotDeviceCount) AS DistinctSlotDeviceCount
		INTO #Distinct_Devices_TEST
		FROM 
		(
			SELECT	PlayerID, 
					DateID, 
					CasinoCode, 
					AssetNumber, 
					COUNT(*) AS DistinctSlotDeviceCount	
			FROM #Player_Ratings_AcctDay_EXT_TEST
			GROUP BY PlayerID, DateID, CasinoCode, AssetNumber 
		) A
		GROUP BY PlayerID, DateID, CasinoCode;
		
		--STEP 6: Create Final Daily Rating Totals With RecordKey
		; WITH EXT_Ratings_Summary_CTE AS
		(
			SELECT PlayerID,
				AccountingDate,
				DateID,
				SUM(FreePlayTheo) AS FreePlayTheo,
				ROUND(AVG(SlotAvgWager),2) AS SlotAvgWager,
				ROUND(AVG(TableAvgWager),2) AS TableAvgWager,
				CAST(SUM(SlotSessionCount) AS INT) AS SlotSessionCount,
				SUM(SlotBuyIn) AS SlotBuyIn,
				SUM(TableBuyIn) AS TableBuyIn,
				SUM(BingoBuyIn) AS BingoBuyIn,
				SUM(SlotMinutes) AS SlotMinutes,
				SUM(TableMinutes) AS TableMinutes,
				SUM(PokerMinutes) AS PokerMinutes,
				SUM(BingoMinutes) AS BingoMinutes,
				SUM(PokerTheo) AS PokerTheo,
				CasinoCode
			FROM #Player_Ratings_AcctDay_EXT_TEST
			GROUP BY PlayerID, AccountingDate, DateID, CasinoCode
		)
		SELECT CAST(RAT.PlayerID AS VARCHAR(12)) + CAST(RAT.DateID AS VARCHAR(5)) + RAT.CasinoCode AS RecordKey,
			   RAT.DateID AS ExtDateID,
			   RAT.PlayerID,
			   RAT.FreePlayTheo,
			   RAT.SlotAvgWager,
			   RAT.TableAvgWager,
			   DEV.DistinctSlotDeviceCount,
			   RAT.SlotSessionCount,
			   RAT.SlotBuyIn,
			   RAT.TableBuyIn,
			   RAT.BingoBuyIn,
			   RAT.SlotMinutes,
			   RAT.TableMinutes,
			   RAT.PokerMinutes,
			   RAT.BingoMinutes,
			   RAT.PokerTheo,
			   RAT.CasinoCode,
			   --COALESCE(CompAmount,0) AS CompDollarRedeemedAmount,													CARL: Important!  We need to roll up Points and Comps to get these values (see original code)
			   --COALESCE(CompCount, 0) AS CompRedeemedCount,
			   --COALESCE(HotelComps,0) AS HotelComps,
			   --COALESCE(RetailComps,0) AS RetailComps,
			   --COALESCE(TableComps,0) AS TableComps,
			   --COALESCE(FoodBevComps,0) AS FoodBevComps,
			   --COALESCE(TransportationComps,0) AS TransportationComps,
			   --COALESCE(MiscComps,0) AS MiscComps,
			   --COALESCE(PointRedemptionCount,0) AS PointRedemptionCount,
			   --COALESCE(PointDollarRedeemedAmountSlot,0) AS PointDollarRedeemedAmountSlot,
			   --COALESCE(PointDollarRedeemedAmountPOS,0) AS PointDollarRedeemedAmountPOS,
			   --COALESCE(PointsRedeemedAmountSlot,0) AS PointsRedeemedAmountSlot,
			   --COALESCE(PointsRedeemedAmountPOS,0) AS PointsRedeemedAmountPOS,
			   NULL AS CompDollarRedeemedAmount,
			   NULL AS CompRedeemedCount,
			   NULL AS HotelComps,
			   NULL AS RetailComps,
			   NULL AS TableComps,
			   NULL AS FoodBevComps,
			   NULL AS TransportationComps,
			   NULL AS MiscComps,
			   NULL AS PointRedemptionCount,
			   NULL AS PointDollarRedeemedAmountSlot,
			   NULL AS PointDollarRedeemedAmountPOS,
			   NULL AS PointsRedeemedAmountSlot,
			   NULL AS PointsRedeemedAmountPOS
		INTO #Player_Ratings_AcctDay_Final_EXT_TEST									--CARL: Why the join to #DistinctDevices? No Columns are selected from this table !!
		FROM EXT_Ratings_Summary_CTE RAT
		LEFT JOIN #Distinct_Devices_TEST DEV
		ON RAT.PlayerID = DEV.PlayerID
		AND RAT.DateID = DEV.DateID
		AND RAT.CasinoCode = DEV.CasinoCode;
        
		 --9/7/23 SPaylor - CREATE INDEX on #Player_Ratings_AcctDay_Final_EXT_TEST to speed up merge
		 CREATE CLUSTERED INDEX cix_temp_Player_Ratings_AcctDay_Final_EXT_TEST ON #Player_Ratings_AcctDay_Final_EXT_TEST (RecordKey) ;
		
		--CARL: We are skipping the COMPS and PONTS rollup here. May need to come back and fix this later (for points at least)

		--STEP 7: MERGE results into [IQC_Player_Daily_Totals_AcctDay_EXT_TEST]

		MERGE Steve.[IQC_Player_Daily_Totals_AcctDay_EXT_TEST] AS [Target]
		USING (SELECT * FROM #Player_Ratings_AcctDay_Final_EXT_TEST WHERE RecordKey IS NOT NULL) AS [Updates]
		ON [Target].RecordKey=[Updates].RecordKey 
		WHEN MATCHED THEN
		UPDATE SET RecordKey = Updates.RecordKey,
		    CasinoCode = Updates.CasinoCode,
		    ExtDateID = Updates.ExtDateID,
		    PlayerID = Updates.PlayerID,
		    CompRedeemedCount = Updates.CompRedeemedCount,															 
		    CompDollarRedeemedAmount = Updates.CompDollarRedeemedAmount,												 
		    HotelComps = Updates.HotelComps,											
		    RetailComps = Updates.RetailComps, 
		    TableComps = Updates.TableComps, 
		    FoodBevComps = Updates.FoodBevComps, 
		    TransportationComps = Updates.TransportationComps,
		    MiscComps = Updates.MiscComps,
		    PointRedemptionCount = Updates.PointRedemptionCount,
		    PointDollarRedeemedAmountSlot = Updates.PointDollarRedeemedAmountSlot,
		    PointDollarRedeemedAmountPOS = Updates.PointDollarRedeemedAmountPOS,
		    PointsRedeemedAmountSlot = Updates.PointsRedeemedAmountSlot,
		    PointsRedeemedAmountPOS = Updates.PointsRedeemedAmountPOS,
		    SlotBuyIn = Updates.SlotBuyIn,
		    TableBuyIn = Updates.TableBuyIn,
		    BingoBuyIn = Updates.BingoBuyIn,
		    SlotMinutes = Updates.SlotMinutes,
		    TableMinutes = Updates.TableMinutes,
		    PokerMinutes = Updates.PokerMinutes,
		    BingoMinutes = Updates.BingoMinutes,
		    PokerTheo = Updates.PokerTheo,
		    SlotSessionCount = Updates.SlotSessionCount,
		    DistinctSlotDeviceCount = Updates.DistinctSlotDeviceCount,
		    SlotAvgWager = Updates.SlotAvgWager,
		    TableAvgWager = Updates.TableAvgWager,
		    FreePlayTheo = Updates.FreePlayTheo,
			LoadDTTM = @LoadDTTM																		--CARL: Added 8/16/23
		WHEN NOT MATCHED BY TARGET THEN
		INSERT ([RecordKey]
		   ,CasinoCode
		   ,ExtDateID 
		   ,PlayerID        
		   ,CompRedeemedCount
	       ,CompDollarRedeemedAmount
	       ,HotelComps
		   ,RetailComps
	       ,TableComps 
	       ,FoodBevComps
	       ,TransportationComps
		   ,MiscComps
		   ,PointRedemptionCount
	       ,PointDollarRedeemedAmountSlot
	       ,PointDollarRedeemedAmountPOS
		   ,PointsRedeemedAmountSlot 
	       ,PointsRedeemedAmountPOS
		   ,SlotBuyIn
           ,TableBuyIn
           ,BingoBuyIn
           ,SlotMinutes
           ,TableMinutes
           ,PokerMinutes
           ,BingoMinutes
	       ,PokerTheo
		   ,SlotSessionCount
	       ,DistinctSlotDeviceCount 
	       ,SlotAvgWager
	       ,TableAvgWager
	       ,FreePlayTheo
		   ,LoadDTTM)
		VALUES (Updates.[RecordKey]
	       ,Updates.CasinoCode
		   ,Updates.ExtDateID 
		   ,Updates.PlayerID   
		   ,Updates.CompRedeemedCount
		   ,Updates.CompDollarRedeemedAmount
		   ,Updates.HotelComps
		   ,Updates.RetailComps
		   ,Updates.TableComps 
		   ,Updates.FoodBevComps 
		   ,Updates.TransportationComps
		   ,Updates.MiscComps
		   ,Updates.PointRedemptionCount
		   ,Updates.PointDollarRedeemedAmountSlot
		   ,Updates.PointDollarRedeemedAmountPOS
		   ,Updates.PointsRedeemedAmountSlot
		   ,Updates.PointsRedeemedAmountPOS
		   ,Updates.SlotBuyIn
		   ,Updates.TableBuyIn
		   ,Updates.BingoBuyIn
		   ,Updates.SlotMinutes
		   ,Updates.TableMinutes
		   ,Updates.PokerMinutes
		   ,Updates.BingoMinutes
		   ,Updates.PokerTheo
		   ,Updates.SlotSessionCount
		   ,Updates.DistinctSlotDeviceCount
		   ,Updates.SlotAvgWager
		   ,Updates.TableAvgWager
		   ,Updates.FreePlayTheo
		   ,@LoadDTTM);

		--STEP 8: Calculte Player Trips
		--EXEC Steve.sp_Update_Player_Trips_AcctDay_TEST;											--Uses temp table: #Player_Ratings_AcctDay_Final

		-- do this instead of calling Steve.sp_Update_Player_Trips_AcctDay_TEST 
		TRUNCATE TABLE Steve.IQC_Player_Trips_AcctDay_TEST
		INSERT INTO Steve.IQC_Player_Trips_AcctDay_TEST
		SELECT *
		FROM dbo.IQC_Player_Trips_AcctDay

	END TRY  
    BEGIN CATCH 

		THROW;

	END CATCH;

END
