USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure Steve..[sp_Update_Player_Ratings_FULL_RELOAD_TEST]    Script Date: 9/8/2023 9:30:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE Steve..[sp_Update_Player_Ratings_FULL_RELOAD_TEST] (@StartDate varchar(10)) -- (@UTC_Now DATETIMEOFFSET)
AS
BEGIN

	SET NOCOUNT ON

	--NOTE: This stored procedure replaces the logic in [VCR].[sp_CMP_Update_IQC_Player_Ratings]

	DROP TABLE IF EXISTS #Player_Slot_Ratings_myViejas_TEST
	DROP TABLE IF EXISTS #Player_Table_Ratings_myViejas_TEST
	DROP TABLE IF EXISTS #Player_Sports_Ratings_myViejas_TEST
	DROP TABLE IF EXISTS #Player_All_Ratings_myViejas_TEST
	DROP TABLE IF EXISTS #Player_AcctDay_Ratings_myViejas_TEST
	DROP TABLE IF EXISTS #Player_GameDay_Ratings_myViejas_TEST

	----TRUNCATE TABLE Steve.[IQC_Player_Ratings_TEST]

	--declare @StartDate varchar(10) = '2021-01-01'

	DECLARE @UTC_Now DATETIMEOFFSET = GETUTCDATE()

	DECLARE @Begin_UTC DATETIMEOFFSET = @StartDate		--NOTE: Go back 26 hours so we have all the records we need to cover AcctDay and GameDay in one SELECT
	
PRINT '@Begin_UTC:'
PRINT @Begin_UTC
	
	DECLARE @End_UTC DATETIMEOFFSET = DATEADD(dd,364,@StartDate)
	--DECLARE @End_UTC DATETIMEOFFSET = '2021-12-31'
	
PRINT '@End_UTC:'
PRINT @End_UTC
	
	DECLARE @Begin_GameDay_UTC DATETIMEOFFSET = @StartDate

PRINT '@Begin_GameDay_UTC:'
PRINT @Begin_GameDay_UTC
	
	--DECLARE @End_GameDay_UTC DATETIMEOFFSET = DATEADD(ms, -1, @UTC_Now)
	DECLARE @End_GameDay_UTC DATETIMEOFFSET = DATEADD(dd,364,@StartDate)


PRINT '@End_GameDay_UTC:'
PRINT @End_GameDay_UTC	

	DECLARE @Begin_AcctDay_UTC DATETIMEOFFSET = @StartDate

PRINT '@Begin_AcctDay_UTC:'
PRINT @Begin_AcctDay_UTC	

	--DECLARE @End_AcctDay_UTC DATETIMEOFFSET = DATEADD(ms, -1 * 7200001, @UTC_Now)
	DECLARE @End_AcctDay_UTC DATETIMEOFFSET = DATEADD(dd,364,@StartDate)

PRINT '@End_AcctDay_UTC'
PRINT @End_AcctDay_UTC	
	
	BEGIN TRY
		
		SELECT
			CAST (SR.PlayerId AS VARCHAR(15)) + '---' + CAST(SR.TranID AS VARCHAR(15)) AS RecordKey,
			SR.[PlayerId] AS PlayerId,
			SR.[TranId] AS TransactionID,
			CASE WHEN SR.[IsVoid] = 1 THEN 'V' ELSE 'A' END AS [Status],
			CA.DateID AS AccountingDateID,
			CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE) AS AccountingDate,
			CA2.DateID AS GamingDateID,
			SR.[GamingDt] AS GamingDate,
			NULL AS TripNumber,
			SR.LocnID AS AssetNumber,
			L.LocnCode AS LocationID,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionStart,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SR.RatingEndDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionEnd,
			SR.CashBuyIn + SR.ChipBuyIn AS ChipsCoinInAmount,
			SR.PaidOut,
			SR.CashBuyIn AS CashBuyInAmount,
			SR.CreditBuyIn,
			SR.ECreditBuyIn + SR.CreditBuyIn AS MarkerPlay,
			SR.JackPot,
			CAST(SR.Plays AS INT) AS Games,
			0 AS AverageBet,
			SR.CasinoWin AS WinLossAmount,
			SR.TheorWin AS TheoreticalWin,
			'S' AS GameType,
			G.GameCode,
			SR.PromoBuyIn AS FreePlayUsed,
			0 AS PointPlayUsed,
			NULL AS CompsEarned,
			NULL AS PointsEarned,
			NULL AS PartialPointsEarned,
			D.DeptCode,
			SR.Bet AS Bet,
			SR.ChipBuyin AS ChipBuyin,
			SR.RatingPeriodMinutes AS MinutesPlayed,
			CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SR.ModifiedDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS ModifiedDate,
			'VCR' AS CasinoCode,
			0 AS ManualUpdate,
			'CMP' AS SourceSystem,
			@UTC_Now AS LoadDTTM,
			CAST(SR.TheorHoldPc AS money) AS TheorHoldPc,
			L.MachStand,
			SR.PostDtm,
			SR.ModifiedDtm,
			SR.ECreditBuyIn,																	--CARL:  Added 7/31/23
			SR.[Shift]																			--CARL:  Added 8/10/23
		INTO #Player_Slot_Ratings_myViejas_TEST
		FROM [CMP_13-1].[tSlotRating] SR
		--LEFT JOIN [CMP_13-1].[tPlayerCard] PC ON SR.PlayerID = PC.PlayerId
		LEFT JOIN [dbo].[IQ_Calendar] CA ON CAST(CA.CalendarDate AS DATE) = CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE)
		LEFT JOIN [dbo].[IQ_Calendar] CA2 ON CA2.CalendarDate = CAST(SR.GamingDt AS DATETIME)
		LEFT JOIN [CMP_13-1].[tLocn] L ON L.CasinoID = SR.CasinoID AND SR.LocnId = L.LocnID
		LEFT JOIN [CMP_13-1].[tGame] G ON SR.GameId = G.GameId
		LEFT JOIN [CMP_13-1].[tDept] D ON SR.DeptId = D.DeptId
		WHERE (SR.PostDtm BETWEEN @Begin_UTC AND @End_UTC) OR (SR.ModifiedDtm BETWEEN @Begin_UTC AND @End_UTC)

		ORDER BY RecordKey
		
		SELECT
  			CAST (TR.PlayerId AS VARCHAR(15)) + '---' + CAST(TR.TranID AS VARCHAR(15)) AS RecordKey,													--NOTE: QLX complains about duplicate records in [tTableRating] (they don't give examples & I haven't found an example yet - Carl)
			TR.[PlayerId] AS PlayerId,
			TR.[TranId] AS TransactionID,
			CASE WHEN TR.[IsVoid] = 1 THEN 'V' ELSE 'A' END AS [Status],
			CA.DateID AS AccountingDateID,
			CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, TR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE) AS AccountingDate,
			CA2.DateID AS GamingDateID,
			TR.[GamingDt] AS GamingDate,
			NULL AS TripNumber,
			TR.LocnID AS AssetNumber,
			L.LocnCode AS LocationID,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, TR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionStart,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, TR.RatingEndDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionEnd,
			TR.ChipBuyIn AS ChipsCoinInAmount,
			TR.PaidOut,
			TR.CashBuyIn AS CashBuyInAmount,
			TR.CreditBuyIn,
			TR.ECreditBuyIn + TR.CreditBuyIn AS MarkerPlay,
			0 AS JackPot,
			CAST(TR.Plays AS INT) AS Games,
			CASE WHEN TR.Plays = 0 THEN CAST(0.00 AS money) ELSE CAST((TR.Bet / TR.Plays) AS money)	END AS AverageBet,
			TR.CasinoWin AS WinLossAmount,
			TR.TheorWin AS TheoreticalWin,
			'T' AS GameType,
			G.GameCode,
			TR.PromoBuyIn AS FreePlayUsed,
			0 AS PointPlayUsed,
			NULL AS CompsEarned,
			NULL AS PointsEarned,
			NULL AS PartialPointsEarned,
			D.DeptCode,
			TR.Bet AS Bet,
			TR.ChipBuyin AS ChipBuyin,
			TR.RatingPeriodMinutes AS MinutesPlayed,
			CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, TR.ModifiedDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS ModifiedDate,
			'VCR' AS CasinoCode,
			0 AS ManualUpdate,
			'CMP' AS SourceSystem,
			@UTC_Now AS LoadDTTM,
			CAST(TR.TheorHoldPc AS money) AS TheorHoldPc,
			L.MachStand,
			TR.PostDtm,
			TR.ModifiedDtm,
			TR.ECreditBuyIn,																	--CARL:  Added 7/31/23
			TR.[Shift]																			--CARL:  Added 7/10/23
		INTO #Player_Table_Ratings_myViejas_TEST
		FROM [CMP_13-1].[tTableRating] TR
		--LEFT JOIN [CMP_13-1].[tPlayerCard] PC ON SR.PlayerID = PC.PlayerId
		LEFT JOIN [dbo].[IQ_Calendar] CA ON CAST(CA.CalendarDate AS DATE) = CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, TR.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE)
		LEFT JOIN [dbo].[IQ_Calendar] CA2 ON CA2.CalendarDate = CAST(TR.GamingDt AS DATETIME)
		LEFT JOIN [CMP_13-1].[tLocn] L ON L.CasinoID = TR.CasinoID AND TR.LocnId = L.LocnID
		LEFT JOIN [CMP_13-1].[tGame] G	ON TR.GameId = G.GameId
		LEFT JOIN [CMP_13-1].[tDept] D ON TR.DeptId = D.DeptId
		WHERE (TR.PostDtm BETWEEN @Begin_UTC AND @End_UTC) OR (TR.ModifiedDtm BETWEEN @Begin_UTC AND @End_UTC)

		ORDER BY RecordKey
		

		SELECT
  			CAST (SP.PlayerId AS VARCHAR(15)) + '---' + CAST(SP.TranID AS VARCHAR(15)) AS RecordKey,													
			SP.[PlayerId] AS PlayerId,
			SP.[TranId] AS TransactionID,
			CASE WHEN SP.[IsVoid] = 1 THEN 'V' ELSE 'A' END AS [Status],
			CA.DateID AS AccountingDateID,
			CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SP.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE) AS AccountingDate,
			CA2.DateID AS GamingDateID,
			SP.[GamingDt] AS GamingDate,
			NULL AS TripNumber,
			SP.LocnID AS AssetNumber,
			L.LocnCode AS LocationID,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SP.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionStart,
			CONVERT(datetime, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SP.RatingEndDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS SessionEnd,
			0 AS ChipsCoinInAmount,
			SP.PaidOut,
			SP.Bet AS CashBuyInAmount,
			SP.CreditBuyIn,
			0 AS MarkerPlay,
			0 AS JackPot,
			CAST(Plays AS INT) AS Games,
			CASE WHEN SP.Plays = 0 THEN CAST(0.00 AS money) ELSE CAST((SP.Bet / SP.Plays) AS money)	END AS AverageBet,		 
			SP.CasinoWin AS WinLossAmount,
			SP.TheorWin AS TheoreticalWin,
			'B' AS GameType,
			G.GameCode,
			SP.PromoBuyIn AS FreePlayUsed,
			0 AS PointPlayUsed,
			NULL AS CompsEarned,
			NULL AS PointsEarned,
			NULL AS PartialPointsEarned,
			D.DeptCode,
			SP.Bet AS Bet,
			SP.ChipBuyin AS ChipBuyin,
			SP.RatingPeriodMinutes AS MinutesPlayed,
			CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SP.ModifiedDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS ModifiedDate,
			'VCR' AS CasinoCode,
			0 AS ManualUpdate,
			'CMP' AS SourceSystem,
			@UTC_Now AS LoadDTTM,
			CAST(SP.TheorHoldPc AS money) AS TheorHoldPc,
			L.MachStand,
			SP.PostDtm,
			SP.ModifiedDtm,
			SP.ECreditBuyIn,																	--CARL:  Added 7/31/23
			SP.[Shift]																			--CARL:  Added 7/10/23
		INTO #Player_Sports_Ratings_myViejas_TEST
		FROM [CMP_13-1].[tSportsRating] SP
		--LEFT JOIN [CMP_13-1].[tPlayerCard] PC ON SR.PlayerID = PC.PlayerId
		LEFT JOIN [dbo].[IQ_Calendar] CA ON CAST(CA.CalendarDate AS DATE) = CAST(CONVERT(DATETIME, SWITCHOFFSET(CONVERT(DATETIMEOFFSET, SP.RatingStartDtm), DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS DATE)
		LEFT JOIN [dbo].[IQ_Calendar] CA2 ON CA2.CalendarDate = CAST(SP.GamingDt AS DATETIME)
		LEFT JOIN [CMP_13-1].[tLocn] L ON L.CasinoID = SP.CasinoID AND SP.LocnId = L.LocnID
		LEFT JOIN [CMP_13-1].[tGame] G	ON SP.GameId = G.GameId
		LEFT JOIN [CMP_13-1].[tDept] D ON SP.DeptID = D.DeptId
		WHERE (SP.PostDtm BETWEEN @Begin_UTC AND @End_UTC) OR (SP.ModifiedDtm BETWEEN @Begin_UTC AND @End_UTC)

		ORDER BY RecordKey

		;WITH AllRatings_CTE AS
		(
			SELECT * FROM #Player_Slot_Ratings_myViejas_TEST
			UNION 
			SELECT * FROM #Player_Table_Ratings_myViejas_TEST
			UNION 
			SELECT * FROM #Player_Sports_Ratings_myViejas_TEST
		)
		SELECT * INTO #Player_All_Ratings_myViejas_TEST
		FROM AllRatings_CTE
		
		--Build the AcctDay temp table
		SELECT * INTO #Player_AcctDay_Ratings_myViejas_TEST
		FROM #Player_All_Ratings_myViejas_TEST rat
		WHERE (rat.PostDtm BETWEEN @Begin_AcctDay_UTC AND @End_AcctDay_UTC)
		OR (rat.ModifiedDtm BETWEEN @Begin_AcctDay_UTC AND @End_AcctDay_UTC)

				
		-- 9/7/23 SPaylor - CREATE INDEX on #Player_AcctDay_Ratings_myViejas_TEST to speed up merge
        CREATE CLUSTERED INDEX cix_temp_Player_AcctDay_Ratings_myViejas_TEST ON #Player_AcctDay_Ratings_myViejas_TEST (RecordKey) ;


		--Build the GameDay temp table
		SELECT * INTO #Player_GameDay_Ratings_myViejas_TEST
		FROM #Player_All_Ratings_myViejas_TEST rat
		WHERE (rat.PostDtm BETWEEN @Begin_GameDay_UTC AND @End_GameDay_UTC)
		OR (rat.ModifiedDtm BETWEEN @Begin_GameDay_UTC AND @End_GameDay_UTC)

		
		-- 9/7/23 SPaylor - CREATE INDEX on #Player_GameDay_Ratings_myViejas_TEST to speed up merge
        CREATE CLUSTERED INDEX cix_temp_Player_GameDay_Ratings_myViejas_TEST ON #Player_GameDay_Ratings_myViejas_TEST (RecordKey) ;
 

		--MERGE Results INTO IQC_Player_Rating  (Here we're using GameDay)

		MERGE Steve.[IQC_Player_Ratings_TEST] AS [Target]
		USING #Player_GameDay_Ratings_myViejas_TEST AS [Updates]
		ON [Target].RecordKey = [Updates].RecordKey
		AND [Target].SourceSystem = [Updates].SourceSystem
		WHEN MATCHED THEN
		UPDATE
			SET PlayerID  = Updates.PlayerID,
			    TransactionID  = Updates.TransactionID,
				[Status] = Updates.[Status],
				AccountingDateID = Updates.AccountingDateID,      
				AccountingDate = Updates.AccountingDate,
				GamingDateID = Updates.GamingDateID, 
				GamingDate = Updates.GamingDate,
				TripNumber = Updates.TripNumber,
				AssetNumber = Updates.AssetNumber,
				LocationID = Updates.LocationID,
				SessionStart = Updates.SessionStart,
				SessionEnd = Updates.SessionEnd,
				ChipsCoinInAmount = Updates.ChipsCoinInAmount,
				ChipsCoinOutAmount = Updates.PaidOut,
				CashBuyInAmount = Updates.CashBuyInAmount,
				MarkerPlay = Updates.MarkerPlay,
				JackPot = Updates.JackPot,
				Games = Updates.Games,
				AverageBet = Updates.AverageBet,
				WinLossAmount = Updates.WinLossAmount,
				TheoreticalWin = Updates.TheoreticalWin,
				GameType = Updates.GameType,
				GameCode = Updates.GameCode,
				FreePlayUsed = Updates.FreePlayUsed,
				PointPlayUsed = Updates.PointPlayUsed,
				CompsEarned = Updates.CompsEarned,
				PointsEarned = Updates.PointsEarned,
				PartialPointsEarned = Updates.PartialPointsEarned,
				ModifiedDate = Updates.ModifiedDate,
				CasinoCode = Updates.CasinoCode,
				ManualUpdate = Updates.ManualUpdate,
				LoadDttm = Updates.LoadDttm,
				Bet = updates.Bet,
				ChipBuyin = updates.ChipBuyin,
				MinutesPlayed = updates.MinutesPlayed,
				ECreditBuyIn = updates.ECreditBuyIn,
				PaidOut = updates.PaidOut,
				TheorHoldPc = updates.TheorHoldPc,
				MachStand = updates.MachStand,
				[Shift] = updates.[Shift],
				CreditBuyIn = updates.CreditBuyIn
		 WHEN NOT MATCHED BY TARGET THEN
		 INSERT (RecordKey,
				 PlayerID,
				 TransactionID,
				 [Status],
				 AccountingDateID,      
				 AccountingDate,
				 GamingDateID, 
				 GamingDate,
				 TripNumber,
				 AssetNumber,
				 LocationID,
				 SessionStart,
				 SessionEnd,
				 ChipsCoinInAmount,
				 ChipsCoinOutAmount,
				 CashBuyInAmount,
				 MarkerPlay,
				 JackPot,
				 Games,
				 AverageBet,
				 WinLossAmount,
 				 TheoreticalWin,
				 GameType,
				 GameCode,
				 FreePlayUsed,
				 PointPlayUsed,
				 CompsEarned,
				 PointsEarned,
				 PartialPointsEarned,
				 ModifiedDate,
				 CasinoCode,
				 ManualUpdate,
				 SourceSystem,
				 LoadDttm,
				 Bet,
				 ChipBuyin,
				 MinutesPlayed,
				 ECreditBuyIn,
				 PaidOut,
				 TheorHoldPc,
				 MachStand,
				 [Shift],
				 CreditBuyIn)
		 VALUES (Updates.RecordKey,
				 Updates.PlayerID,
				 Updates.TransactionID,
				 Updates.[Status],
				 Updates.AccountingDateID,      
				 Updates.AccountingDate,
				 Updates.GamingDateID, 
				 Updates.GamingDate,
				 Updates.TripNumber,
				 Updates.AssetNumber,
				 Updates.LocationID,
				 Updates.SessionStart,
				 Updates.SessionEnd,
				 Updates.ChipsCoinInAmount,
				 Updates.PaidOut,
				 Updates.CashBuyInAmount,
				 Updates.MarkerPlay,
				 Updates.JackPot,
				 Updates.Games,
				 Updates.AverageBet,
				 Updates.WinLossAmount,
				 Updates.TheoreticalWin,
				 Updates.GameType,
				 Updates.GameCode,
				 Updates.FreePlayUsed,
				 Updates.PointPlayUsed,
				 Updates.CompsEarned,
				 Updates.PointsEarned,
				 Updates.PartialPointsEarned,
				 Updates.ModifiedDate,
				 Updates.CasinoCode,
				 Updates.ManualUpdate,
				 Updates.SourceSystem,
				 Updates.LoadDttm,
				 Updates.Bet,
				 Updates.ChipBuyin,
				 Updates.MinutesPlayed,
				 Updates.ECreditBuyIn,
				 Updates.PaidOut,
				 Updates.TheorHoldPc,
				 Updates.MachStand,
				 Updates.[Shift],
				 Updates.CreditBuyIn);

		--Fire off AcctDay totals stored proc

		EXEC Steve.[sp_Update_Player_Daily_Totals_AcctDay_TEST]

		--Fire off GameDay totals stored proc

		EXEC Steve.[sp_Update_Player_Daily_Totals_GameDay_TEST]


		-- 9/7/23 SPaylor - CREATE INDEX on #Player_GameDay_Ratings_myViejas_TEST to speed up merge
        CREATE NONCLUSTERED INDEX ix_temp_Player_GameDay_Ratings_myViejas_TEST ON #Player_GameDay_Ratings_myViejas_TEST (PlayerId) ;
 
		--Add PlayerId's to calling stored proc temp table
		DROP TABLE IF EXISTS #Player_All_Daily_Players_TEST
		CREATE TABLE #Player_All_Daily_Players_TEST ( PlayerID INT NOT NULL )

		MERGE #Player_All_Daily_Players_TEST AS [Target]
		USING (SELECT DISTINCT PlayerId FROM #Player_GameDay_Ratings_myViejas_TEST) AS [Source]
		ON [Target].PlayerId = [Source].PlayerId
		WHEN NOT MATCHED BY TARGET THEN
		INSERT(PlayerID)
		VALUES([Source].PlayerID);

	END TRY  
    BEGIN CATCH 

		THROW;

	END CATCH;

END