USE [iQ-Gaming]
GO
/****** Object:  StoredProcedure [VCR].[sp_BUS_Update_IQC_BUS_Player_Details]    Script Date: 9/13/2023 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE Steve.sp_BUS_Update_IQC_BUS_Player_Details_TEST

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

-- Drop Temp tables if they exist
	
	drop table if exists ##RawExtract_BUS_Player_Detail
	drop table if exists ##RawBUSPlayerDetails
	drop table if exists ##BUSPlayerDetails01
	drop table if exists ##BUSPlayerSum01
	drop table if exists ##FinalBUSPlayerDetails 
	
	
-- Define vars for process handling
	declare @var_SQLExec nvarchar(max)


	declare @MinRefreshdate nvarchar(10)
	declare @ProcessBUS varchar(70)
	declare @CustomBUSProcess varchar(70)
	
-- Get/Set process parameters
    SELECT *
      INTO #JobParms
      FROM [dbo].[v_IQ_Job_Parameters]
     WHERE SP_Name = 'BUS_Update_IQC_BUS_Player_Details_TEST' 
	    and [Schema_Name] =  'Steve'
		
	set @MinRefreshDate = (SELECT cast(Parm_Value as nvarchar(10)) FROM #JobParms WHERE Parm_Name='MinRefreshDate')
	set @ProcessBUS = (SELECT cast(Parm_Value as nvarchar(70)) FROM #JobParms WHERE Parm_Name='ProcessBUS')
	set @CustomBUSProcess = (SELECT cast(Parm_Value as nvarchar(70)) FROM #JobParms WHERE Parm_Name='CustomBUSProcess')

	print 'ProcessBUS:					' + cast(@ProcessBus as varchar(250))
	print 'CustomBUSProcess:			' + cast(@CustomBUSProcess as varchar(250))
	print 'Param Dump End'
		   
		delete from [dbo].[IQC_BUS_Player_Details]
		    where SourceSystem = 'vBus'	
		 
		
		-- If EXT process exists then delete data from its table
	    SET @var_SQLExec = N'IF EXISTS(SELECT 1 
	                                     FROM sys.procedures 
                                        WHERE object_id = OBJECT_ID(N''[' + OBJECT_SCHEMA_NAME(@@PROCID) + '].[sp_BUS_Update_IQC_BUS_Player_Details_EXT]''))
		                       BEGIN
			                     delete from [dbo].[IQC_BUS_Player_Details_EXT]
		                          where SourceSystem = 'vBus'
	                           END  '

	    --print @var_SQLExec
	    EXEC sp_executesql @query=@var_SQLExec


		 
-- BUS Player Details
	
		if @CustomBUSProcess is not null
		begin

		-- Create Custom BUS Player Detail
			set @var_SQLExec = N'
					IF EXISTS(SELECT 1 
								FROM sys.procedures 
								WHERE object_id = OBJECT_ID(''' + @CustomBusProcess + '''))
					BEGIN
						EXEC ' + @CustomBusProcess + ' ''' + 'VCR' + ''', ''' +'xxx'+ ''', '''2018-01-01''', ''' + @SourceDatabase + ''', ''' + 'BUS_Update_IQC_BUS_Player_Details_TEST' + '''
					END '

			--print @var_SQLExec
			EXEC sp_executesql @query=@var_SQLExec	
		end
		else
		begin
		
		
			-- Extract BUS Player Detail data based on source version
			set @var_SQLExec = N' EXEC [' + BUS_1_0 + '].[sp_Extract_BUS_Player_Detail] ''' + 'VCR' + ''', ''' + 'xxx' ''', ''2018-01-01'', ''' + @SourceDatabase + ''', ''' + 'BUS_Update_IQC_BUS_Player_Details_TEST' + '''  '
					
			print @var_SQLExec  --EXEC [BUS_1_0].[sp_Extract_BUS_Player_Detail] 'VCR', 'BUS', '2016-01-01', '[CASIDBLIS01PR].[vBus]', 'sp_BUS_Update_IQC_BUS_Player_Details'  
			EXEC sp_executesql @query=@var_SQLExec	

		end

	set @var_SQLExec = N'select *,
	                            cast(PlayerID as varchar(15)) + ''---'' + cast(Manifests_id as varchar(15))  as RecordKey
	                       into ##RawBusPlayerDetails
						   from  ##RawExtract_BUS_Player_Detail'
	
	print @var_SQLExec

	EXEC sp_executesql @query=@var_SQLExec

		SELECT * 
		 INTO ##BUSPlayerDetails01
		 FROM (
			SELECT  RecordKey,
					PlayerID,
					arrival_ts,
					tier_id,
					tier_nm,
					group_type_id,
					group_cd,
					group_nm,
					event_id,
					charter_group_nm,
					departure_ts,
					head_cnt,
					acct_num,
					last_nm,
					first_nm,
					commission_id,
					theoreticalwintotal as MinTheoreticalWin,
					manifests_id,
					fpcawarded,
					fpcused,
					CasinoCode,
					row_number() over (partition by playerid, arrival_ts order by theoreticalwintotal) as rown
				  FROM ##RawBusPlayerDetails) a
					WHERE rown=1


	   SELECT  RecordKey,
			   PlayerID,
			   arrival_ts,
			   manifests_id,
			   event_id,
			   group_cd
			   ,sum(commission_total) as commissiontotal
			   ,max(player_cnt) as player_cnt
			   ,min(lowtheoreticalamt) as lowtheoreticalamt
			   ,max(hightheoreticalamt) as hightheoreticalamt
			   ,sum(theoreticalwintotal) as theoreticalwintotal
			   ,sum(casinowintotal) as casinowintotal
			   ,max(slotplayers) as SlotPlayers 		
			   ,sum(slotcasinowin) as  slotcasinowin	
			   ,sum(slottheowin) as slottheowin	
			   ,sum(slotcashbuyinamt) as slotcashbuyinamt
			   ,max(tableplayers) as tableplayers
			   ,sum(tablecasinowin) as tablecasinowin
			   ,sum(tabletheowin) as tabletheowin 		
			   ,max(bingplayers) as bingplayers
			   ,sum(bingcasinowin) as bingcasinowin 	
			   ,sum(bingtheowin) as bingtheowin
			   ,max(pokerplayers) as pokerplayers 		
			   ,sum(pokercasinowin) as pokercasinowin	
			   ,sum(pokertheowin) as pokertheowin
			   ,CasinoCode
			    into ##BUSPlayerSum01
					  FROM ##RawBUSPlayerDetails
					group by RecordKey, Manifests_id, Arrival_ts, event_id, PlayerID, group_cd, CasinoCode
				

		select coalesce(R.RecordKey,c.RecordKey) as RecordKey,
			   coalesce(R.Arrival_ts,c.arrival_ts) as Arrival_ts,
			   coalesce(R.PlayerID,c.PlayerID) as PlayerID,
			   coalesce(R.Manifests_id,c.Manifests_id) as Manifests_id,
			   r.tier_id,
			   r.tier_nm,
			   r.group_type_id,
			   coalesce(R.group_cd,c.group_cd) as group_cd,
			   r.group_nm,
			   coalesce(R.event_id,c.event_id) as event_id,
			   r.charter_group_nm,
			   r.departure_ts,
			   r.head_cnt,
			   r.acct_num,
			   r.last_nm,
			   r.first_nm,
			   r.commission_id,
			   r.fpcawarded,
			   r.fpcused,
			   c.commissiontotal,
			   c.player_cnt,
			   c.lowtheoreticalamt,
			   c.hightheoreticalamt,
			   c.theoreticalwintotal,
			   c.casinowintotal, 
			   c.slotplayers, 
			   c.slotcasinowin,
			   c.slottheowin,
			   c.slotcashbuyinamt,
			   c.tableplayers,    
			   c.tablecasinowin,
			   c.tabletheowin,  	
			   c.bingplayers,   
			   c.bingcasinowin, 
			   c.bingtheowin,   
			   c.pokerplayers,  	
			   c.pokercasinowin,	
			   c.pokertheowin,	
			   0 as ManualUpdate,
			   coalesce(R.CasinoCode,c.CasinoCode) as CasinoCode,
			   getdate() as ModifiedDttm,
			   getdate() as LoadDTTM,
			   IsNull(@SourceSystem,'') as SourceSystem
		  into ##FinalBusPlayerDetails
		  from ##BUSPlayerDetails01 R
		  full outer join ##BUSPlayerSum01 C
		  on R.RecordKey = C.RecordKey		  

-	
	-- Merge Updates
		Merge [dbo].[IQC_BUS_Player_Details] as [Target]

		Using ##FinalBusPlayerDetails as [Updates]

		 ON [Target].RecordKey = [Updates].RecordKey
		AND [Target].SourceSystem = [Updates].SourceSystem


		WHEN MATCHED THEN

		 UPDATE 
		   SET PlayerID  = Updates.PlayerID,
			  tier_id	 = Updates.tier_id,
			  tier_nm	 = Updates.tier_nm,
			  group_type_id	= Updates.group_type_id,
			  group_cd		= Updates.group_cd,
			  group_nm 		= Updates.group_nm,
			  event_id		= Updates.event_id,
			  charter_group_nm = Updates.charter_group_nm,
			  arrival_ts	= Updates.arrival_ts,
			  departure_ts	= Updates.departure_ts,
			  head_cnt		= Updates.head_cnt,
			  acct_num		= Updates.acct_num,
			  last_nm		= Updates.last_nm,
			  first_nm		= Updates.first_nm,
			  player_cnt	= Updates.player_cnt,
			  commission_id	= Updates.commission_id,
			  lowtheoreticalamt  = Updates.lowtheoreticalamt,
			  hightheoreticalamt = Updates.hightheoreticalamt,
			  commissiontotal	 = Updates.commissiontotal,
			  theoreticalwintotal= Updates.theoreticalwintotal,
			  casinowintotal= Updates.casinowintotal,
			  slotplayers	= Updates.slotplayers,
			  slotcasinowin = Updates.slotcasinowin,
			  slottheowin	= Updates.slottheowin,
			  slotcashbuyinamt	= Updates.slotcashbuyinamt,
			  tableplayers	= Updates.tableplayers,
			  tablecasinowin= Updates.tablecasinowin,
			  tabletheowin	= Updates.tabletheowin,
			  bingplayers	= Updates.bingplayers,
			  bingcasinowin = Updates.bingcasinowin,
			  bingtheowin	= Updates.bingtheowin,
			  pokerplayers	= Updates.pokerplayers,
			  pokercasinowin= Updates.pokercasinowin,
			  pokertheowin	= Updates.pokertheowin,
			  manifests_id	= Updates.manifests_id,
			  fpcawarded	= Updates.fpcawarded,
			  fpcused		= Updates.fpcused,
			  ModifiedDttm	= Updates.ModifiedDttm,
			  CasinoCode	= Updates.CasinoCode,
			  ManualUpdate	= Updates.ManualUpdate,
			  LoadDttm		= Updates.LoadDttm
		 WHEN NOT MATCHED BY TARGET THEN

		 INSERT (RecordKey,
				 PlayerID,
				 tier_id,
				 tier_nm,
				 group_type_id,
				 group_cd,
				 group_nm,
				 event_id,
				 charter_group_nm,
				 arrival_ts,
				 departure_ts,
				 head_cnt,
				 acct_num,
				 last_nm,
				 first_nm,
				 player_cnt,
				 commission_id,
				 lowtheoreticalamt,
				 hightheoreticalamt,
				 commissiontotal,
				 theoreticalwintotal,
				 casinowintotal,
				 slotplayers,
				 slotcasinowin,
				 slottheowin,
				 slotcashbuyinamt,
				 tableplayers,
				 tablecasinowin,
				 tabletheowin,
				 bingplayers,
				 bingcasinowin,
				 bingtheowin,
				 pokerplayers,
				 pokercasinowin,
				 pokertheowin,
				 manifests_id,
				 fpcawarded,
				 fpcused,
				 ModifiedDttm,
				 CasinoCode,
				 ManualUpdate,
				 SourceSystem,
			     LoadDttm)
		 VALUES (Updates.RecordKey,
				 Updates.PlayerID,
				 Updates.tier_id,
				 Updates.tier_nm,
				 Updates.group_type_id,
				 Updates.group_cd,
				 Updates.group_nm,
				 Updates.event_id,
				 Updates.charter_group_nm,
				 Updates.arrival_ts,
				 Updates.departure_ts,
				 Updates.head_cnt,
				 Updates.acct_num,
				 Updates.last_nm,
				 Updates.first_nm,
				 Updates.player_cnt,
				 Updates.commission_id,
				 Updates.lowtheoreticalamt,
				 Updates.hightheoreticalamt,
				 Updates.commissiontotal,
				 Updates.theoreticalwintotal,
				 Updates.casinowintotal,
				 Updates.slotplayers,
				 Updates.slotcasinowin,
				 Updates.slottheowin,
				 Updates.slotcashbuyinamt,
				 Updates.tableplayers,
				 Updates.tablecasinowin,
				 Updates.tabletheowin,
				 Updates.bingplayers,
				 Updates.bingcasinowin,
				 Updates.bingtheowin,
				 Updates.pokerplayers,
				 Updates.pokercasinowin,
				 Updates.pokertheowin,
				 Updates.manifests_id,
				 Updates.fpcawarded,
				 Updates.fpcused,
				 Updates.ModifiedDttm,
				 Updates.CasinoCode,
				 Updates.ManualUpdate,
				 updates.sourceSystem,
				 Updates.LoadDttm) ;

			
	-- If EXT process exists then execute it
	SET @var_SQLExec = N'IF EXISTS(SELECT 1 
	                                    FROM sys.procedures 
                                    WHERE object_id = OBJECT_ID(N''[' + OBJECT_SCHEMA_NAME(@@PROCID) + '].[sp_BUS_Update_IQC_BUS_Player_Details_EXT]''))
		                    BEGIN
			                    EXEC [' + OBJECT_SCHEMA_NAME(@@PROCID) + '].[sp_BUS_Update_IQC_BUS_Player_Details_EXT] 
	                        END  '

	--print @var_SQLExec
	--EXEC sp_executesql @query=@var_SQLExec
	
	END TRY  
 
	 drop table if exists ##BUSPlayerDetail
	 drop table if exists #FinalBUSPlayerDetails 
	 drop table if exists ##RawExtract_BUS_Player_Detail
	 drop table if exists ##RawBUSPlayerDetails
	 drop table if exists ##BUSPlayerDetail01
	 drop table if exists ##BUSPlayerSum01

END








