USE [iQ-Gaming]
GO

DROP PROCEDURE IF EXISTS Steve.[sp_SDS_Update_IQC_Slot_Accounting_TEST] 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE Steve.[sp_SDS_Update_IQC_Slot_Accounting_TEST] 

AS
BEGIN

TRUNCATE TABLE Steve.IQC_Slot_Accounting_TEST
TRUNCATE TABLE Steve.IQC_Slot_Accounting_EXT_TEST

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

-- Define vars for process handling
	declare @procedure varchar(70)

-- Drop temp tables if exist
	drop table if exists ##ALLSlotDeets_TEST
	drop table if exists ##ALLSlotEXP_TEST
	drop table if exists ##SlotSofts_TEST
	drop table if exists #SlotAccounting_SG_001_TEST
	drop table if exists #SlotAccounting_SG_002_TEST
	drop table if exists #PlayData_TEST
	drop table if exists #WinExpense_TEST
	drop table if exists #SlotAccounting_EXT_001_TEST
	drop table if exists #SlotAccounting_EXT_002_TEST

	declare @var_SQLExec nvarchar(max)

	declare @refreshdate nvarchar(10)
	declare @CasinoCode nvarchar(4)
	declare @SourceSystem nvarchar(50)
	declare @SourceSDSDatabase nvarchar(50)
	declare @SDSVersion nvarchar(20)

TRUNCATE TABLE Steve.IQC_Slot_Accounting_TEST

set @SDSVersion  = 'Steve'
set @procedure = 'sp_SDS_Update_IQC_Slot_Accounting_TEST'
set @CasinoCode = 'VCR'
set @SourceSystem = 'SDS'
set @SourceSDSDatabase = 'SDSRPT13PR.SDSVJPRD_Reporting'
select @refreshDate = cast(cast('2018-01-01' as date) as nvarchar(10))

	print 'CasinoCode:                  ' + cast(@CasinoCode as varchar(50))
	print 'SourceSystem:                ' + cast(@SourceSystem as varchar(50))
	print 'SourceSDSDatabase:           ' + cast(@SourceSDSDatabase as varchar(50))
	print 'SDSVersion:                  ' + cast(@SDSVersion as varchar(50))

	set @var_SQLExec = N'										
			EXEC [' + @SDSVersion + '].sp_Extract_Slot_Accounting_Data_TEST ''' + @CasinoCode + ''', ''' + @SourceSystem + ''', ''' + @SourceSDSDatabase + ''', ''' + @refreshDate + ''', ''' + @procedure + ''' '
					
	print @var_SQLExec
	EXEC (@var_SQLExec)	

-- Calc Totals
	SELECT GamingDate
		,AssetNumber
		,COUNT(DISTINCT CAST(AssetNumber AS INT)) AS [MachineCount]
		,SUM(CoinIn) AS CoinIn
		,SUM(CoinOut) AS CoinOut
		,SUM(FreePlay) AS FreePlay
		,SUM(GamesPlayed) AS Games
		,SUM(JackPots) as Jackpots
		,SUM(MVR_BETS_VAL) as MVR_BETS_VAL
		,SUM(MVR_TKT_OUT_CASH_VAL) as MVR_TKT_OUT_CASH_VAL
		,SUM(MVR_TKT_OUT_NON_CASH_VAL) as MVR_TKT_OUT_NON_CASH_VAL
		,SUM(MVR_EFT_OUT_CASH_VAL) AS MVR_EFT_OUT_CASH_VAL
		,SUM(MVR_EFT_OUT_NON_CASH_VAL) AS MVR_EFT_OUT_NON_CASH_VAL
		,SUM(MVR_EFT_OUT_PROMO_CASH_VAL) AS MVR_EFT_OUT_PROMO_CASH_VAL
		,SUM(MVR_$1_VAL) as MVR_$1_VAL
		,SUM(MVR_$5_VAL) as MVR_$5_VAL
		,SUM(MVR_$10_VAL) as MVR_$10_VAL
		,SUM(MVR_$20_VAL) as MVR_$20_VAL
		,SUM(MVR_$50_VAL) as  MVR_$50_VAL
		,SUM(MVR_$100_VAL) as MVR_$100_VAL
		,SUM(MVR_TKT_IN_CASH_VAL) as MVR_TKT_IN_CASH_VAL
		,SUM(MVR_TKT_IN_NON_CASH_VAL) as MVR_TKT_IN_NON_CASH_VAL
		,SUM(MVR_TKT_PROMO_CASH_IN_VAL) as  MVR_TKT_PROMO_CASH_IN_VAL
		,SUM(MVR_EFT_IN_NON_CASH_VAL) as  MVR_EFT_IN_NON_CASH_VAL
		,SUM(MVR_EFT_IN_CASH_VAL) as MVR_EFT_IN_CASH_VAL
		,SUM(MVR_EFT_IN_PROMO_CASH_VAL) as MVR_EFT_IN_PROMO_CASH_VAL
		,sum(MVR_CANCELLED_CREDIT_HP_VAL) as MVR_CANCELLED_CREDIT_HP_VAL
		,Max(ONLINE_VAL) as ONLINE_VAL
	INTO #PlayData_TEST
	FROM ##ALLSlotDeets_TEST
	GROUP BY GamingDate, AssetNumber

	SELECT GamingDate
		,AssetNumber
	--	,SUM([SLPRU_VALUE]) AS Mach_Win_Expense
		,SUM([SLPRU_VALUE] - [SLIP_CC_JACKPOT]- [SLIP_DISPUTE]) AS Mach_Win_Expense
		,SUM([SLPRU_VALUE]) AS [SlipValue]	
		,SUM(SLIP_APJP_JACKPOT) AS SLIP_APJP_JACKPOT
		,SUM(SLIP_PROGRESSIVE_JAKPT) AS SLIP_PROGRESSIVE_JAKPT
		,SUM(SLIP_CC_JACKPOT) AS SLIP_CC_JACKPOT
		,SUM(SLIP_CELEBRATION_JACKPOT) AS SLIP_CELEBRATION_JACKPOT
		,SUM(SLIP_MYST_JACKPOT) AS SLIP_MYST_JACKPOT
		,SUM(SLIP_WAP_JACKPOT) AS SLIP_WAP_JACKPOT
		,SUM(SLIP_NONCASH_MYST_JACKPOT) AS SLIP_NONCASH_MYST_JACKPOT
		,SUM(SLIP_FILL) AS SLIP_FILL
		,SUM(SLIP_BLEED) AS SLIP_BLEED
		,SUM(SLIP_DISPUTE) AS SLIP_DISPUTE
		
	INTO #WinExpense_TEST
	FROM ##ALLSlotEXP_TEST
	GROUP BY GamingDate, AssetNumber


	SELECT A.[GamingDate]
		  ,A.[AssetNumber]
		  ,[MachineCount]
		  ,[CoinIn]
		  ,[CoinOut]
		  ,[FreePlay]
		  ,[Games]
		  ,jackpots
		  -- Changed this code to only back out the the jackpots so it matches the Slot Accounting report from SDS
		  ,(isnull([CoinIn],0) - isnull([CoinOut],0) - isnull([Mach_Win_Expense],0)) AS [ActualWin]
		  --,(isnull([CoinIn],0) - isnull([CoinOut],0) - isnull([SLIP_APJP_JACKPOT],0)) AS [ActualWin]
		  ,ONLINE_VAL
      INTO #SlotAccounting_SG_001_TEST
      FROM #PlayData_TEST A
      LEFT JOIN	#WinExpense_TEST B 
        on A.[GamingDate] = B.[GamingDate] 
	   AND A.[AssetNumber] = B.[AssetNumber]
     order by GamingDate ,AssetNumber

	
	select cast(xdrop.AssetNumber as int) as Assetnumber,
		   sm.LocationID,
		   (select DateID from [dbo].[IQ_Calendar]
			 where cast(xdrop.GamingDate as datetime) = [IQ_Calendar].CalendarDate) as GamingDateID,		   
		   cast(xdrop.GamingDate as datetime) as GamingDate
		,isnull (ConfigID,0) as ConfigID
		,xdrop.games as plays
		,cast(ONLINE_VAL as smallint) as DaysOnFloor 	
		,cast (xdrop.coinIn as money) as ActualCoinIn --spaylor change from decimal (18,2)
		,0 as MeteredCoinIn
		,cast (xdrop.CoinOut as money) as ActualCoinOut --spaylor change from decimal (18,2)
		,0 as MeteredCoinOut
		,cast (xdrop.jackpots as money) as jackpots --spaylor change from decimal (18,2)
		,0 as Variance
		,0 as MeteredSoftDrop
		,0 as ActualSoftDrop 
		,0 as MeteredHardDrop
		,0 as ActualHardDrop
		,0 as ActualTicketDrop
		,0 as MeteredTicketDrop
		,0 as Fills
		,0 as ActualTicketIn
		,0 as MeteredTicketIn
		,0 as ActualTicketOut
		,0 as MeteredTicketOut
		,0 as ExtraCreditUsed
		,0 as Bonus
		,cast (xdrop.ActualWin as money) as ActualWin --spaylor change from decimal (18,2)
		,0 as MeteredWin
		,0 as LeaseFees
		,0 as ActualAdjustedWin
		,0 as MeteredAdjustedWIn
		,xdrop.FreePlay as FreePlay_Used
		,0 as FreePlay_In
		,0 as FreePlay_Out
		,@CasinoCode as CasinoCode
		,0 as ManualUpdate
		,0 as TheoreticalWin
		,@SourceSystem as SourceSystem
		into #SlotAccounting_SG_002_TEST
		FROM #SlotAccounting_SG_001_TEST xdrop	
		left join dbo.IQC_Slot_Machines sm
		  on cast(xdrop.assetnumber as int) = sm.assetnumber
		 and xdrop.GamingDate between cast(sm.RecordEffectiveDate as date) and cast(dateadd(day,-1,sm.RecordTermDate) as date)
		 and sm.SourceSystem = @SourceSystem


-- Records do get put into SDS the day before a machine actually comes online
	delete from #SlotAccounting_SG_002_TEST
	  where ConfigID = 0 and Plays = 0


			INSERT INTO	Steve.[IQC_Slot_Accounting_TEST]
			([AssetNumber]
			,[LocationID]
			,[GamingDateID]
			,[GamingDate]
			,[ConfigID]
			,[Plays]
			,[DaysOnFloor]
			,[ActualCoinIn]
			,[MeteredCoinIn]
			,[ActualCoinOut]
			,[MeteredCoinOut]
			,[Jackpots]
			,[Variance]
			,[ActualSoftDrop]
			,[MeteredSoftDrop]
			,[ActualHardDrop]
			,[MeteredHardDrop]
			,[ActualTicketDrop]
			,[MeteredTicketDrop]
			,[Fills]
			,[ActualTicketIn]
			,[MeteredTicketIn]
			,[ActualTicketOut]
			,[MeteredTicketOut]
			,[ExtraCreditUsed]
			,[Bonus]
			,[ActualWin]
			,[MeteredWin]
			,[LeaseFees]
			,[ActualAdjustedWin]
			,[MeteredAdjustedWin]
			,[FreePlay_Used]
			,[FreePlay_In]
			,[FreePlay_Out]
			,[CasinoCode]
			,[ManualUpdate]
			,[TheoreticalWin]
			,[SourceSystem]
			,[LoadDTTM]
	)
			SELECT
			[AssetNumber]
			,[LocationID]
			,[GamingDateID]
			,[GamingDate]
			,[ConfigID]
			,[Plays]
			,[DaysOnFloor]
			,[ActualCoinIn]
			,[MeteredCoinIn]
			,[ActualCoinOut]
			,[MeteredCoinOut]
			,[Jackpots]
			,[Variance]
			,[ActualSoftDrop]
			,[MeteredSoftDrop]
			,[ActualHardDrop]
			,[MeteredHardDrop]
			,[ActualTicketDrop]
			,[MeteredTicketDrop]
			,[Fills]
			,[ActualTicketIn]
			,[MeteredTicketIn]
			,[ActualTicketOut]
			,[MeteredTicketOut]
			,[ExtraCreditUsed]
			,[Bonus]
			,[ActualWin]
			,[MeteredWin]
			,[LeaseFees]
			,[ActualAdjustedWin]
			,[MeteredAdjustedWin]
			,[FreePlay_Used]
			,[FreePlay_In]
			,[FreePlay_Out]
			,[CasinoCode]
			,[ManualUpdate]
			,[TheoreticalWin]
			,[SourceSystem]
			,getdate()
			FROM
				#SlotAccounting_SG_002_TEST

		DELETE
		FROM Steve.[IQC_Slot_Accounting_EXT_TEST]
		WHERE [GamingDate] IN (SELECT distinct GamingDate FROM #SlotAccounting_SG_002_TEST)
			and SourceSystem = @SourceSystem

	SELECT a.[GamingDate]
		,A.[AssetNumber]
		,A.MVR_BETS_VAL
		,A.MVR_TKT_OUT_CASH_VAL
		,A.MVR_TKT_OUT_NON_CASH_VAL
		,A.MVR_EFT_OUT_NON_CASH_VAL
		,A.MVR_EFT_OUT_CASH_VAL
		,A.MVR_EFT_OUT_PROMO_CASH_VAL
		,A.MVR_$1_VAL
		,A.MVR_$5_VAL
		,A.MVR_$10_VAL
		,A.MVR_$20_VAL
		,A.MVR_$50_VAL
		,a.MVR_$100_VAL
		,a.MVR_TKT_IN_CASH_VAL
		,a.MVR_TKT_IN_NON_CASH_VAL
		,a.MVR_TKT_PROMO_CASH_IN_VAL
		,a.MVR_EFT_IN_CASH_VAL
		,a.MVR_EFT_IN_NON_CASH_VAL
		,a.MVR_EFT_IN_PROMO_CASH_VAL
		,a.MVR_CANCELLED_CREDIT_HP_VAL
		,B.SLIP_APJP_JACKPOT
		,B.SLIP_PROGRESSIVE_JAKPT
		,B.SLIP_CC_JACKPOT
		,B.SLIP_CELEBRATION_JACKPOT
		,B.SLIP_MYST_JACKPOT
		,B.SLIP_WAP_JACKPOT
		,B.SLIP_NONCASH_MYST_JACKPOT
		,B.SLIP_FILL
		,B.SLIP_BLEED
		,B.SLIP_DISPUTE
		,B.SLIP_APJP_JACKPOT + B.SLIP_PROGRESSIVE_JAKPT + B.SLIP_CC_JACKPOT + B.SLIP_DISPUTE /* MVR_HP_PROG_JACKPOT_VAL +  MVR_CANCELLED_CREDIT_HP_VAL + */
			+A.MVR_TKT_OUT_CASH_VAL +A.MVR_TKT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_CASH_VAL + A.MVR_EFT_OUT_PROMO_CASH_VAL  
		AS [HAND_PAYS_AMT]
		,A.MVR_$1_VAL + A.MVR_$5_VAL + A.MVR_$10_VAL + A.MVR_$20_VAL + A.MVR_$50_VAL + A.MVR_$100_VAL 
			+A.MVR_TKT_IN_CASH_VAL + A.MVR_TKT_IN_NON_CASH_VAL + A.MVR_TKT_PROMO_CASH_IN_VAL
			+A.MVR_EFT_IN_NON_CASH_VAL + A.MVR_EFT_IN_CASH_VAL + A.MVR_EFT_IN_PROMO_CASH_VAL 
		AS [TOTAL_DROP_AMT]
		,A.MVR_$1_VAL + A.MVR_$5_VAL + A.MVR_$10_VAL + A.MVR_$20_VAL + A.MVR_$50_VAL + A.MVR_$100_VAL
			+A.MVR_TKT_IN_CASH_VAL + A.MVR_TKT_IN_NON_CASH_VAL +A. MVR_TKT_PROMO_CASH_IN_VAL
			+A.MVR_EFT_IN_NON_CASH_VAL + A.MVR_EFT_IN_CASH_VAL + A.MVR_EFT_IN_PROMO_CASH_VAL
			-(B.SLIP_APJP_JACKPOT + B.SLIP_PROGRESSIVE_JAKPT  + B.SLIP_DISPUTE + B.SLIP_CC_JACKPOT 
				+ (A.MVR_TKT_OUT_CASH_VAL + A.MVR_TKT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_NON_CASH_VAL + A.MVR_EFT_OUT_CASH_VAL + A.MVR_EFT_OUT_PROMO_CASH_VAL)) 
		AS [SLOT_NET_WIN_AMT]
		,MVR_BETS_VAL AS [DRPD_COIN_IN_AMT]
		,SLIP_FILL AS [DRPD_FILLS_AMT]	
	INTO #SlotAccounting_EXT_001_TEST
      FROM #PlayData_TEST A
      LEFT JOIN	#WinExpense_TEST B 
        on A.[GamingDate] = B.[GamingDate] 
	   AND A.[AssetNumber] = B.[AssetNumber]


	select xdrop.gamingdate
		,xdrop.Assetnumber
		,xdrop.MVR_BETS_VAL
		,xdrop.MVR_TKT_OUT_CASH_VAL
		,xdrop.MVR_TKT_OUT_NON_CASH_VAL
		,xdrop.MVR_EFT_OUT_NON_CASH_VAL
		,xdrop.MVR_EFT_OUT_CASH_VAL
		,xdrop.MVR_EFT_OUT_PROMO_CASH_VAL
		,xdrop.MVR_$1_VAL
		,xdrop.MVR_$5_VAL
		,xdrop.MVR_$10_VAL
		,xdrop.MVR_$20_VAL
		,xdrop.MVR_$50_VAL
		,xdrop.MVR_$100_VAL
		,xdrop.MVR_TKT_IN_CASH_VAL
		,xdrop.MVR_TKT_IN_NON_CASH_VAL
		,xdrop.MVR_TKT_PROMO_CASH_IN_VAL
		,xdrop.MVR_EFT_IN_CASH_VAL
		,xdrop.MVR_EFT_IN_NON_CASH_VAL
		,xdrop.MVR_EFT_IN_PROMO_CASH_VAL
		,xdrop.SLIP_APJP_JACKPOT
		,xdrop.SLIP_PROGRESSIVE_JAKPT
		,xdrop.SLIP_CC_JACKPOT
		,xdrop.SLIP_CELEBRATION_JACKPOT
		,xdrop.SLIP_MYST_JACKPOT
		,xdrop.SLIP_WAP_JACKPOT
		,xdrop.SLIP_NONCASH_MYST_JACKPOT
		,xdrop.SLIP_FILL
		,xdrop.SLIP_BLEED
		,xdrop.SLIP_DISPUTE
		,xdrop.HAND_PAYS_AMT
		,xdrop.TOTAL_DROP_AMT
		,xdrop.SLOT_NET_WIN_AMT
		,xdrop.DRPD_COIN_IN_AMT
		,xdrop.DRPD_FILLS_AMT
		,xdrop.MVR_CANCELLED_CREDIT_HP_VAL
--		,xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt as NET_SCALE_WIN_AMT
		--,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
  --            WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
		--			IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt), 
		--				IIF(([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
		--					IIF(([pf].[WIN_PCT]/100.0)*(xdrop.Total_Drop_Amt-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
  --            WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
		--	  else  pf.[Part_Fix_AMt]
		--END PARTICIPATION_FEES
		,(ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt as NET_SCALE_WIN_AMT
		/*
		,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
              WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
					IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt), 
						IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
							IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop)-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
              WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
			  else  pf.[Part_Fix_AMt]
		END PARTICIPATION_FEES
		*/
		,CASE WHEN [pf].[CALCULATION_TYPE_ID] = 1 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN [pf].[PART_FIX_AMT]
              WHEN [pf].[CALCULATION_TYPE_ID] = 2 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN 
					IIF([pf].[WIN_MINIMUM_AMT]=0 AND [pf].[WIN_MAXIMUM_AMT]=0, ([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt), 
						IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt) > [pf].[WIN_MAXIMUM_AMT], [pf].[WIN_MAXIMUM_AMT], 
							IIF(([pf].[WIN_PCT]/100.0)*((ss.Soft_Count_Bill_Drop+ss.Soft_Count_Voucher_Drop+xdrop.SLIP_DISPUTE)-xdrop.Hand_Pays_Amt) < [pf].[WIN_MINIMUM_AMT],[pf].[WIN_MINIMUM_AMT],0) ) )
              WHEN [pf].[CALCULATION_TYPE_ID] = 4 AND [pf].[PARTICIPATION_TYPE_CD] = 'PART' THEN ([pf].[COIN_IN_PCT]/100.0) * xdrop.[DRPD_COIN_IN_AMT]
			  else  pf.[Part_Fix_AMt]
		END PARTICIPATION_FEES
		,CASE when [pf].[PARTICIPATION_TYPE_CD] = 'LEAS' then  pf.[Part_Fix_AMt] else 0.00 END as LeaseFees
		,@SourceSystem as SourceSystem
		,ss.Soft_Count_Bill_Drop
		,ss.Soft_Count_Voucher_Drop

		into #SlotAccounting_EXT_002_TEST
		FROM 
			#SlotAccounting_EXT_001_TEST xdrop	
		left join
			dbo.IQC_Slot_Machines sm
		on xdrop.assetnumber = sm.assetnumber
			and xdrop.GamingDate between cast(sm.RecordEffectiveDate as date) and cast(dateadd(day,-1,sm.RecordTermDate) as date)
		left join 
			[dbo].[IQC_Slot_Participation] pf
		on isnull(sm.ParticipationCD,sm.user_custom5)=pf.ParticipationCD
		left join 
		   ##SlotSofts_TEST ss
		on xdrop.assetnumber = ss.assetnumber
			and xdrop.GamingDate = ss.GamingDate

		

		DELETE
		FROM Steve.[IQC_Slot_Accounting_EXT_TEST]
		WHERE [GamingDate] IN (SELECT distinct GamingDate FROM #SlotAccounting_EXT_002_TEST)
			and SourceSystem = @SourceSystem

		--Insert records into Slot Accounting

			INSERT INTO	Steve.[IQC_Slot_Accounting_EXT_TEST]
				([GamingDate] 
				,[AssetNumber]
				,[MVR_BETS_VAL]
				,[MVR_TKT_OUT_CASH_VAL]
				,[MVR_TKT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_CASH_VAL]
				,[MVR_EFT_OUT_PROMO_CASH_VAL]
				,[MVR_$1_VAL]
				,[MVR_$5_VAL]
				,[MVR_$10_VAL]
				,[MVR_$20_VAL]
				,[MVR_$50_VAL]
				,[MVR_$100_VAL]
				,[MVR_TKT_IN_CASH_VAL]
				,[MVR_TKT_IN_NON_CASH_VAL]
				,[MVR_TKT_PROMO_CASH_IN_VAL]
				,[MVR_EFT_IN_NON_CASH_VAL]
				,[MVR_EFT_IN_CASH_VAL]
				,[MVR_EFT_IN_PROMO_CASH_VAL]
				,[HAND_PAYS_AMT]
				,[TOTAL_DROP_AMT]
				,[SLOT_NET_WIN_AMT]
				,[DRPD_COIN_IN_AMT]
				,[DRPD_FILLS_AMT]
				,[NET_SCALE_WIN_AMT]
				,[PARTICIPATION_FEES]
				,[CasinoCode]
				,[ManualUpdate]
				,[SourceSystem]
				,[LoadDttm]
				,[Soft_Count_Bill_Drop]
				,[Soft_Count_Voucher_Drop]
			)
			SELECT
				[GamingDate] 
				,[AssetNumber]
				,[MVR_BETS_VAL]
				,[MVR_TKT_OUT_CASH_VAL]
				,[MVR_TKT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_NON_CASH_VAL]
				,[MVR_EFT_OUT_CASH_VAL]
				,[MVR_EFT_OUT_PROMO_CASH_VAL]
				,[MVR_$1_VAL]
				,[MVR_$5_VAL]
				,[MVR_$10_VAL]
				,[MVR_$20_VAL]
				,[MVR_$50_VAL]
				,[MVR_$100_VAL]
				,[MVR_TKT_IN_CASH_VAL]
				,[MVR_TKT_IN_NON_CASH_VAL]
				,[MVR_TKT_PROMO_CASH_IN_VAL]
				,[MVR_EFT_IN_NON_CASH_VAL]
				,[MVR_EFT_IN_CASH_VAL]
				,[MVR_EFT_IN_PROMO_CASH_VAL]
				,[HAND_PAYS_AMT]
				,[TOTAL_DROP_AMT]
				,[SLOT_NET_WIN_AMT]
				,[DRPD_COIN_IN_AMT]
				,[DRPD_FILLS_AMT]
				,[NET_SCALE_WIN_AMT]
				,[PARTICIPATION_FEES]
				,@CasinoCode 
				,0
				,[SourceSystem]
				,getdate()
				,[Soft_Count_Bill_Drop]
				,[Soft_Count_Voucher_Drop]
			FROM
				#SlotAccounting_EXT_002_TEST


		update  T
		set T.LeaseFees = s.LeaseFees
		from Steve.IQC_Slot_Accounting_TEST T, #SlotAccounting_EXT_002_TEST s
		where s.LeaseFees>0 
		  and T.AssetNumber = s.Assetnumber and T.GamingDate = s.GamingDate
		 
END

