--SELECT  AffinityId
--  FROM CMPSDS.dbo.tAffinity

USE CMPSDS
GO

SELECT 
MsgId  
, LocnId  
, Msg  
, ReceivedDtm
, AffinityId  
FROM tSDS3SDSReceive1CA
WHERE Status = 1 
  AND MsgId > 1
ORDER BY MsgId						
