use [CMP13]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_3] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccumKey].[PlayerId] as _col_3 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayBet],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayBet].[AccumId]  AND  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_3_c_7_237504175__K1_K2] ON [dbo].[_dta_mv_3]
(
	[_col_1] ASC,
	[_col_2] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_19] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccum1DayPts].[BasePts] as _col_3,  [dbo].[tAccumKey].[PlayerId] as _col_4,  [dbo].[tAccum1DayPts].[AccumId] as _col_5,  [dbo].[tAccum1DayPts].[BucketGroupId] as _col_6 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayPts],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  AND  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayPts].[AccumId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_19_c_7_493505087__K1_K5_K6] ON [dbo].[_dta_mv_19]
(
	[_col_1] ASC,
	[_col_5] ASC,
	[_col_6] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_11] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccumKey].[PlayerId] as _col_3,  [dbo].[tAccum1DayComp].[AccumId] as _col_4,  [dbo].[tAccum1DayComp].[BucketGroupId] as _col_5 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayComp],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  AND  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayComp].[AccumId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_11_c_7_365504631__K1_K4_K5] ON [dbo].[_dta_mv_11]
(
	[_col_1] ASC,
	[_col_4] ASC,
	[_col_5] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_35] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccumKey].[PlayerId] as _col_3,  [dbo].[tAccum1DayStubs].[AccumId] as _col_4,  [dbo].[tAccum1DayStubs].[BucketGroupId] as _col_5 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayStubs],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  AND  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayStubs].[AccumId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_35_c_7_749505999__K1_K4_K5] ON [dbo].[_dta_mv_35]
(
	[_col_1] ASC,
	[_col_4] ASC,
	[_col_5] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_27] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccumKey].[PlayerId] as _col_3,  [dbo].[tAccum1DayPromo1].[AccumId] as _col_4,  [dbo].[tAccum1DayPromo1].[BucketGroupId] as _col_5 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayPromo1],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  AND  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayPromo1].[AccumId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_27_c_7_621505543__K1_K4_K5] ON [dbo].[_dta_mv_27]
(
	[_col_1] ASC,
	[_col_4] ASC,
	[_col_5] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [dbo].[_dta_mv_43] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[tAccumKey].[Accumulator] as _col_1,  [dbo].[tAccumKey].[AccumId] as _col_2,  [dbo].[tAccumKey].[PlayerId] as _col_3,  [dbo].[tAccum1DayPromo2].[AccumId] as _col_4,  [dbo].[tAccum1DayPromo2].[BucketGroupId] as _col_5 FROM  [dbo].[tAccumKey],  [dbo].[tAccum1DayPromo2],  [dbo].[tDept]   WHERE  [dbo].[tAccumKey].[DeptId] = [dbo].[tDept].[DeptId]  AND  [dbo].[tAccumKey].[AccumId] = [dbo].[tAccum1DayPromo2].[AccumId]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_43_c_7_877506455__K1_K4_K5] ON [dbo].[_dta_mv_43]
(
	[_col_1] ASC,
	[_col_4] ASC,
	[_col_5] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_tPlayerCard_7_130815528__K1] ON [dbo].[tPlayerCard]
(
	[PlayerId] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_498100815_2_6] ON [dbo].[tAccumKey]([Accumulator], [DeptId])
go

CREATE STATISTICS [_dta_stat_498100815_2_1_6_5] ON [dbo].[tAccumKey]([Accumulator], [AccumId], [DeptId], [PlayerId])
go

