/** New query using new view **/
SELECT 
  PlayerID 
, IsVoid 
, GamingDt 
, DeptID 
, 0 as BasePts 

FROM CMP13..viewAllRatingsViejasNoAwardsNoGMT

WHERE IsVoid <> 1
  AND IsVoid IS NOT NULL

ORDER BY
  PlayerID 
, IsVoid 
, GamingDt 
, DeptID 

/** POSSIBLE QUERY THAT JOINS WITH THE viewAllRatingsViejas VIEW TO get the BasePts

SELECT
  V1.PlayerID
, V1.IsVoid
, V1.GamingDt
, V1.DeptID 
, CASE WHEN V2.BasePts IS NOT NULL THEN V2.BasePts else 0 END 'BasePts'

FROM  CMP13..viewAllRatingsViejasNoAwardsNoGMT AS V1
LEFT OUTER JOIN CMP13..viewAllRatingsViejas AS V2
ON  V1.PlayerID = V2.PlayerID
AND V1.IsVoid = V2.IsVoid
AND V1.GamingDt = V2.GamingDt
AND V1.DeptID = V2.DeptID

WHERE V1.IsVoid <> 1
  AND V1.IsVoid IS NOT NULL

ORDER BY
  V1.PlayerID 
, V1.IsVoid 
, V1.GamingDt 
, V1.DeptID

************/ 