/****** Script for SelectTopNRows command from SSMS  ******/
SELECT --TOP 100000
[PlayerId]
,[TranId]
,[GamingDt]
,[BucketGroupId]
,[BasePts]

FROM [CMP13].[dbo].[tPlayerPoints]

--WHERE BasePts <> 0
--  AND BasePts IS NOT NULL

WHERE PlayerID = 945715
  AND GamingDt = '2014-06-09'
  ----AND BucketGroupId <> 1

--  TrMasID
--212058576
--212116313
--212059009
--212116394

--tr.TranId
--212008705
--212116312
--212009742
--212116393